.modal#question-share-modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Add Comment
      .modal-body
        = render 'comments/comment_box', object: @question

      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button', id: 'close'} Close
