.modal#question-share-modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Add existing tips
      .modal-body
        = form_for @question, url: add_existing_tip_question_path(@question), html: { role: 'form', class: 'form-horizontal', data: { remote: true } } do |f|
          = f.hidden_field :id
          .form-group
            = f.label 'Add tip', class: 'col-md-3 control-label'
            .col-md-9
              = render 'search/tips_select', f: f, object: @question, existing_tips: @existing_tips, selected_tips: @selected_tips

      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button', id: 'close'} Close
