<script>
  $(document).ready(function (e) {
    var question_state = "<%= object.is_private %>";
    var $questionIsPrivate = $('#question_is_private');
    var $friendsAndGroupSelectBox = $('#friends_and_group_select_box');
    var $notifyFriends = $('#notify_friends');

    if(question_state == 'true') {
      $friendsAndGroupSelectBox.addClass('hide')
    }

    $questionIsPrivate.bootstrapSwitch({
      state: question_state,
      size: 'small',
      onText: 'No',
      offText: 'Yes',
      onColor: 'default',
      offColor: 'primary',
      onSwitchChange: function(event, state) {
        if (state == true) {
          $friendsAndGroupSelectBox.addClass('hide')
          // If share seting of hive is private then question notify friends field should be true
          $notifyFriends.bootstrapSwitch('state', false, false);
        }
        else {
          $friendsAndGroupSelectBox.removeClass('hide')
          // If share seting of hive is private then question notify friends field should be false
          $notifyFriends.bootstrapSwitch('state', true, true);
        }
      }
    });

    $questionIsPrivate.siblings('label').removeAttr('for');
  });
</script>
