- if user_signed_in? && current_user.liked?(question)
  %a.like-action.liked{href: question_unlike_path(question), data: { method: 'POST', remote: true }}
    %i.fa.fa-heart
    #{question.cached_votes_up}
- else
  %a.like-action{href: question_like_path(question), data: { method: 'POST', remote: true }}
    %i.fa.fa-heart-o
    #{question.cached_votes_up}
