= form_for @question, html: { role: 'form', class: 'form-horizontal' } do |f|
  - if @question.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(@question.errors.count, 'error')} prohibited this tip from being saved:"
      %ul
        - @question.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, 'Question & Description:', class: 'col-md-3 control-label'
    .col-md-9
      = f.text_area :name, required: true, placeholder: 'Example: What is something fun to do in New York city?', class: 'form-control'
  .form-group
    = f.label 'Hive:', class: 'col-md-3 control-label'
    .col-md-9
      = select_tag 'hives[]', "<optgroup label=\"My Hives\">#{options_from_collection_for_select(@connected_hives, :kind_id, :title, @selected_hives.present? ? @selected_hives.map{|h| h.kind_id } : nil)}</optgroup>".html_safe + option_groups_from_collection_for_select(@connected_groups, :hives, :title, :kind_id, :title, @selected_hives.present? ? @selected_hives.map{|h| h.kind_id } : nil), placeholder: 'Type or select a hive', required: true, id: 'question_hives', class: 'form-control', multiple: 'multiple'
  .form-group
    = f.label 'Pocket:', class: 'col-md-3 control-label'
    .col-md-9
      = select_tag 'pockets[]',option_groups_from_collection_for_select(@connected_hives, :pockets, :title, :kind_id, :title, @selected_pockets.present? ? @selected_pockets.map{|h| h.kind_id } : nil), placeholder: 'Type or select a pocket', required: true, id: 'question_pockets', class: 'form-control', multiple: 'multiple'

  .form-group
    = f.label 'Share?', class: 'col-md-3 control-label'
    .col-md-9
      = f.check_box :is_private

  .form-group#friends_and_group_select_box
    .col-md-3
    .col-md-9#friends_and_group
      = render 'search/friends_and_groups_select_for_sharing', f: f, object: @question, selected_friends_and_groups: @selected_friends_and_groups
  .form-group.attachment-tabs
    .col-md-3
    .col-md-9
      %ul.nav.nav-tabs
        %li.active
          %a{'data-toggle' => 'tab', href: '#pictures'}
            %i.btn-icon.glyphicon.glyphicon-picture
      .tab-content
        #pictures.tab-pane.active
          = render 'questions/modules/pictures', f: f, imageable: @question

  .form-group
    = label_tag :notify_friends, 'Notify friends:', class: 'col-md-3 control-label'
    .col-md-2
      %input.checkbox#notify_friends{type: 'checkbox', name: 'notify_friends', checked: true}
    .col-md-6
      = label_tag :anonymously, 'Post anonymously:', class: 'col-md-5 control-label'
      .col-md-1
        = f.check_box :anonymously
  .form-group
    = label_tag :add_to_librarry, 'Add to library:', class: 'col-md-3 control-label'
    .col-md-9
      %input.checkbox{type: 'checkbox', name: 'add_to_library'}
  .form-group
    .col-md-9.col-md-offset-3
      = f.submit 'Save', class: 'btn btn-primary'

= render 'questions/bootstrap_switch_for_private', object: @question
= render 'questions/bootstrap_switch'
-#= render 'shared/sharing_type_script_for_tip', object: @question
= render 'search/hives_and_pockets_select_script_for_tips', object: @question, inline_object: ''
= render 'shared/autocomplete_mentions', el: '#question_name'
