.container-fluid.questions-container#questions-container
  - @questions.each do |question|
    = render 'questions/question', question: question
.loader#loading
.hide#pagination-wrapper
  = paginate @questions 
