:ruby
  question = current_user.questions.new
  connected_groups = current_user.following_groups.order(:title)
  connected_hives = current_user.following_hives.order(:title)
  selected_hives = Hive.where(id: [hive_id]).all.to_a if defined?(hive_id)
  selected_pockets = Pocket.where(id: [pocket_id]).all.to_a if defined?(pocket_id)

  if selected_pockets.present?
    selected_hives = selected_pockets.first.following_hives.to_a
  end

  selected_friends_and_groups = Group.where(id: [group_id]).all.to_a if defined?(group_id)
  if selected_hives.present? && selected_friends_and_groups.blank?
    selected_friends_and_groups = selected_hives.first.group_followers
  end

.question.question-detail.panel.panel-default.quick-question-adding#quick-question-adding
  .panel-body
    = form_for question, html: { role: 'form', class: 'form-horizontal', multipart: true, remote: true } do |f|
      = f.hidden_field :group_id, value: group_id if defined?(group_id)
      = f.hidden_field :hive_id, value: hive_id if defined?(hive_id)
      = f.hidden_field :pocket_id, value: pocket_id if defined?(pocket_id)
      = f.hidden_field :is_private, value: false, id: 'private_question'
      %input{type: 'hidden', name: 'notify_friends', value: 'on'}

      = f.text_field :name, required: true, placeholder: 'What tip would you like today?', class: 'form-control flat-control'
      .question-extra-fields#question-extra-fields
        = select_tag 'hives[]', "<optgroup label=\"My Hives\">#{options_from_collection_for_select(connected_hives, :kind_id, :title, selected_hives.present? ? selected_hives.map{|h| h.kind_id } : nil)}</optgroup>".html_safe + option_groups_from_collection_for_select(connected_groups, :hives, :title, :kind_id, :title, selected_hives.present? ? selected_hives.map{|h| h.kind_id } : nil), placeholder: 'Add to hives...', required: true, id: 'question_hives', class: 'form-control', multiple: 'multiple'
        = select_tag 'pockets[]',option_groups_from_collection_for_select(connected_hives, :pockets, :title, :kind_id, :title, selected_pockets.present? ? selected_pockets.map{|h| h.kind_id } : nil), placeholder: 'Add to pockets...', required: true, id: 'question_pockets', class: 'form-control', multiple: 'multiple'
        #inline_form_friends_and_groups
          = render 'search/friends_and_groups_select_for_sharing', f: f, object: question, selected_friends_and_groups: selected_friends_and_groups

        .actions
          .pull-left
            = f.label :anonymously ,'Post anonymously:'
            = '&nbsp;&nbsp;'.html_safe
            = f.check_box :anonymously
          .pull-right
            = button_tag 'Close', type: 'button', class: 'btn btn-default btn-close'
            = f.submit 'Save', class: 'btn btn-primary', data: { 'disable-with' => 'Adding tip...' }
          .clearfix

= render 'search/hives_and_pockets_select_script_for_tips', object: question, inline_object: 'inline_form'
-#= render 'search/friends_and_groups_select_script', object: question, only: defined?(only) && only.present? ? only : nil
= render 'questions/question_adding_form_script', question: question
= render 'shared/autocomplete_mentions', el: '#question_name'
