- question_pictures = question.pictures
.question.question-detail.panel.panel-default{id: "question-detail-#{question.id}", class: question.color}
  .arrow.arrow-left
  .question-avatar
    - if question.anonymously?
      = image_tag('logo_round_small.png')
      = link_to 'Anonymous bee', '#'
    - else
      = user_avatar(question.user, :thumb)
      = link_to question.user_first_name, user_profile_path(question.user)
  .panel-heading{class: params[:action]}
    .pull-left
      = hives_title(question).html_safe
      %span.slash /
      = pockets_title(question).html_safe
    .clearfix
  .panel-body{class: params[:action]}
    .question-text{class: params[:action]}
      .question-description.question-detail-description.social-text{id: "question-#{question.id}"}
        = link_to question_path(question) do
          %blockquote>= filter_display_text question.name
      -if question.fetch_tips.count > 0
        %span.badge
          = question.fetch_tips.count
      -else
        .tip-count-zero
          %span.badge
            = question.fetch_tips.count
    - if question_pictures.size > 0
      .question-pictures{class: params[:action], id: "question-pictures-#{question.id}"}
        .question-detail-carousel.carousel.slide{'data-ride' => 'carousel', id: "carousel-detail-question-#{question.id}"}
          / Wrapper for slides
          .carousel-inner{id: "carousel-inner-#{question.id}"}
            - question_pictures.each_with_index do |picture, index|
              %a.item{class: "#{index == 0 ? 'active' : nil}", href: picture_path(picture), data: { remote: true }, style: "background-image: url(#{image_url picture.image.large.url})"}
            =# render 'shared/map', tip: tip, tip_pictures_count: tip_pictures_count if tip.has_map?
          / Controls
          %a.left.carousel-control{'data-slide' => 'prev', href: "#carousel-detail-question-#{question.id}"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{'data-slide' => 'next', href: "#carousel-detail-question-#{question.id}"}
            %span.glyphicon.glyphicon-chevron-right


    = render 'comments/comment_box', object: question, quick_tip: defined?(quick_tip) ? true : false

  .panel-footer{class: params[:action]}
    %a.active-transition.add-tip{href: "/tips/new?question_id=#{question.id}&#{question.hives.map{|h|"hives[]=Hive-#{h.id}"}.join('&').html_safe}&#{question.pockets.map{|p|"pockets[]=Pocket-#{p.id}"}.join('&').html_safe}", data: {remote: true}}
      Add tip:
      %i.glyphicon.glyphicon-plus
    %span{class: "clickable-link-#{question.id}"}
      = render 'questions/clickable_link_like', question: question
    %a{href: 'javascript:void(0)', onclick: "$('#comments-box-#{question.id}').slideToggle();"}
      %i.fa.fa-comment-o
      #{question.comments_count}

:javascript
  $(document).ready(function (e) {
    autoLinkMentionAndHashtag('.question-description#question-#{question.id}', 'tips');
    $('.question#question-detail-#{question.id} .question-detail-carousel.carousel').carousel();
  });
