<% params[:action] = 'index' %>
$('#questions-container').prepend('<%= j(render('questions/question', question: @question, quick_tip: true)) %>');
$('.question-extra-fields').slideUp();
$('#question-adding-container').html('<%= j(render('questions/question_adding_form', group_id: @group_id, hive_id: @hive_id, pocket_id: @pocket_id)) %>');

<% path = group_questions_path(group_id: @group_id, format: :js) if @group_id.present? %>
<% path = hive_questions_path(hive_id: @hive_id, format: :js) if @hive_id.present? %>
<% path = pocket_questions_path(pocket_id: @pocket_id, format: :js) if @pocket_id.present? %>

<% if path.present? %>
  $.ajax({ url: '<%= path %>' });
<% end %>
