.row.form-wrapper
  .col-md-8.col-md-offset-2

    .row
      .col-md-9.col-md-offset-3
        %h1 Edit Question

    = render 'form'

    .row
      .col-md-9.col-md-offset-3
        = link_to 'Delete', @question, class: 'btn btn-danger', data: { method: :delete, confirm: 'Are you sure to delete this Question?' }
        = link_to 'Show', @question, class: 'btn btn-default'
        = link_to 'Back', questions_path, class: 'btn btn-default'
