
$('#question-adding-container').html('<%= j(render('questions/question_adding_form', hive_id: @hive.id, pocket_id: @pocket.id)) %>');
$("#container-fill").html('<%= j(render('questions/questions')) %>');
masonrizeQuestions();
$('.btn-filter-bar').removeClass('btn-filter-bar');
$(".hex").css('background-color', 'transparent');
<%if @pocket.present?%>
  $('#nav-bar-pocket-<%=@pocket.id%>').addClass('btn-filter-bar');
  $("#hex-pocket-<%=@pocket.id%>").css('background-color', '#111111' );
<%else%>
  $('#all-button').addClass('btn-filter-bar');
<%end%>
$("html, body").animate({ scrollTop: $('#second-navigation').offset().top - 70 }, "500");
