= content_for :title_bar do
  - if @hive
    = render 'shared/title_bars/hive_title', hive: @hive, page_type: 'questions'
  - elsif @pocket
    = render 'shared/title_bars/pocket_title', pocket: @pocket
  - elsif @group
    = render 'shared/title_bars/group_title', group: @group
  - elsif @user
    = render 'shared/title_bars/user_profile_title', user: @user
  - else
    =# render 'shared/title_bars/questions_title'

= content_for :filter_bar do
  - if @hive 
    = render 'shared/filter_bars/hive_filter', hive: @hive, page_type: 'questions'
  - elsif @pocket
    = render 'shared/filter_bars/pocket_filter', pocket: @pocket
  - elsif @group
    = render 'shared/filter_bars/group_filter', group: @group
  - elsif @user
    = render 'shared/user_profile_navigation', user: @user
  - else
    = render 'shared/filter_bars/tips_filter', hives: @hives, tips_count: @tips_count, people_count: @friends_count, questions_count: @questions_count

- if params[:page].to_i < 2 
  - if @hive
    .container-fluid.questions-container#question-adding-container
      = render 'questions/question_adding_form', hive_id: @hive.id
  - elsif @pocket
    .container-fluid.questions-container#question-adding-container
      = render 'questions/question_adding_form', pocket_id: @pocket.id
  - elsif @group
    .container-fluid.questions-container#question-adding-container
      = render 'questions/question_adding_form', group_id: @group.id
  - else
    .container-fluid.questions-container#question-adding-container
      = render 'questions/question_adding_form'
#container-fill
  .container-fluid.questions-container#questions-container
    - @questions.each do |question|
      = render 'questions/question', question: question
    .clearfix
  .loader#loading
  .hide
    - if params[:pocket_id].blank?
      = paginate @questions
