= content_for :title_bar do
  = render 'shared/title_bars/tip_title', object: @question
= content_for :filter_bar do
  .question-title-bar{class: "#{@question.color}"}
    .container-fluid
      .row
        .content
          .col-md-4
          .col-md-4
            %ul.media-list
              %li.media
                .pull-left
                  - if current_user != @question.user && @question.anonymously?
                    = image_tag('logo_round_small.png')
                    = @question.user_first_name
                  - else
                    = user_avatar(@question.user, :tiny, 'media-object')
                    = @question.user_first_name
                .pull-right
                  - if @question.user_id == current_user.id && @question.is_a?(Question)
                    %a{href: edit_question_path(@question), class: 'btn btn-default'}
                      %i.glyphicon.glyphicon-cog
                .media-body
                  .media-heading
                    .question-description{id: "question-#{@question.id}"}
                      = @question.name
          .col-md-4.title-right
            %a.active-transition{href: "/tips/new?question_id=#{@question.id}&#{@question.hives.map{|h|"hives[]=Hive-#{h.id}"}.join('&').html_safe}&#{@question.pockets.map{|p|"pockets[]=Pocket-#{p.id}"}.join('&').html_safe}", data: {remote: true}}
              %i.glyphicon.glyphicon-plus
              Add Tip
            = link_to add_existing_tip_question_path(@question), class: 'active-transition', data: { remote: true} do
              %i.glyphicon.glyphicon-plus
              Add existing tips
            = link_to add_comment_question_path(@question), data: { remote: true}, id: 'add-comment-link' do
              %i.glyphicon.glyphicon-comment
              Comment

.tip-container#tip-adding-container
  = render 'tips/tip_adding_form'

.tip-container#tip-container
  - @tips.each do |tip|
    = render 'tips/tip_detail', tip: tip

:javascript
  $(document).ready(function (e) {
    autoLinkMentionAndHashtag('.question-description#question-#{@question.id}');

    // identify comment id from url
    $comment_id = location.hash.slice(1);
    if ($comment_id.length) {
      $('#comment').click();
    }
  });
