= render 'shared/dashboard_nav'

.row
  .col-md-8
    = search_form_for @q, url: '/dashboard/domains', class: 'form-inline mbl' do |f|
      .form-group
        = f.search_field :name, placeholder: 'Domain name', class: 'form-control'
        = f.submit 'Search', class: 'btn btn-primary'

      .form-group
        = link_to 'Download CSV', domains_dashboard_index_path(format: :csv), class: 'btn btn-warning'
    %table.table.table-bordered.table-striped
      %tr
        %th= sort_link(@q, :name, 'Domain')
        %th # Users
        %th # Hives
        %th # Tips
      - @domains.each do |domain|
        %tr
          %td= link_to "#{domain.name}.tiphive.com", "https://#{domain.name}.tiphive.com", target: '_blank'
          %td= number_to_human(domain.user_followers.count)
          %td= number_to_human(Hive.unscoped.where(domain_id: domain.id).count)
          %td= number_to_human(Tip.unscoped.where(domain_id: domain.id).count)

    = paginate @domains
