= render 'shared/dashboard_nav'

.row
  .col-md-8
    = form_for :emails, url: '/dashboard/emails', method: :get, html: { class: 'form-inline mbl' } do |f|
      .form-group
        = f.select :group_id, Group.all.collect {|g| [g.name, g.id]}, { selected: params[:group_id], prompt: 'Select a group (optional)' }, id: 'group_id', name: 'group_id', class: 'form-control', style: 'width: 250px;'
        = f.submit 'Filter', class: 'btn btn-primary'
      .form-group
        = link_to 'Download CSV', emails_dashboard_index_path({format: :csv}.merge params), class: 'btn btn-warning'

    %table.table.table-bordered.table-striped
      %tr
        %th Email
        %th First name
        %th Last name
      - @users.each do |user|
        %tr
          %td= link_to user.email, user, target: '_blank'
          %td= user.first_name
          %td= user.last_name

    = paginate @users

:javascript
  $('#group_id').selectize();
