= render 'shared/dashboard_nav'

.row
  .col-md-4
    %table.table.table-bordered.table-striped
      %tr
        %th{colspan: 2} User Stats
      %tr
        %td Total users
        %td= number_to_human(User.count)
      %tr
        %td New users in last 7 days
        %td= '+' + number_to_human(User.where('created_at > ?', Time.now.advance(days: -7)).count)
      %tr
        %td Users signed in last 7 days
        %td= number_to_human(User.where('last_sign_in_at > ?', Time.now.advance(days: -7)).count)

  .col-md-4
    %table.table.table-bordered.table-striped
      %tr
        %th{colspan: 2} Tip Stats
      %tr
        %td Total tips
        %td= number_to_human(Tip.count)
      %tr
        %td New tips in last 7 days
        %td= '+' + number_to_human(Tip.where('created_at > ?', Time.now.advance(days: -7)).count)
      %tr
        %td New tip likes in last 7 days
        %td= '+' + number_to_human(ActsAsVotable::Vote.where(votable_type: 'Tip').where('created_at > ?', Time.now.advance(days: -7)).count)
