- existing_user = User.where(email: invitation_request.email).first
.row.item{id: "item-#{invitation_request.id}"}
  .col-md-8.col-md-offset-2
    .invitation-request.panel.panel-default
      .panel-body
        .pull-left
          %p
            - if existing_user.present?
              %strong
                = link_to existing_user.name, user_profile_path(existing_user)
            = invitation_request.email
          -if connectable.class.name == 'User'
            %p= 'Request to be friend with you'.html_safe
          -else
            %p= "Request to join <strong>#{link_to(connectable.title, url_for(connectable))}</strong>".html_safe
        .pull-right
          = link_to 'Accept', accept_invitation_request_path(invitation_request), data: { remote: true, 'disabled-with' => 'Accepting...' }, class: 'btn btn-primary'
          = link_to 'Delete Request', invitation_request_path(invitation_request), data: { method: :delete, remote: true, 'disabled-with' => 'Deleting...', confirm: 'Are you sure to delete this request?' }, class: 'btn btn-default'
