<% if @from.present? && @from == 'myfriend'%>
  $('#friend-request-<%=@invitation_request.id%>').hide('fade', 150);
  $('#friends-container').html('<%= j(render('users/friends_container', friends: @friends)) %>');
<%else%>
  $('#item-<%= @invitation_request.id %>').hide('fade', 150);
<%end%>
