= content_for :title_bar do
  = render 'shared/title_bars/invitation_requests_title'

.container-fluid.infinite-container#invitation-requests-container
  - if @invitation_requests.count > 0
    - @invitation_requests.each do |invitation_request|
      - if invitation_request.connectable
        = render 'invitation_requests/invitation_request', invitation_request: invitation_request, connectable: invitation_request.connectable
  - else
    %p There's no pending request.
  .clearfix

.loader#loading
.hide
  = paginate @invitation_requests
