var $menuItemRequests = $('a#menu-item-requests');

<% if @invitation_requests.count > 0 %>
$menuItemRequests.html('Requests <span class="badge"><%= @invitation_requests.count %></span>');
<% else %>
$menuItemRequests.html('Requests');
<% end %>
