.row
  .col-md-6.col-md-offset-3.sign-in-wrapper
    %h3 Resend confirmation instructions
    .panel.panel-default.panel-sign-in
      .panel-body
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: 'form' }) do |f|
          = devise_error_messages!
          .form-group
            = f.label :email
            = f.email_field :email, autofocus: true, class: 'form-control input-lg'
          = f.submit 'Resend confirmation instructions', class: 'btn btn-primary btn-lg'
