- group = Group.new
.actions
  %a.btn.btn-primary#btn-add-side-group{href: 'javascript:void(0)'}
    %i.glyphicon.glyphicon-plus
    Add Group
= form_for group, remote: true, html: {id: 'new-side-group-form', class: 'form-inline hide'} do |f|
  .form-group
    = f.text_field :title, placeholder: 'New group name', required: :required, class: 'form-control'
    = f.submit 'Add', class: 'btn btn-primary', data: {'disable-with' => 'Adding...'}

= render 'shared/side_bars/group_form_script'
