- hive = Hive.new
.actions
  %a.btn.btn-primary#btn-add-side-hive{href: 'javascript:void(0)'}
    %i.glyphicon.glyphicon-plus
    Add Hive
= form_for hive, remote: true, html: {id: 'new-side-hive-form', class: 'form-inline hide'} do |f|
  - if local_assigns[:group].present?
    = hidden_field_tag 'select_friends_and_groups[]', "Group-#{group.id}"
  .form-group
    = f.text_field :title, placeholder: 'New hive title', required: :required, class: 'form-control'
    = f.submit 'Add', class: 'btn btn-primary', data: {'disable-with' => 'Adding...'}

= render 'shared/side_bars/hive_form_script'
