.sidebar-offcanvas{role: 'navigation'}
  #left-sidebar
    .navbar-header
      %a.navbar-brand{href: user_signed_in? ? tips_path(lsb: 1) : root_path(lsb: 1)}
        = image_tag 'logo-white.png'
      %a.close{href: 'javascript:void(0)', data: {toggle: 'offcanvas'}}
        %span{'aria-hidden' => 'true'} ×
        %span.sr-only Close

    %ul.nav.nav-stacked#left-sidebar-content
      - if should_render_group_sidebar?
        %li
          %a.menu-lg{href: group_path(@group, lsb: 1)}
            = image_tag 'icons/icon-group.png'
            = @group.title
        = render 'shared/side_bars/groups/tips', group: @group
        = render 'shared/side_bars/groups/questions', group: @group
        = render 'shared/side_bars/my_hives', group: @group
      - elsif should_render_hive_sidebar?
        %li
          %a.menu-lg{href: hive_path(@hive, lsb: 1)}
            = image_tag 'icons/icon-hive.png'
            = @hive.title
        = render 'shared/side_bars/hives/tips', hive: @hive
        = render 'shared/side_bars/hives/questions', hive: @hive
        = render 'shared/side_bars/hives/all_pockets', hive: @hive
      - else
        = render 'shared/side_bars/tips'
        = render 'shared/side_bars/questions'
        = render 'shared/side_bars/my_hives'
        = render 'shared/side_bars/my_groups'
        = render 'shared/side_bars/my_friends'

= render 'shared/side_bars/left_side_bar_script'
