<script>
  $(document).ready(function () {
    $('[data-toggle="offcanvas"]').click(function () {
      var $rowCanvas = $('.row-offcanvas');
      $rowCanvas.toggleClass('active-sidebar');

      // Sidebar active event
      if ($rowCanvas.hasClass('active-sidebar')) {
        loadSidebar();
      }
    });
  });

  <% if params[:lsb].present? %>
  loadSidebar();
  <% end %>

  function loadSidebar() {
    $.ajax({
      url: '<%= menu_groups_path %>'
    });

    <% if should_render_group_sidebar? %>
    $.ajax({
      url: '<%= menu_hives_path(group_id: @group.id) %>'
    });
    <% else %>
    $.ajax({
      url: '<%= menu_hives_path %>'
    });
    <% end %>

    <% if should_render_hive_sidebar? %>
    $.ajax({
      url: '<%= menu_pockets_path(hive_id: @hive.id) %>'
    });
    <% end %>
  }

  $('#btn-my-hives').on('click', function() {
    $('#side-hives-box').slideToggle();
  });

  $('#btn-my-groups').on('click', function() {
    $('#side-groups-box').slideToggle();
  });

  $('#btn-all-pockets').on('click', function() {
    $('#side-pockets-box').slideToggle();
  });
</script>
