%li#side-my-groups
  %a.menu-lg#btn-my-groups{href: 'javascript:void(0)'}
    = image_tag 'icons/icon-groups.png'
    My Groups
    %span.caret

  .side-list#side-groups-box{style: 'display: none;'}
    %ul#side-groups.nav.nav-menu-side
      %li#side-groups-loader.text-center
        %a{href: '#'}
          .ajax-loader

    %ul.nav.nav-menu-side
      %li.side-action#side-group-form
        = render 'shared/side_bars/group_form'
