%li#side-my-hives
  %a.menu-lg#btn-my-hives{href: 'javascript:void(0)'}
    = image_tag 'icons/icon-hives.png'
    - if local_assigns[:group].present?
      Group Hives
    - else
      My Hives
    %span.caret

  .side-list#side-hives-box{style: 'display: none;'}
    %ul#side-hives.nav.nav-menu-side
      %li#side-hives-loader.text-center
        %a{href: '#'}
          .ajax-loader

    %ul.nav.nav-menu-side
      %li.side-action#side-hive-form
        - if local_assigns[:group].present?
          = render 'shared/side_bars/hive_form', group: group
        - else
          = render 'shared/side_bars/hive_form'
