= form_for @tiphive_setting do |f|
  - if @tiphive_setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tiphive_setting.errors.count, 'error')} prohibited this tiphive_setting from being saved:"
      %ul
        - @tiphive_setting.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
