.row
  .col-md-12
    %table.table.table-bordered{style: 'background-color: white;'}
      %th ID
      %th Hive
      %th Pockets count
      %th Tips count
      %th Owner
      - @hives.each do |hive|
        %tr
          %td= hive.id
          %td= link_to hive.title, hive
          %td= hive.pocket_followers.count
          %td= hive.tip_followers.count
          %td
            - if hive.user.present?
              = "#{hive.user.name}:"
              = link_to hive.user.email, hive.user

    = paginate @hives
