%h1 TipHive settings

.row
  .col-md-12
    %form{role: 'form', class: 'form-horizontal'}
      .form-group
        = label_tag :test_email, 'Testing email sending', class: 'col-md-4 control-label'
        .col-md-4
          .input-group
            %input#test-email{name: :test_email, placeholder: 'Email', class: 'form-control'}
            .input-group-btn
              %button#btn-test-email{type: 'button', class: 'btn btn-default'} Send
      .form-group
        = label_tag :emails_sending_activated, 'Activate emails sending', class: 'col-md-4 control-label'
        .col-md-8
          %input.checkbox{type: 'checkbox', name: :emails_sending_activated, checked: @default_setting.settings(:emails).emails_sending_activated, data: {scope: 'emails'}}

= render 'tiphive_settings/index_script'
