= form_tag get_domain_tiphive_settings_path, class: 'form-horizontal' do |f|
  .form-group
    = label_tag :domain_id, 'Domain', class: 'col-md-3 control-label'
    .col-md-5
      = select_tag 'domain_id', options_for_select(@domains.map { |d| [d.name, d.id] }), class: 'form-control'
      
  .form-group
    = label_tag :group_id, 'Group', class: 'col-md-3 control-label'
    .col-md-5
      = select_tag 'group_id', options_for_select(@groups.map { |d| [d.title, d.id] }), class: 'form-control',include_blank: true
  .form-group
    = label_tag :hive_id, 'Hive', class: 'col-md-3 control-label'
    .col-md-5
      -#= select_tag 'hive_id', options_for_select(@hives.map { |d| [d.title, d.id] }), class: 'form-control'
      = select_tag 'hive_id[]', options_from_collection_for_select(@hives, :kind_id, :name), placeholder: 'Type name of friends or groups', id: 'select_friends_and_groups', class: 'form-control', multiple: 'multiple'


  .form-group
    .col-md-9.col-md-offset-3
      = submit_tag 'Switch', class: 'btn btn-primary'

= render 'search/friends_and_groups_select_for_sharing_script', object: Hive.new

