= content_for :title_bar do
  = render 'shared/title_bars/simple_title', title: 'Settings'

= content_for :filter_bar do
  = render 'shared/filter_bars/settings_filter'

.row.form-wrapper
  .col-md-8.col-md-offset-2
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: 'form', class: 'form-horizontal' }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :first_name, class: 'col-md-4 control-label'
        .col-md-8
          = f.text_field :first_name, autofocus: true, required: true, class: 'form-control'
      .form-group
        = f.label :last_name, class: 'col-md-4 control-label'
        .col-md-8
          = f.text_field :last_name, required: true, class: 'form-control'
      .form-group
        = f.label :emails, class: 'col-md-4 control-label'
        .col-md-8
          .well.well-sm
            = f.text_field :email, required: true, class: 'col-md-8'
            %span.label.label-primary Primary
            %p
            - current_user.emails.each do |email|
              %p
                = email.address
                = link_to 'Set as primary', primary_email_path(email), class: 'btn btn-default btn-xs'
                = link_to email, method: :delete, class: 'pull-right btn btn-default btn-xs' do
                  %span.glyphicon.glyphicon-remove
            %p
            .row
              .col-md-6
                %input#new_email.form-control{:type => 'email'}/
              %button#email_add.btn.btn-primary{:type => 'submit'} Add

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        .form-group
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group
        = f.label :password, "New Password", class: 'col-md-4 control-label'
        .col-md-8
          = f.password_field :password, :autocomplete => 'off', placeholder: 'new password: leave blank if you don\'t want to change it', class: 'form-control'
      .form-group
        = f.label :password_confirmation, "New Password Confirmation", class: 'col-md-4 control-label'
        .col-md-8
          = f.password_field :password_confirmation, placeholder: 'new password confirm', class: 'form-control'
      .form-group
        = f.label :current_password, class: 'col-md-4 control-label'
        .col-md-8
          = f.password_field :current_password, placeholder: 'we need your current password to confirm your changes', class: 'form-control'
      .form-group
        .col-md-8.col-md-offset-4
          = f.submit 'Update', class: 'btn btn-primary'

      .form-break
      .form-group
        = label_tag :profile_image, 'Profile Image', class: 'col-md-4 control-label'
        .col-md-8
          .thumbnail{style: 'display: inline-block'}
            = image_tag current_user.avatar.medium.url
            %label{style: 'font-weight: normal'}
              = f.check_box :remove_avatar
              Remove avatar
          %p
            = link_to 'Select profile image', select_avatar_path, class: 'btn btn-default btn-sm'
    .col-md-8.col-md-offset-4
      %h3 Cancel my account
      %p
        Unhappy? #{link_to 'Cancel my account', registration_path(resource_name), :data => { :confirm => 'Are you sure?' }, :method => :delete, class: 'btn btn-danger'}
      = link_to 'Back', :back, class: 'btn btn-default'

:javascript
  $('#email_add').click( function(e){
    $("#edit_user :input").attr('required', false);
    $('#edit_user').submit(false);
    var email = $('#new_email').val();
    $.ajax({
      type: "POST",
      url: "#{emails_path}",
      data: { email: email }
    }).done(function() {
      location.reload();
    });
  });
