= simple_title_bar_with_title 'Create Your Account'

.row
  .col-md-6.col-md-offset-3
    .panel.panel-default.panel-sign-up
      .panel-body
        %h3 Connect with
        = link_to "#{fa_icon('facebook-square')} Facebook".html_safe, user_omniauth_authorize_path(:facebook, from: :sign_up, inviter_id: params[:inviter_id], invitation_token: params[:token]), class: 'btn btn-primary btn-lg'
        = link_to "#{fa_icon('twitter-square')} Twitter".html_safe, user_omniauth_authorize_path(:twitter, from: :sign_up, inviter_id: params[:inviter_id], invitation_token: params[:token]), class: 'btn btn-primary btn-lg'
        = link_to "#{fa_icon('google-plus-square')} Google+".html_safe, user_omniauth_authorize_path(:google_oauth2, from: :sign_up, inviter_id: params[:inviter_id], invitation_token: params[:token]), class: 'btn btn-primary btn-lg'

        %h3
          = current_registration_type_message
          %br
          %small Please fill information below
        = image_tag(current_identity_avatar_url, class: 'avatar-image') if current_identity_avatar_url.present?
        - if current_identity_name.present?
          %p
            = current_identity_name
            %br
            %small
              = link_to 'cancel connection', new_user_registration_path(cancel: true, inviter_id: params[:inviter_id], invitation_token: params[:token])
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form' }) do |f|
          = devise_error_messages!
          = hidden_field_tag :token, params[:token]
          = hidden_field_tag :inviter_id, params[:inviter_id]
          = f.hidden_field :second_email, value: @invited_email || resource.email
          - if current_identity
            = hidden_field_tag :provider, current_identity.provider
            = hidden_field_tag :uid, current_identity.uid

          - if current_registration_type == :email
            .form-group
              = f.text_field :first_name, placeholder: 'first name', autofocus: true, required: true, class: 'form-control input-lg'
            .form-group
              = f.text_field :last_name, placeholder: 'last name', class: 'form-control input-lg'
          .form-group
            = f.email_field :email, placeholder: 'your email address', value: @invited_email || resource.email, required: true, class: 'form-control input-lg'
          .form-group
            = f.password_field :password, placeholder: 'your password', required: true, class: 'form-control input-lg'
          .form-group
            = f.password_field :password_confirmation, placeholder: 'your password again', required: true, class: 'form-control input-lg'
          .form-group
            = f.submit 'Create account', class: 'btn btn-primary btn-lg'
          .form-group
            %p.tos.align-left
              By clicking on create your account, you agree to our
              = link_to 'Terms of Service', 'http://about.tiphive.com/terms-of-service.html', target: '_blank'
            %p.login.align-left
              %strong Already a member?
              = link_to 'Login', new_user_session_path
