.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@user_name} just #{@is_shared ? 'shared' : 'added'} a Pocket #{ @is_shared ? "with you in #{@hives_title}" : "to #{@hives_title}"}.
        %br
        Visit TipHive to view this Pocket.
    .panel-footer
      = link_to 'View pocket', @pocket_url, class: 'btn btn-primary'
