.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@user_first_name},
      %p
        #{@friend_name} just added a tip on your question.
        %br
        Visit #{@question_title} on TipHive for more details.
    .panel-footer
      = link_to @question_title, @question_url, class: 'btn btn-primary'
