.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@user_first_name},
      %p
        #{@friend_name} just added you as a friend.
        %br
        Visit TipHive to view #{@friend_first_name}'s profile.
    .panel-footer
      = link_to 'Go to profile', @friend_profile_url, class: 'btn btn-primary'
