.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@user_name} just #{@is_shared ? 'shared' : 'added'} a question
        - if @is_shared
          with you in #{@question_hive_pocket_title}
        -else
          to #{@question_hive_pocket_title}.
        %br
        Visit TipHive to view this question.
        %br
        Reply to this email to add tip on this question.
    .panel-footer
      = link_to 'View question', @question_url, class: 'btn btn-primary'
