.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@friend_first_name} just added a new tip for your question #{@question_title}.
        %br
        Visit TipHive to view this new tip.
    .panel-footer
      = link_to 'View comment', @question_url, class: 'btn btn-primary'
