.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@user_name} added you to domain
        %br
        Visit TipHive to view this Domain.
    .panel-footer
      = link_to 'View Domain', root_url(subdomain: @domain.name), class: 'btn btn-primary'
