.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@user_name} just #{@is_shared ? 'shared' : 'added'} a tip #{ @is_shared ? "with you in #{@tip_hive_pocket_title}" : "to #{@tip_hive_pocket_title}"}.
        %br
        Visit TipHive to view this tip.
        %br
        Reply to this email to comment on this tip.
    .panel-footer
      = link_to 'View tip', @tip_url, class: 'btn btn-primary'
