.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@user_name} just added you to the group #{@group_title}.
        %br
        Visit TipHive to view this Group.
    .panel-footer
      = link_to 'View Group', @group_url, class: 'btn btn-primary'
