.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@user_name} just added hive #{@hive_title} to the group #{@group_title}.
        %br
        Visit TipHive to view this Hive.
    .panel-footer
      = link_to 'View Hive', @hive_url, class: 'btn btn-primary'
