.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@user_name} just commented on a tip you liked.
        %br
        Visit TipHive to view this comment.
    .panel-footer
      = link_to 'View comment', @tip_url, class: 'btn btn-primary'
