.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@user_name} just mentioned you in the question #{@question_title}.
        %br
        Visit TipHive to view this comment.
    .panel-footer
      = link_to 'View comment', @question_url, class: 'btn btn-primary'
