.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@user_name} just mentioned you in the tip #{@tip_title}.
        %br
        Visit TipHive to view this comment.
    .panel-footer
      - unless @tip_slug.blank?
        = link_to 'View comment', @tip_url, class: 'btn btn-primary'
      - else
        = link_to 'View comment', @question_url, class: 'btn btn-primary'
