.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi,
      %p
        #{@tip_title} flagged by #{@user_first_name} .
        %br
        Visit TipHive to view this tip.
    .panel-footer
      = link_to 'View tip', @tip_url, class: 'btn btn-primary'
