.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi,
      %p
        #{@question_title} flagged by #{@user_first_name} .
        %br
        Visit TipHive to view this question.
    .panel-footer
      = link_to 'View question', @question_url, class: 'btn btn-primary'
