.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi,
      %p Someone with email #{@friend_email} has requested an invite to the group #{@connectable_title}
      %p
        %a{href: invitation_requests_url} Go here to accept the invite.
