.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Thanks for your interest in joining TipHive. We'll be in contact shortly. TipHive is growing quickly so please excuse us if it takes a bit of time before you get your invite.
      %p The Tiphive Team
    .panel-footer
      = link_to 'Go to invitation request page', @invitation_requests_url, class: 'btn btn-primary'

      /invitation_requests
