.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@user_first_name},
      %p
        Your friend #{@friend_name} just liked your question #{@tip_title}.
        %br
        Visit TipHive to view this question.
    .panel-footer
      = link_to 'View tip', @question_url, class: 'btn btn-primary'
