.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi,
      %p Email sending via Sidekiq is functioning normally.
      %p
        Cheers,
        %br
        Mailer + Sidekiq
