.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p Hi #{@friend_name},
      %p
        Your friend #{@user_name} just mentioned you in the Tip #{@tip_title}.
        %br
        Visit TipHive to view this question.
    .panel-footer
      = link_to 'View tip', @tip_url, class: 'btn btn-primary'
