.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p.text-center Weekly summary
      - @tips.each do |tip|
        %p
          %strong= "#{tip.hives_and_pockets_title}: "
        %strong= link_to tip.title, tip_url(tip)
        %p= truncate(tip.description, length: 140)
    .panel-footer
      = link_to 'Go to TipHive', tips_url, class: 'btn btn-primary'
