.media.comment
  .pull-left.media-profile
    = user_avatar(user, :tiny, 'media-object')
    = link_to user.first_name, user_profile_path(user)
  .media-body
    = form_for comment, html: { id: "comment-form-#{object.id}", role: 'form', data: { remote: true } } do |f|
      = hidden_field_tag :object_id, object.id
      = hidden_field_tag :object_kind, object.class.name
      .form-group
        = f.text_area :body, id: "comment-body-#{object.id}", class: 'form-control has-mention', placeholder: 'Add a comment...', rows: 3, required: true#, autofocus: true
      .location-box{id: "location-box-#{object.id}"}
        = render 'comments/modules/location', f: f, object_id: object.id
      = f.hidden_field :picture_ids, id: "comment-picture-#{object.id}"
      %span.ajax-loader.hide#ajax-loader
      .uploaded-images{id: "uploaded-images-#{object.id}"}
        - @comment && @comment.pictures.each do |picture|
          = render 'comments/modules/picture', picture: picture
      .form-group
        = f.submit 'Comment', class: 'btn btn-primary btn-sm com', :'data-id' => "#{comment && comment.id}"
        .pull-right.uploads-btn
          %span.file-link-btn
            %a + Add image
            %input{ type: 'file', name: 'picture[image]', multiple: 'multiple', class: 'file-btn-link', id: "image-fileupload-#{object.id}", data: { url: '/upload_comment_picture' } }
          %span{class: 'add-map', id: "add-map-#{object.id}", :'data-id' => "#{object.id}"}
            %a+ Add map
  = render 'comments/modules/pictures', imageable: @comment
  .comment-footer-box{:style => 'display: none'}
= render 'comments/add_comment_form_script', comment: @comment, object_id: object.id

:javascript
  $(document).ready(function (e) {
    autocompleteMentions('.has-mention#comment-body-#{object.id}');
  });
