<script>
  function initializeMap(tip_id) {
    $('#comment_address_' + tip_id).geocomplete({
      map: '#map-canvas-' + tip_id,
      location: '<%= comment && comment.address %>',
      mapOptions: {
        zoom: 15
      },
      markerOptions: {
        // draggable: true
      }
    }).bind("geocode:result", function(event, result){
      var lat = result.geometry.location.lat();
      var lng = result.geometry.location.lng();
      var address = result.formatted_address;
      $('#comment_location_'+tip_id).val(address);
      $('#comment_latitude_'+tip_id).val(lat);
      $('#comment_longitude_'+tip_id).val(lng);
      // console.log(lat + ": " + lng + " : " + address);
    });
  }

  function imageUploadComment(tip_id) {
    $('#image-fileupload-'+tip_id).fileupload({
      dataType: 'json',
      method: 'POST',
      <% if @comment && @comment.persisted? %>
      formData: [{name: 'comment_id', value: '<%= @comment.id %>'}],
      <% end %>
      add: function (e, data) {
        data.submit();
        $('span.ajax-loader').removeClass('hide');
      },
      done: function (e, data) {
        $('span.ajax-loader').addClass('hide');
        var picture = JSON.parse(data.jqXHR.responseText);

        var $image_link = $('<a>');
        var $image = $('<img>');
        var $delete_button = $('<button class="btn-remove-picture glyphicon glyphicon-remove btn btn-danger btn-sm" type="button" data-picture-id="'+picture.id+'">');
        $delete_button.on('click', processRemovePicture);

        $image.attr('src', picture.image.image.small.url);
        $image_link.attr('id', 'picture-' + picture.id);
        $image_link.attr('data-picture-id', picture.id);
        $image_link.attr('href', 'javascript:');
        $image_link.addClass('thumbnail');
        $image_link.append($image);
        $image_link.append($delete_button);

        $('#uploaded-images-'+tip_id).append($image_link);

        var picture_ids = '';
        var pictures_count = $('a.thumbnail').size();
        $('a.thumbnail').each(function(index, elem) {
          var $elem = $(elem);
          picture_ids += $elem.data('picture-id');
          if (index < pictures_count - 1) {
            picture_ids += ',';
          }
        });

        $('#comment-picture-'+tip_id).val(picture_ids);

      }
    });
  }

  function locationBoxToggle(tip_id) {
    $("#add-map-"+tip_id).click(function (){
      $("#location-box-"+tip_id).toggle();
      initializeMap(tip_id);
      $('#comment_address_'+tip_id).trigger('geocode');
      google.maps.event.trigger(window, 'resize');
    });
  }

  function commentBoxToggle(tip_id) {
    $('#comments-box-'+tip_id).slideToggle();
    locationBoxToggle(tip_id);
    imageUploadComment(tip_id);
  }

  $(window).load(function () {
    $(".location-box").hide();
  });

  $(document).ready(function(e) {
    $(".location-box").hide();
    var tip_id = <%= object_id || '' %>
    var url_length = window.location.pathname.split("/").length;
    if ( url_length > 2 ) {
      setTimeout(function(){
        locationBoxToggle(tip_id);
      }, 7000);
      imageUploadComment(tip_id);
    }

    $('#comment-form-'+tip_id).bind('ajax:success', function(json, status, xhr){
      $('a.thumbnail').remove();
      $("#location-box-"+tip_id).hide();
      $('#comment-picture-'+tip_id).val("");
      $('#comment_location_'+tip_id).val("");
      $('#comment_latitude_'+tip_id).val("");
      $('#comment_longitude_'+tip_id).val("");
    });
  });
</script>
