- style = comment_box_style
- style = 'display: none;' if defined?(quick_tip)
.comments-box{style: style, id: "comments-box-#{object.id}"}
  %div{id: "comments-#{object.id}"}
    - object.comment_threads.includes([:user]).order('created_at ASC').each do |comment|
      = render 'comments/comment', comment: comment, object_id: object.id
  - if user_signed_in?
    = render 'comments/add_comment_form', user: current_user, object: object, comment: Comment.build_from(object, current_user.id, '')
