- if comment.user.present?
  - comment_pictures = comment.pictures
  - comment_pictures_count = comment_pictures.count
  - comment_pictures_count += 1 if comment.has_map?
  .media.comment{ id: "comment-#{comment.id}", data: { id: comment.id} }
    .pull-left.media-profile
      = user_avatar(comment.user, :tiny, 'media-object')
      = link_to comment.user_first_name, user_profile_path(comment.user)
    .media-body
      - if can? :destroy, comment
        %a.close{ href: comment_path(comment), data: { method: :delete, remote: true, confirm: 'Are you sure to delete this comment?' } } ×
      - if can? :update, comment
        %a.comment-edit.close.pull-right.glyphicon.glyphicon-pencil{id: "comment-edit-#{comment.id}", href: 'javascript:void(0)', data: { id: comment.id}}
      %h3
        =# link_to comment.user.name, user_profile_path(comment.user)
        %small= "#{time_ago_in_words(comment.created_at)} ago"
      .social-text{id: "comment-#{comment.id}", data: { 'comment-id' => comment.id, 'display-type' => 'comment', 'comment-pictures-count' => comment_pictures_count }}= filter_display_text comment.body
      = form_for comment, method: :patch, html: {class: 'hide', role: 'form', data: { remote: true } } do |f|
        = f.text_area :body, class: 'form-control has-mention', rows: 3
        %br/
        = f.submit 'Update', class: 'btn btn-primary btn-sm'
        = link_to 'Cancel', 'javascript:void(0)', id: 'cancel-comment-edit-'+comment.id.to_s, data: {id: comment.id}
      .tip-pictures{class: params[:action], id: "comment-pictures-#{comment.id}"}
        .tip-item-carousel.carousel.slide{'data-ride' => 'carousel', id: "carousel-item-tip-#{comment.id}"}
          / Wrapper for slides
          .carousel-inner{id: "carousel-inner-#{comment.id}"}
            - comment.pictures.each_with_index do |picture, index|
              %a.item{class: "#{index == 0 ? 'active' : nil}", href: picture.image.url, data: { lightbox: "comment-image-#{comment.id}"}, style: "background-image: url(#{image_url picture.image.url})"}
            = render 'comments/modules/comment_map', comment: comment, comment_pictures_count: comment_pictures_count if comment.has_map?
          %a.left.carousel-control{'data-slide' => 'prev', href: "#carousel-item-tip-#{comment.id}"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{'data-slide' => 'next', href: "#carousel-item-tip-#{comment.id}"}
            %span.glyphicon.glyphicon-chevron-right

:javascript
  $(document).ready(function (e) {
    autoLinkMentionAndHashtag('.social-text#comment-#{comment.id}', "comment");

    $("a#comment-edit-#{comment.id}").on('click', function() {
      var id = $(this).data('id');
      $('p.social-text#comment-' + id).hide();
      $('form#edit_comment_' + id).removeClass('hide')
    });

    $("a#cancel-comment-edit-#{comment.id}").on('click', function() {
      var id = $(this).data('id');
      $('p.social-text#comment-' + id).show();
      $('form#edit_comment_' + id).addClass('hide')
    });
  });
