$('#comments-<%= @object.id %>').append('<%= j(render('comments/comment', comment: @comment).html_safe) %>');
$('#comment-body-<%= @object.id %>').val('');
counter = parseInt($('#comment-counter-<%= @object.id %>').text());
counter = counter + 1;
$('#comment-counter-<%= @object.id %>').replaceWith("<span id='comment-counter-<%= @object.id %>'>" + counter + "</span>");
