<script>
  $(document).ready(function (e) {
    var pocket_state = "<%= object.is_private %>";
    var $pocketIsPrivate = $('#pocket_is_private');
    var $friendsAndGroupSelectBox = $('#friends_and_group_select_box');

    if(pocket_state == 'true') {
      $friendsAndGroupSelectBox.addClass('hide')
    }

    $pocketIsPrivate.bootstrapSwitch({
      state: pocket_state,
      size: 'small',
      onText: 'No',
      offText: 'Yes',
      onColor: 'default',
      offColor: 'primary',
      onSwitchChange: function(event, state) {
        if (state == true) {
          $friendsAndGroupSelectBox.addClass('hide')
        }
        else {
          $friendsAndGroupSelectBox.removeClass('hide')
        }
      }
    });

    $pocketIsPrivate.siblings('label').removeAttr('for');
  });
</script>
