<script>
  $(document).ready(function (e) {
    var $objectSettingIsPrivate = $('#object_setting_is_private');
    var $friendsAndGroupSelectBox = $('#friends_and_group_select_box');

    $objectSettingIsPrivate.bootstrapSwitch({
      state: "<%= object.is_private %>",
      size: 'small',
      onText: 'No',
      offText: 'Yes',
      onColor: 'default',
      offColor: 'primary',
      onSwitchChange: function(event, state) {
        if (state == true) {
          $friendsAndGroupSelectBox.addClass('hide')
        }
        else {
          $friendsAndGroupSelectBox.removeClass('hide')
        }
      }
    });

    $objectSettingIsPrivate.siblings('label').removeAttr('for');
});
</script>
