= form_for @pocket, html: { role: 'form', class: 'form-horizontal' } do |f|
  - if @pocket.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(@pocket.errors.count, 'error')} prohibited this pocket from being saved:"
      %ul
        - @pocket.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label 'Add to which hive?', class: 'col-md-3 control-label'
    .col-md-9
      = select_tag 'hives[]', "<optgroup label=\"My Hives\">#{options_from_collection_for_select(@connected_hives, :kind_id, :title, @selected_hives.present? ? @selected_hives.map{|h| h.kind_id } : nil)}</optgroup>".html_safe + option_groups_from_collection_for_select(@connected_groups, :hives, :title, :kind_id, :title, @selected_hives.present? ? @selected_hives.map{|h| h.kind_id } : nil), placeholder: 'Type or select a hive', required: true, id: 'pocket_hives', class: 'form-control', multiple: 'multiple'
  .form-group
    = f.label :title, class: 'col-md-3 control-label'
    .col-md-9
      = f.text_field :title, required: true, placeholder: 'i.e. baby sitter, museums, piano teacher', class: 'form-control'
  .form-group
    = f.label :description, class: 'col-md-3 control-label'
    .col-md-9
      = f.text_area :description, placeholder: 'Provide some more detail about what tips you are collecting', rows: 3, class: 'form-control'
  .form-group
    = f.label 'Share?', class: 'col-md-3 control-label'
    .col-md-9
      = f.check_box :is_private, class: 'bootstrap-switch'
  .form-group#friends_and_group_select_box
    .col-md-3
    .col-md-9#friends_and_group
      = render 'search/friends_and_groups_select_for_sharing', object: @pocket, selected_friends_and_groups: @selected_friends_and_groups
  .form-group
    .col-md-9.col-md-offset-3
      = f.submit 'Save', class: 'btn btn-primary save-disable'
      = link_to 'Back', :back, class: 'btn btn-default'

= render 'pockets/bootstrap_switch', object: @pocket
= render 'search/hive_select_script', object: @pocket
= render 'search/pockets_suggest_script', object: @pocket

:javascript
  $(".bootstrap-switch-id-pocket_is_private").click(function(){
    if ($("#pocket_is_private").is( ":checked" )){
      $('.save-disable').show(); 
    }
  });
