.modal#pocket-form-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h4.modal-title Add new pocket
      .modal-body
        = render 'pockets/form'
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close


:javascript
  $('.save-disable').hide();
