.modal#object_setting-share-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h4.modal-title Pocket Setting
      .modal-body
        = form_for @object_setting, url: object_setting_pocket_path(@pocket), method: @object_setting.nil? ? 'post' : 'put' ,html: { role: 'form', class: 'form-horizontal'} do |f|
          = f.hidden_field :id
          = f.hidden_field :user_id, value: current_user.id
          = f.hidden_field :object_setting_type, value: @pocket.class.name
          = f.hidden_field :object_setting_id, value: @pocket.id
          .form-group
            = f.label 'Share?', class: 'col-md-3 control-label'
            .col-md-9
              = f.check_box :is_private, id: 'object_setting_is_private', class: 'bootstrap-switch'
          .form-group#friends_and_group_select_box
            = f.label 'Share', class: 'col-md-3 control-label'
            .col-md-9
              = render 'search/friends_and_groups_select_for_sharing', object: @pocket, selected_friends_and_groups: @selected_friends_and_groups

          .form-group
            = f.label :background_image, class: 'col-md-3 control-label'
            .col-md-9
              =# f.file_field :background_image, class: 'form-control'
              = f.hidden_field :background_image_cache

              .fileinput.fileinput-new.input-group{'data-provides' => 'fileinput'}
                .form-control{'data-trigger' => 'fileinput'}
                  %i.glyphicon.glyphicon-file.fileinput-exists
                  %span.fileinput-filename
                %span.input-group-addon.btn.btn-default.btn-file
                  %span.fileinput-new Select file
                  %span.fileinput-exists Change
                  = f.file_field :background_image
                %a.input-group-addon.btn.btn-default.fileinput-exists{'data-dismiss' => 'fileinput', href: '#'} Remove
          - if @object_setting.background_image.present?
            .form-group
              .col-md-3
              .col-md-9
                .form-thumb
                  %label
                    = f.check_box :remove_background_image
                    Remove background image
                  = image_tag(@object_setting.background_image_url)
          .form-group
            .col-md-3
            .col-md-9
              = f.submit 'Save', class: 'btn btn-primary'

        = render 'pockets/bootstrap_switch_for_object_setting', object: @object_setting
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
