.hex-item.hex-item-pocket
  = link_to pocket_path(pocket, hive_id: params[:hive_id]) do
    .hexagon.hexagon2
      .hexagon-in1
        - background_image_url = pocket.background_image.present? ? pocket.background_image.small.url : image_url('pockets-no-images.png')
        .hexagon-in2{style: "background-image: url(#{background_image_url});"}
          .hex-caption
            = truncate(pocket.title, length: 20)
            %span.badge= pocket.count_tip_followers
