.modal#pocket-share-modal.share-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h4.modal-title Share this pocket
      .modal-body
        %ul.nav.nav-pills
          %li.active
            %a{href: '#share', 'data-toggle'=>'tab'} Share
          %li
            %a{href: '#invite', 'data-toggle'=>'tab'} Invite by email
          %li
            %a{href: '#share-link', 'data-toggle'=>'tab'} Share link
        .tab-content.popup-form
          #share.tab-pane.active
            = form_tag '', role: 'form', class: 'form-horizontal' do
              .form-group
                = label_tag 'Share', nil, class: 'col-md-1 control-label'
                .col-md-11
                  = render 'search/friends_and_groups_select_for_sharing', object: @pocket, selected_friends_and_groups: @selected_friends_and_groups
                .col-md-1.control-label
                .col-md-9
                  = 'Sharing with' if ((@connected_friends_and_groups.map{|u| u.class.name}.include? 'User') || (@connected_friends_and_groups.map{|u| u.class.name}.include? 'Group'))
                  - @connected_friends_and_groups.each do |u|
                    = user_avatar(u, :tiny) if %w(User Group).include? u.class.name

          #invite.tab-pane
            = render 'users/add_friends_modules/email', connectable: @pocket
          #share-link.tab-pane
            - pocket_image  = @pocket.background_image.present? ? @pocket.background_image.medium.url : image_url('pockets-no-images.png')
            - image = image_url(pocket_image)
            - content = truncate_object_description(@pocket)
            .share-area
              Share with
              = render 'shared/social_share', object: @pocket, content: content, image: image

      .modal-footer
        %button.btn.btn-default#share-model-close{'data-dismiss' => 'modal', type: 'button'} Close

:javascript
  // when user click on share model close button, should be reload the page
  $('#share-model-close').on('click', function(){
    window.location.href = "#{pocket_path(@pocket)}"
  });
