$('#side-pocket-form').html('<%= j(render('shared/side_bars/hives/pocket_form', hive: @hive)) %>');
$('#side-pockets').prepend('<%= j(render('shared/side_bars/hives/pocket', hive: @hive, pocket: @pocket)) %>');
