.row.form-wrapper
  .col-md-8.col-md-offset-2

    .row
      .col-md-9.col-md-offset-3
        %h1 Editing pocket

    = render 'form'

    .row
      .col-md-9.col-md-offset-3
        = link_to 'Delete', pocket_path(@pocket, hive_id: params[:hive_id]), class: 'btn btn-danger', data: { method: :delete, confirm: 'Are you sure to delete this Pocket?' }
        = link_to 'Show', @pocket, class: 'btn btn-default'
        = link_to 'Back', my_pockets_path, class: 'btn btn-default'
