= content_for :title_bar do
  = render 'shared/title_bars/hive_title', hive: @hive, page_type: 'pocket'

= content_for :filter_bar do
  = render 'shared/filter_bars/hive_filter', hive: @hive, page_type: 'pocket'

.container-fluid#pockets-container
  .hex-item
    .hexagon.hexagon2
      .hexagon-in1
        .hexagon-in2
          .hex-caption{style: 'background: transparent; top: 43%;',}
            %a{href: new_pocket_path('hives[]' => @hive.present? ? "Hive-#{@hive.id}" : nil), id: 'new-hive-pocket', data: {remote: true}}
              %i.glyphicon.glyphicon-plus
              %br
              Add Pocket
  - @pockets.each do |pocket|
    = render 'pockets/pocket', pocket: pocket
  .clearfix
.loader#loading
.hide
  = paginate @pockets
