= content_for :title_bar do
  = render 'shared/title_bars/my_pockets_title'

.container-fluid#pockets-container
  .hex-item
    .hexagon.hexagon2
      .hexagon-in1
        .hexagon-in2
          .hex-caption{style: 'background: transparent; top: 43%;',}
            %a{href: new_pocket_path('hives[]' => @hive.present? ? "Hive-#{@hive.id}" : nil), data: {remote: true}}
              %i.glyphicon.glyphicon-plus
              %br
              Add Pocket
  - @pockets.each do |pocket|
    = render 'pockets/pocket', pocket: pocket
.loader#loading
.hide
  = paginate @pockets

= render 'pockets/my_pockets_script'
