= content_for :title_bar do
  = render 'shared/title_bars/pocket_title', pocket: @pocket

= content_for :filter_bar do
  = render 'shared/filter_bars/pocket_filter', pocket: @pocket

- if params[:sort_filter] != 'near_by'
  - if params[:page].blank? || params[:page].to_i == 1
    .container-fluid.tip-container#tip-adding-container
      = render 'tips/tip_adding_form', pocket_id: @pocket.id
  .container-fluid.tips-container#tips-container
    = render 'pockets/tips', tips: @tips
  .loader#loading
  .hide
    = paginate @tips
- else
  = render 'shared/near_by_on_map', tips: @tips
  .loader#loading
  .hide
    @tips
