= select_tag 'select_friends_and_groups[]', "<optgroup label=\"Friends\">#{options_from_collection_for_select(selected_friends_and_groups, :kind_id, :name, selected_friends_and_groups.present? ? selected_friends_and_groups.map{|h| h.kind_id } : nil)}</optgroup>".html_safe + "<optgroup label=\"Not Friends\">#{options_from_collection_for_select(selected_friends_and_groups, :kind_id, :name, selected_friends_and_groups.present? ? selected_friends_and_groups.map{|h| h.kind_id } : nil)}</optgroup>".html_safe, placeholder: 'Type or select friends and groups', id: 'select_friends_and_groups', class: 'form-control', multiple: 'multiple'

= render 'search/friends_and_groups_select_script', object: object, only: defined?(only) && only.present? ? only : nil
