<script>
  $(document).ready(function(e){
    var select_friends, $select_friends;
    $select_friends = $('select#select_friends_and_groups').selectize({
      valueField: 'kind_id',
      labelField: 'name',
      searchField: 'name',
      sortField: 'kind_id',
      optgroups: [
        {value: 'FriendList', label: 'Friend List'},
        {value: 'Group', label: 'Groups'},
        {value: 'Friend', label: 'Friends'},
        {value: 'NotFriend', label: 'Not Friends'}
      ],
      lockOptgroupOrder: true,
      persist: true,
      plugins: ['remove_button'],
      preload: 'focus',
      render: {
        item: function(item, escape) {
          return '<div class="item"><span class="label label-info">' + escape(item['kind_id'].split('-')[0]) + '</span>' + escape(item['name']) + '</div>';
        },
        option: function(item, escape) {
          return '<div class="option"><span class="label label-default">' + escape(item['kind_id'].split('-')[0]) + '</span>' + escape(item['name']) + '</div>';
        }
      },
      load: function(query, callback) {
        $.ajax({
          url: '/user_following_friends_and_groups.json',
          data: { q: query, only: '<%= local_assigns[:only] %>' },
          type: 'GET',
          dataType: 'json',
          error: function() {
            callback();
          },
          success: function(res) {
            callback(res);
          }
        });
      },
      onLoad: function (data) {
        this.refreshOptions(false);
      },
      onItemAdd: function(value, $item) {
        $.ajax({
          url: '<%= connect_sharing_objects_path(format: :json) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', items_list: [value] }
        });

        $.ajax({
          url: '<%= connect_following_objects_path(format: :json) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'following', items_list: [value] }
        });

        this.refreshOptions(false);
      },
      onItemRemove: function(value) {
        $.ajax({
          url: '<%= disconnect_sharing_objects_path(format: :json) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', items_list: [value] }
        });
        $.ajax({
          url: '<%= disconnect_following_objects_path(format: :json) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'following', items_list: [value] }
        });

        this.refreshOptions(false);
      }
    });

    // Only for new pocket creation, where sharing setting load first after that we are showing save button
    if ($select_friends && $select_friends.length) {
      select_friends = $select_friends[0].selectize;
      var $saveDisable = $('.save-disable');

      if (select_friends.items.length < 0) {
        $saveDisable.show();
      }
      else {
        $saveDisable.show();
      }
    }
  });
</script>
