- if local_assigns[:selected_friends_and_groups]
  - values = selected_friends_and_groups.map{ |h| h.kind_id }
  - options =  options_from_collection_for_select(selected_friends_and_groups, :kind_id, :name, values)

= select_tag 'select_friends_and_groups[]', options,
             placeholder: local_assigns[:placeholder] ? local_assigns[:placeholder] : 'Type to search or select friends and groups',
             id: 'select_friends_and_groups',
             class: 'form-control',
             multiple: 'multiple'

= render 'search/friends_and_groups_select_for_sharing_script', object: object, only: local_assigns[:only]
