<script>
  $(document).ready(function(e){
    $('select#select_friends_and_groups').selectize({
      valueField: 'kind_id',
      labelField: 'name',
      searchField: 'name',
      sortField: 'kind_id',
      persist: true,
      plugins: ['remove_button'],
      preload: 'focus',
      render: {
        item: function(item, escape) {
          return '<div class="item"><span class="label label-info">' + escape(item['kind_id'].split('-')[0]) + '</span>' + escape(item['name']) + '</div>';
        },
        option: function(item, escape) {
          return '<div class="option"><span class="label label-default">' + escape(item['kind_id'].split('-')[0]) + '</span>' + escape(item['name']) + '</div>';
        }
      },
      load: function(query, callback) {
        if (!query.length) {
          query = '';
        }
        $.ajax({
          <% if defined?(only) %>
          url: '<%= user_following_friends_and_groups_path(format: :json, only: only) %>',
          <% else %>
          url: '<%= user_following_friends_and_groups_path(format: :json) %>',
          <% end %>
          type: 'GET',
          dataType: 'json',
          data: {
            q: query
          },
          error: function() {
            callback();
          },
          success: function(res) {
            callback(res);
          }
        });
      },
      onItemAdd: function(value, $item) {
        $.ajax({
          url: '<%= connect_following_objects_path(format: :json) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'following', items_list: [value] }
        });
      },
      onItemRemove: function(value) {
        $.ajax({
          url: '<%= disconnect_following_objects_path(format: :json) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'following', items_list: [value] }
        });
      }
    });
  });
</script>
