<script>
  $(document).ready(function(e){
    var xhr;
    var select_hives, $select_hives;
    var select_pockets, $select_pockets;
    var selected_pocket;
    var selected_groups;
    var $selected_group = $("#select_friends_and_groups").selectize();
    var selectize = $selected_group[0].selectize;

    if ($selected_group && $selected_group.length) {
      selectize  = $selected_group[0].selectize;
      var group = selectize.items;
      var str = group[0];
      var patt = new RegExp("Group");
      var res = patt.test(str);
      if (res) {
        selected_groups = group;
      }
      else
      {
        selected_groups = [];
      }
    }

    var action = '<%= params[:action] %>';
    $select_hives = $('select#<%= object.class.name.downcase %>_hives').selectize({
      valueField: 'kind_id',
      labelField: 'name',
      searchField: 'name',
      //sortField: 'name',
      persist: true,
      plugins: ['remove_button'],
      render: {
        item: function(item, escape) {
          return '<div class="item"><span class="label label-info">Hive</span>' + escape(item['name']) + '</div>';
        },
        option: function(item, escape) {
          return '<div class="option">' + escape(item['name']) + '</div>';
        },
        option_create: function(data, escape) {
          return '<div class="create">Add new Hive: <strong>' + escape(data.input) + '</strong>&hellip;</div>';
        }
      },
      create: function(input) {
        if (input.length > 2) {
          var hive = { name: input, kind_id: null };
          $.ajax({
            url: '<%= hives_path %>',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: { hive: { title: input}, select_friends_and_groups: selected_groups }
          }).done(function (data) {
            //JSON response: views/api/v1/hives/show.json
            hive.kind_id = 'Hive-' + data.response.id;
          });
          return hive;
        } else {
          alert('Hive name too short.');
          return false;
        }

      },
      onItemAdd: function(value, $item) {
        $.ajax({
          url: '<%= connect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'follower', items_list: [value] }
        });

        if (!value.length || !$select_pockets.length) return;
        // this condition only for new action
        if (action != 'edit' && action != 'update') {
          select_pockets.disable();
          select_pockets.clearOptions();
        }
        select_pockets.load(function(callback) {
          xhr && xhr.abort();
          xhr = $.ajax({
            url: '<%= following_pockets_hives_path(format: :json) %>',
            beforeSend: function(xhr, settings) {
              var selHives = getSelectedHives();
              settings.url += "?hives[]="+ selHives.items;
            },
            success: function(results) {
              select_pockets.enable();
              callback(results);
            },
            error: function() {
              callback();
            }
          })
        });

        // when select hive, set hive default permission to tip
        xhr = fetchHivePermissions();
      },
      onItemRemove: function(value) {
        $.ajax({
          url: '<%= disconnect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'follower', items_list: [value] }
        });

        if (!value.length || !$select_pockets.length) return;
        // this condition only for new action
        if (action != 'edit' && action != 'update') {
          select_pockets.disable();
          select_pockets.clearOptions();
        }
        select_pockets.load(function(callback) {
          xhr && xhr.abort();
          xhr = $.ajax({
            url: '<%= following_pockets_hives_path(format: :json) %>',
            beforeSend: function(xhr, settings) {
              var selHives = getSelectedHives();
              settings.url += "?hives[]="+ selHives.items;
            },
            success: function(results) {
              select_pockets.enable();
              callback(results);
            },
            error: function() {
              callback();
            }
          })
        });

        // when remove hive, set hive default permission to tip
        xhr = fetchHivePermissions();
      }

    });

    $select_pockets = $('select#<%= object.class.name.downcase %>_pockets').selectize({
      optgroupField: 'title',
      optgroupLabelField: 'title',
      valueField: 'kind_id',
      labelField: 'name',
      searchField: 'name',
      sortField: 'name',
      persist: true,
      plugins: ['remove_button'],
      render: {
        item: function(item, escape) {
          return '<div class="item"><span class="label label-info">Pocket</span>' + escape(item['name']) + '</div>';
        },
        option: function(item, escape) {
          return '<div class="option">' + escape(item['name']) + '</div>';
        },
        optgroup_header: function(item, escape) {
          return '<div class="optgroup-header">' + escape(item['title']) + '</div>';
        },
        option_create: function(data, escape) {
          return '<div class="create">Add new Pocket: <strong>' + escape(data.input) + '</strong>&hellip;</div>';
        }
      },
      create: function(input) {
        if (input.length > 2) {
          var pocket = { name: input, kind_id: null };
          $.ajax({
            url: '<%= pockets_path %>',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: { pocket: { title: input }, 'hives[]': $('select#<%= object.class.name.downcase %>_hives').val() }
          }).done(function (data) {
            //JSON response: views/api/v1/pockets/show.json
            pocket.kind_id = 'Pocket-' + data.response.id;
          });
          return pocket;
        } else {
          alert('Pocket name too short.');
          return false;
        }
      },
      onItemAdd: function(value, $item) {
        $.ajax({
          url: '<%= connect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'follower', items_list: [value] }
        });
      },
      onItemRemove: function(value) {
        $.ajax({
          url: '<%= disconnect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'follower', items_list: [value] }
        });
      }
    });

    if ($select_pockets && $select_pockets.length) {
      select_pockets  = $select_pockets[0].selectize;
      selected_pocket = select_pockets.items;
    }

    if ($select_hives && $select_hives.length) {
      select_hives = $select_hives[0].selectize;
      // show only selected hive pockets
      if ((select_hives.items.length > 0) && (action != 'edit' && action != 'update')) {
        if (!selected_pocket.length > 0) {
          select_pockets.disable();
          select_pockets.clearOptions();
        }
        select_pockets.load(function(callback) {
          xhr && xhr.abort();
          xhr = $.ajax({
            url: '<%= following_pockets_hives_path(format: :json) %>',
            beforeSend: function(xhr, settings) {
              var selHives = getSelectedHives();
              settings.url += "?hives[]="+ selHives.items;
            },
            success: function(results) {
              select_pockets.enable();
              callback(results);
              select_pockets.addItem(selected_pocket);
            },
            error: function() {
              callback();
            }
          });
        });

        // set default permission to tip, If hive already selected
        xhr = fetchHivePermissions();
      }
    }

    function fetchHivePermissions() {
      return $.ajax({
        url: '<%= share_type_permission_path(format: :json) %>',
        beforeSend: function(xhr, settings) {
          var selHives = getSelectedHives();
          settings.url += "?hives[]="+ selHives.items;
        },
        success: function(res) {
          if (res[0]) {
            setShareTab(res[0].name);
          }
        },
        error: function() {

        }
      });
    }

    // get selected hives
    function getSelectedHives() {
      if ($select_hives && $select_hives.length) {
        select_hives = $select_hives[0].selectize;
      }
      return select_hives;
    }

    // set radio button type based on permission type
    function setShareTab(name){
      if (name == 'select_friends') {
        $('input[id="<%= object.class.name.downcase %>_is_private"]').bootstrapSwitch('state', false, false);
        $('#friends_and_group_select_box').removeClass('hide');

        xhr = $.ajax({
          url: '<%= hives_following_users_and_groups_path(format: :js) %>',
          beforeSend: function(xhr, settings) {
            var selHives = getSelectedHives();
            var object = "<%= object.new_record? ? object.class.name : object.kind_id %>";
            var inline_object = "<%= inline_object.present? ? inline_object : '' %>";

            settings.url += "?hives[]="+ selHives.items;

            if ((object == 'Tip' || object == 'Question') && inline_object == 'inline_form') {
              settings.url += "&object[]=" + object + "&inline_object=" + inline_object ;
            } else if (object == 'Tip' || object == 'Question') {
              settings.url += "&object[]=" + object ;
            } else {
              settings.url += "&object[]=" + object + "&edit=" + 'edit';
            }
          },
          success: function(results) {

          },
          error: function() {

          }
        });
      }

      if (name == 'private') {
        $('input[id="<%= object.class.name.downcase %>_is_private"]').bootstrapSwitch('state', true, true);

        // If share seting of hive is private then question notify friends field should be private
        $('#notify_friends').bootstrapSwitch('state', false, false);

        // If share setting of hive is private then share? field should be private
        $('#friends_and_group_select_box').addClass('hide')
      }
    }
  });
</script>
