<script>
  $(document).ready(function(e){
    var xhr;
    var select_hives, $select_hives;
    var select_pockets, $select_pockets;
    var selected_pocket;
    var action = '<%= params[:action] %>';
    $select_hives = $('select#<%= object.class.name.downcase %>_hives').selectize({
      valueField: 'kind_id',
      labelField: 'name',
      searchField: 'name',
      //sortField: 'name',
      persist: true,
      plugins: ['remove_button'],
      render: {
        item: function(item, escape) {
          return '<div class="item"><span class="label label-info">Hive</span>' + escape(item['name']) + '</div>';
        },
        option: function(item, escape) {
          return '<div class="option">' + escape(item['name']) + '</div>';
        },
        option_create: function(data, escape) {
          return '<div class="create">Add new Hive: <strong>' + escape(data.input) + '</strong>&hellip;</div>';
        }
      },
      create: function(input) {
        if (input.length > 2) {
          var hive = { name: input, kind_id: null };
          $.ajax({
            url: '<%= hives_path %>',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: { hive: { title: input } }
          }).done(function (data) {
            hive.kind_id = 'Hive-' + data.id;
          });
          return hive;
        } else {
          alert('Hive name too short.');
          return false;
        }
      },
      onItemAdd: function(value, $item) {
        $.ajax({
          url: '<%= connect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'follower', items_list: [value] }
        });

        if (!value.length || !$select_pockets.length) return;
        // this condition only for new action
        if (action == 'new'){
          select_pockets.disable();
          select_pockets.clearOptions();
        }
        select_pockets.load(function(callback) {
          xhr && xhr.abort();
          xhr = $.ajax({
            url: '<%= following_pockets_hives_path(format: :json) %>',
            beforeSend: function(xhr, settings) {
              var selHives = getSelectedHives();
              settings.url += "?hives[]="+ selHives.items;
            },
            success: function(results) {
              select_pockets.enable();
              callback(results);
            },
            error: function() {
              callback();
            }
          })
        });
      },
      onItemRemove: function(value) {
        $.ajax({
          url: '<%= disconnect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'follower', items_list: [value] }
        });

        if (!value.length || !$select_pockets.length) return;
        // this condition only for new action
        if (action == 'new'){
          select_pockets.disable();
          select_pockets.clearOptions();
        }
        select_pockets.load(function(callback) {
          xhr && xhr.abort();
          xhr = $.ajax({
            url: '<%= following_pockets_hives_path(format: :json) %>',
            beforeSend: function(xhr, settings) {
              var selHives = getSelectedHives();
              settings.url += "?hives[]="+ selHives.items;
            },
            success: function(results) {
              select_pockets.enable();
              callback(results);
            },
            error: function() {
              callback();
            }
          })
        });
      }

    });


    $select_pockets = $('select#<%= object.class.name.downcase %>_pockets').selectize({
      optgroupField: 'title',
      optgroupLabelField: 'title',
      valueField: 'kind_id',
      labelField: 'name',
      searchField: 'name',
      sortField: 'name',
      persist: true,
      plugins: ['remove_button'],
      render: {
        item: function(item, escape) {
          return '<div class="item"><span class="label label-info">Pocket</span>' + escape(item['name']) + '</div>';
        },
        option: function(item, escape) {
          return '<div class="option">' + escape(item['name']) + '</div>';
        },
        optgroup_header: function(item, escape) {
          return '<div class="optgroup-header">' + escape(item['title']) + '</div>';
        },
        option_create: function(data, escape) {
          return '<div class="create">Add new Pocket: <strong>' + escape(data.input) + '</strong>&hellip;</div>';
        }
      },
      create: function(input) {
        if (input.length > 2) {
          var pocket = { name: input, kind_id: null };
          $.ajax({
            url: '<%= pockets_path %>',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: { pocket: { title: input }, 'hives[]': $('select#<%= object.class.name.downcase %>_hives').val() }
          }).done(function (data) {
            pocket.kind_id = 'Pocket-' + data.id;
          });
          return pocket;
        } else {
          alert('Pocket name too short.');
          return false;
        }
      },
      onItemAdd: function(value, $item) {
        $.ajax({
          url: '<%= connect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'follower', items_list: [value] }
        });
      },
      onItemRemove: function(value) {
        $.ajax({
          url: '<%= disconnect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'follower', items_list: [value] }
        });
      }
    });

    if ($select_pockets && $select_pockets.length) {
      select_pockets  = $select_pockets[0].selectize;
      selected_pocket = select_pockets.items;
    }

    if ($select_hives && $select_hives.length) {
      select_hives = $select_hives[0].selectize;
      // show only selected hive pockets
      if ((select_hives.items.length > 0) && (action == 'new')) {
        if (!selected_pocket.length > 0) {
          select_pockets.disable();
          select_pockets.clearOptions();
        }
        select_pockets.load(function(callback) {
          xhr && xhr.abort();
          xhr = $.ajax({
            url: '<%= following_pockets_hives_path(format: :json) %>',
            beforeSend: function(xhr, settings) {
              var selHives = getSelectedHives();
              settings.url += "?hives[]="+ selHives.items;
            },
            success: function(results) {
              select_pockets.enable();
              callback(results);
              select_pockets.addItem(selected_pocket);
            },
            error: function() {
              callback();
            }
          });
        });
      }
    }
    // get selected hives
    function getSelectedHives(){
      if ($select_hives && $select_hives.length) {
        select_hives = $select_hives[0].selectize;
      }
      return select_hives;
    }
    // select_pockets.disable();
  });
</script>
