<script>
  $(document).ready(function(e){
    var xhr;
    var select_hives, $select_hives;
    var action = '<%= params[:action] %>';
    $select_hives = $('select#<%= object.class.name.downcase %>_hives').selectize({
      valueField: 'kind_id',
      labelField: 'name',
      searchField: 'name',
      //sortField: 'name',
      persist: true,
      plugins: ['remove_button'],
      render: {
        item: function(item, escape) {
          return '<div class="item"><span class="label label-info">Hive</span>' + escape(item['name']) + '</div>';
        },
        option: function(item, escape) {
          return '<div class="option">' + escape(item['name']) + '</div>';
        },
        option_create: function(data, escape) {
          return '<div class="create">Add new Hive: <strong>' + escape(data.input) + '</strong>&hellip;</div>';
        }
      },
      create: function(input) {
        if (input.length > 2) {
          var hive = { name: input, kind_id: null };
          $.ajax({
            url: '<%= hives_path %>',
            type: 'POST',
            async: false,
            dataType: 'json',
            data: { hive: { title: input } }
          }).done(function (data) {
            hive.kind_id = 'Hive-' + data.id;
          });
          return hive;
        } else {
          alert('Hive name too short.');
          return false;
        }
      },
      onItemAdd: function(value, $item) {
        $.ajax({
          url: '<%= connect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'follower', items_list: [value] }
        });

        if (!value.length) return;
        // when select hive, set hive default permission to pocket
        xhr = $.ajax({
          url: '<%= share_type_permission_path(format: :json) %>',
          beforeSend: function(xhr, settings) {
            var selHives = getSelectedHives();
            settings.url += "?hives[]="+ selHives.items;
          },
          success: function(res) {
            setShareTab(res[0].name);
          },
          error: function() {
          }
        });
      },
      onItemRemove: function(value) {
        $.ajax({
          url: '<%= disconnect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'follower', items_list: [value] }
        });

        if (!value.length ) return;

        // when remove hive, set hive default permission to pocket
        xhr = $.ajax({
          url: '<%= share_type_permission_path(format: :json) %>',
          beforeSend: function(xhr, settings) {
            var selHives = getSelectedHives();
            settings.url += "?hives[]="+ selHives.items;
          },
          success: function(res) {
            if (res[0]) {
              setShareTab(res[0].name);
            }
          },
          error: function() {
          }
        });
      }

    });

    if ($select_hives && $select_hives.length) {
      select_hives = $select_hives[0].selectize;
      // show only selected hive
      if ((select_hives.items.length > 0) && (action != 'edit' && action != 'update')) {
        xhr && xhr.abort();
        xhr = $.ajax({
          url: '<%= following_pockets_hives_path(format: :json) %>',
          beforeSend: function(xhr, settings) {
            var selHives = getSelectedHives();
            settings.url += "?hives[]="+ selHives.items;
          },
          error: function() {
            callback();
          }
        });

        // set default permission to pocket, If hive already selected
        xhr = $.ajax({
          url: '<%= share_type_permission_path(format: :json) %>',
          beforeSend: function(xhr, settings) {
            var selHives = getSelectedHives();
            settings.url += "?hives[]="+ selHives.items;
          },
          success: function(res) {
            if (res[0]) {
              setShareTab(res[0].name);
            }
          },
          error: function() {
          }
        });
      }


    }
    // get selected hives
    function getSelectedHives(){
      if ($select_hives && $select_hives.length) {
        select_hives = $select_hives[0].selectize;
      }
      return select_hives;
    }

    // set radio button type based on permission type
    function setShareTab(name){
      if (name == 'select_friends') {
        $('input[id="<%= object.class.name.downcase %>_is_private"]').bootstrapSwitch('state', false, false);
        $('#friends_and_group_select_box').removeClass('hide');
        xhr = $.ajax({
          url: '<%= hives_following_users_and_groups_path(format: :js) %>',
          beforeSend: function(xhr, settings) {
            var selHives = getSelectedHives();
            var object = "<%= object.new_record? ? object.class.name : object.kind_id %>"
            settings.url += "?hives[]="+ selHives.items;
            if (object == 'Pocket') {
              settings.url += "&object[]=" + object;
            }
            else {
              settings.url += "&object[]=" + object + "&edit=" + 'edit';
            }

          },
          success: function(results) {

          },
          error: function() {
          }
        });
      }
      if (name == 'private') {
        $('input[id="<%= object.class.name.downcase %>_is_private"]').bootstrapSwitch('state', true, true);
        $('#friends_and_group_select_box').addClass('hide')
        $('.save-disable').show();
      }
    }
  });
</script>
