<script>
  $(document).ready(function (e) {
    // instantiate the bloodhound suggestion engine
    var hive_suggest_results = new Bloodhound({
      datumTokenizer: function (d) {
        return Bloodhound.tokenizers.whitespace(d.value);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      limit: 10,
      remote: {
        url: '<%= search_hives_path(format: :json) %>?q=%QUERY',
        filter: function (results) {
          return $.map(results, function (result) {
            return {
              value: result.value,
              slug: result.slug,
              description: result.description,
              url: result.url,
              kind: result.class_name,
              thumb_url: result.thumb_url
            };
          });
        }
      }
    });

    // initialize the bloodhound suggestion engine
    hive_suggest_results.initialize();

    // instantiate the typeahead UI
    $('#new_hive').find('#hive_title').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    }, {
      displayKey: 'value',
      source: hive_suggest_results.ttAdapter(),
      templates: {
        empty: [
          '<div class="empty-result">',
          'No result',
          '</div>'
        ].join('\n'),
        suggestion: Handlebars.compile('<%= j(render('search/hive_suggest_result')) %>')
      }
    }/* more data sets if needed */);
  });
</script>
