<div class="media">
  <a class="pull-left" href="{{url}}">
    <img class="media-object" src="{{thumb_url}}">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="/groups/{{slug}}/request_invite" data-remote="true">{{value}}</a>
      <a href="/groups/{{slug}}/request_invite" class="btn btn-success btn-xs pull-right" data-remote="true">Get Invite</a>
    </h4>
    <p class="small"><span class="label label-info">{{kind}}</span> {{description}}</p>
  </div>
</div>
