<script>
  $(document).ready(function (e) {
    // instantiate the bloodhound suggestion engine
    var invitable_groups_search_results = new Bloodhound({
      datumTokenizer: function (d) {
        return Bloodhound.tokenizers.whitespace(d.value);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      limit: 10,
      remote: {
        url: '<%= search_invitable_groups_path(format: :json) %>?q=%QUERY&group_type=<%= group_type %>',
        filter: function (results) {
          return $.map(results, function (result) {
            return {
              value: result.value,
              description: result.description,
              url: result.url,
              kind: result.class_name,
              thumb_url: result.thumb_url,
              slug: result.slug
            };
          });
        }
      }
    });

    // initialize the bloodhound suggestion engine
    invitable_groups_search_results.initialize();

    // instantiate the typeahead UI
    $('#home-search-input').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    }, {
      displayKey: 'value',
      source: invitable_groups_search_results.ttAdapter(),
      templates: {
        empty: [
          '<div class="empty-result">',
          'No result',
          '</div>'
          <% if group_type == 'university' %>,
          '<div class="no-result-suggestion">',
          'Your university not here yet? Tell us to add it. Click ',
          '<a href="http://about.tiphive.com/add-your-university.html" target="_blank">here</a>',
          '</div>'
          <% end %>
          <% if group_type == 'enterprise' %>,
          '<div class="no-result-suggestion">',
          'Your company not here yet? Tell us to add it. Click ',
          '<a href="http://about.tiphive.com/add-your-company.html" target="_blank">here</a>',
          '</div>'
          <% end %>
        ].join('\n'),
        suggestion: Handlebars.compile('<%= j(render('search/home_search_result')) %>')
      }
    }/* more data sets if needed */);
  });
</script>
