<script>
  $(document).ready(function (e) {
    // instantiate the bloodhound suggestion engine
    var pocket_suggest_results = new Bloodhound({
      datumTokenizer: function (d) {
        return Bloodhound.tokenizers.whitespace(d.value);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      limit: 10,
      remote: {
        url: '<%= search_pockets_path(format: :json) %>?q=%QUERY',
        ajax: {
          beforeSend: function(xhr, settings) {
            settings.url += "&hives[]="+ $('select#<%= object.class.name.downcase %>_hives').val();
          }
        },
        filter: function (results) {
          return $.map(results, function (result) {
            return {
              value: result.value,
              slug: result.slug,
              description: result.description,
              url: result.url,
              kind: result.class_name,
              thumb_url: result.thumb_url
            };
          });
        }
      }
    });

    // initialize the bloodhound suggestion engine
    pocket_suggest_results.initialize();
    pocket_suggest_results.clear();
    pocket_suggest_results.clearRemoteCache();
    // instantiate the typeahead UI
    $('#pocket_title').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    }, {
      displayKey: 'value',
      source: pocket_suggest_results.ttAdapter(),
      templates: {
        empty: [
          '<div class="empty-result">',
          'No result',
          '</div>'
        ].join('\n'),
        suggestion: Handlebars.compile('<%= j(render('search/pocket_suggest_result')) %>')
      }
    }/* more data sets if needed */);

  });
</script>
