<div class="media">
  <a class="pull-left" href="{{url}}">
    <img class="media-object" src="{{thumb_url}}">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{url}}">{{value}}</a>
      <a href="/pockets/{{slug}}/join" class="btn btn-success btn-xs pull-right">Join existing Pocket?</a>
    </h4>
    <p class="small"><span class="label label-info">{{kind}}</span> {{description}}</p>
  </div>
</div>
