<div class="media">
  <a class="pull-left" href="{{url}}">
    <img class="media-object" src="{{thumb_url}}">
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <a href="{{url}}">{{value}}</a>
      <small class="small">{{{extra_description}}}</small>
    </h4>
    <p class="small"><span class="label label-info">{{kind}}</span> {{{description}}}</p>
  </div>
</div>
