- url = url_for(search_item)
- title = search_item.title
- class_name = search_item.class.name
.item.search-item.panel.panel-default{id: "search-item-#{search_item.id}"}
  .media
    %a.pull-left{:href => url}
      - if %w(Hive Pocket Group).include?(class_name)
        - if search_item.background_image.present?
          %img.media-object.img-rounded{:alt => title, :src => search_item.background_image.small.url}
        - else
          %img.media-object.img-rounded{:alt => title, :src => image_path('pockets-no-images.png')}
      - elsif %w(User).include?(class_name)
        %img.media-object.img-rounded{:alt => title, :src => search_item.avatar.medium.url}
      - elsif %w(Tip).include?(class_name)
        - if search_item.pictures.count > 0
          %img.media-object.img-rounded{:alt => title, :src => search_item.pictures.first.image.small.url}
        - else
          %img.media-object.img-rounded{:alt => title, :src => image_path('pockets-no-images.png')}
      - else
        %img.media-object.img-rounded{:alt => title, :src => image_path('pockets-no-images.png')}
    .media-body
      .panel-body
        %h4.media-heading
          = link_to title, url
          .pull-right
            - if %w(Hive Pocket).include?(class_name)
              %small Tips:
              %span.badge.badge-primary= search_item.tip_followers_count.count
            - elsif %w(User Group).include?(class_name)
              %small Tips:
              %span.badge.badge-primary= search_item.following_tips_count
          %p
            %span.label.label-info= search_item.class.name
          - if %w(Tip).include?(class_name)
            %small.text-muted= "#{hives_title(search_item)} / #{pockets_title(search_item)}".html_safe
          - elsif %w(Pocket).include?(class_name)
            %small.text-muted= "#{hives_title(search_item)}".html_safe

        - if %w(Hive Pocket Group Tip).include?(class_name)
          %p= truncate(filter_display_text(search_item.description), length: 150)
