<% if params[:auth] == 'facebook' %>
  <div class="media">
    <a class="pull-left" href="<%=search_social_friends_path%>?uid={{uid}}" data-remote= true >
      <img class="media-object img-circle" src="https://graph.facebook.com/{{uid}}/picture?type=square">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="<%=search_social_friends_path%>?uid={{uid}}" data-remote= true>{{name}}</a>
      </h4>
    </div>
  </div>

<% elsif params[:auth] == 'google_oauth2'%>
  <div class="media">
    <a class="pull-left" href="<%=search_social_friends_path%>?email={{email}}" data-remote= true >
      <img class="media-object img-circle" src="<%= ENV['AVATAR_HOST'] %>/33/f2af1f/ffffff.png&text=T">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <a href="<%=search_social_friends_path%>?email={{email}}" data-remote= true>{{email}}</a>
      </h4>
    </div>
  </div>
<% end %>
