<script>
  $(document).ready(function (e) {
    // instantiate the bloodhound suggestion engine
    var search_results = new Bloodhound({
      datumTokenizer: function (d) {
        return Bloodhound.tokenizers.whitespace(d.value);
      },
      queryTokenizer: Bloodhound.tokenizers.whitespace,
      limit: 10,
      remote: {
        url: '<%= search_social_friends_path(format: :json) %>?q=%QUERY',
        ajax : {
          beforeSend: function(jqXhr, settings){
            settings.url += "&type="+ "<%= type %>"
          }
        },
        filter: function (results) {
          return $.map(results, function (result) {
            return {
              name: result.name,
              uid: result.uid,
              provider: result.provider,
              email: result.email
            }
          });
        }
      }
    });

    // initialize the bloodhound suggestion engine
    search_results.initialize();

    // instantiate the typeahead UI
    $('#social-friends-search-input').typeahead({
      hint: true,
      highlight: true,
      minLength: 1
    }, {
      displayKey: 'name',
      source: search_results.ttAdapter(),
      templates: {
        empty: [
          '<div class="empty-result">',
          'No result',
          '</div>'
        ].join('\n'),
        suggestion: Handlebars.compile('<%= j(render('search/social_search_result')) %>')
      }
    });

  });
</script>
