= select_tag 'select_tips[]', options_from_collection_for_select(existing_tips, :kind_id, :name, defined?(selected_tips) && selected_tips.present? ? selected_tips.map{|h| h.kind_id } : nil), placeholder: "#{defined?(placeholder) ? placeholder : 'Type name of tips'}", id: 'select_tips', class: 'form-control', multiple: 'multiple'

= render 'search/tips_select_script', object: object
