<script>
  $(document).ready(function(e){
    var select_tips, $select_tips;
    $select_tips = $('select#select_tips').selectize({
      valueField: 'kind_id',
      labelField: 'name',
      searchField: 'name',
      sortField: 'name',
      persist: true,
      create: false,
      plugins: ['remove_button'],
      preload: 'focus',
      render: {
        item: function(item, escape) {
          return '<div class="item"><span class="label label-info">' + escape(item['kind_id'].split('-')[0]) + '</span>' + escape(item['name']) + '</div>';
        },
        option: function(item, escape) {
          return '<div class="option"><span class="label label-default">' + escape(item['kind_id'].split('-')[0]) + '</span>' + escape(item['name']) + '</div>';
        }
      },
      load: function(query, callback) {
        if (!query.length) {
          query = '';
        }
        $.ajax({
          url: '<%= user_following_tips_path(format: :json) %>',
          type: 'GET',
          dataType: 'json',
          data: {
            q: query,
            type: 'without_friend_lists'
          },
          error: function() {
            callback();
          },
          success: function(res) {
            callback(res);
          }
        });
      },
      onItemAdd: function(value, $item) {
        $.ajax({
          url: '<%= connect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'following', items_list: [value] }
        });
      },
      onItemRemove: function(value) {
        $.ajax({
          url: '<%= disconnect_following_objects_path(format: :js) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'following', items_list: [value] }
        });
      }
    });

    function getSelectedTips(){
      if ($select_tips && $select_tips.length) {
        select_tips = $select_tips[0].selectize;
      }
      return select_tips;
    }

    $('#close').click(function(){
      var tips = getSelectedTips();
      if (tips.items.length > 0)  {
        window.location.href = '<%= question_path(object) %>'
      }
    });
  });
</script>
