<% if params[:inline_object].present? %>
  $('#inline_form_friends_and_groups').html('<%= j(render('search/friends_and_groups_select_for_sharing', object: @object, selected_friends_and_groups: @selected_friends_and_groups)) %>');
<% else %>
  $('#friends_and_group').html('<%= j(render('search/friends_and_groups_select_for_sharing', object: @object, selected_friends_and_groups: @selected_friends_and_groups)) %>');
<% end %>
