= content_for :title_bar do
  = render 'shared/title_bars/search_title'

= content_for :filter_bar do
  = render 'shared/filter_bars/search_filter'

- if @search.total == 0
  %p Sorry, we couldn't find any results for this search.
- else
  %p Found <strong>#{@search.total}</strong> #{@search.total > 1 ? 'results' : 'result' }.

-# - if params[:type] == 'All'
-#   .container.search-items-container.infinite-container#search-items-container
-#     - @results.each do |search_item|
-#       = render 'search/search_item', search_item: search_item
-#     .clearfix

- if params[:type] == 'Tip'
  .container-fluid.tips-container#tips-container
    - @results.each do |tip|
      = render 'tips/tip', tip: tip
    .clearfix

- if params[:type] == 'Hive'
  .container-fluid#hives-container
    - @results.each do |hive|
      = render 'hives/hive', hive: hive
    .clearfix

- if params[:type] == 'Pocket'
  .container-fluid#pockets-container
    - @results.each do |pocket|
      = render 'pockets/pocket', pocket: pocket
    .clearfix

- if params[:type] == 'User'
  .container-fluid#friends-container
    - @results.each do |friend|
      = render 'users/friend', friend: friend
    .clearfix

- if params[:type] == 'Group'
  .container-fluid#groups-container
    - @results.each do |group|
      = render 'groups/group', group: group
    .clearfix

.loader#loading
.hide#pagination-wrapper
  = paginate @results
