<% if params[:uid] %>
  $('#facebook').html('<%= j(render('users/add_friends_modules/search_facebook_friends', contacts: @contacts)) %>');
<% elsif params[:email] %>
  $('#google').html('<%= j(render('users/add_friends_modules/search_google_friends', contacts: @contacts)) %>');
<% end %>
