#tabs-bar-anchor
#tabs-bar
  .tab-bar.border-right
    %a{href: root_path(where: 'school'), class: params[:where] == 'school' ? 'active' : nil, data: {remote: true}}
      %span My School
  .tab-bar.border-right
    %a{href: root_path(where: 'company'), class: params[:where] == 'company' ? 'active' : nil, data: {remote: true}}
      %span My Company
  .tab-bar
    %a{href: root_path(where: 'life'), class: params[:where] == 'life' ? 'active' : nil, data: {remote: true}}
      %span My Life
  .clearfix

= render "home/sections/my_#{params[:where]}" if %w(school company life).include?(params[:where])

#join-now
  = render 'home/sections/join_now'

= render 'home/sections/home_content_script'
