.join-title#join-title
  Join TipHive Now!
  = image_tag 'home/icon-tiphive.png', class: 'text-icon'

.col-md-4.col-md-offset-4
  - if %w(school company).include?(params[:where])
    %form{role: 'search', action: "/search_invitable_groups?group_type=#{params[:where] == 'school' ? 'university' : 'enterprise'}"}
      .form-group
        %input.input-lg.form-control{placeholder: "Find your #{params[:where] == 'school' ? 'University' : 'Company'} to Get Invite", type: 'text', name: 'q', id: 'home-search-input', class: 'top-search search-input', autocomplete: 'off'}
  %form{role: 'get-invite', action: '/system_invitation', method: :post}
    .form-group
      %input.input-lg.form-control{placeholder: 'Type your Email Address to Get Invite', type: 'email', require: true, name: 'email', id: 'home-email-input', class: 'top-search email-input', autocomplete: 'off'}
    .form-group
      %input{type: 'submit', class: 'btn btn-secondary btn-lg', value: 'Join now', id: 'join-submit'}

= render 'search/home_search_script', group_type: params[:where] == 'school' ? 'university' : 'enterprise'
