#home-header
  .home-title.fnt-holtwood Welcome To TipHive.
  .header-line
  .home-slogan.fnt-helvetica-light All you need to know from who you know.

#header-1.one-third-section
  .one-third-title My School
  = image_tag 'home/school-cells.png', class: 'cell-image'
  .one-third-actions
    = link_to 'Learn More', root_path(where: 'school', do: 'learn-more'), class: 'btn btn-transparent fnt-helvetica-neue-light', data: {remote: true}
    = link_to 'Get Started', root_path(where: 'school', do: 'get-started'), class: 'btn btn-secondary fnt-helvetica-neue-light', data: {remote: true}
#header-2.one-third-section
  .one-third-title My Company
  = image_tag 'home/company-cells.png', class: 'cell-image'
  .one-third-actions
    = link_to 'Learn More', root_path(where: 'company', do: 'learn-more'), class: 'btn btn-transparent fnt-helvetica-neue-light', data: {remote: true}
    = link_to 'Get Started', root_path(where: 'company', do: 'get-started'), class: 'btn btn-secondary fnt-helvetica-neue-light', data: {remote: true}
#header-3.one-third-section
  .one-third-title My Life
  = image_tag 'home/life-cells.png', class: 'cell-image'
  .one-third-actions
    = link_to 'Learn More', root_path(where: 'life', do: 'learn-more'), class: 'btn btn-transparent fnt-helvetica-neue-light', data: {remote: true}
    = link_to 'Get Started', root_path(where: 'life', do: 'get-started'), class: 'btn btn-secondary fnt-helvetica-neue-light', data: {remote: true}

.clearfix
