#home-promo-sm.fnt-helvetica-neue-light
  Introducing the only
  %strong one-stop
  destination for searching and sharing must-have information.
#home-promo-lg TipHive. Be in the know.
#home-promo-md
  And share it.
  = image_tag 'home/icon-tiphive.png', class: 'text-icon'
