#slides
  #slide-top.carousel.slide

    .carousel-inner{role: 'listbox'}

      .item.active#item-7{data: {'item-id' => '7'}}
        .image-top#image-7a
          .image-top-caption
            Wherever life takes you, bring your most trusted
            %br
            network of insight along.
          .image-top-actions
            = link_to 'Get Started', 'javascript:void(0)', class: 'btn btn-secondary btn-get-started'
          .image-cell#cell-7
            = image_tag 'home/cell-festival.png'
        .item-text
          .text-header#text-header-7
            Be in the know
            %span when moving in
            %i.glyphicon.glyphicon-chevron-down
          .text-slogan#text-slogan-7
            Search anything. Share with everyone. Store it all in one place.
        .image-bottom#image-7b
          .image-left
            .image-left-header
              Tips for
              %br
              %span Moving to NYC
            .title-break
            = image_tag 'home/tips-getting-around.png', id: 'tips-7'
          .image-right
            = image_tag 'home/tip-detail-getting-around.png', id: 'tip-detail-7'
          .clearfix

      .item#item-8{data: {'item-id' => '8'}}
        .image-top#image-8a
          .image-top-caption
            Wherever life takes you, bring your most trusted
            %br
            network of insight along.
          .image-top-actions
            = link_to 'Get Started', 'javascript:void(0)', class: 'btn btn-secondary btn-get-started'
          .image-cell#cell-8
            = image_tag 'home/cell-lens.png'
        .item-text
          .text-header#text-header-8
            Be in the know
            %span about photography
            %i.glyphicon.glyphicon-chevron-down
          .text-slogan#text-slogan-8
            Search anything. Share with everyone. Store it all in one place.
        .image-bottom#image-8b
          .image-left
            .image-left-header
              Tips for
              %br
              %span Taking a Photography Class
            .title-break
            = image_tag 'home/tips-cameras.png', id: 'tips-8'
          .image-right
            = image_tag 'home/tip-detail-lenses.png', id: 'tip-detail-8'
          .clearfix

      .item#item-9{data: {'item-id' => '9'}}
        .image-top#image-9a
          .image-top-caption
            Wherever life takes you, bring your most trusted
            %br
            network of insight along.
          .image-top-actions
            = link_to 'Get Started', 'javascript:void(0)', class: 'btn btn-secondary btn-get-started'
          .image-cell#cell-9
            = image_tag 'home/cell-hiking.png'
        .item-text
          .text-header#text-header-9
            Be in the know
            %span while traveling
            %i.glyphicon.glyphicon-chevron-down
          .text-slogan#text-slogan-9
            Search anything. Share with everyone. Store it all in one place.
        .image-bottom#image-9b
          .image-left
            .image-left-header
              Tips for
              %br
              %span Traveling to Germany
            .title-break
            = image_tag 'home/tips-shopping.png', id: 'tips-9'
          .image-right
            = image_tag 'home/tip-detail-shopping.png', id: 'tip-detail-9'
          .clearfix

    = render 'home/sections/slide_controls'
