#slides
  #slide-top.carousel.slide

    .carousel-inner{role: 'listbox'}

      .item.active#item-1{data: {'item-id' => '1'}}
        .image-top#image-1a
          .image-top-caption
            Take the guesswork out of schoolwork by exchanging
            %br
            all you need to know with those in the know.
          .image-top-actions
            = link_to 'Get Started', 'javascript:void(0)', class: 'btn btn-secondary btn-get-started'
          .image-cell#cell-1
            = image_tag 'home/cell-orientation.png'
        .item-text
          .text-header#text-header-1
            Be in the know
            %span when moving in
            %i.glyphicon.glyphicon-chevron-down
          .text-slogan#text-slogan-1
            Search anything. Share with everyone. Store it all in one place.
        .image-bottom#image-1b
          .image-left
            .image-left-header
              Tips About
              %br
              %span Being a New Student
            .title-break
            = image_tag 'home/tips-first-apartment.png', id: 'tips-1'
          .image-right
            = image_tag 'home/tip-detail-first-apartment.png', id: 'tip-detail-1'
          .clearfix

      .item#item-2{data: {'item-id' => '2'}}
        .image-top#image-2a
          .image-top-caption
            Take the guesswork out of schoolwork by exchanging
            %br
            all you need to know with those in the know.
          .image-top-actions
            = link_to 'Get Started', 'javascript:void(0)', class: 'btn btn-secondary btn-get-started'
          .image-cell#cell-2
            = image_tag 'home/cell-safety.png'
        .item-text
          .text-header#text-header-2
            Be in the know
            %span in class
            %i.glyphicon.glyphicon-chevron-down
          .text-slogan#text-slogan-2
            Search anything. Share with everyone. Store it all in one place.
        .image-bottom#image-2b
          .image-left
            .image-left-header
              Tips for
              %br
              %span UCLA Lab Program
            .title-break
            = image_tag 'home/tips-supplementary-reading.png', id: 'tips-2'
          .image-right
            = image_tag 'home/tip-detail-supplementary-reading.png', id: 'tip-detail-2'
          .clearfix

      .item#item-3{data: {'item-id' => '3'}}
        .image-top#image-3a
          .image-top-caption
            Take the guesswork out of schoolwork by exchanging
            %br
            all you need to know with those in the know.
          .image-top-actions
            = link_to 'Get Started', 'javascript:void(0)', class: 'btn btn-secondary btn-get-started'
          .image-cell#cell-3
            = image_tag 'home/cell-firstdate.png'
        .item-text
          .text-header#text-header-3
            Be in the know
            %span while studying abroad
            %i.glyphicon.glyphicon-chevron-down
          .text-slogan#text-slogan-3
            Search anything. Share with everyone. Store it all in one place.
        .image-bottom#image-3b
          .image-left
            .image-left-header
              Tips About
              %br
              %span Studying Abroad
              in Ireland
            .title-break
            = image_tag 'home/tips-must-see.png', id: 'tips-3'
          .image-right
            = image_tag 'home/tip-detail-must-see.png', id: 'tip-detail-3'
          .clearfix

    = render 'home/sections/slide_controls'
