#slides
  #slide-top.carousel.slide

    .carousel-inner{role: 'listbox'}

      .item.active#item-4{data: {'item-id' => '4'}}
        .image-top#image-4a
          .image-top-caption
            Take the work out of your work day by exchanging
            %br
            everything you need with everyone you trust.
          .image-top-actions
            = link_to 'Get Started', 'javascript:void(0)', class: 'btn btn-secondary btn-get-started'
          .image-cell#cell-4
            = image_tag 'home/cell-medications.png'
        .item-text
          .text-header#text-header-4
            Be in the know
            %span in your profession
            %i.glyphicon.glyphicon-chevron-down
          .text-slogan#text-slogan-4
            Safely store, share, search and save all the information
            %br
            you need, all in one place.
        .image-bottom#image-4b
          .image-left
            .image-left-header
              Tips About Being
              %br
              %span a Pharmacist at GHS
            .title-break
            = image_tag 'home/tips-medication.png', id: 'tips-4'
          .image-right
            = image_tag 'home/tip-detail-medication.png', id: 'tip-detail-4'
          .clearfix

      .item#item-5{data: {'item-id' => '5'}}
        .image-top#image-5a
          .image-top-caption
            Take the work out of your work day by exchanging
            %br
            everything you need with everyone you trust.
          .image-top-actions
            = link_to 'Get Started', 'javascript:void(0)', class: 'btn btn-secondary btn-get-started'
          .image-cell#cell-5
            = image_tag 'home/cell-socialmedia.png'
        .item-text
          .text-header#text-header-5
            Be in the know
            %span about marketing
            %i.glyphicon.glyphicon-chevron-down
          .text-slogan#text-slogan-5
            Safely store, share, search and save all the information
            %br
            you need, all in one place.
        .image-bottom#image-5b
          .image-left
            .image-left-header
              Tips About
              %br
              %span being a marketer at FoxFire
            .title-break
            = image_tag 'home/tips-agencies.png', id: 'tips-5'
          .image-right
            = image_tag 'home/tip-detail-agency.png', id: 'tip-detail-5'
          .clearfix

      .item#item-6{data: {'item-id' => '6'}}
        .image-top#image-6a
          .image-top-caption
            Take the work out of your work day by exchanging
            %br
            everything you need with everyone you trust.
          .image-top-actions
            = link_to 'Get Started', 'javascript:void(0)', class: 'btn btn-secondary btn-get-started'
          .image-cell#cell-6
            = image_tag 'home/cell-settingupit.png'
        .item-text
          .text-header#text-header-6
            Be in the know
            %span at your company
            %i.glyphicon.glyphicon-chevron-down
          .text-slogan#text-slogan-6
            Safely store, share, search and save all the information
            %br
            you need, all in one place.
        .image-bottom#image-6b
          .image-left
            .image-left-header
              Tips for Your
              %br
              %span First Day on the Job
            .title-break
            = image_tag 'home/tips-tools.png', id: 'tips-6'
          .image-right
            = image_tag 'home/tip-detail-tools.png', id: 'tip-detail-6'
          .clearfix

    = render 'home/sections/slide_controls'
