%a.left.carousel-control{'data-slide' => 'prev', href: '#slide-top', role: 'button'}
  %span.controls{'aria-hidden' => 'true'}
    = image_tag 'home/icon-chevron-left.png', class: 'controls-left'
    = image_tag 'home/icon-chevron-left.png', class: 'controls-extra-left'
  %span.sr-only Previous
%a.right.carousel-control{'data-slide' => 'next', href: '#slide-top', role: 'button'}
  %span.controls{'aria-hidden' => 'true'}
    = image_tag 'home/icon-chevron-right.png', class: 'controls-right'
    = image_tag 'home/icon-chevron-right.png', class: 'controls-extra-right'
  %span.sr-only Next
