- if group.try(:persisted?)
  %li{class: current_page?(group_questions_path(group)) ? 'active' : nil}
    %a.menu-lg{href: group_questions_path(group, lsb: 1)}
      = image_tag 'icons/icon-questions.png'
      Tips wanted
