= f.hidden_field :picture_ids

.image-upload-actions
  %span.btn.btn-primary.fileinput-button
    %span Upload image
    %input#image-fileupload{ type: 'file', name: 'picture[image]', multiple: 'multiple', class: 'btn btn-primary', data: { url: '/upload_picture' } }
  %span.ajax-loader.hide#ajax-loader

%p Wanted images (you can add multiple images)
.uploaded-images#uploaded-images
  - imageable.pictures.each do |picture|
    = render 'questions/modules/picture', picture: picture

= render 'questions/modules/pictures_script', question: imageable
