<script>
  $('#image-fileupload').fileupload({
    dataType: 'json',
    method: 'POST',
    <% if question.persisted? %>
    formData: [{name: 'question_id', value: '<%= question.id %>'}],
    <% end %>
    add: function (e, data) {
      $('#ajax-loader').removeClass('hide');
      data.submit();
    },
    progressall: function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
    },
    done: function (e, data) {
      $('#ajax-loader').addClass('hide');
      var picture = JSON.parse(data.jqXHR.responseText);
      if (picture.status == 'fail')
      {
        $('#uploaded-images').after(picture.message);
      }
      else
      {
        var $image_link = $('<a>');
        var $image = $('<img>');
        var $delete_button = $('<button class="btn-remove-picture glyphicon glyphicon-remove btn btn-danger btn-sm" type="button" data-picture-id="'+picture.id+'">')
        $delete_button.on('click', processRemovePicture);

        $image.attr('src', picture.image.image.small.url);
        $image_link.attr('id', 'picture-' + picture.id);
        $image_link.attr('data-picture-id', picture.id);
        $image_link.attr('href', 'javascript:');
        $image_link.addClass('thumbnail');
        $image_link.append($image);
        $image_link.append($delete_button);

        $('#uploaded-images').append($image_link);

        var picture_ids = '';
        var pictures_count = $('a.thumbnail').size();
        $('a.thumbnail').each(function(index, elem) {
          var $elem = $(elem);
          picture_ids += $elem.data('picture-id');
          if (index < pictures_count - 1) {
            picture_ids += ',';
          }
        });

        $('#question_picture_ids').val(picture_ids);
      }
    }
  });

  $('a.thumbnail button.btn-remove-picture').on('click', processRemovePicture);

  function processRemovePicture() {
    var $btn_remove = $(this);
    var picture_id = $btn_remove.data('picture-id');

    $.ajax({
      url: '/pictures/' + picture_id,
      dataType: 'json',
      method: 'DELETE',
      data: { id: picture_id }
    }).done(function() {
      $('#picture-' + picture_id).remove();
    });
  }
</script>
