= form_for @action_log do |f|
  - if @action_log.errors.any?
    #error_explanation
      %h2= "#{pluralize(@action_log.errors.count, 'error')} prohibited this action_log from being saved:"
      %ul
        - @action_log.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :file_name
    = f.text_field :file_name
  .field
    = f.label :class_name
    = f.text_field :class_name
  .field
    = f.label :method_name
    = f.text_field :method_name
  .field
    = f.label :line_number
    = f.number_field :line_number
  .field
    = f.label :stack_trace
    = f.text_area :stack_trace
  .field
    = f.label :message
    = f.text_area :message
  .actions
    = f.submit 'Save'
