%h1 Listing action_logs

%p
  = link_to 'Group', action_logs_path, class: 'btn btn-default'
  = link_to 'Ungroup', action_logs_path(ungroup: true), class: 'btn btn-default'
  = link_to 'Delete All', action_logs_path(delete_all: true), class: 'btn btn-danger', data: { confirm: 'Are you sure?' }

%table.table.table-bordered{style: 'background-color: #fff;'}
  %tr
    - if params[:ungroup].present?
      %th Date
    - if params[:ungroup].nil?
      %th Repeats
    %th File
    %th Method
    %th Trace
    %th Path
    %th Message

  - @action_logs.each do |action_log|
    %tr
      - if params[:ungroup].present?
        %td= action_log.created_at
      - if params[:ungroup].nil?
        %td= "#{action_log.total} times"
      %td= File.basename action_log.file_name
      %td= "#{action_log.class_name}##{action_log.method_name}:#{action_log.line_number}"
      %td
        %pre= action_log.stack_trace
      %td= File.dirname action_log.file_name
      %td= action_log.message

= paginate @action_logs
