%p#notice= notice

%p
  %b File name:
  = @action_log.file_name
%p
  %b Class name:
  = @action_log.class_name
%p
  %b Method name:
  = @action_log.method_name
%p
  %b Line number:
  = @action_log.line_number
%p
  %b Stack trace:
  = @action_log.stack_trace
%p
  %b Message:
  = @action_log.message

= link_to 'Edit', edit_action_log_path(@action_log)
\|
= link_to 'Back', action_logs_path
