<script>
  $(document).ready(function (e) {
    var auto_state = "<%= object.is_auto_accept %>";
    $('.bootstrap-switch#group_is_auto_accept').bootstrapSwitch({
      state: auto_state,
      size: 'small',
      onText: 'Yes',
      offText: 'No'
    });
    $('.bootstrap-switch#group_is_auto_accept').siblings('label').removeAttr('for');
  });
</script>
