= form_for @group, html: { role: 'form', class: 'form-horizontal' } do |f|
  - if @group.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(@group.errors.count, 'error')} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, 'Group name', class: 'col-md-3 control-label'
    .col-md-9
      = f.text_field :title, placeholder: 'Type name of your new group', required: true, class: 'form-control'
  .form-group
    = f.label :description, 'Description', class: 'col-md-3 control-label'
    .col-md-9
      = f.text_area :description, placeholder: 'Description of your group', rows: 2, class: 'form-control'
  .form-group
    = f.label :domain_id, 'Domain', class: 'col-md-3 control-label'
    .col-md-5
      = f.select :domain_id, @domain.map { |d| [d.name, d.id] }.unshift(['Please select domain', '']), {}, class: 'form-control'
  .form-group
    = f.label :join_type, 'Who can join?', class: 'col-md-3 control-label'
    .col-md-5
      = f.select :join_type, Group::JOIN_TYPES, {}, class: 'form-control'
  .form-group.hide#allowing_domains_group
    .col-md-9.col-md-offset-3
      = text_field_tag :allowing_domains, @group.allowing_domain_list.join(','), class: 'form-control', placeholder: 'Allowing domains: e.g. tiphive.com, separated by commas'
  .form-group.hide#allowing_locations_group
    .col-md-9.col-md-offset-3
      = text_field_tag :allowing_locations, @group.allowing_location_list.join(','), class: 'form-control', placeholder: 'Allowing zip codes, separated by commas'
  .form-group
    = f.label 'Add friends', class: 'col-md-3 control-label'
    .col-md-9
      = render 'search/friends_and_groups_select_for_sharing', f: f, object: @group, only: 'User', selected_friends_and_groups: @selected_friends_and_groups, placeholder: 'Type to search or select friends'
  .form-group
    = f.label :avatar, class: 'col-md-3 control-label'
    .col-md-9
      =# f.file_field :avatar, class: 'form-control'
      = f.hidden_field :avatar_cache

      .fileinput.fileinput-new.input-group{'data-provides' => 'fileinput'}
        .form-control{'data-trigger' => 'fileinput'}
          %i.glyphicon.glyphicon-file.fileinput-exists
          %span.fileinput-filename
        %span.input-group-addon.btn.btn-default.btn-file
          %span.fileinput-new Select file
          %span.fileinput-exists Change
          = f.file_field :avatar
        %a.input-group-addon.btn.btn-default.fileinput-exists{'data-dismiss' => 'fileinput', href: '#'} Remove
  - if @group.avatar.present?
    .form-group
      .col-md-3
      .col-md-9
        .thumbnail{style: 'display: inline-block'}
          = image_tag @group.avatar.medium.url
          %label{style: 'font-weight: normal'}
            = f.check_box :remove_avatar
            Remove avatar
  .form-group
    = f.label :background_image, class: 'col-md-3 control-label'
    .col-md-9
      =# f.file_field :background_image, class: 'form-control'
      = f.hidden_field :background_image_cache

      .fileinput.fileinput-new.input-group{'data-provides' => 'fileinput'}
        .form-control{'data-trigger' => 'fileinput'}
          %i.glyphicon.glyphicon-file.fileinput-exists
          %span.fileinput-filename
        %span.input-group-addon.btn.btn-default.btn-file
          %span.fileinput-new Select file
          %span.fileinput-exists Change
          = f.file_field :background_image
        %a.input-group-addon.btn.btn-default.fileinput-exists{'data-dismiss' => 'fileinput', href: '#'} Remove
  - if @group.background_image.present?
    .form-group
      .col-md-3
      .col-md-9
        .form-thumb
          %label
            = f.check_box :remove_background_image
            Remove background image
          = image_tag(@group.background_image_url)
  .form-group
    = f.label 'Automatically accept invites', class: 'col-md-3 control-label'
    .col-md-3
      = f.check_box :is_auto_accept, class: 'bootstrap-switch'
  .form-group
    = f.label :group_type, class: 'col-md-3 control-label'
    .col-md-3
      = f.select :group_type, Group::GROUP_TYPES, {}, class: 'form-control'
  .form-group
    = f.label :address, 'Address', class: 'col-md-3 control-label'
    .col-md-9
      = f.text_field :address, class: 'form-control'
      = f.hidden_field :location
      = f.hidden_field :latitude
      = f.hidden_field :longitude
  .form-group
    = f.label :zip, 'Zip code', class: 'col-md-3 control-label'
    .col-md-3
      = f.text_field :zip, class: 'form-control'
  .form-group
    .col-md-9.col-md-offset-3
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Back', my_groups_path, class: 'btn btn-default'

= render 'groups/form_script', object: @group
= render 'groups/bootstrap_switch', object: @group
