.group.panel.panel-default
  - background_image_style = group.background_image.present? ? "background-image: url(#{group.background_image.medium.url})" : ''
  = link_to(group_path(group), title: group.title) do
    .panel-body{ class: group.color, style: background_image_style }
      - if group.background_image.present?
        .overlay
      .avatars
        - users = group.members
        - users.each_with_index do |u, i|
          -if i < 3
            = user_avatar(u, :tiny)
        %strong
          = '+'
          = users.size
  .panel-footer
    = link_to truncate(group.title, length: 16), group_path(group), title: group.title
