.modal#hives-show-modal
  .modal-show-profile.modal-dialog 
    .container-user-profile
      .my-hives-navigation-bar
        .my-hives-navigation-head
          = "All hives in #{group.title}"

      #my-hives-container
        .carousel.slide{ 'data-ride' => 'carousel',id: 'my-hive-list'}
          .hives-list
            .carousel-inner
              - hives.each_slice(75) do |slices| 
                .item
                  %table
                    - slices.each_slice(15) do |hives|
                      %td 
                        - hives.each do |hive|
                          %li
                            = link_to hive.title,hive_path(hive)
            - if hives.size > 75
              %a.left.carousel-control{'data-slide' => 'prev', href: '#my-hive-list'}
                %i.fa.fa-angle-left
              %a.right.carousel-control{'data-slide' => 'next', href: '#my-hive-list'}
                %i.fa.fa-angle-right 
        .clearfix
      .loader#loading
      .hide#pagination-wrapper

:javascript
  
  $(document).ready(function() {
    $('#my-hive-list .carousel-inner > .item:first').addClass('active');
  });    
