.friend-request.panel.panel-default
  - background_image_style = friend.background_image.present? ? "background-image: url(#{friend.background_image.medium.url})" : ''
  - if friend.background_image.present?
    .overlay
  .panel-heading{class: friend.color, style: background_image_style}
    .request-profile
      = user_avatar(friend, :medium)
      %br
      = link_to friend.name, user_profile_path(friend), class: 'username active-transition', data: {remote: true}
    - if friend.check_active
      .active-sign
        = image_tag image_path('trending-mark.png')
  .panel-body
    .user-connect{id: "user-connect-#{friend.id}"}
      = render 'shared/title_bars/user_connect', user: friend
    .percent-tab
      .percentage
        = "#{current_user.get_percentage(friend)} %"
      In Common

