<script>
  $(document).ready(function(e){
    $('select#select-groups').selectize({
      sortField: 'text',
      hideSelected: true
    });

    $(window).load(function () {
      masonrizeGroups();
    });

    function masonrizeGroups() {
      var $container = $('#groups-container');
      // initialize Masonry after all images have loaded
      $container.imagesLoaded( function() {
        $container.masonry({
          columnWidth: 230,
          itemSelector: '.group'
        });
      });

      $container.infinitescroll({
            navSelector  : '.pagination',    // selector for the paged navigation
            nextSelector : '.pagination li.next a',  // selector for the NEXT link (to page 2)
            itemSelector : '.group',     // selector for all items you'll retrieve
            bufferPx     : 40,
            prefill      : true,
            loading: {
              msgText      : "<em>Loading the next set of items...</em>",
              finishedMsg: "<em>You've reached the end.</em>",
              img: '<%= image_url('ajax-loader.gif') %>',
              selector: '#loading'
            }
          },
          // trigger Masonry as a callback
          function( newElements ) {
            // hide new items while they are loading
            var $newElems = $( newElements ).css({ opacity: 0 });
            // ensure that images load before adding to masonry layout
            $newElems.imagesLoaded(function(){
              // show elems now they're ready
              $newElems.animate({ opacity: 1 });
              $container.masonry( 'appended', $newElems, true );
              $container.masonry();
            });
          });
    }
  });
</script>
