.modal#group-request-invite-modal
  .modal-dialog
    .modal-content
      = form_for :request_invite, url: request_invite_group_path(@group), html: { role: 'form', class: 'form-inline', style: 'margin-top: 0;' } do |f|
        .modal-header
          %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
          %h4.modal-title Join Invite
        .modal-body
          .form-group
            = f.email_field :email, placeholder: "Enter your #{@group.group_type == 'university' ? 'university' : 'company'} email address to get an invitation", required: true, class: 'form-control', style: 'width: 450px;'
            = f.submit 'Join', class: 'btn btn-primary'
            %span.help-block We will send you an email to create your account
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
