.modal#group-share-modal.share-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h4.modal-title Add member to group
      .modal-body
        %ul.nav.nav-pills
          %li.active
            %a{href: '#share', 'data-toggle'=>'tab'} Share
          %li
            %a{href: '#invite', 'data-toggle'=>'tab'} Invite by email
          %li
            %a{href: '#share-link', 'data-toggle'=>'tab'} Share link
        .tab-content.popup-form
          #share.tab-pane.active
            = form_for @group, url: share_group_path(@group), html: { role: 'form', class: 'form-horizontal', data: { remote: true } } do |f|
              = f.hidden_field :id
              .form-group
                = f.label 'Share', class: 'col-md-1 control-label'
                .col-md-11
                  = render 'search/friends_and_groups_select', f: f, object: @group, selected_friends_and_groups: @selected_friends_and_groups, only: 'User', placeholder: 'Type to search or select friends'
                .col-md-1.control-label
                .col-md-11
                  = 'Sharing with' if @selected_friends_and_groups.map{ |u| u.class.name }.include?('User')
                  - @selected_friends_and_groups.each do |u|
                    = user_avatar(u, :tiny)

          #invite.tab-pane
            = render 'users/add_friends_modules/email', connectable: @group
          #share-link.tab-pane
            .share-area
              Share with
              - group_image = @group.background_image.present? ? @group.background_image.medium.url : image_url('pockets-no-images.png')
              - image = image_url(group_image)
              - content = truncate_object_description(@group)
              = render 'shared/social_share', object: @group, content: content, image: image

      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
