.row.form-wrapper
  .col-md-8.col-md-offset-2

    .row
      .col-md-9.col-md-offset-3
        %h1 Editing group

    = render 'form'

    .row
      .col-md-9.col-md-offset-3
        = link_to 'Delete', @group, class: 'btn btn-danger', data: { method: :delete, confirm: 'Are you sure to delete this Group?' }
        = link_to 'Show', @group, class: 'btn btn-default'
        = link_to 'Back', my_groups_path, class: 'btn btn-default'
