= content_for :title_bar do
  = render 'shared/title_bars/my_groups_title'

.container-fluid#groups-container
  - @groups.each do |group|
    = render 'groups/group', group: group
  .clearfix
.loader#loading
.hide
  = paginate @groups

= render 'groups/my_groups_script'
