= content_for :title_bar do
  = render 'shared/title_bars/group_title', group: @group

= content_for :filter_bar do
  = render 'shared/filter_bars/group_filter', group: @group

.container-fluid#alphabet-wrapper
  .alphabet
    - ('A'..'Z').each do |char|
      %span
        - logger.info "@members_az[char]: #{@members_az[char].inspect}"
        - if @members_az[char][:count] > 0
          = link_to char, group_members_by_initial_path(initial: char)
        - else
          = "#{char}"
      - if char != 'Z'
        %span
          = '&nbsp;'.html_safe

.container-fluid#friend-request
  - @members.each do |friend|
    = render 'groups/member', friend: friend
  .clearfix
.loader#loading
.hide
  = paginate @members

= render 'users/my_friends_script_v1'
