var $menuGroupsList = $('#menu-groups-list');
$menuGroupsList.html('<%= j(render('shared/menu_groups', groups: @groups)) %>');
$('#menu-groups-mobile-list').html('<%= j(render('shared/menu_groups', groups: @groups)) %>');
$menuGroupsList.mCustomScrollbar();

$('#side-groups').html('<%= j(render('shared/side_bars/groups', groups: @groups)) %>');
