.row.no-access
  .col-md-12.text-center
    .title
      = image_tag 'logo_round_small.png'
      = @group.title
    %p.no-access-title
      %i.glyphicon.glyphicon-lock.text-primary
      This group is private
    - if user_signed_in?
      %p.no-access-message
        - if @group.join_type == 'domain'
          This group is limited to emails ending with
          <em>#{@group.allowing_domain_list.join(', ')}</em>.
        - if @group.join_type == 'location'
          This group is limited to these zips or postal codes
          <em>#{@group.allowing_location_list.join(', ')}</em>.
        <strong>Request</strong> an invite to join this group.
      %p.actions
        = link_to 'Request invite', join_group_path(@group), class: 'btn btn-default'
