= content_for :title_bar do
  = render 'shared/title_bars/group_title', group: @group

= content_for :filter_bar do
  = render 'shared/filter_bars/group_filter', group: @group

- if params[:sort_filter] != 'near_by'
  - if params[:page].blank? || params[:page].to_i == 1
    .container-fluid.tip-container#tip-adding-container
      = render 'tips/tip_adding_form', group_id: @group.id
  .container-fluid.tip-container#tips-feed-container
    = render 'groups/tips', tips: @tips
  .loader#loading
  .hide#pagination-wrapper
    = paginate @tips
- else
  = render 'shared/near_by_on_map', tips: @tips
  .loader#loading
  .hide#pagination-wrapper
    = @tips

= render 'tips/readmore_script'
