.modal#add-friends-results-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h4.modal-title Invite Your Friends
      .modal-body
        - if invalid_emails.size > 0
          %h5 #{invalid_emails.size} of the email addresses you entered could not be sent an invitation:
          %ul
            - invalid_emails.each do |invalid_email|
              %li= invalid_email

        - if own_emails.size > 0
          %h5 #{own_emails.size} of the email addresses you entered matched a contact email on your own account:
          %ul
            - own_emails.each do |own_email|
              %li= own_email

        - if already_friends_emails.size > 0
          %h5 #{already_friends_emails.size} of the email addresses you entered matched someone you are already friends with on TipHive:
          %ul
            - already_friends_emails.each do |already_friends_email|
              %li= already_friends_email

        - if already_invited_emails.size > 0
          %h5 Invitations have already been sent to this person:
          %ul
            - already_invited_emails.each do |already_invited_email|
              %li= already_invited_email

        - if invited_emails.size > 0
          %h5 You successfully invited #{invited_emails.size} person to join TipHive.
          %ul
            - invited_emails.each do |invited_email|
              %li= invited_email

        - if existing_users.size > 0
          %h5 #{existing_users.size} of the email addresses you entered matched someone on TipHive:
          %ul
            - existing_users.each do |existing_user|
              %li= existing_user.email

      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
