.friend.panel.panel-default
  .panel-body
    %table
      %tbody
        %td.avatar-space
          = user_avatar(friend)
        %td.name-space
          = link_to friend.name, user_profile_path(friend), class: 'username active-transition', data: {remote: true}
        %td.user-connect{id: "user-connect-#{friend.id}"}
          = render 'shared/title_bars/user_connect', user: friend
