<script>
  $(document).ready(function (e) {
    $('input.checkbox').bootstrapSwitch({
      size: 'small',
      onText: 'Yes',
      offText: 'No',
      onSwitchChange: function updateDomain(event, state) {
        $.ajax({
          type: 'POST',
          url: window.location.pathname,
          dataType: "JSON",
          data: {"user[admin]": state}
        });
      }
    });

    $('select#admin_groups').selectize({
      valueField: 'id',
      labelField: 'name',
      searchField: 'name',
      sortField: 'kind_id',
      persist: true,
      plugins: ['remove_button'],
      preload: 'focus',
      render: {
      item: function(item, escape) {
          return '<div class="item"><span class="label label-info">' + escape('Group') + '</span>' + escape(item['name']) + '</div>';
        },
        option: function(item, escape) {
          return '<div class="option"><span class="label label-default">' + escape('Group') + '</span>' + escape(item['name']) + '</div>';
        }
      },
      load: function(query, callback) {
        if (!query.length) {
          query = '';
        }
        $.ajax({
          url: '<%= groups_user_path(object, format: :json) %>',
          type: 'GET',
          dataType: 'json',
          data: {
            q: query
          },
          error: function() {
            callback();
          },
          success: function(res) {
            callback(res);
          }
        });
      },
      onItemAdd: function(value, $item) {
        $.ajax({
          url: '<%= add_group_user_path(object, format: :json) %>',
          type: 'POST',
          data: {  group_id: value }
        });
      },
      onItemRemove: function(value) {
        $.ajax({
          url: '<%= remove_group_user_path(object, format: :json) %>',
          type: 'POST',
          data: { group_id: value }
        });
      }
    });
  });
</script>
