.modal#user-show-modal
  .modal-show-profile.modal-dialog 
    #container.container-user-profile
      = render 'shared/title_bars/user_profile_title', user: @user

      - if params[:sort_filter] != 'near_by'
        .container-fluid.tips-container#tips-container
          - @tips.each do |tip|
            = render 'tips/tip', tip: tip
          .clearfix
        .loader#loading
        .hide#pagination-wrapper
          = paginate @tips if @tips.count > 1
      - else
        = render 'shared/near_by_on_map', tips: @tips

        .loader#loading
        .hide#pagination-wrapper
          =  @tips

= render 'hives/show_script'
