.friend-request.panel.panel-default
  - background_image_style = user.background_image.present? ? "background-image: url(#{user.background_image.medium.url})" : ''
  - if user.background_image.present?
    .overlay
  .panel-heading{class: user.color, style: background_image_style}
    .request-profile
      = user_avatar(user, :medium)
      %br
      = link_to user.name, user_profile_path(user), class: 'username', data: { remote: true }
    - if user.check_active
      .active-sign
        = image_tag image_path('trending-mark.png')
  .panel-body
    .user-connect{id: "user-connect-#{user.id}"}
      = render 'shared/title_bars/user_connect', user: user
    .percent-tab
      .percentage
        = "#{current_user.get_percentage(user)} %"
      In Common
  
