$('.bootbox-close-button').trigger("click");
$('#secondary-modal').html('<%= j(render('users/add_friends_results_modal', invalid_emails: @invalid_emails, own_emails: @own_emails, already_friends_emails: @already_friends_emails, already_invited_emails: @already_invited_emails, invited_emails: @invited_emails, existing_users: @existing_users)) %>');
$('#add-friends-results-modal').modal('show');
$('#friends_emails').selectize()[0].selectize.clearOptions();
