= content_for :title_bar do
  = render 'shared/title_bars/add_friends_title'

= content_for :filter_bar do
  = render 'shared/filter_bars/my_friends_filter'

.container-fluid#friends-container
  - if %w(facebook google_oauth2 email).include? params[:auth]
    .row.add-friends
      .col-md-12
        = render "users/add_friends_modules/#{params[:auth]}", connectable: current_user
