= content_for :title_bar do
  = render 'shared/title_bars/simple_title', title: 'Settings'

= content_for :filter_bar do
  = render 'shared/filter_bars/settings_filter'

.row.form-wrapper
  .col-md-10.col-md-offset-1
    .row
      .col-md-6
        %h4 Notify me by email when:
    %form{role: 'form', class: 'form-horizontal'}
      .form-group
        = label_tag :friend_adds_tip, 'A friend adds a tip', class: 'col-md-6 control-label'
        .col-md-6
          .btn-group{data: { toggle: 'buttons' }}
            %label.btn.btn-default{class: current_user.settings(:email_notifications).friend_adds_tip == 'always' ? 'active' : nil}
              %input{type: 'radio', name: 'friend_adds_tip', value: 'always'} Always
            %label.btn.btn-default{class: current_user.settings(:email_notifications).friend_adds_tip == 'daily' ? 'active' : nil}
              %input{type: 'radio', name: 'friend_adds_tip', value: 'daily'} Daily
            %label.btn.btn-default{class: current_user.settings(:email_notifications).friend_adds_tip == 'weekly' ? 'active' : nil}
              %input{type: 'radio', name: 'friend_adds_tip', value: 'weekly'} Weekly
            %label.btn.btn-default{class: current_user.settings(:email_notifications).friend_adds_tip == 'never' ? 'active' : nil}
              %input{type: 'radio', name: 'friend_adds_tip', value: 'never'} Never
      .form-group
        = label_tag :someone_likes_tip, 'Someone likes my tip', class: 'col-md-6 control-label'
        .col-md-6
          %input.checkbox{type: 'checkbox', name: 'someone_likes_tip', checked: current_user.settings(:email_notifications).someone_likes_tip}
      .form-group
        = label_tag :friend_joins, 'A friend joins TipHive', class: 'col-md-6 control-label'
        .col-md-6
          %input.checkbox{type: 'checkbox', name: 'friend_joins', checked: current_user.settings(:email_notifications).friend_joins}
      .form-group
        = label_tag :someone_adds_me_as_friend, 'Someone adds me as friend', class: 'col-md-6 control-label'
        .col-md-6
          %input.checkbox{type: 'checkbox', name: 'someone_adds_me_as_friend', checked: current_user.settings(:email_notifications).someone_adds_me_as_friend}
      .form-group
        = label_tag :someone_invite_me_to_group, 'Someone invites me to a group', class: 'col-md-6 control-label'
        .col-md-6
          %input.checkbox{type: 'checkbox', name: 'someone_invite_me_to_group', checked: current_user.settings(:email_notifications).someone_invite_me_to_group}
      .form-group
        = label_tag :group_member_adds_a_tip, 'Group member adds a tip', class: 'col-md-6 control-label'
        .col-md-6
          %input.checkbox{type: 'checkbox', name: 'group_member_adds_a_tip', checked: current_user.settings(:email_notifications).group_member_adds_a_tip}
      .form-group
        = label_tag :group_member_adds_a_question, 'Group member adds a question', class: 'col-md-6 control-label'
        .col-md-6
          %input.checkbox{type: 'checkbox', name: 'group_member_adds_a_question', checked: current_user.settings(:email_notifications).group_member_adds_a_question}
      .form-group
        = label_tag :someone_shared_hive_with_me, 'Someone shares a hive with me', class: 'col-md-6 control-label'
        .col-md-6
          %input.checkbox{type: 'checkbox', name: 'someone_shared_hive_with_me', checked: current_user.settings(:email_notifications).someone_shared_hive_with_me}
      .form-group
        = label_tag :friend_adds_question, 'A friend adds a question', class: 'col-md-6 control-label'
        .col-md-6
          %input.checkbox{type: 'checkbox', name: 'friend_adds_question', checked: current_user.settings(:email_notifications).friend_adds_question}


= render 'users/email_notifications_script'
