= content_for :title_bar do
  = render 'shared/title_bars/hive_title', hive: @hive, page_type: 'people'
= content_for :filter_bar do
  = render 'shared/filter_bars/hive_filter', hive: @hive, page_type: 'people'

#container-fill
  .container-fluid#friend-request
    - @users.each do |user|
      = render 'users/user', user: user
    .clearfix
  .loader#loading
  .hide
    = paginate @users

= render 'users/my_friends_script_v1'
