= content_for :title_bar do
  = render 'shared/title_bars/meet_people_title'

= content_for :filter_bar do
  = render 'shared/filter_bars/my_friends_filter'

.container-fluid#friend-request
  - @users.each do |friend|
    = render 'users/detail_user', friend: friend
  .clearfix
.loader#loading
.hide
  = paginate @users

= render 'users/my_friends_script_v1'
