= content_for :title_bar do
  = render 'shared/title_bars/my_friends_title'

= content_for :filter_bar do
  = render 'shared/filter_bars/my_friends_filter', friends_count: @friends_count

.friend-navigation
  = link_to 'Request', my_friends_path, data: { remote: true }, class: 'active active-transition', id: 'request'
  %strong (#{@invitation_requests.count})
  = link_to 'Waiting for response', my_friend_waiting_response_path, class: 'active-transition', data: { remote: true }, id: 'waiting-response'
  %strong (#{@waiting_response_friends.count})

.container-fluid#friend-request.my-people-page
  - @invitation_requests.each do |invitation_request|
    - friend_request = get_user_from_mail(invitation_request.email)
    = render 'users/friend_request', friend: friend_request, invitation_request: invitation_request
.container-fluid#alphabet-wrapper
  .alphabet
    - ('A'..'Z').each do |char|
      %span
        - logger.info "@friends_az[char]: #{@friends_az[char].inspect}"
        - if @friends_az[char][:count] > 0
          = link_to char, my_friends_by_initial_path(initial: char)
        - else
          = "#{char}"
      - if char != 'Z'
        %span
          = '&nbsp;'.html_safe

.container-fluid#friends-container
  - @friends.each do |friend|
    = render 'users/friend', friend: friend
  .clearfix
.loader#loading
.hide
  = paginate @friends

= render 'users/my_friends_script'

:javascript
  $(".friend-navigation a").click(function (e){
    if ($('#request').hasClass('active')) {
      $('#request').removeClass('active');
      $('#waiting-response').addClass('active');
    }
    else {
      $('#waiting-response').removeClass('active');
      $('#request').addClass('active');
    }
  });
