= content_for :title_bar do
  =# render 'shared/title_bars/group_title', group: @group

= content_for :filter_bar do
  = render 'shared/filter_bars/tips_filter', hives: @hives, tips_count: @tips_count, people_count: @friends_count, questions_count: @questions_count 

.container-fluid#friend-request
  - @friends.each do |friend|
    = render 'groups/member', friend: friend
  .clearfix
.loader#loading
.hide
  = paginate @friends

= render 'users/my_friends_script_v1'
