= simple_title_bar_with_title 'Select your profile image'

.row
  .col-md-12.select-avatar
    .avatar-box
      = user_avatar(current_user, :medium)
    .avatar-upload-actions
      .row.fade#progress-box
        .col-md-6.col-md-offset-3
          .progress
            .progress-bar#progress{'aria-valuemax' => '100', 'aria-valuemin' => '0', 'aria-valuenow' => '60', role: 'progressbar', style: 'width: 60%;'}
              60%
      %span.btn.btn-primary.fileinput-button
        %span Upload image...
        %input#avatar-fileupload{ type: 'file', name: 'files[]', multiple: 'multiple', class: 'btn btn-primary', data: { url: upload_avatar_path } }
      = link_to "#{fa_icon('facebook-square')} Get from Facebook".html_safe, user_omniauth_authorize_path(:facebook, from: :select_avatar), class: 'btn btn-primary'
      = link_to "#{fa_icon('twitter-square')} Get from Twitter".html_safe, user_omniauth_authorize_path(:twitter, from: :select_avatar), class: 'btn btn-primary'
      = link_to "#{fa_icon('google-plus-square')} Get from Google+".html_safe, user_omniauth_authorize_path(:google_oauth2, from: :select_avatar), class: 'btn btn-primary'

    .avatar-upload-finish
      = link_to 'Done', @redirect_to, class: 'btn btn-success'

= render 'users/select_avatar_script'
