= content_for :title_bar do
  = render 'shared/title_bars/user_profile_title', user: @user

= content_for :filter_bar do
  = render 'shared/user_profile_navigation', user: @user

.row.form-wrapper
  .col-md-10.col-md-offset-1
    %form{role: 'form', class: 'form-horizontal'}
      .form-group
        = label_tag :admin, 'Site admin', class: 'col-md-6 control-label'
        .col-md-6
          %input.checkbox{type: 'checkbox', name: 'admin', checked: @user.admin?}
      .form-group
        = label_tag :groups, 'Administering groups', class: 'col-md-6 control-label'
        .col-md-6
          = select_tag 'groups[]', options_from_collection_for_select(@all_groups, :kind_id, :name, @selected_groups.map(&:kind_id) ), placeholder: 'Type name of groups', id: 'admin_groups', class: 'form-control', name: 'groups', multiple: 'multiple'

= render 'users/settings_script', object: @user
