var $modal = $('.modal');
$modal.modal('hide');
$('#primary-modal').html('<%= j(render('users/show_profile')) %>');
$modal.find('.title-bar-wrapper').hide();
$modal.find('#tips-container').css("margin-top", "30px");
$('#user-show-modal').modal('show');
