= content_for :title_bar do
  - if @user
    = render 'shared/title_bars/user_profile_title', user: @user

= content_for :filter_bar do
  - if @user
    = render 'shared/user_profile_navigation', user: @user

-#
  .page-actions
    .btn-group
      %a.btn.btn-default{href: "#fav_city"} Fav City
      %a.btn.btn-default{href: "#top_10"} Top 10
      %a.btn.btn-default{href: "#hives"} Hives

- if params[:sort_filter] != 'near_by'
  .container-fluid.tips-container#tips-container
    - @tips.each do |tip|
      = render 'tips/tip', tip: tip
    .clearfix
  .loader#loading
  .hide#pagination-wrapper
    = paginate @tips if @tips.count > 1
- else
  = render 'shared/near_by_on_map', tips: @tips

  .loader#loading
  .hide#pagination-wrapper
    =  @tips

= render 'hives/show_script'
