.row
  .col-md-6.col-md-offset-3
    - if @error_text.present?
      .panel.panel-danger{style: 'margin-top: 100px'}
        .panel-heading.text-center
          %h3.panel-title
            %i.fa.fa-minus-circle
            TipHive Joining request failed!
        .panel-body.text-center
          = @error_text
    - else
      .panel.panel-success{style: 'margin-top: 100px'}
        .panel-heading.text-center
          %h3.panel-title
            %i.fa.fa-check-circle
            TipHive joining request sent!
        .panel-body.text-center
          Your request to join TipHive has been sent. You'll receive an invitation email soon.
