$('#user-connect-<%= @user.id %>').html('<%= j(render('shared/title_bars/user_connect', user: @user, invitation_request: @invitation_request)) %>');
<% if params[:user_type].present? && params[:user_type] == 'domain user'%>
   window.location.reload();
<%end%>
