.row
  .col-md-6.col-md-offset-3.sign-in-wrapper
    %h3 Change your password
    .panel.panel-default.panel-sign-in
      .panel-body
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, role: 'form' }) do |f|
          = devise_error_messages!
          = f.hidden_field :reset_password_token
          .form-group
            = f.label :password, 'New password'
            = f.password_field :password, :autofocus => true, class: 'form-control input-lg'
          .form-group
            = f.label :password_confirmation, 'Confirm new password'
            = f.password_field :password_confirmation, class: 'form-control input-lg'
          = f.submit 'Change my password', class: 'btn btn-primary btn-lg'
