.row
  .col-md-6.col-md-offset-3.sign-in-wrapper
    %h3 Forgot your password?
    .panel.panel-default.panel-sign-in
      .panel-body
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: 'form' }) do |f|
          = devise_error_messages!
          .form-group
            = f.label :email
            = f.email_field :email, :autofocus => true, class: 'form-control input-lg'
          = f.submit 'Send me reset password instructions', class: 'btn btn-primary btn-lg'
