%nav.navbar.navbar-inverse
  .container-fluid
    %ul.nav.navbar-nav
      %li{class: current_page?(dashboard_index_path) ? 'active' : nil}
        = link_to 'Dashboard', dashboard_index_path
      %li{class: current_page?(domains_dashboard_index_path) ? 'active' : nil}
        = link_to 'Domains', domains_dashboard_index_path
      %li{class: current_page?(emails_dashboard_index_path) ? 'active' : nil}
        = link_to 'Emails', emails_dashboard_index_path
