.container-fluid#main-menu
  .col-md-4
    %h3 Menu
    %ul.nav.nav-menu
      %li
        = link_to 'Tip feed', tips_path
      %li
        %a{href: user_profile_path(current_user)}
          Public Profile
      %li
        %a{href: my_friends_path}
          My Friends
      -#
        %li
          %a{href: 'javascript:void(0)'}
            Messages
      %li
        %a{href: friend_invitations_path, id: 'menu-item-invites'}
          Invites
      %li
        %a{href: invitation_requests_path, id: 'menu-item-requests'}
          Requests
    %ul.nav.nav-pills
      %li
        %a{href: edit_user_registration_path}
          %i.fa.fa-cog
          Settings
      -#
        %li
          %a{href: 'javascript:void(0)'}
            %i.fa.fa-question
            Help
      %li
        %a{href: destroy_user_session_path, data: { method: :delete }}
          %i.fa.fa-sign-out
          Logout
  .col-md-4#my-hives-menu
    %h3
      = link_to 'My Hives', my_hives_path, id: 'link-my-hives'
    #menu-hives-list
      .ajax-loader

  .col-md-4#my-groups-menu
    %h3
      = link_to 'My Groups', my_groups_path, id: 'link-my-groups'
    #menu-groups-list
      .ajax-loader

= render 'shared/main_menu_script'
