<script>
  var text = 'show.bs.dropdown';
  $('#main-menu-container').on('show.bs.dropdown', function (e) {
    $.ajax({
      url: '<%= menu_hives_path %>'
    });
    $.ajax({
      url: '<%= menu_groups_path %>'
    });
    $.ajax({
      url: '<%= menu_friend_invitations_path %>'
    });
    $.ajax({
      url: '<%= menu_invitation_requests_path %>'
    });
  });
  $('.panel').on('show.bs.collapse', function (e) {
    $.ajax({
      url: '<%= menu_hives_path %>'
    });
    $.ajax({
      url: '<%= menu_groups_path %>'
    });
    $.ajax({
      url: '<%= menu_friend_invitations_path %>'
    });
    $.ajax({
      url: '<%= menu_invitation_requests_path %>'
    });
  });
</script>
