- encoded_location = CGI.escape(tip.location) if tip.location.present?
.item{class: tip_pictures_count == 1 ? 'active' : nil, id: "tip-map-canvas-#{tip.id}"}
  - if encoded_location.present?
    %iframe{:frameborder => '0', :style => 'border:0', :width => '100%', :height => '100%', :src => "https://www.google.com/maps/embed/v1/place?q=#{encoded_location}&zoom=15&key=AIzaSyB2oQMOU1BattR4gp2aS19TMc0abgxx76I"}
  - elsif tip.latitude.present? && tip.longitude.present?
    %iframe{:frameborder => '0', :style => 'border:0', :width => '100%', :height => '100%', :src => "https://www.google.com/maps/embed/v1/view?center=#{tip.latitude},#{tip.longitude}&zoom=15&key=AIzaSyB2oQMOU1BattR4gp2aS19TMc0abgxx76I"}
