<script>
  $(document).ready(function(e) {
    var selectedMarker = new google.maps.Marker();
    var all_tips = getAnyTip();
    var t_tips = all_tips["total_tips"];
    var tip_array = [];

    window.onload = init;

    function add_marker(params) {
      var marker = new google.maps.Marker({
        map: params.m_map,
        position: new google.maps.LatLng(params.lat, params.lng),
        icon: {
              "url": "<%= image_url('map_marker1.png') %>",
              "width":  32,
              "height": 32
            }
      });

      google.maps.event.addListener(marker, 'click', function() {
        if (selectedMarker) {
            selectedMarker.setIcon("<%= image_url('map_marker1.png') %>");
        }
        marker.setIcon("<%= image_url('map_marker_black.png') %>");
        selectedMarker = marker;

        var tip_id = params.tip_data;
        var latLng = marker.getPosition();
        map.setCenter(latLng);

        $.ajax({
          url: '/tips/' + tip_id + '/get_tip',
          type: 'get',
          async: false,
          dataType: 'text',
          success: function (data) {
            $('#primary-modal').html(data);
            $('#tip-show-modal').modal('show');
            if(window.location.pathname.match(/users.*/))
            {
              $('html, body').animate({
                scrollTop: $(".ask-tip-title").offset().top
              }, 0);
            }
            else
            {
              $('html, body').animate({
                scrollTop: $('.title-left').offset().top
              }, 0);
            }
            autoLinkMentionAndHashtag('.tip-item#tip-item-'+tip_id+' .tip-item-description.social-text','tips');
            tip_map(tip_id);
          }
        });
      });
      return marker;
    }

    function show_map(lat1, lng1){
      var coords = new google.maps.LatLng(lat1, lng1);
      var mO = {
          center: coords,
          zoom: 13,
          centerOnUser: false,
          disableDefaultUI: true,
          zoomControl: true,
          zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
          },
          scrollwheel: false
      };
      var map = new google.maps.Map(document.getElementById("near-by-map"), mO);
      return map;
    }

    function controlsLayouts(controlDiv, title, text){
      controlDiv.style.padding = '5px';

      var controlUI = document.createElement('div');
      controlUI.style.backgroundColor = 'white';
      controlUI.style.borderStyle = 'solid';
      controlUI.style.borderWidth = '2px';
      controlUI.style.cursor = 'pointer';
      controlUI.style.textAlign = 'center';
      controlUI.title = title;
      controlDiv.appendChild(controlUI);

      var controlText = document.createElement('div');
      controlText.style.fontFamily = 'Arial,sans-serif';
      controlText.style.fontSize = '12px';
      controlText.style.paddingLeft = '4px';
      controlText.style.paddingRight = '4px';
      controlText.innerHTML = '<strong>'+ text + '</strong>';
      controlUI.appendChild(controlText);
      return controlUI;
    }

    function TipControl(controlDiv, map) {

      var btn_title = "Click to set the map to Next Tip";
      var btn_text = "Next Tip"
      var controlUI = controlsLayouts(controlDiv, btn_title, btn_text);

      google.maps.event.addDomListener(controlUI, 'click', function() {
        var tip_found = false;
        <% if @tips && @tips.count > 0 %>
          <% @tips.each do |tip| %>
            <% if tip.latitude && tip.longitude %>
              if (tip_array.length == t_tips){
                tip_array = []
              }

              var tip_id = <%= tip.id %>;
              if(($.inArray(tip_id, tip_array) !== -1) == false)
              {
                var lat = <%= tip.latitude %>
                var lng = <%= tip.longitude %>
                tip_array.push(tip_id);
                tip_found = true;
                showGeolocataion(postion = null, lat, lng);
              }

              if(tip_found){
                return false;
              }
            <% end %>
          <% end %>
        <% end %>
      });
    }

    function NearControl(controlDiv, map) {

      var btn_title = "Click to set the map to Near Tip";
      var btn_text = "Near me"
      var controlUI = controlsLayouts(controlDiv, btn_title, btn_text);

      google.maps.event.addDomListener(controlUI, 'click', function() {
        getGeolocation();
      });
    }

    function mapControls(map){
      var tipControlDiv = document.createElement('div');
      var tipControl = new TipControl(tipControlDiv, map);

      tipControlDiv.index = 1;
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(tipControlDiv);

      var homeControlDiv = document.createElement('div');
      var homeControl = new NearControl(homeControlDiv, map);

      homeControlDiv.index = 1;
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(homeControlDiv);
    }

    function init() {
      var LatLng_hash = getAnyTip();
      var lat1 = LatLng_hash["lat"];
      var lng1 = LatLng_hash["lng"];
      if (lat1 == 39 && lng1 == -98) {
        getGeolocation();
      }
      else {
        var map = show_map(lat1, lng1);
        mapControls(map);
        addTipsOnMaps(map);
      }
    }

    function addTipsOnMaps(map){
      <% if @tips && @tips.count > 0 %>
        <% @tips.each do |tip| %>
          <% if tip.latitude && tip.longitude %>
            var map_lat = <%= tip.latitude %>;
            var map_lng = <%= tip.longitude %>;
            var tip_data = <%= tip.id %>;
            var marker = add_marker({
              m_map: map,
              lat: map_lat,
              lng: map_lng,
              head: '|' + new google.maps.LatLng(map_lat, map_lng),
              tip_data: tip_data
            });
          <% end %>
        <% end %>
      <% end %>
    }

    function showGeolocataion(position, map_lat1, map_lng1){
      if(position != null){
        var lat1 = position.coords.latitude;
        var lng1 = position.coords.longitude;
      }
      else {
        var lat1 = map_lat1;
        var lng1 = map_lng1;
      }
      var map = show_map(lat1, lng1);
      mapControls(map);
      addTipsOnMaps(map);
    }

    function tip_map(tip_id){
      var lat = $("#tip_map_lat").val();
      var lng = $("#tip_map_lng").val();
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: {id: 'map_'+tip_id}}, function(){
        var marker = handler.addMarker(
          { lat: lat, lng: lng}
        );
        handler.map.centerOn(marker);
        handler.getMap().setZoom(5);
      });
    }

    function getGeolocation(){
      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showGeolocataion, handle_error);
      }
      else {
        error('Geo Location is not supported');
      }
    }

    function getAnyTip() {
      var lat = 39;
      var lng = -98;
      var tip_id = 0;
      var total_tips = 0;
       <% @tips.each do |tip| %>
        <% if tip.latitude && tip.longitude %>
          lat = <%= tip.latitude %>
          lng = <%= tip.longitude %>
          tip_id = <%= tip.id %>
          total_tips++;
        <% end %>
      <% end %>
      var h = { lat: lat, lng: lng, tip_id: tip_id, total_tips: total_tips };
      return h;
    }

    function handle_error(err) {
      var map_div = document.getElementById("near-by-map");
      if (err.code == 1) {
        map_div.innerHTML = "ERROR:  " + err.message;
      }
      else if (err.code == 2)
      {
        var link = '<a href="javascript:void(0)" id="click-on-me">Please allow us to locate you</a>';
        $("#near-by-map").html(link);
        $("#click-on-me").click(function(){
          var LatLng_hash = getAnyTip();
          var map_lat1 = LatLng_hash["lat"];
          var map_lng1 = LatLng_hash["lng"];
          showGeolocataion(postion = null, map_lat1, map_lng1);
        });
      }
    }
  });
</script>
