#main-menu
  .col-md-4
    %ul.nav.nav-menu
      %li
        %a{href: tips_path, class: 'purple'}
          = image_tag('bulb.png')
          Tips
      %li
        %a.green{href: hives_path}
          = image_tag('menu-hive.png')
          My Hives
      
    %ul.nav.nav-pills
      %li
        %a{href: edit_user_registration_path}
          %i.fa.fa-cog
          %span
            Settings
      %li
        %a{href: destroy_user_session_path, data: { method: :delete }}
          %i.fa.fa-power-off
          %span
            Logout
     
  .col-md-4#my-hives-menu
    %ul.nav.nav-menu
      %li
        %a{href:user_profile_path(current_user), class: 'orange'} 
          = image_tag('user.png')
          My Profile
      %li
        %a.blue{href: groups_path}
          = image_tag('group.png')
          My Groups

  .col-md-4#my-groups-menu
    %ul.nav.nav-menu
      %li
        %a{href: my_friends_path, class: 'litepurple'}
          = image_tag('people.png')
          My People
      %li
        %a.liteblue{href: domains_path}
          = image_tag('home.png')
          My Domain
      
