.btn-group{'data-toggle' => 'buttons'}
  - object.class::SHARING_TYPES.each do |sharing_permission|
    %label.btn.btn-default.btn-permissions{class: object.sharing_type.to_sym == sharing_permission[1] ? 'active' : nil}
      = f.radio_button :sharing_type, sharing_permission[1]
      = sharing_permission[0]
