<script>
  var $btn_permissions = $('.btn-permissions');
  var $friends_and_group_select = $('#friends_and_group_select_box');
  var permission = '<%= object.sharing_type %>';

  $btn_permissions.on('click', function (e) {
    var $input_permission = $(this).children('input');
    permission = $input_permission.val();
    displayExtraFields(permission);
  });

  function displayExtraFields(permission) {
    if (permission == 'select_friends') {
      $friends_and_group_select.removeClass('hide');
    } else {
      $friends_and_group_select.addClass('hide');
    }
  }

  displayExtraFields(permission);
</script>
