= link_to image_tag('facebook.png'), '#', :class => 'fb_share'
:javascript
  $(".fb_share").unbind("click.facebook_share").bind("click.facebook_share",function () {
    FB.ui({
      method: 'feed',
      link:  '#{get_url(object)}',
      name: "#{object.title}",
      picture: "#{image}",
      description: "#{content}"
    }, function(response){});
  });
= link_to image_tag('twitter.png'), "https://twitter.com/intent/tweet?text=Check out my tips for %23#{object.name}&url=#{get_url(object)}"

= link_to image_tag('pinterest.png'), "https://pinterest.com/pin/create/button/?url=#{get_url(object)}&media=#{image}&description=#{content}",:target=>'_blank'
