.nav.navbar-default.navbar-fixed-top#navbar-fixed-top{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-controls' => 'navbar', 'aria-expanded' => false, 'data-target' => '#navbar', 'data-toggle' => 'collapse'}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if user_signed_in?
        %i.fa.fa-bars.sidebar-toggle{data: {toggle: 'offcanvas'}}
      %a.navbar-brand{href: user_signed_in? ? tips_path : root_path}
        = image_tag current_domain.logo_path
      %ul.nav.navbar-nav
        - if user_signed_in? && current_user.following_domains.count > 1
          %li.dropdown
            %a.dropdown-toggle{'data-toggle' => 'dropdown', href: 'javascript:void(0)'}
              %span.caret
            %ul.dropdown-menu
              - current_user.following_domains.each do |domain|
                - next if domain == current_domain
                %li{id: 'domain-list-'+domain.id.to_s}
                  - if domain.logo.present?
                    = link_to image_tag(domain.logo_path, height: 40), root_url(subdomain: domain.name)
                  - elsif domain.name == nil
                    = link_to image_tag('logo.png', height: 40), root_url(subdomain: domain.name)
                  -else
                    = link_to domain.name, root_url(subdomain: domain.name)  
    .navbar-collapse.collapse#navbar{'aria-expanded' => false}
      - if should_show_top_search?
        %form.navbar-form.navbar-left#search-form{role: 'search', action: '/search'}
          %input.form-control{placeholder: 'Search for tips, hives, groups and friends', type: 'text', name: 'q', id: 'top-search-input', class: 'top-search top-search-input', value: params[:q], autocomplete: 'off'}
          %input{type: 'hidden', name: 'type', value: params[:type] || 'All'}

      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li.dropdown.sub-menu.dropdown-action
            %a#top-actions-dropdown.border-left.border-right.dropdown-toggle{'data-toggle' => 'dropdown', href: 'javascript:void(0)'}
              %i.glyphicon.glyphicon-plus
            %ul.dropdown-menu
              %li
                %a{href: new_tip_path('hives[]' => @hive.present? ? "Hive-#{@hive.id}" : nil, 'pockets[]' => @pocket.present? ? "Pocket-#{@pocket.id}" : nil, 'groups[]' => @group.present? ? "Group-#{@group.id}" : nil)} Add Tip
              %li
                %a{href: new_question_path('hives[]' => @hive.present? ? "Hive-#{@hive.id}" : nil, 'pockets[]' => @pocket.present? ? "Pocket-#{@pocket.id}" : nil, 'groups[]' => @group.present? ? "Group-#{@group.id}" : nil)} Ask For Tips
              %li
                %a{href: new_hive_path('groups[]' => @group.present? ? "Group-#{@group.id}" : nil)} Add Hive
          %li.dropdown.main-menu#main-menu-container
            %a#top-profile-dropdown.border-right.dropdown-toggle{'data-toggle' => 'dropdown', href: 'javascript:void(0)'}
              = user_avatar(current_user, :tiny)
              %span.name
                = current_user.first_name
            %div.dropdown-menu.dropdown-main-menu
              = render 'shared/new_main_menu'
        - else
          %li
            %a.border-right.border-left{href: 'http://about.tiphive.com/', target: '_blank'} About
          %li
            .border-right
              Coming Soon
              %a{href: '#'}
                = image_tag 'icons/icon-apple.png', width: 18, height: 18
              %a{href: '#'}
                = image_tag 'icons/icon-droid.png', width: 18, height: 18
          %li
            %a.border-right{href: root_path(where: 'life', do: 'get-started'), data: {remote: true}}
              %strong Join
          %li
            %a.border-right{href: new_user_session_path}
              = image_tag 'icons/icon-login.png', width: 18, height: 18
              Login
