.tour-panel-container
  .tab-title
    Quick Tour
  .greeting
    Welcome to Tiphive
  .close-tour.pull-right
    %span
      %i.fa.fa-times
    Close
  %ul.tour-tabs.nav.nav-tabs
    %li.nav.hive-tour.active
      %a#hive-tour{href: "#hive", 'data-toggle' => "tab"}
        My Hives
        .arrow.arrow-bottom
    %li.nav.domain-tour
      %a#domain-tour{href: "#domain", 'data-toggle'=>"tab"}
        My Domains
        .arrow.arrow-bottom
    %li.nav.group-tour
      %a#group-tour{href: "#group", 'data-toggle'=> "tab"}
        My Groups
        .arrow.arrow-bottom
    %li.nav.people-tour
      %a#people-tour{href: "#people", 'data-toggle'=> "tab"}
        My People
        .arrow.arrow-bottom

  .tab-content
    .tab-pane.fade-in.active#hive
      %p
        Add <strong>Hives</strong> to <i><strong>store</strong></i>, <i><strong>share</strong></i>, <i><strong>search</strong></i> and <i><strong>discover</strong></i> valuable information around topics with the <i><strong>people you trust</strong></i> (or privately!).
      .container-fluid#hives-container
        .hive.panel.panel-default
          %table
            %tr
              %td.add-new
                %a.btn.btn-default{href: new_hive_path}
                  %i.fa.fa-plus
                  %br
                  .text-box
                    Add Hive
        - Hive.limit(3).each do |hive|
          .hive.panel.panel-default
            - if hive.background_image.present?
              - background_image_url = find_object_image(hive)
              = link_to(hive_path(hive), title: hive.title) do
                .panel-body{style: "background-image: url(#{background_image_url})"}
                  .small-hex-container
                    - hive.pockets.first(10).each_slice(5) do |slice|
                      - slice.each_with_index do |pocket, index|
                        - if index == 3
                          .small-hex.hex-gap
                            .corner-1
                            .corner-2
                        - else
                          .small-hex
                            .corner-1
                            .corner-2
              = link_to(hive_path(hive), title: hive.title) do
                .panel-footer
                  = truncate(hive.title, length: 16)
            - else
              = link_to(hive_path(hive), title: hive.title) do
                .panel-body{ class: "#{hive.background_color}" }
                  .small-hex-container
                    - hive.pockets.first(10).each_slice(5) do |slice|
                      - slice.each_with_index do |pocket, index|
                        - if index == 3
                          .small-hex.hex-gap
                            .corner-1
                            .corner-2
                        - else
                          .small-hex
                            .corner-1
                            .corner-2
              = link_to(hive_path(hive), title: hive.title) do
                .panel-footer
                  = truncate(hive.title, length: 16)
            - if current_user.following?(hive)
              %a.btn.btn-default.hive-tour-button{href: leave_hive_path(hive)}
                Leave Hive
            - else 
              %a.btn.btn-default.hive-tour-button{href: join_hive_path(hive)}
                Add Hive

    .tab-pane.fade#domain
      %p
        Use <strong>Tiphive</strong> for your organization<br/> <i><strong>Create</i></strong> a private <i><strong>domain name</i></strong> to <i><strong>share</i></strong>, <i><strong>search</i></strong> and <i><strong>find</i></strong> valuable information all in one place
      = form_for current_user.domains.new, :url => {:controller => 'domains', :action => 'create'} do |f|
        .input-group
          %span.input-group-addon.icon-cell
            .arrow-right
            = image_tag image_path('domain-icon-tour.png')
          = f.text_field :name, required: true, class: 'form-control', placeholder: 'Type your domain name'
          %span.input-group-addon
            %strong .tiphive.com
          %span.input-group-addon
            = f.submit class: 'btn btn-default'  

    .tab-pane.fade#group
      %p
        <i><strong>Join</i></strong> or <i><strong>create</i></strong> groups for your university, running club and so forth, so you can share your Hives with an entire group.
      .container-fluid#groups-container
        .group.panel.panel-default
          %table
            %tr
              %td.add-new
                %a.btn.btn-default{href: new_group_path}
                  %i.fa.fa-plus
                  %br
                  .text-box
                    Add Group
        - Group.limit(3).each do |group|
          .group.panel.panel-default
            - background_image_style = group.background_image.present? ? "background-image: url(#{group.background_image.medium.url})" : ''
            = link_to(group_path(group), title: group.title) do
              .panel-body{ class: group.color, style: background_image_style }
                - if group.background_image.present?
                  .overlay
                .avatars
                  - users = group.members
                  - users.each_with_index do |u, i|
                    -if i < 3
                      = user_avatar(u, :tiny)
                  %strong
                    = '+'
                    = users.size
            .panel-footer
              = link_to truncate(group.title, length: 16), group_path(group), title: group.title
            - if current_user.following?(group)
              %a.btn.btn-default.hive-tour-button{href: leave_group_path(group)}
                Leave Group
            - else 
              %a.btn.btn-default.hive-tour-button{href: join_group_path(group)}
                Join Group
        = render 'groups/my_groups_script'
    .tab-pane.fade#people
      %p
        <i><strong>Connect</strong></i> with your people to exchange valuable tips and experience
      .container-fluid#friend-request
        - User.limit(3).each do |friend|
          = render 'groups/member', friend: friend
        .clearfix
      .loader#loading
      .hide

:javascript
  $('#hive-tour').click( function () {
    $('.tour-panel-container').css('background-color','#efc04e');
  });

  $('#domain-tour').click( function () {
    $('.tour-panel-container').css('background-color', '#60cf8b');
  });

  $('#group-tour').click( function () {
    $('.tour-panel-container').css('background-color', '#7f5ecf');
  });

  $('#people-tour').click( function () {
    $('.tour-panel-container').css('background-color', '#a95fd0');
  });

  $('.close-tour').click( function () {
    $('.tour-panel-container').addClass('hide');
  }); 

