#second-navigation-anchor
#second-navigation.user-profile
  .wrapper
    %nav.navbar.navbar-default#filter-tab-wrapper{role: 'navigation'}
      .container-fluid
        / Collect the nav links, forms, and other content for toggling        
        .row
          - if current_user.present?
            %ul.nav.navbar-nav
              %li{class: current_page?(user_profile_path(user)) ? 'active' : nil}
                %a.border-right{href: user_profile_path(user)} Tips (#{user.following_tips.count})
              %li{class: current_page?(user_questions_path(user)) ? 'active' : nil}
                %a.border-right{href: user_questions_path(user)} Tips Wanted (#{current_user.get_total_user_questions(user)})
              - if can? :update, user
                %li{class: current_page?(settings_user_path(user)) ? 'active' : nil, style: 'width: 25%;'}
                  %a.border-right{href: settings_user_path(user)} Permission settings
          - else
            %ul.nav.navbar-nav
              %li{class: current_page?(user_profile_path(user)) ? 'active' : nil}
                %a.border-right{href: user_profile_path(user)} Tips (#{user.following_tips.count})
              %li{class: current_page?(user_questions_path(user)) ? 'active' : nil}
                %a.border-right{href: user_questions_path(user)} Tips Wanted (#{user.get_total_user_questions(user)})
              - if can? :update, user
                %li{class: current_page?(settings_user_path(user)) ? 'active' : nil, style: 'width: 25%;'}
                  %a.border-right{href: settings_user_path(user)} Permission settings
          / = render 'shared/filter_bars/sort_filter'if current_page?(user_profile_path(user))
        / = render 'shared/filter_bars/filter_bar_script'
:javascript
  $('#second-navigation').affix({
    offset: {
      top: $('#second-navigation').offset().top - $('#navbar-fixed-top').height()
    }
  });
