<script>
  // create some nodes
  var nodes = [
    {id: '<%= debug_obj.class.name %>-<%= debug_obj.id %>', label: '<%= debug_obj.class.name %>-<%= debug_obj.id %>: <%= j debug_obj.name %>', color: '#ffffff', shape: 'box', radius: 3},
    <% @nodes.each do |n| %>
    {id: '<%= n.class.name %>-<%= n.id %>', label: '<%= n.class.name %>-<%= n.id %>: <%= truncate(j(n.name), length: 60) %>', color: '<%= object_color(n) %>', shape: 'box', radius: 3},
    <% end %>
  ];

  // create some edges
  var edges = [
    <% following.each do |f| %>
    {from: '<%= debug_obj.class.name %>-<%= debug_obj.id %>', to: '<%= f.class.name %>-<%= f.id %>', style: 'arrow', width: 1, length: 200},
    <% end %>
    <% followers.each do |f| %>
    {from: '<%= f.class.name %>-<%= f.id %>', to: '<%= debug_obj.class.name %>-<%= debug_obj.id %>', style: 'arrow', width: 1, length: 400},
    <% end %>
  ];

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {};
  var network = new vis.Network(container, data, options);

  network.on('doubleClick', function (properties) {
    if (properties.nodes.length > 0) {
      window.location.href = '/debug_object/' + properties.nodes;
    }
  });
</script>
