- if @debug_obj
  #mynetwork{ style: 'width: 100%; height: 800px' }

  = render 'home/debug_object_script', debug_obj: @debug_obj, following: @following, followers: @followers
- else
  %p Object not found.
