$('#home-content').html('<%= j(render('home/sections/home_content')) %>');
var $homeSearchInput = $('#home-search-input');
var $homeEmailInput = $('#home-email-input');

<% if params[:do] == 'get-started' %>
  $.smoothScroll({
    scrollTarget: '#join-title',
    offset: -120
  });
  if ($homeSearchInput.length) {
    $homeSearchInput.focus();
  } else if ($homeEmailInput.length) {
    $homeEmailInput.focus();
  }
<% else %>
  $.smoothScroll({
    scrollTarget: '#tabs-bar-anchor',
    offset: -120
  });
<% end %>
