.row
  .col-md-6.col-md-offset-3
    .panel.panel-danger{style: 'margin-top: 100px'}
      .panel-heading.text-center
        %h3.panel-title
          %i.fa.fa-minus-circle
          500 - Internal Server Error!
      .panel-body.text-center
        %h3 We're sorry, but something went wrong.
