.row
  .col-md-6.col-md-offset-3
    .panel.panel-danger{style: 'margin-top: 100px'}
      .panel-heading.text-center
        %h3.panel-title
          %i.fa.fa-minus-circle
          404 - Not Found!
      .panel-body.text-center
        %h3 The page you were looking for doesn't exist.
        %p You may have mistyped the address or the page may have moved.
