<script>
  $(document).ready(function (e) {
    $('input.checkbox').bootstrapSwitch({
      onColor: 'success',
      size: 'small',
      onText: 'Yes',
      offText: 'No',
      onSwitchChange: function updateDomain(event, state) {
        if( state == true) {
          bootbox.dialog({
            message: "Do you want to invite all friends?",
            title: "Invite All Friends",
            buttons: {
              success: {
                label: "Invite Friends",
                className: "btn btn-primary",
                callback: function() {
                  bootbox.dialog({
                    message: '<%= image_tag('ajax-loader.gif') %>',
                    animate: false,
                    buttons: false
                  });
                  $.ajax({
                    type: 'POST',
                    url: '<%= add_friends_path(format: :js)%>',
                    data: {"state": state, "type": "<%= type %>"},
                    success: function(data){
                      alert(1);
                    }
                  });
                }
              },
              danger: {
                label: "Close",
                className: "btn",
                callback: function() {

                }
              }
            }
          });

        }
      }
    });
  });
</script>
