= form_for :friends, url: add_friends_path, remote: true, html: { role: 'form', class: 'form-horizontal' } do |f|
  - if defined? connectable
    = hidden_field_tag :connectable_id, connectable.id
    = hidden_field_tag :connectable_type, connectable.class.name
  .form-group
    = f.label 'Invite via email', class: 'col-md-3 control-label'
    .col-md-9
      = f.text_field :emails, class: 'form-control', placeholder: 'Enter friend\'s email, separated by commas', required: true
  .form-group
    .col-md-12
      = f.submit 'Invite Friend', class: 'btn btn-primary pull-right', data: { 'disable-with' => 'Sending invitation...' }

= render 'users/add_friends_modules/email_script'
