.row
  .col-md-3
    = link_to "#{fa_icon('facebook-square')} Reload Facebook friends".html_safe, user_omniauth_authorize_path(:facebook, from: :add_friends), class: 'btn btn-primary'
  - if !@contacts.blank?
    = render 'users/add_friends_modules/search_form'

- if @contacts.blank?
  %p No contacts found.
- else
  .infinite-container.contacts-container#contacts-container
    #facebook
      = render 'users/add_friends_modules/search_facebook_friends', contacts: @contacts


= render 'search/social_search_script', type: params[:auth]
= render 'users/add_friends_modules/bootstrap_switch', type: params[:auth]
