.row
  .col-md-3
    = link_to "#{fa_icon('google-plus-square')} Reload Gmail contacts".html_safe, user_omniauth_authorize_path(:google_oauth2, from: :add_friends), class: 'btn btn-primary'
  - if !@contacts.blank?
    = render 'users/add_friends_modules/search_form'

- if @contacts.blank?
  %p No contacts found.
- else
  .container-fluid.infinite-container.contacts-container#contacts-container
    #google
      = render 'users/add_friends_modules/search_google_friends', contacts: @contacts


= render 'search/social_search_script', type: params[:auth]
= render 'users/add_friends_modules/bootstrap_switch', type: params[:auth]
