.col-md-6
  %form#social-search-form{role: 'search', action: '/search_social_friends'}
    %input.form-control{placeholder: 'Search friends', type: 'text', name: 'q', id: 'social-friends-search-input', class: 'top-search-input', value: params[:q], autocomplete: 'off'}
    %input{type: 'hidden', name: 'type', value: params[:auth] }
.col-md-3#bootstrap-switch-text
  %input.checkbox{type: 'checkbox', name: 'select all'}
  %span
    %h5 Add All Friends
