- @contacts.each do |contact|
  .item.contact.panel.panel-default
    .panel-body
      - user = User.where(email: contact.email).first if contact['user_id']
      - if user
        %p
          = link_to user.name, user_path(user.username)
        %p
          %span.user-connect{id: "user-connect-#{user.id}"}
            = render 'shared/title_bars/user_connect', user: user
      - else
        %p
          %i.glyphicon.glyphicon-envelope
          = contact.email
        %p
          - user_invited = FriendInvitation.where(email: contact.email).first
          - if user_invited
            = button_tag 'Request sent', class: 'btn btn-default'
          - else
            = render 'users/add_friends_modules/send_invitation_form', connectable: current_user, uid: contact.email
