
- @contacts.each do |contact|
  .item.contact.panel.panel-default
    .panel-body
      .pull-left
        = image_tag "https://graph.facebook.com/#{contact.uid}/picture?type=square", class: 'img-circle'
        %br
        = contact['name']
      .pull-right
        - username = contact.try(:username)
        - email = username.nil? ? '' : username + '@facebook.com'
        - user_invited = FriendInvitation.where(email: email).first
        - if user_invited
          = button_tag 'Request sent', class: 'btn btn-default'
        - else
          = render 'users/add_friends_modules/send_invitation_form', connectable: current_user, uid: email
