= form_for :friends, url: add_friends_path, remote: true, html: { role: 'form', class: 'form-horizontal' } do |f|
  - if defined? connectable
    = hidden_field_tag :connectable_id, connectable.id
    = hidden_field_tag :connectable_type, connectable.class.name
  = hidden_field_tag('friends[emails]', uid, {id: 'emails'})
  = f.submit 'Invite', class: 'btn btn-default', data: { 'disable-with' => 'Sending...' }
