.container-fluid
  .row.domain-setting
    .col-md-3.col-md-offset-2
      = domain.full_name
    .col-md-3
      %input.checkbox{type: 'checkbox', name: 'status', checked: domain.active, 'data-id' => domain.id }
    .col-md-3
      = link_to 'Settings', domain_path(domain)
= render 'domains/bootstrap_switch'
