= form_for(@domain, html: { role: 'form', class: 'form-horizontal' }) do |f|
  .form-group
    = f.label 'Domain url', class: 'col-md-3 control-label'
    .col-md-6
      .input-group.fileinput-new
        = f.text_field :name, required: true, class: 'form-control'
        %span.input-group-addon.btn.btn-default.btn-file
          = @domain.full_name
  .form-group
    = f.label :logo, class: 'col-md-3 control-label'
    .col-md-6
      =# f.file_field :background_image, class: 'form-control'
      = f.hidden_field :logo_cache
      .fileinput.fileinput-new.input-group{'data-provides' => 'fileinput'}
        .image-upload-actions
          %span.btn.btn-primary.fileinput-button
            %span Upload Logo
            %input#image-logoupload{ type: 'file', name: 'domain_image[logo]', multiple: 'multiple', class: 'btn btn-primary', data: { url: upload_image_domain_path(@domain) } }
          %span.ajax-loader.hide#ajax-loader  
  .form-group#logo-domain      
    - if @domain.logo.present?
      .col-md-3
      .col-md-9
        .form-thumb
          = image_tag(@domain.logo.small.url)
          %br
          %label
            = f.check_box :remove_logo
            Remove logo        
  .form-group
    = f.label 'Image homepage', class: 'col-md-3 control-label'
    .col-md-6
      =# f.file_field :background_image, class: 'form-control'
      = f.hidden_field :background_cache
      .fileinput.fileinput-new.input-group{'data-provides' => 'fileinput'}
        .image-upload-actions
          %span.btn.btn-primary.fileinput-button
            %span Upload Background
            %input#image-backgroundupload{ type: 'file', name: 'domain_image[background]', multiple: 'multiple', class: 'btn btn-primary', data: { url: upload_image_domain_path(@domain) } }
          %span.ajax-loader.hide#ajax-loader-bg
  .form-group#background-domain
    - if @domain.background.present?
      .col-md-3
      .col-md-9
        .form-thumb
          = image_tag(@domain.background.small.url)
          %br
          %label
            = f.check_box :remove_background
            Remove background image 
  .form-group
    .col-md9.col-md-offset-3
      = f.submit class: 'btn btn-primary'
      = link_to 'Delete', @domain, class: 'btn btn-danger', data: { method: :delete, confirm: 'Are you sure to delete this Domain?' } if @domain.persisted?

= render 'domains/upload_image_script', domain: @domain
