.row
  .col-md-6.col-md-offset-3.sign-in-wrapper
    .panel.panel-default.panel-sign-in
      .panel-body
        %form.form
          .form-group
            %input.form-control{type: 'email', placeholder: 'your work email address'}
          .form-group
            %input.form-control{type: 'password', placeholder: 'Password'}
          .form-group
            %input.button-domain{type: 'submit', value: 'Login'}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            %a{href: '/'} Forgot password?
