.modal#domain-share-modal.share-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h4.modal-title Add member to domain
      .modal-body
        %ul.nav.nav-pills
          %li.active
            %a{href: '#share', 'data-toggle'=>'tab'} Share
          %li
            %a{href: '#invite', 'data-toggle'=>'tab'} Invite by email
          %li
            %a{href: '#share-link', 'data-toggle'=>'tab'} Share link
        .tab-content.popup-form
          #share.tab-pane.active
            = form_for @domain, url: share_domain_path(@domain), html: { role: 'form', class: 'form-horizontal', data: { remote: true } } do |f|
              = f.hidden_field :id
              .form-group
                = f.label 'Share', class: 'col-md-1 control-label'
                .col-md-11
                  = render 'search/friends_and_groups_select_for_sharing', f: f, object: @domain, selected_friends_and_groups: @selected_friends_and_groups
                .col-md-1.control-label
                .col-md-11
                  = 'Sharing with' if @connected_friends_and_groups.map{ |u| u.class.name }.include? 'User'
                  - @connected_friends_and_groups.each do |u|
                    = user_avatar(u, :tiny)

          #invite.tab-pane
            = render 'users/add_friends_modules/email', connectable: @domain
          #share-link.tab-pane
            .share-area
              Share with
              - domain_image = @domain.background.present? ? @domain.background.medium.url : image_url('pockets-no-images.png')
              - image = image_url(domain_image)
              = render 'shared/social_share', object: @domain, content: @domain.name, image: image
          = render 'search/friends_and_groups_select_for_sharing_script', object: @domain

      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
