.row
  .col-md-6.col-md-offset-3.sign-in-wrapper
    .panel.panel-default.panel-sign-up
      .panel-body
        %form.form
          .form-group
            %input.form-control{type: 'email', placeholder: 'your work email address'}
          .form-group
            %input.button-domain{type: 'submit', value: 'Sign Up'}
          %br
          %p Check your inbox for an email with

          %p the link to create your account
          %br
        %form.form
          %p Don't have a company email address?
          .form-group
            %input.form-control{type: 'email', placeholder: 'your email address'}
          .form-group
            %input.button-domain{type: 'submit', value: 'Request invite'}
