<script type="text/javascript">
  $('#image-logoupload').fileupload({
    dataType: 'json',
    method: 'POST',
    add: function (e, data) {
      $('#ajax-loader').removeClass('hide');
      data.submit();
    },
    progressall: function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
    },
    done: function (e, data) {
      $('#ajax-loader').addClass('hide');
      var domain = JSON.parse(data.jqXHR.responseText);
      if (domain.status == 'fail')
      {
        $('#logo-domain').after(domain.message);
      }
      else
      {
        var $image_link = $('<div>');
        var $div_col = $('<div>');
        var $div_image = $('<div>');
        var $image = $('<img>');
        var $delete_button = $('<label>');
        $delete_button.append('<input type="hidden" value="0" name="domain[remove_logo]">');
        $delete_button.append('<input id="domain_remove_logo" type="checkbox" value="1" name="domain[remove_logo]">'); 
        $delete_button.append('Remove Logo')
        //var $delete_button = $('<button class="btn-remove-picture glyphicon glyphicon-remove btn btn-danger btn-sm" type="button" data-picture-id="'+domain.id+'">')
        //$delete_button.on('click', processRemovePicture);
        $div_col.addClass('col-md-3');
        $div_image.addClass('col-md-9') 
        $image.attr('src', domain.logo.logo.small.url);
        $image_link.addClass('form-thumb');
        $image_link.append($image);
        $div_image.append($image_link);
        $div_image.append($delete_button);
        //$div_image.after($image_link);
        //$image_link.append($delete_button);
        $('#logo-domain').empty();
        $('#logo-domain').append($div_col);
        $('#logo-domain').append($div_image);

        //$('#tip_picture_ids').val(picture_ids);
      }
    }
  });

  $('#image-backgroundupload').fileupload({
    dataType: 'json',
    method: 'POST',
    add: function (e, data) {
      $('#ajax-loader-bg').removeClass('hide');
      data.submit();
    },
    progressall: function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
    },
    done: function (e, data) {
      $('#ajax-loader-bg').addClass('hide');
      var domain = JSON.parse(data.jqXHR.responseText);
      if (domain.status == 'fail')
      {
        $('#background-domain').after(domain.message);
      }
      else
      {
        var $image_link = $('<div>');
        var $div_col = $('<div>');
        var $div_image = $('<div>');
        var $image = $('<img>');
        var $delete_button = $('<label>');
        $delete_button.append('<input type="hidden" value="0" name="domain[remove_background]">');
        $delete_button.append('<input id="domain_remove_background" type="checkbox" value="1" name="domain[remove_background]">'); 
        $delete_button.append('Remove Background')
        $div_col.addClass('col-md-3');
        $div_image.addClass('col-md-9') 
        $image.attr('src', domain.background.background.small.url);
        $image_link.addClass('form-thumb');
        $image_link.append($image);
        $div_image.append($image_link);
        $div_image.append($delete_button);
        //$div_image.after($image_link);
        //$image_link.append($delete_button);
        $('#background-domain').empty();
        $('#background-domain').append($div_col);
        $('#background-domain').append($div_image);

        //$('#tip_picture_ids').val(picture_ids);
      }
    }
  });

</script>
