= content_for :title_bar do
  = render 'shared/title_bars/simple_title', title: 'Domain Settings', content: "Domain: #{@domain.name}"
= content_for :filter_bar do
  = render 'shared/filter_bars/settings_domain'

.row.form-wrapper
  .col-md-8.col-md-offset-2
    .row
      .col-md-9.col-md-offset-4
        %h3 Usage
    %form.form-horizontal
      - if @domain.errors.any?
        #error_explanation.alert.alert-danger
          %h2= "#{pluralize(@domain.errors.count, 'error')} prohibited this domain from being saved:"
          %ul
            - @domain.errors.full_messages.each do |msg|
              %li= msg
      .form-group
        %label.col-md-4.control-label On #{Date.today.beginning_of_month.strftime('%B')} 1, this domain had
        .col-md-3
          .form-control
            = @domain.users_count(Date.today.beginning_of_month)
      .form-group
        %label.col-md-4.control-label Your cost per user per month is
        .col-md-3
          .form-control
            $
            = (@domain.price / @domain.users_count)
        %a{'data-toggle'=>'modal', href: '#SeePrice'} See pricing

      .form-group
        %label.col-md-4.control-label Your total cost for this month is
        .col-md-3
          .form-control
            $
            = @domain.price

#SeePrice.modal
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        .button.close{ type: 'button', 'data-dismiss'=>'modal', 'aria-hidden'=>'true'}
          x
        %h4.modal-titel Pricing
      .modal-body
        %table.table.table-bordered
          %tbody
            %tr
              %td Users
              %td Price
            %tr
              %td <100
              %td $100 / month
            %tr
              %td 100-5,000
              %td $1 / user /month
            %tr
              %td 5,000 - 10,000
              %td $0,09 / user / month
            %tr
              %td >10,000
              %td $9,000 / user / month
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
