.container-fluid
  .row
    .login-link
      %ul.nav-button.text-center
        %li
          %a.btn.btn-primary.btn-md{href: new_user_session_path} Log In
        %li
          %a.btn.btn-primary.btn-md{href: new_user_registration_path} Sign Up
