= content_for :title_bar do
  = render 'shared/title_bars/simple_title', title: 'Settings'
= content_for :filter_bar do
  = render 'shared/filter_bars/settings_filter'
.row.form-wrapper
  .col-md-8.col-md-offset-2
    .row
      .col-md-9.col-md-offset-3
        %h3 Create a domain
    =# render 'form'
    = form_for(@domain, html: { role: 'form', class: 'form-horizontal' }) do |f|
      .form-group
      = f.label 'Domain url', class: 'col-md-3 control-label'
      .col-md-6
        .input-group.fileinput-new
          = f.text_field :name, required: true, class: 'form-control'
          %span.input-group-addon.btn.btn-default.btn-file
            = @domain.full_name
      = f.submit class: 'btn btn-primary col-md-3'
%br
.divider
- if current_user.domains.select(&:persisted?).any?
  .row
    .col-md-7.col-md-offset-5
      %h3 Your domains
    = render(current_user.domains.select(&:persisted?))
