= content_for :title_bar do
  = render 'shared/title_bars/simple_title', title: 'Domain Settings', content: "Domain: #{@domain.name}"
= content_for :filter_bar do
  = render 'shared/filter_bars/settings_domain'


.container-fluid#alphabet-wrapper
  .alphabet
    - ('A'..'Z').each do |char|
      %span
        - logger.info "@members_az[char]: #{@members_az[char].inspect}"
        - if @members_az[char][:count] > 0
          = link_to char, domain_members_by_initial_path(initial: char)
        - else
          = "#{char}"
      - if char != 'Z'
        %span
          = '&middot;'.html_safe

.container-fluid#friends-container
  - @members.each do |friend|
    = render 'users/friend', friend: friend
  .clearfix
.loader#loading
.hide
  = paginate @members

= render 'users/my_friends_script'
