= content_for :title_bar do
  = render 'shared/title_bars/domains_title', locals: { title: 'Domain Settings'}
= content_for :filter_bar do
  = render 'shared/filter_bars/settings_domain'
%br
= render 'form', locals: { domain: @domain}
.divider
- if current_user.domains.select(&:persisted?).any?
  .row
    .col-md-9.col-md-offset-5
      %h3 Your domains
    = render(current_user.domains.select(&:persisted?))
