= form_for @tip_link do |f|
  - if @tip_link.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tip_link.errors.count, 'error')} prohibited this tip_link from being saved:"
      %ul
        - @tip_link.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :image_url
    = f.text_field :image_url
  .field
    = f.label :avatar
    = f.text_field :avatar
  .field
    = f.label :tip_id
    = f.number_field :tip_id
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
