%h1 Listing tip_links

%table
  %tr
    %th Url
    %th Title
    %th Description
    %th Image url
    %th Avatar
    %th Tip
    %th User
    %th
    %th
    %th

  - @tip_links.each do |tip_link|
    %tr
      %td= tip_link.url
      %td= tip_link.title
      %td= tip_link.description
      %td= tip_link.image_url
      %td= tip_link.avatar
      %td= tip_link.tip_id
      %td= tip_link.user_id
      %td= link_to 'Show', tip_link
      %td= link_to 'Edit', edit_tip_link_path(tip_link)
      %td= link_to 'Destroy', tip_link, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tip link', new_tip_link_path
