%p#notice= notice

%p
  %b Url:
  = @tip_link.url
%p
  %b Title:
  = @tip_link.title
%p
  %b Description:
  = @tip_link.description
%p
  %b Image url:
  = @tip_link.image_url
%p
  %b Avatar:
  = @tip_link.avatar
%p
  %b Tip:
  = @tip_link.tip_id
%p
  %b User:
  = @tip_link.user_id

= link_to 'Edit', edit_tip_link_path(@tip_link)
\|
= link_to 'Back', tip_links_path
