%p#notice= notice

%p
  %b Title:
  = @file.title
%p
  %b File
  = @file.url
%p
  %b Fileable:
  = @file.fileable_id
%p
  %b Fileable type:
  = @file.fileable_type

= link_to 'Edit', edit_file_path(@file)
\|
= link_to 'Back', files_path
