.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p
        Hi,

      %p
        #{link_to(@invitation.inviter_name, user_url(@invitation.inviter, subdomain: @invitation.subdomain))}
        is inviting you to join the group #{@invitation.connectable.title} on
        TipHive.

      %p
        TipHive is a community for finding the best tips. By joining TipHive,
        you'll be able to stay up to date on the latest tips from your
        #{@invitation.connectable.type == :enterprise ? 'co-workers' : 'friends'}.

    .panel-footer
      %p
        = link_to(new_user_registration_url(inviter_id: @invitation.inviter_id, token: @invitation.invitation_token, subdomain: @invitation.subdomain), class: 'btn btn-primary') do
          Join #{@invitation.inviter_first_name} on TipHive

      %p
        - url = new_user_registration_url(inviter_id: @invitation.inviter_id, token: @invitation.invitation_token, subdomain: @invitation.subdomain)
        = link_to(tiphive_protocol_redirect_url(url: url), class: 'btn btn-primary') do
          Click here to Join #{@invitation.inviter_first_name} on TipHive if you're requesting from a mobile device.
