.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p
        Hi,

      %p
        Your friend
        #{link_to(@invitation.inviter_name, user_url(@invitation.inviter, subdomain: @invitation.subdomain))}
        is inviting you to share tips for #{@invitation.connectable.title}.

      %p
        TipHive is a community for finding the best tips. By joining TipHive,
        you'll be able to stay up to date on the latest tips from your friends.

    .panel-footer
      %p
        = link_to(new_user_registration_url(inviter_id: @invitation.inviter_id, token: @invitation.invitation_token, subdomain: @invitation.subdomain), class: 'btn btn-primary') do
          Join #{@invitation.inviter_first_name} on TipHive

      %p
        = link_to(new_user_registration_url(protocol: 'tiphive', inviter_id: @invitation.inviter_id, token: @invitation.invitation_token, subdomain: @invitation.subdomain), class: 'btn btn-primary') do
          Click this link to Join #{@invitation.inviter_first_name} on TipHive if you're requesting from a mobile device.
