.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %p
        Hi,

      %p
        You are invited to join TipHive.

      %p
        TipHive is a community for finding the best tips. By joining TipHive,
        you'll be able to stay up to date on the latest tips from your friends.

    .panel-footer
      %p
        = link_to(new_user_registration_url(inviter_id: 'system', token: @invitation.invitation_token, subdomain: @invitation.subdomain), class: 'btn btn-primary') do
          Join

      %p
        - url = new_user_registration_url(inviter_id: 'system', token: @invitation.invitation_token, subdomain: @invitation.subdomain)
        = link_to(tiphive_protocol_redirect_url(url: url), class: 'btn btn-primary') do
          Click here to Join if you're requesting from a mobile device.
