.row
  .col-md-6.col-md-offset-3.sign-in-wrapper
    %h3 Login
    .panel.panel-default.panel-sign-in
      .panel-body
        .social-wrapper
          = link_to "#{fa_icon('facebook-square')} Facebook".html_safe, user_omniauth_authorize_path(:facebook, from: :sign_in), class: 'btn btn-primary btn-lg'
          = link_to "#{fa_icon('twitter-square')} Twitter".html_safe, user_omniauth_authorize_path(:twitter, from: :sign_in), class: 'btn btn-primary btn-lg'
          = link_to "#{fa_icon('google-plus-square')} Google+".html_safe, user_omniauth_authorize_path(:google_oauth2, from: :sign_in), class: 'btn btn-primary btn-lg'

        = form_for(resource, as: resource_name, url: session_path(resource_name, email: params[:email]), html: { role: 'form', class: 'form-horizontal' }) do |f|
          .form-group
            = f.label :email, class: 'col-md-3 control-label'
            .col-md-9
              = f.email_field :email, autofocus: true, value: params[:email], class: 'form-control input-lg'
          .form-group
            = f.label :password, class: 'col-md-3 control-label'
            .col-md-9
              = f.password_field :password, class: 'form-control input-lg'
          - if devise_mapping.rememberable?
            .form-group
              .col-md-offset-3.col-md-9.align-left
                %label.check-box
                  = f.check_box :remember_me
                  Remember me
                - if devise_mapping.recoverable?
                  = link_to 'Forgot your password?', new_password_path(resource_name), class: 'pull-right'
          .form-group
            = f.submit 'Log In', class: 'btn btn-primary btn-lg'
