.row
  .col-md-6.col-md-offset-3.sign-in-wrapper
    %h3= t 'devise.invitations.edit.header'
    .panel.panel-default.panel-sign-in
      .panel-body
        = form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put, role: 'form' } do |f|
          = devise_error_messages!
          = f.hidden_field :invitation_token
          .form-group
            = f.label :password
            = f.password_field :password, autofocus: true, class: 'form-control input-lg'
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          = f.submit t('devise.invitations.edit.submit_button'), class: 'btn btn-primary btn-lg'
