.row
  .col-md-6.col-md-offset-3.sign-in-wrapper
    %h3= t 'devise.invitations.new.header'
    .panel.panel-default.panel-sign-in
      .panel-body
        = form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post, role: 'form' } do |f|
          = devise_error_messages!
          .form-group
            - resource.class.invite_key_fields.each do |field|
              = f.label field
              = f.text_field field, class: 'form-control input-lg'
          = f.submit t('devise.invitations.new.submit_button'), class: 'btn btn-primary btn-lg'
