%nav.navbar.navbar-default#filter-bar-wrapper{role: 'navigation'}
  .container-fluid
    / Collect the nav links, forms, and other content for toggling
    #filter-bar
      %ul.nav.navbar-nav
        %li{class: params[:auth] == 'email' ? 'active' : nil}
          %a.border-right{href: add_friends_path(auth: 'email')}
            Email
        %li{class: params[:auth] == 'facebook' ? 'active' : nil}
          %a.border-right{href: add_friends_path(auth: 'facebook')}
            Facebook
        -#
          %li{class: params[:auth] == 'twitter' ? 'active' : nil}
            %a.border-right{href: add_friends_path(auth: 'twitter')}
              Twitter
        %li{class: params[:auth] == 'google_oauth2' ? 'active' : nil}
          %a.border-right{href: add_friends_path(auth: 'google_oauth2')}
            Gmail
        -#
          %li{class: params[:auth] == 'yahoo' ? 'active' : nil}
            %a.border-right{href: add_friends_path(auth: 'yahoo')}
              Yahoo
