#second-navigation-anchor
#second-navigation
  .wrapper
    %nav.navbar.navbar-default#filter-tab-wrapper{role: 'navigation'}
      .container-fluid
        .row
          %ul.nav.navbar-nav
            %li{class: current_page?(group_path(group)) ? 'active' : nil}
              %a.border-right.border-left{href: group_path(group)} Tips (#{group.following_tips.count})
            %li{class: current_page?(group_questions_path(group)) ? 'active' : nil}
              %a.border-right{href: group_questions_path(group)} Tips Wanted (#{group.following_questions.count})
            %li{class: current_page?(members_group_path(group)) || (params[:initial].present? && current_page?(group_members_by_initial_path(initial: params[:initial]))) ? 'active' : nil}
              %a.border-right{href: members_group_path(group)} Members (#{group.user_followers.count})

    %nav.navbar.navbar-default#filter-bar-wrapper{role: 'navigation'}
      .container-fluid
        / Collect the nav links, forms, and other content for toggling
        #filter-bar
          .navbar-form.navbar-left
            = render_breadcrumbs separator:' / '
            = '&nbsp;&nbsp;'.html_safe
            - group.following_hives.limit(3).each do |hive|
              %a{href: hive_path(hive), class: 'btn btn-default', id: "nav-bar-hive-#{hive.id}"}
                .icon-hives
                = hive.title
          /= render 'shared/filter_bars/tips_social_filters' if current_page?(group_path(group))
          = render 'shared/filter_bars/sort_filter' if current_page?(group_path(group))
          /= render 'shared/filter_bars/questions_social_filters' if current_page?(group_questions_path(group))
= render 'shared/filter_bars/filter_bar_script'
