#second-navigation-anchor
#second-navigation
  .wrapper
    %nav.navbar.navbar-default#filter-tab-wrapper{role: 'navigation'}
      .container-fluid
        .row
          %ul.nav.navbar-nav
            %li{class: current_page?(hive_path(hive)) ? 'active' : nil}
              %a.border-right.border-left{href: hive_path(hive)} Tips (#{current_user.get_hive_tips(current_user, hive).count})
            %li{class: current_page?(hive_questions_path(hive)) ? 'active' : nil}
              %a.border-right{href: hive_questions_path(hive)} Tips Wanted (#{hive.questions_followers.count})
            %li{class: current_page?(hive_users_path(hive)) ? 'active' : nil}
              %a.border-right{href: hive_users_path(hive)} People (#{hive.user_followers.count})
    %nav.navbar.navbar-default#filter-bar-wrapper{role: 'navigation'}
      .container-fluid
        / Collect the nav links, forms, and other content for toggling
        #filter-bar
          .navbar-form.navbar-left
            = render_breadcrumbs separator:' / '
            = '&nbsp;&nbsp;'.html_safe
            - if page_type == 'questions'
              %a.active-transition.btn.btn-default.btn-filter-bar#all-button{href: hive_questions_path(hive), data: {remote: true}} All Tips Wanted  
              - hive.pockets.limit(3).each do |pocket|
                = link_to pocket.title, hive_questions_path(hive, pocket_id: pocket.id), data: {remote: true}, class: 'btn btn-default active-transition', id: "nav-bar-pocket-#{pocket.id}"
              - if hive.pockets.size > 3
                %form.navbar-form.navbar-right
                  Other
                  .button-group
                    %a.dropdown-menu-right.dropdown-toggle{href: '#',style: 'font-weight: bold; text-decoration: none;color: #000; padding-top: 6px;background-color: #fff;','data-toggle' => 'dropdown'}
                      = 'Pockets'
                      %span.caret
                    %ul.dropdown-menu.dropdown-menu-right{role: 'menu'}
                      - hive.pockets.each_with_index do |pocket, index|
                        - if index >= 3
                          %li.text-left
                            %a.active-transition{href: hive_questions_path(hive, pocket_id: pocket.id), data: {remote: true}}
                              = pocket.title   
            - elsif page_type == 'tips'
              %a.active-transition.btn.btn-default.btn-filter-bar#all-button{href: hive_path(hive), data: {remote: true}} All Tips  
              - hive.pockets.limit(3).each do |pocket|
                = link_to pocket.title, hive_path(hive, pocket_id: pocket.id), data: {remote: true}, class: 'btn btn-default active-transition', id: "nav-bar-pocket-#{pocket.id}"
              - if hive.pockets.size > 3
                %form.navbar-form.navbar-right
                  Other
                  .button-group
                    %a.dropdown-menu-right.dropdown-toggle{href: '#',style: 'font-weight: bold; text-decoration: none;color: #000; padding-top: 6px;background-color: #fff;','data-toggle' => 'dropdown'}
                      = 'Pockets'
                      %span.caret
                    %ul.dropdown-menu.dropdown-menu-right{role: 'menu'}
                      - hive.pockets.each_with_index do |pocket, index|
                        - if index >= 3
                          %li.text-left
                            %a.active-transition{href: hive_path(hive, pocket_id: pocket.id), data: {remote: true}}
                              = pocket.title  
            - else
              %a.active-transition.btn.btn-default.btn-filter-bar#all-button{href: hive_users_path(hive), data: {remote: true}} All People  
              - hive.pockets.limit(3).each do |pocket|
                = link_to pocket.title, hive_users_path(hive, pocket_id: pocket.id), data: {remote: true}, class: 'btn btn-default active-transition', id: "nav-bar-pocket-#{pocket.id}"    
              - if hive.pockets.size > 3
                %form.navbar-form.navbar-right
                  Other
                  .button-group
                    %a.dropdown-menu-right.dropdown-toggle{href: '#',style: 'font-weight: bold; text-decoration: none;color: #000; padding-top: 6px;background-color: #fff;','data-toggle' => 'dropdown'}
                      = 'Pockets'
                      %span.caret
                    %ul.dropdown-menu.dropdown-menu-right{role: 'menu'}
                      - hive.pockets.each_with_index do |pocket, index|
                        - if index >= 3
                          %li.text-left
                            %a.active-transition{href: hive_users_path(hive, pocket_id: pocket.id), data: {remote: true}}
                              = pocket.title  
          / = render 'shared/filter_bars/tips_social_filters' if request.path == "/hives/#{params[:id]}"
          / = render 'shared/filter_bars/sort_filter' if request.path == "/hives/#{params[:id]}"
= render 'shared/filter_bars/filter_bar_script'
