%nav.navbar.navbar-default.mbn#filter-bar-wrapper{role: 'navigation'}
  .container-fluid
    / Collect the nav links, forms, and other content for toggling
    #filter-bar
      %ul.nav.navbar-nav.navbar-center
        %li.border-left{class: params[:at] == 'school' ? 'active' : nil}
          %a{href: root_path(at: 'school')}
            At School
        %li.border-left.border-right{class: params[:at] == 'work' ? 'active' : nil}
          %a{href: root_path(at: 'work')}
            At Work
