#second-navigation-anchor
#second-navigation
  .wrapper
    %nav.navbar.navbar-default#filter-tab-wrapper{role: 'navigation'}
      .container-fluid
        .row
          %ul.nav.navbar-nav
            %li{class: current_page?(my_friends_path) ? 'active' : nil}
              %a.border-right.border-left{href: my_friends_path} My People 
            %li{class: current_page?(add_friends_path) ? 'active' : nil}
              %a.border-right{href: add_friends_path} Invite People
            %li{class: current_page?(meet_people_path) || (params[:initial].present? ? current_page?(meet_people_by_initial_path(params[:initial])) : false) ? 'active' : nil}
              %a.border-right{href: meet_people_path} Meet People
    
    - if current_page?(add_friends_path)
      %nav.navbar.navbar-default#filter-bar-wrapper{role: 'navigation'}
        .container-fluid
          / Collect the nav links, forms, and other content for toggling
          #filter-bar
            .navbar-form.navbar-left   
              = link_to 'By Email', add_friends_path(auth: 'email'), class: "btn btn-default #{ params[:auth] == 'email' ? 'btn-filter-bar' : nil }"
              = link_to 'By Facebook', add_friends_path(auth: 'facebook'), class: "btn btn-default #{ params[:auth] == 'facebook' ? 'btn-filter-bar' : nil }"
              = link_to 'By Gmail', add_friends_path(auth: 'google_oauth2'), class: "btn btn-default #{ params[:auth] == 'google_oauth2' ? 'btn-filter-bar' : nil }"
= render 'shared/filter_bars/filter_bar_script'
