#second-navigation-anchor
#second-navigation
  .wrapper
    %nav.navbar.navbar-default#filter-tab-wrapper{role: 'navigation'}
      .container-fluid
        .row
          %ul.nav.navbar-nav
            %li{class: params[:type_page] != 'show_all' ? 'active' : nil}
              %a.border-right.border-left{href: my_hives_path} My Hives
            %li{class: current_page?(my_hives_path(type_page: 'show_all')) ? 'active' : nil}
              %a.border-right{href: my_hives_path(type_page: 'show_all')} All Hives
            %li
              %a.border-right{href: '#'} &nbsp;
= render 'shared/filter_bars/filter_bar_script'
