#second-navigation-anchor
#second-navigation
  .wrapper
    %nav.navbar.navbar-default#filter-tab-wrapper{role: 'navigation'}
      .container-fluid
        .row
          %ul.nav.navbar-nav
            %li{class: current_page?(pocket_path(pocket)) ? 'active' : nil}
              %a.border-right.border-left{href: pocket_path(pocket)} Tips
            %li{class: current_page?(pocket_questions_path(pocket)) ? 'active' : nil}
              %a.border-right{href: pocket_questions_path(pocket)} Tips Wanted
            %li
              %a.border-right{href: '#'} &nbsp;

    %nav.navbar.navbar-default#filter-bar-wrapper{role: 'navigation'}
      .container-fluid
        / Collect the nav links, forms, and other content for toggling
        #filter-bar
          = render 'shared/filter_bars/tips_social_filters' if current_page?(pocket_path(pocket))
          = render 'shared/filter_bars/sort_filter' if current_page?(pocket_path(pocket))
          = render 'shared/filter_bars/questions_social_filters' if current_page?(pocket_questions_path(pocket))
= render 'shared/filter_bars/filter_bar_script'
