%nav.navbar.navbar-default#filter-tab-wrapper{role: 'navigation'}
  .container-fluid
    .row
      %ul.nav.navbar-nav
        %li{class: current_page?(hive_path(hive)) ? 'active' : nil}
          %a.border-right.border-left{href: hive_path(hive)} Tips
        %li{class: current_page?(hive_questions_path(hive)) ? 'active' : nil}
          %a.border-right{href: hive_questions_path(hive)} Wanted
        %li{class: current_page?(hive_pockets_path(hive)) ? 'active' : nil}
          %a.border-right{href: hive_pockets_path(hive)} Pockets

%nav.navbar.navbar-default#filter-bar-wrapper{role: 'navigation'}
  .container-fluid
    / Collect the nav links, forms, and other content for toggling
    #filter-bar
      = render 'shared/filter_bars/questions_social_filters'
