%form.navbar-form.navbar-left
  .dekstop-filter
    .btn-group
      %a.btn.btn-default{href: "#{request.path}?social_filter=my_wants", class: "#{params[:social_filter] == 'my_wants' ? 'btn-filter-bar' : nil}"} My wants
      -#
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          %span.fa.fa-share
          %span.sr-only Toggle Dropdown
        %ul.dropdown-menu{role: "menu"}
          %li
            %a{href: 'javascript:void(0)'} Action
          %li
            %a{href: 'javascript:void(0)'} Another action
          %li
            %a{href: 'javascript:void(0)'} Something else here
          %li.divider
          %li
            %a{href: 'javascript:void(0)'} Separated link
    %a.btn.btn-default{href: "#{request.path}?social_filter=my_liked_wants", class: "#{params[:social_filter] == 'my_liked_wants' ? 'btn-filter-bar' : nil}"} My Liked wants
    .btn-group
      %a.btn.btn-default{href: "#{request.path}?social_filter=friends_wants", class: "#{params[:social_filter] == 'friends_wants' ? 'btn-filter-bar' : nil}"} Friends' wants
      -#
        %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
          %span.fa.fa-cog
          %span.sr-only Toggle Dropdown
        %ul.dropdown-menu{role: "menu"}
          %li
            %a{href: 'javascript:void(0)'} Action
          %li
            %a{href: 'javascript:void(0)'} Another action
          %li
            %a{href: 'javascript:void(0)'} Something else here
          %li.divider
          %li
            %a{href: 'javascript:void(0)'} Separated link
    %a.btn.btn-default{href: "#{request.path}?social_filter=public_wants", class: "#{params[:social_filter] == 'public_wants' ? 'btn-filter-bar' : nil}"} Public wants
  .mobile-filter
    Filter
    .btn-group
      %button.btn.btn-default.dropdown-menu-left.dropdown-toggle{'data-toggle' => 'dropdown', type: 'button'}
        = params[:social_filter].present? ? params[:social_filter].humanize : 'My wants'
        %span.caret
      %ul.dropdown-menu.dropdown-menu-left{role: 'menu'}
        %li.text-left
          %a{href: "#{url_for social_filter: 'my_tips', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type:   params[:type] ? params[:type] : nil}"} My wants
        %li.text-left
          %a{href: "#{url_for social_filter: 'my_liked_wants', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}"} My Liked wants
        %li.text-left
          %a{href: "#{url_for social_filter: 'friends_wants', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}"} Friends' wants
        %li.text-left
          %a{href: "#{url_for social_filter: 'public_wants', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}"} Public wants
