#second-navigation-anchor
#second-navigation
  .wrapper
    %nav.navbar.navbar-default#filter-bar-wrapper{role: 'navigation'}
      .container-fluid
        / Collect the nav links, forms, and other content for toggling
        #filter-bar
          %ul.nav.navbar-nav
            /%li{class: params[:type] == 'All' ? 'active' : nil}
            /  %a.border-right{href: url_for(q: params[:q], type: 'All')} All
            %li{class: params[:type] == 'Tip' ? 'active' : nil}
              %a.border-right.border-left{href: url_for(q: params[:q], type: 'Tip')} Tips
            %li{class: params[:type] == 'Hive' ? 'active' : nil}
              %a.border-right{href: url_for(q: params[:q], type: 'Hive')} Hives
            / %li{class: params[:type] == 'Pocket' ? 'active' : nil}
            /   %a.border-right{href: url_for(q: params[:q], type: 'Pocket')} Pockets
            %li{class: params[:type] == 'User' ? 'active' : nil}
              %a.border-right{href: url_for(q: params[:q], type: 'User')} Friends
            %li{class: params[:type] == 'Group' ? 'active' : nil}
              %a.border-right{href: url_for(q: params[:q], type: 'Group')} Groups
          =# render 'shared/filter_bars/tips_social_filters' if params[:type] == 'Tip'
          =# render 'shared/filter_bars/sort_filter' if params[:type] == 'Tip'
= render 'shared/filter_bars/filter_bar_script'
