#second-navigation-anchor
#second-navigation
  .wrapper
    %nav.navbar.navbar-default#filter-tab-wrapper{role: 'navigation'}
      .container
        .row
          %ul.nav.navbar-nav            
            %li{class: current_page?(domain_path) ? 'active' : nil}
              %a.border-right{href: domain_path} General Settings
            %li{class: current_page?(members_domain_path) ? 'active' : nil}
              %a.border-right{href: members_domain_path} People
            
= render partial: 'shared/filter_bars/filter_bar_script'
