%nav.navbar.navbar-default#filter-bar-wrapper{role: 'navigation'}
  .container-fluid
    / Collect the nav links, forms, and other content for toggling
    #filter-bar
      %ul.nav.navbar-nav
        %li{class: current_page?(edit_user_registration_path) ? 'active' : nil}
          %a.border-right{href: edit_user_registration_path} General
        %li{class: current_page?(email_notifications_path) ? 'active' : nil}
          %a.border-right{href: email_notifications_path} Email notifications
        %li{class: current_page?(domains_path) ? 'active' : nil}
          %a.border-right{href: domains_path} Domains
