%form.navbar-form.navbar-right.sort
  Sort
  .button-group
    %a.dropdown-menu-right.dropdown-toggle{href: '#',style: 'font-weight: bold; text-decoration: none;color: #000; padding-top: 6px;background-color: #fff;','data-toggle' => 'dropdown'}
      = params[:sort_filter].present? ? params[:sort_filter].humanize : 'Most recent'
      %span.caret
    %ul.dropdown-menu.dropdown-menu-right{role: 'menu'}
      %li.text-left
        %a{href: "#{url_for social_filter: params[:social_filter], sort_filter: 'most_recent', q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}"}
          Most recent
      %li.text-left
        %a{href: "#{url_for social_filter: params[:social_filter], sort_filter: 'most_popular', q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}"}
          Most popular
      %li.text-left
        %a{href: "#{url_for social_filter: params[:social_filter], sort_filter: 'near_by', q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}"}
          Near by
