%form.navbar-form.navbar-left
  .dekstop-filter
    .btn-group
      %a.btn.btn-default{href: "#{url_for social_filter: 'my_tips', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}", class: "#{params[:social_filter] == 'my_tips' ? 'btn-filter-bar' : nil}"}
        My Tips
    %a.btn.btn-default{href: "#{url_for social_filter: 'my_liked_tips', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}", class: "#{params[:social_filter] == 'my_liked_tips' ? 'btn-filter-bar' : nil}"} My Liked Tips
    .btn-group
      %a.btn.btn-default{href: "#{url_for social_filter: 'friends_tips', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}", class: "#{params[:social_filter] == 'friends_tips' ? 'btn-filter-bar' : nil}"} Friends' Tips
    %a.btn.btn-default{href: "#{url_for social_filter: 'public_tips', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}", class: "#{params[:social_filter] == 'public_tips' ? 'btn-filter-bar' : nil}"} Public Tips
  .mobile-filter
    Filter
    .btn-group
      %button.btn.btn-default.dropdown-menu-left.dropdown-toggle{'data-toggle' => 'dropdown', type: 'button'}
        = params[:social_filter].present? ? params[:social_filter].humanize : 'My Tips'
        %span.caret
      %ul.dropdown-menu.dropdown-menu-left{role: 'menu'}
        %li.text-left
          %a{href: "#{url_for social_filter: 'my_tips', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type:   params[:type] ? params[:type] : nil}"} My Tips
        %li.text-left
          %a{href: "#{url_for social_filter: 'my_liked_tips', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}"} My Liked Tips
        %li.text-left
          %a{href: "#{url_for social_filter: 'friends_tips', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}"} Friends' Tips
        %li.text-left
          %a{href: "#{url_for social_filter: 'public_tips', sort_filter: params[:sort_filter], q: params[:q] ? params[:q] : nil, type: params[:type] ? params[:type] : nil}"} Public Tips
