#second-navigation-anchor
#second-navigation
  .wrapper
    %nav.navbar.navbar-default#filter-tab-wrapper{role: 'navigation'}
      .container-fluid
        .row
          %ul.nav.navbar-nav
            %li{class: current_page?(tips_path) || current_page?(authenticated_root_path) ? 'active' : nil}
              %a.border-right.border-left{href: tips_path} Tips (#{tips_count})
            %li{class: current_page?(questions_path) ? 'active' : nil}
              %a.border-right{href: questions_path} Tips Wanted (#{questions_count})
            %li{class: current_page?(people_path) ? 'active' : nil}
              %a.border-right{href: people_path} People (#{people_count})

    %nav.navbar.navbar-default#filter-bar-wrapper{role: 'navigation'}
      .container-fluid
        / Collect the nav links, forms, and other content for toggling
        #filter-bar
          .navbar-form.navbar-left
            = render_breadcrumbs separator:' / '
            /%a{href: my_hives_path, data: {remote: true}} All Hive  
            = '&nbsp;&nbsp;'.html_safe
            - hives.each do |hive|
              %a{href: hive_path(hive), class: 'btn btn-default', id: "nav-bar-hive-#{hive.id}"}
                .icon-hives
                = hive.title
          / = render 'shared/filter_bars/tips_social_filters' if request.path == "/hives/#{params[:id]}"
          = render 'shared/filter_bars/sort_filter'
= render 'shared/filter_bars/filter_bar_script'
