<!-- Teefan: I don't like inline CSS - TODO: should be refactored -->
<style>
.tag {
  position: relative;
  height: 150px;
}
.name_list {
  display: inline;
}
.carousel-control {
  bottom: 200px;
  width: 0;
}
</style>

<% object = @picture %>

<script>
  $(document).ready(function(e){
    $('#<%= 'tag' + picture.id.to_s%>').selectize({
      valueField: 'name',
      labelField: 'name',
      searchField: 'name',
      sortField: 'kind_id',
      persist: true,
      plugins: ['remove_button'],
      preload: 'focus',
      render: {
        item: function(item, escape) {
          return '<div class="item"><span class="label label-info">' + escape(item['kind_id'].split('-')[0]) + '</span>' + escape(item['name']) + '</div>';
        },
        option: function(item, escape) {
          return '<div class="option"><span class="label label-default">' + escape(item['kind_id'].split('-')[0]) + '</span>' + escape(item['name']) + '</div>';
        }
      },
      load: function(query, callback) {
        if (!query.length) {
          query = '';
        }
        $.ajax({
          url: '<%= user_following_friends_and_groups_path(format: :json) %>',
          type: 'GET',
          dataType: 'json',
          data: {
            q: query
          },
          error: function() {
            callback();
          },
          success: function(res) {
            callback(res);
          }
        });
      },
      onItemAdd: function(value, $item) {
        $.ajax({
          url: '<%= connect_sharing_objects_path(format: :json) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', items_list: [value] }
        });

        $.ajax({
          url: '<%= connect_following_objects_path(format: :json) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'following', items_list: [value] }
        });
      },
      onItemRemove: function(value) {
        $.ajax({
          url: '<%= disconnect_sharing_objects_path(format: :json) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', items_list: [value] }
        });
        $.ajax({
          url: '<%= disconnect_following_objects_path(format: :json) %>',
          type: 'POST',
          data: { id: '<%= object.id %>', kind: '<%= object.class.name %>', type: 'following', items_list: [value] }
        });
      }
    });

    $('.carousel-inner').each(function() {
      if ($(this).children('div').length === 1) $(this).siblings('.carousel-control, .carousel-indicators').hide();
    });
  });
</script>
