.modal#question-share-modal
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Picture
      .modal-body
        #myCarousel.carousel.slide
          / Carousel items
          .carousel-inner{id: "carousel-inner-#{@picture.id}"}
            - @pictures.each_with_index do |picture, index|
              .item{class: "#{index == 0 ? 'active' : nil}"}
                = image_tag picture.image
                .tag
                  .caption
                    = form_tag tag_pictures_path, :class => 'form-horizontal', :remote => true do
                      = hidden_field_tag 'picture_id', picture.id
                      .form-group
                        .col-md-8
                          = text_field_tag 'tag', '', class: 'form-control', :placeholder => 'Type name of friends or groups', :id => 'tag' + picture.id.to_s
                          = render 'picture',picture:picture
                        .col-md-4
                          = submit_tag 'Tag', class: 'form-control'
                  %strong In picture:
                  %div{:class => "name_list #{picture.id}"}
                    - picture.user_list.each do |p|
                      .btn-group
                        .btn.btn-info
                          = p
                          = link_to raw("<i class=\"glyphicon glyphicon-remove\"></i>"), remove_tag_picture_path(picture, :tag => p), :method => :post, :remote => true
                  / render for custom js and css
                  / = render "picture"

          / Carousel nav
          %a.left.carousel-control{'data-slide' => 'prev', :href => '#myCarousel'}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{'data-slide' => 'prev', :href => '#myCarousel'}
            %span.glyphicon.glyphicon-chevron-right
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button', id: 'close'} Close
