%h1 Listing pictures

%table
  %tr
    %th Title
    %th Image
    %th Imageable
    %th Imageable type
    %th
    %th
    %th

  - @pictures.each do |picture|
    %tr
      %td= picture.title
      %td= picture.image
      %td= picture.imageable_id
      %td= picture.imageable_type
      %td= link_to 'Show', picture
      %td= link_to 'Edit', edit_picture_path(picture)
      %td= link_to 'Destroy', picture, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Picture', new_picture_path
