%p#notice= notice

%p
  %b Title:
  = @picture.title
%p
  %b Image:
  = @picture.image
%p
  %b Imageable:
  = @picture.imageable_id
%p
  %b Imageable type:
  = @picture.imageable_type

= link_to 'Edit', edit_picture_path(@picture)
\|
= link_to 'Back', pictures_path
