- encoded_location = CGI.escape(comment.location) if comment.location.present?
.item{class: comment_pictures_count == 1 ? 'active' : nil, id: "comment-map-canvas-#{comment.id}"}
  - if encoded_location.present?
    %iframe{:frameborder => '0', :style => 'border:0', :width => '100%', :height => '100%', :src => "https://www.google.com/maps/embed/v1/place?q=#{encoded_location}&zoom=15&key=AIzaSyB2oQMOU1BattR4gp2aS19TMc0abgxx76I"}
  - elsif comment.latitude.present? && comment.longitude.present?
    %iframe{:frameborder => '0', :style => 'border:0', :width => '100%', :height => '100%', :src => "https://www.google.com/maps/embed/v1/view?center=#{comment.latitude},#{comment.longitude}&zoom=15&key=AIzaSyB2oQMOU1BattR4gp2aS19TMc0abgxx76I"}
