= f.label :address, class: 'control-label'
= f.text_field :address, placeholder: 'Type city, zip code or street', class: 'form-control', id: "comment_address_#{object_id}"
= f.hidden_field :latitude, id: "comment_latitude_#{object_id}"
= f.hidden_field :longitude, id: "comment_longitude_#{object_id}"
= f.hidden_field :location, id: "comment_location_#{object_id}"

.map-canvas{id: "map-canvas-#{object_id}"}
