<script>
  $(document).ready(function (e) {
    var object_state = "<%= object.is_private %>";
    var object_setting= "<%= object.new_record? ? 'Post' : 'Put' %>";
    var $objectSettingIsPrivate = $('#object_setting_is_private');
    var $friendsAndGroupSelectBox = $('#friends_and_group_select_box');

    if(object_state == 'true') {
      $friendsAndGroupSelectBox.addClass('hide')
    }

    $objectSettingIsPrivate.bootstrapSwitch({
      state: object_state,
      size: 'small',
      onText: 'No',
      offText: 'Yes',
      onColor: 'default',
      offColor: 'primary',
      onSwitchChange: function(event, state) {
        if (state == true) {
          $friendsAndGroupSelectBox.addClass('hide')
        }
        else {
          $friendsAndGroupSelectBox.removeClass('hide')
        }
        $.ajax({
            type: object_setting,
            url: "<%= object_setting_hive_path(hive) %>",
            dataType: "JSON",
            data: {"object_setting[is_private]": state}
        });
      }
    });

    $objectSettingIsPrivate.siblings('label').removeAttr('for');
});
</script>
