= form_for @hive, html: { role: 'form', class: 'form-horizontal' } do |f|
  - if @hive.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(@hive.errors.count, 'error')} prohibited this hive from being saved:"
      %ul
        - @hive.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: 'col-md-3 control-label'
    .col-md-9
      = f.text_field :title, required: true, placeholder: 'Type name of your new hive', class: 'form-control'
  .form-group
    = f.label :description, class: 'col-md-3 control-label'
    .col-md-9
      = f.text_area :description, placeholder: 'Describe what your hive is for (optional)', rows: 3, class: 'form-control'
  .form-group
    = f.label 'Share?', class: 'col-md-3 control-label'
    .col-md-9
      = f.check_box :is_private
  .form-group#friends_and_group_select_box
    .col-md-3
    .col-md-9
      = render 'search/friends_and_groups_select_for_sharing', f: f, object: @hive, selected_friends_and_groups: @selected_friends_and_groups

  .form-group
    = f.label :background_image, class: 'col-md-3 control-label'
    .col-md-9
      =# f.file_field :background_image, class: 'form-control'
      = f.hidden_field :background_image_cache

      .fileinput.fileinput-new.input-group{'data-provides' => 'fileinput'}
        .form-control{'data-trigger' => 'fileinput'}
          %i.glyphicon.glyphicon-file.fileinput-exists
          %span.fileinput-filename
        %span.input-group-addon.btn.btn-default.btn-file
          %span.fileinput-new Select file
          %span.fileinput-exists Change
          = f.file_field :background_image
        %a.input-group-addon.btn.btn-default.fileinput-exists{'data-dismiss' => 'fileinput', href: '#'} Remove
  - if @hive.background_image.present?
    .form-group
      .col-md-3
      .col-md-9
        .form-thumb
          %label
            = f.check_box :remove_background_image
            Remove background image
          = image_tag(@hive.background_image_url)
  .form-group
    .col-md-9.col-md-offset-3
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Back', my_hives_path, class: 'btn btn-default'

= render 'hives/bootstrap_switch', object: @hive
= render 'search/hives_suggest_script'
