.hive.panel.panel-default
  - if hive.background_image.present?
    - background_image_url = find_object_image(hive)
    = link_to(hive_path(hive), title: hive.title) do
      .panel-body{style: "background-image: url(#{background_image_url})"}
        .small-hex-container
          - hive.pockets.first(10).each_slice(5) do |slice|
            - slice.each_with_index do |pocket, index|
              - if index == 3
                .small-hex.hex-gap
                  .corner-1
                  .corner-2
              - else
                .small-hex
                  .corner-1
                  .corner-2
    = link_to(hive_path(hive), title: hive.title) do
      .panel-footer
        = truncate(hive.title, length: 16)
        / .info
        / %span Tips:
        / %br
        / %span.badge= hive.count_tip_followers
  - else
    = link_to(hive_path(hive), title: hive.title) do
      .panel-body{ class: "#{hive.background_color}" }
        .small-hex-container
          - hive.pockets.first(10).each_slice(5) do |slice|
            - slice.each_with_index do |pocket, index|
              - if index == 3
                .small-hex.hex-gap
                  .corner-1
                  .corner-2
              - else
                .small-hex
                  .corner-1
                  .corner-2
    = link_to(hive_path(hive), title: hive.title) do
      .panel-footer
        = truncate(hive.title, length: 16)
        / .info
        / %span Tips:
        / %br
        / %span.badge= hive.count_tip_followers
