.modal#hives-show-modal
  .modal-show-profile.modal-dialog 
    .container-user-profile
      .my-hives-navigation-bar
        .my-hives-navigation-link-left.active#my_hives_button
          = link_to 'My Hives', '#'
        .my-hives-navigation-link-right#all_hives_button
          = link_to 'All Hives', '#'

      #my-hives-container
        .carousel.slide{ 'data-ride' => 'carousel', id: 'my-hive-list'}
          .hives-list
            .carousel-inner
              - my_hives.each_slice(75) do |slices| 
                .item
                  %table
                    - slices.each_slice(15) do |hives|
                      %td 
                        - hives.each do |hive|
                          %li
                            = link_to truncate(hive.title, length: 23),hive_path(hive)
            - if my_hives.size > 75
              %a.left.carousel-control{'data-slide' => 'prev', href: '#my-hive-list'}
                %i.fa.fa-angle-left
              %a.right.carousel-control{'data-slide' => 'next', href: '#my-hive-list'}
                %i.fa.fa-angle-right 
        .clearfix
      #all-hives-container
        .carousel.slide{ 'data-ride' => 'carousel', id: 'all-hive-list'}
          .hives-list
            .carousel-inner
              - all_hives.each_slice(75) do |slices| 
                .item
                  %table
                    - slices.each_slice(15) do |hives|
                      %td 
                        - hives.each do |hive|
                          %li
                            = link_to truncate(hive.title, length: 23),hive_path(hive)
            - if my_hives.size > 75                
              %a.left.carousel-control{'data-slide' => 'prev', href: '#all-hive-list'}
                %i.fa.fa-angle-left
              %a.right.carousel-control{'data-slide' => 'next', href: '#all-hive-list'}
                %i.fa.fa-angle-right 
        .clearfix  
      .loader#loading
      .hide#pagination-wrapper

:javascript
  $("#all-hives-container").hide();
  $("#my_hives_button").click(function(){
    $("#my-hives-container").show();
    $("#all-hives-container").hide();
    $(".my-hives-navigation-link-left").addClass('active');
    $(".my-hives-navigation-link-right").removeClass('active');
  })

  $("#all_hives_button").click(function(){
    $("#my-hives-container").hide();
    $("#all-hives-container").show();
    $(".my-hives-navigation-link-left").removeClass('active');
    $(".my-hives-navigation-link-right").addClass('active');
  })     
  
  $(document).ready(function() {
    $('#my-hive-list .carousel-inner > .item:first').addClass('active');
    $('#all-hive-list .carousel-inner > .item:first').addClass('active');
  });    
