.modal#hive-share-modal.share-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close#share-model-close-first{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h4.modal-title Share this hive
      .modal-body
        %ul.nav.nav-pills
          %li.active
            %a{href: '#share', 'data-toggle' => 'tab'} Share
          %li
            %a{href: '#invite', 'data-toggle' => 'tab'} Invite by email
          %li
            %a{href: '#share-link', 'data-toggle' => 'tab'} Share link
        .tab-content.popup-form
          #share.tab-pane.active
            = form_for @object_setting, url: object_setting_hive_path(@hive), method: @object_setting.nil? ? 'post' : 'put' ,html: { role: 'form', class: 'form-horizontal'} do |f|
              .form-group
                .col-md-9#object-setting-message
              .form-group
                .col-md-2
                  = f.label 'Share?', class: 'col-md-3 control-label'
                .col-md-9
                  = f.check_box :is_private, id: 'object_setting_is_private'
              .form-group#friends_and_group_select_box
                .col-md-2
                .col-md-9
                  = render 'search/friends_and_groups_select_for_sharing', object: @hive, selected_friends_and_groups: @selected_friends_and_groups
                .col-md-2.control-label
                .col-md-9
                  = 'Sharing with' if ((@selected_friends_and_groups.map{|u| u.class.name}.include? 'User') || (@selected_friends_and_groups.map{|u| u.class.name}.include? 'Group'))
                  - @selected_friends_and_groups.each do |u|
                    = user_avatar(u, :tiny) if %w(User Group).include? u.class.name

          #invite.tab-pane
            = render 'users/add_friends_modules/email', connectable: @hive
          #share-link.tab-pane
            - hive_image = find_object_image(@hive)
            - image = image_url(hive_image)
            - content = truncate_object_description(@hive)
            .share-area
              Share with
              = render 'shared/social_share', object: @hive, content: content, image: image
        = render 'hives/bootstrap_switch_for_share_modal.html', object: @object_setting, hive: @hive
      .modal-footer
        %button.btn.btn-default#share-model-close-second{'data-dismiss' => 'modal', type: 'button'} Close

:javascript
  // when user click on share model close button, should be reload the page
  $('#share-model-close-first').on('click', function(){
    window.location.href = "#{hive_path(@hive)}"
  });

   $('#share-model-close-second').on('click', function(){
    window.location.href = "#{hive_path(@hive)}"
  });

