.container-fluid.tips-container#tips-container
  = render 'hives/tips', tips: @tips
.loader#loading
.hide#pagination-wrapper
  = paginate @tips  
/   .loader#loading
/   .hide#pagination-wrapper
/     = paginate @tips    
/ - else
/   = render 'shared/near_by_on_map', tips: @tips
/   .loader#loading
/   .hide#pagination-wrapper
/     = @tips

