.row.form-wrapper
  .col-md-8.col-md-offset-2

    .row
      .col-md-9.col-md-offset-3
        %h1 Editing hive

    = render 'form'

    .row
      .col-md-9.col-md-offset-3
        = link_to 'Delete', @hive, class: 'btn btn-danger', data: { method: :delete, confirm: 'Are you sure to delete this Hive?' }
        = link_to 'Show', @hive, class: 'btn btn-default'
        = link_to 'Back', my_hives_path, class: 'btn btn-default'
