= content_for :title_bar do
  - if @user
    = render 'shared/title_bars/user_profile_title', user: @user
  - else
    = render 'shared/title_bars/group_title', group: @group

= content_for :filter_bar do
  - if @user
    = render 'shared/user_profile_navigation', user: @user
  - else
    = render 'shared/filter_bars/group_filter', group: @group

.container-fluid#hives-container
  - @hives.each do |hive|
    = render 'hives/hive', hive: hive
  .clearfix
.loader#loading
.hide
  = paginate @hives

= render 'hives/my_hives_script'
