var $menuHivesList = $('#menu-hives-list');
$menuHivesList.html('<%= j(render('shared/menu_hives', hives: @hives)) %>');
$('#menu-hives-mobile-list').html('<%= j(render('shared/menu_hives', hives: @hives)) %>');
$menuHivesList.mCustomScrollbar();

$('#side-hives').html('<%= j(render('shared/side_bars/hives', hives: @hives)) %>');
