var $modal = $('.modal');
$modal.modal('hide');
<% if @group.present?%>
  $('#primary-modal').html('<%= j(render('groups/group_hives', hives: @hives, group: @group)) %>');
<%else%>
  $('#primary-modal').html('<%= j(render('hives/my_hives_page', my_hives: @my_hives, all_hives: @all_hives)) %>');
<%end%>
$modal.find('.title-bar-wrapper').hide();
$modal.find('#tips-container').css("margin-top", "30px");
$('#hives-show-modal').modal('show');
