= content_for :title_bar do
  = render 'shared/title_bars/my_hives_title'
= content_for :filter_bar do
  = render 'shared/filter_bars/my_hives_filter'

.container-fluid#hives-container
  - @hives.each do |hive|
    = render 'hives/hive', hive: hive
  .clearfix
.loader#loading
.hide
  = paginate @hives

= render 'hives/my_hives_script'
