= content_for :title_bar do
  = render 'shared/title_bars/hive_title', hive: @hive, page_type: 'tips'

= content_for :filter_bar do
  = render 'shared/filter_bars/hive_filter', hive: @hive, page_type: 'tips'
/ - if params[:sort_filter] != 'near_by'
- if params[:page].blank? || params[:page].to_i == 1
  .container-fluid.tip-container#tip-adding-container
    = render 'tips/tip_adding_form', hive_id: @hive.id
#container-fill
  .container-fluid.tips-container#tips-container
    = render 'hives/tips', tips: @tips
  .loader#loading
  .hide#pagination-wrapper
    - if params[:pocket_id].blank?
      = paginate @tips    
/ - else
/   = render 'shared/near_by_on_map', tips: @tips
/   .loader#loading
/   .hide#pagination-wrapper
/     = @tips

= render 'hives/show_script'
