var $tipAddingContainer = $('#tip-adding-container');

<% if @hive.present? && @pocket.present? %>
  // If hive and pocket selected then should be selected those fields into the inpage tip adding form
  $tipAddingContainer.html('<%= j(render('tips/tip_adding_form', hive_id: @hive.id, pocket_id: @pocket.id)) %>');
<% else %>
  // If hive selected then should be selected into the inpage tip adding form
  $tipAddingContainer.html('<%= j(render('tips/tip_adding_form', hive_id: @hive.id)) %>');
<% end %>

// When someone adds a tip on a hive inpage tip form then the page should reload
<% if params[:inpage_tip] == 'reload_hive_page' %>
  window.location.href = "<%= hive_path(@hive)%>"
<% end %>

// Render selected pocket tips
$('#container-fill').html('<%= j(render('hives/show_tips_by_pocket')) %>');
// Called this function for pagination job if request are coming through ajax
masonrizeTips();

$('.btn-filter-bar').removeClass('btn-filter-bar');
$(".hex").css('background-color', 'transparent');

<%if @pocket.present?%>
  $('#nav-bar-pocket-<%=@pocket.id%>').addClass('btn-filter-bar');
  $("#hex-pocket-<%=@pocket.id%>").css('background-color', '#111111' );
<%else%>
  $('#all-button').addClass('btn-filter-bar');
<%end%>

$("html, body").animate({ scrollTop: $('#second-navigation').offset().top - 70 }, "500");
