%li#side-all-pockets
  %a.menu-lg#btn-all-pockets{href: 'javascript:void(0)'}
    = image_tag 'icons/icon-pockets.png'
    Hive Pockets
    %span.caret

  .side-list#side-pockets-box{style: 'display: none;'}
    %ul#side-pockets.nav.nav-menu-side
      %li#side-pockets-loader.text-center
        %a{href: '#'}
          .ajax-loader

    %ul.nav.nav-menu-side
      %li.side-action#side-pocket-form
        = render 'shared/side_bars/hives/pocket_form', hive: hive
