- pocket = Pocket.new
.actions
  %a.btn.btn-primary#btn-add-side-pocket{href: 'javascript:void(0)'}
    %i.glyphicon.glyphicon-plus
    Add Pocket
= form_for pocket, remote: true, html: {id: 'new-side-pocket-form', class: 'form-inline hide'} do |f|
  = hidden_field_tag 'hives[]', "Hive-#{hive.id}"
  .form-group
    = f.text_field :title, placeholder: 'New pocket title', required: :required, class: 'form-control'
    = f.submit 'Add', class: 'btn btn-primary', data: {'disable-with' => 'Adding...'}

= render 'shared/side_bars/hives/pocket_form_script'
