.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-center {
  text-align: center !important;
}

.align-middle {
  vertical-align: middle;
}

.ajax-loader {
  background-image: image-url('ajax-loader.gif');
  display: inline-block;
  width: 43px;
  height: 11px;
}

.inline-block {
  display: inline-block;
}
