$primary-text-color: #231f20;
$black-text-color: #000101;
$primary-blue: #1d9ad6;
$primary-button-color: #1d9ad6;
$lightBlue: #e8f5fb;

$darker-grey: #666666;
$dark-grey: #999999;
$primary-grey: #cccccc;
$lighter-grey: #f0f0f0;
$light-text-color: #ffffff;

$topbar-border-color: #e3e3e3;
$default-border-color: #d0d0d0;
$dark-border-color: #cccccc;
$main-menu-background-color: #231f21;

$primary-red: #e94766;

$sidebar-border-color: #222222;

$liteorange: #f2ab13;
$orange: #ee9843;
$purple: #a95fd0;
$litepurple: #cf61c4;
$green: #60cf8b;
$liteblue: #5f8ccf;
$blue: #7f5ecf;
