.comments-box {
  background-color: #ffffff;
  .media {
    margin: 0;
    padding: 10px;
    border-top: 1px solid #dddddd;
    .media-profile {
      width: 40px;
      text-align: center;
      img {
        width: 33px;
        height: 33px;
        display: block;
        margin: 0 auto;
      }
      a {
        display: inline-block;
        color: #000101;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 9px;
      }
    }
    .media-body {
      form {
        margin-top: 0;
      }
      h3 {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 5px;
        a {
          color: #000101;
        }
      }
      .uploaded-images {
        a.thumbnail {
          position: relative;
          height: 100px;
          display: inline-block;
          margin-bottom: 0;
          img {
            height: 90px;
          }
          .btn-remove-picture {
            position: absolute;
            top: 5px;
            right: 5px;
            display: none;
          }
          &:hover {
            .btn-remove-picture {
              display: block;
            }
          }
        }
      }
      .uploads-btn {
        width: 138px;
      }
      .file-btn-link {
        filter: alpha(opacity=0);
        opacity: 0;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

        /* IE 5-7 */
        filter: alpha(opacity=0);

        /* Netscape */
        -moz-opacity: 0;

        /* Safari 1.x */
        -khtml-opacity: 0;

        /* Good browsers */
        opacity: 0;
        cursor: pointer;

      }
      .file-link-btn {
        width: 69px;
        height: 17px;
        position: relative;
        float: left;
        cursor: pointer;
        overflow: hidden;
        &:hover {
          a {
            color: #146a93;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .fil-link-btn a{
        cursor: pointer;
      }
      .file-link-btn a:hover {
        color: #146a93;
        text-decoration: underline;
      }
      .file-btn-link {
        width: 160px;
        height: 14px;
        float: left;
        position: absolute;
        top: 0;
        cursor: pointer;
        right: 0;
      }
      .add-map {
        width: 63px;
        float: right;
        cursor: pointer;
        top: 0
      }
      .item{
        width: 437px !important;
      }
    }
  }
  .comment-footer-box {
    height: 200px
  }
  .comment-footer-bottom{
    background-color: #1d9ad6;
    margin-left: -12px;
    height: 44px;
    width: 500px;
    vertical-align: middle;
  }
  .comment-footer-text{
    margin-left: 15px;
    color: #fff;
    position: relative;
    top: 15%;
  }
  .map-canvas {
    display: block;
    float: none;
    clear: both;
    position: relative;
    min-width: 100%;
    max-width: 100%;
    min-height: 240px;
    background-color: rgb(229, 227, 223);
    margin-bottom: 10px;
  }
}

a.comment-edit {
  padding-top: 2px;
  padding-right: 3px;
  font-size: 9px;
  line-height: 18px;
}
