.domain {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  overflow: hidden;
}

.logo {
  background-color: #fff;
  height: 50px;
  position: relative;
  display: block;
  left: 0px;
  top: -70px;
  .logo-image {
    margin-left: 65px;
    padding: 5px 10px;
    img {
      height: 40px;
    }
  }
}

.divider {
  border: 1px solid #d0d0d0;
}

.domain-setting {
  margin-top: 32px;
}

form {
  #generated_domain_name {
    padding-left: 0px;
    margin-top: 5px;
  }
}

.login-link {
   margin: 180px auto;
}


.powered-brand {
  text-align: center;
  margin: 0 auto;
  position: relative;
  bottom: -85px;
  a {
    color: #fff;
  }
}


.nav-button {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0;
  li {
    margin: 0 10px;
    display: inline-block;
    a {
      color: #fff;
      width: 180px;
      height: 40px;
      padding-top: 10px;
      font-weight: bold;
    }
  }
}

form.form {
  margin-top: 0;
  text-align: left;
  p {
    text-align: left;
  }
}
