#filter-tab-wrapper {
  @include border-radius(0);
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #231f20;
  margin-bottom: 0;
  ul {
    width: 100%;
    li {
      width: 33.33333%;
      a {
        color: #ffffff;
        background-color: #231f20;
        text-align: center;
        font-weight: 700;
        &:hover {
          background-color: lighten(#231f20, 10%);
        }
      }
    }
    li.active {
      a {
        background-color: $brand-primary;
        &:hover {
          background-color: $brand-primary;
        }
      }
    }
  }
}

#filter-bar-wrapper {
  @include border-radius(0);
  border-left: none;
  border-right: none;
  border-top: none;
  #filter-bar {
    text-align: center;
    ul.nav.navbar-nav {
      li {
        min-width: 100px;
        a {
          font-size: 11px;
          font-weight: 700;
        }
      }
    }
    .icon-hives {
      background: image-url('icon-hive1.png') no-repeat center center transparent;
      width: 17px;
      height: 16px;
      float: left;
      margin-right: 10px;
    }
    .btn-default{
      text-align: left;
      opacity: 0.4;
      background-color: #ddd;
      font-weight: bold;
      &:hover {
        opacity: 0.7;
      }
    }
    .btn-filter-bar{
      opacity: 1;
      background-color: #e2e2e2;
      font-weight: bold;
    }
    ul.navbar-center {
      width: 200px;
      margin: auto;
      display: block;
      width: 100%;
      text-align: center;
      li {
        float: none;
        display: inline-block;
        margin-left: -4px;
        a {
          font-weight: 700;
        }
      }
    }
    .navbar-right.sort {
      padding-top: 6px;
    }
    .button-group {
      position: relative;
      display: inline-block;
      .dropdown-menu-right {
        top:33px;
      }
    }
  }
  &.navbar {
    margin-bottom: 0;
  }
  &.affix {
    position: fixed;
    z-index: 999;
    top: 70px;
    width: 100%;
  }
  a.no-link{
    color: $text-color;
    //border-bottom: 1px solid;
    &:hover {
      text-decoration: none;
    }
  }
}

#second-navigation {
  @include transition(all 0s ease);

  &.affix-top {
    width: 100%;
    z-index: 999;
  }

  &.affix {
    margin-top: 0 !important;
    position: fixed;
    top: 70px !important;
    width: 100%;
    z-index: 999;

    .wrapper{
      display: block;
    }
  }
  &.user-profile {
    // margin-bottom: 20px;
    ul > li {
      width: 50%;
    }
  }
}



@media screen and (max-width: 768px) {
  .navbar-header {
    .navbar-nav {
      margin: 0;
    }    
  }

  #second-navigation {
    .row {
      margin: 0;
    }

    .navbar-nav {
      margin: 8.25px;
    }

    #filter-tab-wrapper ul li {
      width: 30%;
    }

    .nav > li {
      display: inline-block;
      a {
        padding: 10px 5px;
      }
    }

  }
}
