@font-face {
  font-family: 'Holtwood One SC';
  src: asset-url('HoltwoodOneSC.eot');
  src: asset-url('HoltwoodOneSC.eot?#iefix') format('embedded-opentype'),
       asset-url('HoltwoodOneSC.woff') format('woff'),
       asset-url('HoltwoodOneSC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fnt-holtwood {
  font-family: 'Holtwood One SC', serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Damion Regular';
  src: asset-url('DamionRegular.eot');
  src: asset-url('DamionRegular.eot?#iefix') format('embedded-opentype'),
  asset-url('DamionRegular.woff') format('woff'),
  asset-url('DamionRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Rounded Book Italic';
  src: asset-url('GothamRounded-BookItalic.eot');
  src: asset-url('GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),
  asset-url('GothamRounded-BookItalic.woff') format('woff'),
  asset-url('GothamRounded-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamHTF Medium';
  src: asset-url('gothamhtf-medium-webfont.eot');
  src: asset-url('gothamhtf-medium-webfont.eot?#iefix') format('embedded-opentype'),
  asset-url('gothamhtf-medium-webfont.woff') format('woff'),
  asset-url('gothamhtf-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.fnt-helvetica-light {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
}

.fnt-helvetica-neue-light {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  strong {
    font-weight: 400;
  }
}

.fnt-damion {
  font-family: 'Damion Regular', serif;
  font-weight: normal;
  font-style: normal;
}
