#error_explanation {
  text-align: left;
  h2 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
  }
  ul {
    li {
      font-size: 14px;
    }
  }
}

.form-wrapper {
  h1 {
    text-align: center;
  }
  form {
    margin-top: 30px;
    .form-break {
      margin-top: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid $topbar-border-color;
    }
  }
  .tab-content {
    background-color: #ffffff;
    border-left: 1px solid $nav-tabs-border-color;
    border-right: 1px solid $nav-tabs-border-color;
    border-bottom: 1px solid $nav-tabs-border-color;
    @include border-bottom-left-radius(4px);
    @include border-bottom-right-radius(4px);
    .tab-pane {
      padding: 30px;

    }
  }
  .fileinput-button {
    float: none;
  }
  .image-upload-actions {
    margin-bottom: 20px;
  }
  .uploaded-images {
    a.thumbnail {
      position: relative;
      height: 100px;
      display: inline-block;
      margin-bottom: 0;
      img {
        height: 90px;
      }
      .btn-remove-picture {
        position: absolute;
        top: 5px;
        right: 5px;
        display: none;
      }
      &:hover {
        .btn-remove-picture {
          display: block;
        }
      }
    }
  }
  .form-thumb {
    label {
      font-weight: normal;
    }
    img {
      width: 100%;
    }
  }
  .attachment-tabs {
    i.btn-icon {
      font-size: 20px;
    }
  }
}
