.hex-item {
  width: 210px;
  height: 240px;
  position: relative;
  display: inline-block;
  background-image: image-url('pocket_bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 12px;
  margin-right: 12px;
}

.hexagon2 {
  position: absolute;
  width: 195px;
  height: 400px;
  top: -80px;
  left: 8px
}

.hexagon {
  overflow: hidden;
  visibility: hidden;

  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  // cursor: pointer;
}

.hexagon-in1 {
  overflow: hidden;
  width: 195px;
  height: 100%;

  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2 {
  // -webkit-box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  // box-shadow: inset 0 0 0 200px rgba(176, 218, 212, 0.48);
  overflow: hidden;
  width: 195px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 30%;

  -webkit-background-size: 125%;
  -moz-background-size: 125%;
  background-size: 125%;
  visibility: visible;

  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  transform: rotate(-60deg);

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  .hex-caption {
    background-color: #000000;
    text-align: center;
    height: 100px;
    position: relative;
    top: 230px;
    padding-top: 15px;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
}

.hexagon-in2:hover {
  //-webkit-box-shadow: inset 0 0 0 0px #B0DAD4;
  //box-shadow: inset 0 0 0 0px #B0DAD4;
}

.hex-item:nth-child(7n-2) {
  margin-left: 130px;
}

.hex-item:nth-child(n+5) {
  margin-top: -40px;
}

@media (max-width: 499px) {
  .hex-item:nth-child(7n-2) {
    margin-left: 10px;
  }
  .hex-item:nth-child(n+5) {
    margin-top: -25;
  }
  .hex-item {
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    height: 160px;
    width: 140px;
  }
  .hexagon2 {
    height: 350px;
    left: 15px;
    top: -89px;
    width: 124px;
  }
  .hexagon-in1 {
    height: 105%;
    width: 124px;
  }
  .hexagon-in2 {
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: 166% auto;
    height: 99%;
    overflow: hidden;
    transform: rotate(-60deg);
    transition: all 0.5s ease 0s;
    visibility: visible;
    width: 125px;
    .hex-caption {
      top: 195px;
      padding-top: 10px;
      font-size: 11px;
    }
  }
  .hex-item:nth-child(3n-3) {
    margin-left: 90px;
  }
  .hex-item:nth-child(3n-3) {
    margin-top: -25px;
  }
  .hex-item:nth-child(n+4) {
    margin-top: -25px;
  }
}

@media (min-width: 500px) and (max-width: 739px) {
  .hex-item:nth-child(7n-2) {
    margin-left: 15px;
  }
  .hex-item:nth-child(n+5) {
    margin-top: -40px;
  }
  .hex-item:nth-child(3n-3) {
    margin-left: 133px;
  }
  .hex-item:nth-child(3n-3) {
    margin-top: -40px;
  }
  .hex-item:nth-child(n+4) {
    margin-top: -40px;
  }
}

@media (min-width: 740px) and (max-width: 979px) {
  .hex-item:nth-child(7n-2) {
    margin-left: 15px;
  }
  .hex-item:nth-child(n+5) {
    margin-top: auto;
  }
  .hex-item:nth-child(3n-3) {
    margin-left: 15px;
  }
  .hex-item:nth-child(3n-3) {
    margin-top: auto;
  }
  .hex-item:nth-child(5n-1) {
    margin-left: 135px;
  }
  .hex-item:nth-child(n+4) {
    margin-top: -40px;
  }
}
