.hive-title {
  .icon-hives {
    background: image-url('icon-hive1.png') no-repeat center center transparent;
    width: 16px;
    opacity: 0.4;
  }
  .info {
    img {
      margin: 0 4px;
    }
    a.btn.btn-default {
      margin: 0 10px;
      color: #1d9ad6;
      border-color: #1d9ad6;
    }
  }
}

.pocket-title {
  .icon-hives {
    background: image-url('hives-icon.png') no-repeat center center transparent;
    min-width: 32px;
  }
  .icon-share {
    background: image-url('share-icon.png') no-repeat left center transparent;
    min-width: 24px;
    padding-left: 26px;
    margin: 0 5px;
    line-height: 24px;
    height: 24px;
    display: inline-block;
    &:hover {
      opacity: 0.8;
    }
  }
}

.hex-background{
  background-color: #7f5ecf;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &.liteorange {
    background-color: $liteorange !important;
  }

  &.orange {
    background-color: $orange !important;
  }

  &.purple {
    background-color: $purple !important;
  }

  &.litepurple {
    background-color: $litepurple !important;
  }

  &.green {
    background-color: $green !important;
  }

  &.liteblue {
    background-color: $liteblue !important;
  }
  
  &.blue {
    background-color: $blue !important;
  }
}


.background-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.hex-container {
  padding-top: 105px;
  padding-bottom: 50px;
  width: 1075px;
  margin: 0 auto;
  height:540px;
  .hex {
    width: 185px;
    height: 105px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;     
    -webkit-background-size: auto 173px;              
    -moz-background-size: auto 173px;             
    -ms-background-size: auto 173px;              
    -o-background-size: auto 173px;             
    position: relative;
    float:left;
    margin:35px 15px;
    text-align:center;
    zoom:1;
    z-index: 3;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      background-color: #111111
    }
  }
      
  .hex.hex-gap {
    margin-left: 123px;
  }

  .hex a {
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    height:100%;
    &:hover {
      text-decoration: none;
    }
  }

  .hex .corner-1,
  .hex .corner-2 {
    position: absolute;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: inherit;                
    z-index:-2;           
    overflow:hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;     
    backface-visibility: hidden;      
  }

  .hex .corner-1 {
    z-index:-1;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  .hex .corner-2 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  .hex .corner-1:before,
  .hex .corner-2:before {
    width: 173px;
    height: 173px;
    content: '';
    position: absolute;
    background: inherit;
    top:0;
    left: 0;
    z-index: 1;
    background: inherit;
    background-repeat:no-repeat;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden; 
    backface-visibility: hidden;          
  }     


  .hex .corner-1:before {
    -webkit-transform: rotate(-60deg) translate(-87px, 0px);
    -moz-transform: rotate(-60deg) translate(-87px, 0px);
    -ms-transform: rotate(-60deg) translate(-87px, 0px);
    -o-transform: rotate(-60deg) translate(-87px, 0px);
    transform: rotate(-60deg) translate(-87px, 0px);  
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
  }     

  .hex .corner-2:before {
    -webkit-transform: rotate(60deg) translate(-48px, -11px);
    -moz-transform: rotate(60deg) translate(-48px, -11px);
    -ms-transform: rotate(60deg) translate(-48px, -11px);
    -o-transform: rotate(60deg) translate(-48px, -11px);
    transform: rotate(60deg) translate(-48px, -11px); 
    bottom:0;
  }   

  .hex .inner{
    table {
      height: 100px;
      width: 100%;
    }
    td {
      vertical-allign: middle;
      padding: 0 10px;
    }
    a {
      color: #fff;
      i {
        font-size: 40px;
      }
    }
    color: #fff;
  }

  .carousel-control.right, .carousel-control.left {
    background-image: none;
    top: 260px;
    width: 40px;
    height:40px;
    background-color: #000;
    border-radius: 50%;
    font-size: 27px;
    opacity: 1;
    &:hover {
      opacity: 0.8;
    }
  }       
 
  .carousel-control.left {
    left: -70px;
  }
  
  .carousel-control.right{
    right: -70px;
  }

  .carousel-inner {
    overflow: visible;
    .active {
      float: left;
      left: none;
    }
  }

  .carousel-control {
    font-size: 28px;
  }
}

#loadingoverlay {
  background-color: rgba(0,0,0,0.85);
  background-repeat: no-repeat;
  background-position: center;
  background-image: image-url("ajax-loader.gif");
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: none;
}

.fileinput-filename {
  text-overflow: ellipsis;
  max-width: 400px;
}
