.section-container {
  min-height: 100%;
  a,a.btn {
    outline: 0;
    &:focus {
      outline: 0;
    }
    &:active {
      outline: 0;
    }
  }

  .btn {
    font-size: 18px;
    line-height: 14px;
    font-weight: 300;
    padding: 12px 25px;
    margin: 0 6.5px;
  }
  .btn.btn-transparent {
    border: 2px solid white;
    color: white;
    &:hover {
      border: 2px solid darken(white, 20%);
    }
  }
  .btn.btn-secondary {
    border: 2px solid transparent;
    background-color: #f4b52f;
    color: white;
    &:hover {
      background-color: darken(#f4b52f, 20%);
    }
  }

  .carousel-control {
    width: 10%;
    .controls {
      position: relative;
      top: 310px;
    }
    .controls-extra-left {
      position: relative;
      top: 760px;
      margin-left: -60px;
    }
    .controls-extra-right {
      position: relative;
      top: 760px;
    }
    .controls-right {
      margin-right: -60px;
    }
  }

  .section {
    min-height: 100%;
  }

  #landing {
    #home-header {
      height: 160px;
      background-color: $primary-blue;
      color: white;
      text-align: center;

      padding-top: 48px;

      .home-title {
        font-size: 35px;
        line-height: 25px;
      }

      .header-line {
        width: 84px;
        height: 3px;
        background-color: white;
        margin: 15px auto;
      }

      .home-slogan {
        font-size: 18px;
        line-height: 17px;
      }
    }
  }

  .one-third-section {
    width: 33.33333%;
    height: 666px;
    padding-top: 38px;
    // padding-bottom: 50px;
    position: relative;
    float: left;
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    .one-third-title {
      font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
      font-size: 23.2px;
      font-weight: 200;
      line-height: 17px;
      height: 26px;
      display: inline-block;
      margin-bottom: 32px;
      border-bottom: 3px solid transparent;
    }
    .cell-image {
      display: block;
      opacity: 0;
      transition: opacity 1s;
      margin: auto;
    }
    .one-third-actions {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 50px;
      text-align: center;
    }
    &:hover {
      .one-third-title {
        font-weight: 400;
        border-bottom: 3px solid $primary-blue;
      }
      .cell-image {
        opacity: 1;
      }
    }
  }

  #header-1 {
    background-image: image-url('home/school-bg.jpg');
    background-position: 75% center;
    &:hover {
      background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), image-url('home/school-bg.jpg');
    }
  }
  #header-2 {
    background-image: image-url('home/company-bg.jpg');
    background-position: 75% center;
    &:hover {
      background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), image-url('home/company-bg.jpg');
    }
  }
  #header-3 {
    background-image: image-url('home/life-bg.jpg');
    &:hover {
      background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), image-url('home/life-bg.jpg');
    }
  }

  #landing-bottom {
    height: 225px;
    background-color: white;
    color: #040404;
    padding-top: 62px;
    text-align: center;

    #home-promo-sm {
      font-size: 16.05px;
      line-height: 16px;
      margin-bottom: 27px;
    }
    #home-promo-lg {
      font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
      font-size: 34px;
      line-height: 32px;
      margin-bottom: 10px;
    }
    #home-promo-md {
      font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
      font-size: 22px;
      font-weight: 700;
      color: $primary-blue;
      line-height: 16px;
      .text-icon {
        position: relative;
        top: -8px;
        left: -2px;
      }
    }
  }

  #home-content {
    position: relative;
    padding-top: 60px;
  }

  #tabs-bar {
    height: 60px;
    .tab-bar {
      float: left;
      width: 33.3333%;
      a {
        display: block;
        height: 60px;
        padding-top: 20px;
        background-color: #000000;
        color: white;
        font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
        font-weight: 200;
        font-size: 18.16px;
        line-height: 18px;
        text-align: center;
        text-decoration: none;
        span {
          padding-bottom: 3px;
          border-bottom: 2px solid transparent;
        }
        &:hover {
          font-weight: 400;
          background-color: $primary-blue;
          span {
            border-bottom: 2px solid white;
          }
        }
      }
      a.active {
        font-weight: 400;
        background-color: $primary-blue;
        span {
          border-bottom: 2px solid white;
        }
      }
      a.border-left {
        border-left: 1px solid darken(white, 30%);
      }
      a.border-right {
        border-right: 1px solid darken(white, 30%);
      }
    }
  }
  .affix-top#tabs-bar {
    width: 100%;
    margin-top: -60px;
    z-index: 1000;
  }
  .affix#tabs-bar {
    width: 100%;
    top: 70px;
    z-index: 1000;
    height: 60px;
  }

  #slides {
    // height: 1290px;
    #slide-top {
      .item {
        width: 100%;
        // height: 1290px;
        .image-top {
          position: relative;
          width: 100%;
          height: 640px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          // background-attachment: fixed;
          padding-top: 64px;
          .image-top-caption {
            text-align: center;
            color: #ffffff;
            font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
            font-weight: 200;
            font-size: 36px;
            line-height: 45px;
          }
          .image-top-actions {
            display: block;
            width: 100%;
            position: absolute;
            bottom: 120px;
            text-align: center;
            .btn-secondary {
              background-color: #caa14d;
              &:hover {
                background-color: adjust_saturation(#caa14d, 20);
              }
            }
          }
          .image-cell {
            position: absolute;
            top: 40%;
            left: 65%;
          }
        }
        .item-text {
          position: relative;
          color: #f8f7f7;
          background-color: #2b91c1;
          width: 100%;
          text-align: center;
          padding-top: 36px;
          padding-bottom: 36px;
          .text-header {
            font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
            font-size: 26.08px;
            font-weight: 700;
            line-height: 20px;
            margin-bottom: 20px;
            span {
              font-weight: 200;
              padding-bottom: 2px;
              border-bottom: 2px solid #58a8ce;
            }
            .glyphicon {
              font-size: 18px;
              top: 2px;
            }
          }
          .text-slogan {
            font-family: 'Gotham Rounded Book Italic';
            font-size: 20px;
            line-height: 23px;
          }
        }
        .image-bottom {
          position: relative;
          width: 100%;
          height: 580px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          overflow: hidden;
          .title-break {
            display: block;
            margin: 8px auto;
            width: 137px;
            height: 3px;
            background-color: white;
          }
          .image-left {
            float: left;
            width: 50%;
            text-align: center;
            padding-top: 42px;
            color: white;
            .image-left-header {
              font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
              font-weight: 200;
              font-size: 28.09px;
              line-height: 36px;
              span {
                font-weight: 400;
              }
            }
          }
          .image-right {
            float: right;
            width: 50%;
            text-align: center;
            padding-top: 20px;
            color: white;
            img {
              margin-left: -200px;
            }
          }
        }

        #cell-6 { top: 40%; left: 20%; }
        #cell-7 { top: 25%; left: 20%; }
        #cell-8 { top: 25%; left: 35%; }

        #tip-detail-1 { margin-top: 20px }

        #image-1a { background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.0) 100%), image-url('home/slide-1a.jpg'); }
        #image-2a { background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.0) 100%), image-url('home/slide-2a.jpg'); }
        #image-3a { background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.0) 100%), image-url('home/slide-3a.jpg'); }
        #image-4a { background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.0) 100%), image-url('home/slide-4a.jpg'); }
        #image-5a { background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.0) 100%), image-url('home/slide-5a.jpg'); }
        #image-6a { background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.0) 100%), image-url('home/slide-6a.jpg'); }
        #image-7a { background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.0) 100%), image-url('home/slide-7a.jpg'); }
        #image-8a { background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.0) 100%), image-url('home/slide-8a.jpg'); }
        #image-9a { background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.0) 100%), image-url('home/slide-9a.jpg'); }

        #image-1b { background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.2) 100%), image-url('home/slide-1b.jpg'); }
        #image-2b { background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.2) 100%), image-url('home/slide-2b.jpg'); }
        #image-3b { background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.2) 100%), image-url('home/slide-3b.jpg'); }
        #image-4b { background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.2) 100%), image-url('home/slide-4b.jpg'); }
        #image-5b { background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.2) 100%), image-url('home/slide-5b.jpg'); }
        #image-6b { background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.2) 100%), image-url('home/slide-6b.jpg'); }
        #image-7b { background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.2) 100%), image-url('home/slide-7b.jpg'); }
        #image-8b { background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.2) 100%), image-url('home/slide-8b.jpg'); }
        #image-9b { background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(125,185,232,0.2) 50%,rgba(125,185,232,0.2) 100%), image-url('home/slide-9b.jpg'); }

        #image-2b { background-position: center 60% }
        #image-4b { background-position: center 60% }
        #image-6b { background-position: center 20% }
        #image-8b { background-position: center 20% }
      }
    }
  }

  #join-now {
    width: 100%;
    height: 370px;
    background-image: image-url('home/join-map.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 50px;
    color: #000000;
    text-align: center;
    .join-title {
      font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
      font-weight: 700;
      font-size: 28.09px;
      line-height: 27px;
      margin-bottom: 33px;
    }
    form {
      .btn-secondary {
        background-color: #caa14d;
        &:hover {
          background-color: adjust_saturation(#caa14d, 20);
        }
      }
    }
  }

  ::-webkit-input-placeholder {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    color: #000000;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    color: #000000;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    color: #000000;
  }

  :-ms-input-placeholder {
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    color: #000000;
  }
}

.search-input {
  width: 100%;
  padding-left: 40px;
  background-image: image-url('home/icon-search-sm.png');
  background-position: 12px center;
  background-repeat: no-repeat;
}

.email-input {
  width: 100%;
  padding-left: 40px;
  background-image: image-url('home/icon-email-sm.png');
  background-position: 12px center;
  background-repeat: no-repeat;
}

