.dropdown-main-menu {
  background-color: rgba(0, 0, 0, .8);
  height: 800px;
  width: 1315px;
  text-align: center;
  #main-menu {
    display: inline-block;
    h3 {
      font-size: 18px;
    }
    #menu-hives-list, #menu-groups-list {
      max-height: 500px;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    ul.nav.nav-menu {
      li {
        margin-top: 45px;
        margin-bottom: 45px;
        a {
          padding-top: 30px;
          color: $light-text-color;
          height: 80px;
          width: 250px;
          font-size: 18px;
          &.purple {
            background-color: $purple; 
          }
          &.orange {
            background-color: $orange; 
          }
          &.litepurple {
            background-color: $litepurple;
            img {
              margin-top: -5px;
            }
          }
          &.green {
            background-color: $green; 
          }
          &.blue {
            background-color: $blue; 
            img {
              margin-top: -2px;
            }
          }
          &.liteblue {
            background-color: $liteblue;
            img {
              margin-top: -5px;
            }
          }
          img {
            color: $light-text-color;
            font-size: 35px;
            position: absolute;
            margin-left: -50px;
            margin-top: -8px;
          }
        }
      }
      li:last-child {
        margin-bottom: 10px;
      }
    }

    ul.nav.nav-pills {
      li {
        a {
          color: $light-text-color;
          i {
            color: $primary-blue;
            font-size: 21px;
            position: absolute;
          }
          span {
            margin-left: 25px;
          }
        }
      }
    }
  }
}
