.alphabet {
  text-align: center;
  margin: 50px auto 0;
  height: 50px;
  border: 1px solid #ccc;
  padding-top: 14px;
  width: 853px;
  margin-left: 122px;
  span {
    padding-left: 3px;
    padding-right: 3px;
    color: #888888;
  }
}

.friend-navigation {
  text-align: center;
  padding-top: 30px;
  margin-bottom: -20px;
  a {
    margin-left: 30px;
    color: #000;
    font-weight: bold;
    &.active {
      border-bottom: 2px solid #1c92ca;
      &:hover {
        opacity: 1;
      }
    }
    &:hover {
      text-decoration: none;
      opacity: 0.6;
    }
  }
}


#friends-container {
  text-align: center;
  width: 940px;
  margin: 35px auto;
  min-height: 600px;
  .panel {
    border-radius: 0;
  }
  .friend {
    width: 250px;
    height: 80px;
    margin-left: 35px;
    margin-bottom: 35px;
    float: left;
    padding: 0;
    .panel-body {
      height: inherit;
      padding: 0px;
      table {
        width: 100%;
        height: 100%;
        text-align: center;
        .name-space {
          width: 125px;
          text-align: left;
          overflow: hidden;
          max-height: 70px;
          a.username {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: 700;
            color: $black-text-color;
          }
        }
        .avatar-space {
          width: 70px;
          img {
            height: 48px;
            width: 48px;
          }
        }
        .user-connect {
          position: absolute;
          margin: 28px 12px;
          
          .connection {
            border: 2px solid rgba(29, 154, 214, .5); 
            border-radius: 50%;
            color: #1D9AD6;
            height: 28px;
            width: 28px;
            i {
              font-size: 18px; 
              margin-top: 3px;
            }
            &:hover {
              cursor: pointer;
            }
          }
          a > span {
            margin-top: -15px;
          }
          a:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

#friend-request {
  width: 940px;
  padding-left: 15px;
  margin: 0px auto;
  min-height: 600px;
  .friend-request {
    padding: 0;
    width: 250px;
    border-radius: 0;
    border: 1px solid #ccc; 
    margin: 50px 25px 0;
    float: left;
    .overlay {
      background-color: rgba(0,0,0,0.4);
      position: absolute;
      height: 180px;
      width: 248px;
    }  
    .active-sign {
      position: absolute;
      margin-top: -10px;
      margin-left: 175px;
      z-index: 2;
    }
    .panel-heading {
      height: 180px;
      border-radius: 0;
      background-size: cover;
      text-align: center;
      a.username {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
      }
      .request-profile {
        position: absolute;
        height: 180px;
        width: 248px;
        margin-top: -10px;
        margin-left: -15px;
        img {
          height: 115px;
          width: 115px;
          margin-top: 23px;
        }
        &:hover {
          cursor: pointer;
        }
      }
      &.liteorange {
        background-color: $liteorange;
      }
      &.orange {
        background-color: $orange;
      }
      &.purple {
        background-color: $purple;
      }
      &.litepurple {
        background-color: $litepurple;
      }
      &.green {
        background-color: $green;
      }
      &.liteblue {
        background-color: $liteblue;
      }
      &.blue {
        background-color: $blue;
      }
    }
    .panel-body {
      background: #fff;
      padding: 0;
      position: relative;
      .user-connect {
        table {
          height: 55px;
          width: 180px;
          text-align: center;
          i {
            color: #1D9AD6;
            font-size: 35px; 
          }
          a > span {
            margin-top: -15px;
          }
        }
      }
      .percent-tab{
        font-size: 7px;
        text-align: center;
        width: 72px;
        position: absolute;
        right: 0px;
        height: 100%;
        top: 0px;
        border-left: 1px solid #CCC;
        padding: 15px 0;
        .percentage {
          color: #97d75d;
          font-size: 14px;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
  &.my-people-page {
    min-height: 0;
  }
}

// friends mobile
#friends-container {
  @media(max-width:991px) {
    width: 470px;
  }
  @media(max-width:499px) {
    width: 100%;
    .friend {
      width: 100%;
      float: none;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
