#groups-container {
  width: 920px;
  padding: 0;
  margin: 30px auto;
  .group {
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    height: 280px;
    float: left;
    border-radius: 0;
    a{
      text-decoration: none;
    }
    .panel-body {
      height: 220px;
      background-color: $lighter-grey;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
      &.liteorange {
        background-color: $liteorange;
      }
      &.orange {
        background-color: $orange;
      }
      &.purple {
        background-color: $purple;
      }
      &.litepurple {
        background-color: $litepurple;
      }
      &.green {
        background-color: $green;
      }
      &.liteblue {
        background-color: $liteblue;
      }
      &.blue {
        background-color: $blue;
      }
      &.liteorange {
        background-color: $liteorange;
      }
      .overlay {
        background-color: rgba(0,0,0,0.6);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }
      .avatars {
        color: #ffffff;
        font-size: 14px;
        position: relative;
        z-index: 10;
        img {
          margin-right: 8px;
        }
        strong {
          position: relative;
          top: 2px;
        }
      }
    }
    .panel-footer {
      height: 57px;
      background-color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      padding: 0;
      position: relative;
      a {
        padding: 0 15px;
        line-height: 57px;
        text-align: center;
        display: block;
        vertical-align: middle;
        color: $black-text-color;
        font-family: Helvetica, Arial, sans-serif;
        &:hover {
          text-decoration: none;
        }
      }
      .info {
        font-size: 14px;
        font-family: Helvetica, Arial, sans-serif;
        .group-members-count {
          color: $primary-blue;
        }
      }
    }
  }
}
.title-bar-wrapper .my-groups-title .info {
  margin-bottom: 10px;
}

// groups mobile
#groups-container {
  @media(max-width:991px) {
    width: 690px;
  }
  @media(max-width:744px) {
    width: 460px;
  }
  @media(max-width:499px) {
    width: 230px;
  }
}
