#hives-container {
  width: 940px;
  padding: 0;
  margin: 30px auto;
  .hive {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    height: 280px;
    float: left;
    border-radius: 0;
    .panel-body {
      height: 220px;
      overflow: hidden;
      background-color: $lighter-grey;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      .small-hex-container {
        width: 170px;
        margin: 0 auto;
        height: 190px;
        .small-hex {
          width: 46px;
          height: 26px;
          border-left: 2px solid #fff;
          border-right: 2px solid #fff;
          background-color: transparent;
          background-repeat: no-repeat;
          background-position: 50% 50%;     
          -webkit-background-size: auto 173px;              
          -moz-background-size: auto 173px;             
          -ms-background-size: auto 173px;              
          -o-background-size: auto 173px;             
          position: relative;
          float:left;
          margin:10px 5px;
          text-align:center;
          zoom:1;
          z-index: 3;
          border-radius: 4px;
        }
            
        .small-hex.hex-gap {
          margin-left: 33px;
        }

        .small-hex a {
          font-size: 12px;
          font-weight: bold;
          display:block;
          width: 100%;
          height:100%;
          position:absolute;
          padding-top: 15%;
          left:0;
        }

        .small-hex .corner-1,
        .small-hex .corner-2 {
          position: absolute;
          border-left: 2px solid #fff;
          border-right: 2px solid #fff;
          top:0;
          left:0;
          width:100%;
          height:100%;
          background: inherit;                
          z-index: 2;           
          overflow:hidden;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -ms-backface-visibility: hidden;
          -o-backface-visibility: hidden;     
          backface-visibility: hidden;      
        }

        .small-hex .corner-1 {
          z-index:-1;
          -webkit-transform: rotate(60deg);
          -moz-transform: rotate(60deg);
          -ms-transform: rotate(60deg);
          -o-transform: rotate(60deg);
          transform: rotate(60deg);
        }

        .small-hex .corner-2 {
          -webkit-transform: rotate(-60deg);
          -moz-transform: rotate(-60deg);
          -ms-transform: rotate(-60deg);
          -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
        }

        .small-hex .corner-1:before,
        .small-hex .corner-2:before {
          width: 173px;
          height: 173px;
          content: '';
          position: absolute;
          background: inherit;
          top:0;
          left: 0;
          z-index: 1;
          background: inherit;
          background-repeat:no-repeat;
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -ms-backface-visibility: hidden;
          -o-backface-visibility: hidden; 
          backface-visibility: hidden;          
        }     


        .small-hex .corner-1:before {
          -webkit-transform: rotate(-60deg) translate(-87px, 0px);
          -moz-transform: rotate(-60deg) translate(-87px, 0px);
          -ms-transform: rotate(-60deg) translate(-87px, 0px);
          -o-transform: rotate(-60deg) translate(-87px, 0px);
          transform: rotate(-60deg) translate(-87px, 0px);  
          -webkit-transform-origin: 0 0;
          -moz-transform-origin: 0 0;
          -ms-transform-origin: 0 0;
          -o-transform-origin: 0 0;
          transform-origin: 0 0;
        }     

        .small-hex .corner-2:before {
          -webkit-transform: rotate(60deg) translate(-48px, -11px);
          -moz-transform: rotate(60deg) translate(-48px, -11px);
          -ms-transform: rotate(60deg) translate(-48px, -11px);
          -o-transform: rotate(60deg) translate(-48px, -11px);
          transform: rotate(60deg) translate(-48px, -11px); 
          bottom:0;
        }   
      }
    }

    .panel-body.liteorange {
      background-color: $liteorange !important;
    }
    .panel-body.orange {
      background-color: $orange !important;
    }
    .panel-body.purple {
      background-color: $purple !important;
    }
    .panel-body.litepurple {
      background-color: $litepurple !important;
    }
    .panel-body.green {
      background-color: $green !important;
    }
    .panel-body.liteblue {
      background-color: $liteblue !important;
    }
    .panel-body.blue {
      background-color: $blue !important;
    }

    .panel-footer {
      height: 57px;
      background-color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      position: relative;
      text-align: center;
      border-radius: 0;
      a {
        display: inline-block;
        vertical-align: middle;
        color: $black-text-color;
        margin-top: 7px;
        margin-bottom: 12px;
        &:hover {
          text-decoration: none;
        }
      }
      .info {
        position: absolute;
        top: 11px;
        right: 15px;
        display: inline-block;
        vertical-align: middle;
        br {
          line-height: 0;
          height: 0;
        }
        span {
          font-family: Helvetica, Arial, sans-serif;
          font-size: 10px;
          font-weight: 500;
        }
        span.badge {
          position: relative;
          top: -5px;
        }
      }
    }
  }
}

// hive mobile
#hives-container {
  @media(max-width:991px) {
    width: 710px;
  }
  @media(max-width:744px) {
    width: 470px;
  }
  @media(max-width:499px) {
    width: 235px;
  }
}
