#pockets-container {
  margin: 40px auto;
  // text-align: center;
  width: 960px;
  padding: 0;
  overflow: hidden;
}

// pockets mobile
#pockets-container {
  @media(max-width:991px) {
    width: 720px;
  }
  @media(max-width:744px) {
    width: 480px;
  }
  @media(max-width:499px) {
    width: 320px;
  }
  @media(max-width:349px) {
    margin-left: -15px;
  }
}
