.near-by-page {
  .tips-container {
    @media(max-width:767px) {
      width: 325px;
    }
    @media(min-width:768px) {
      width: 325px;
    }
    @media(min-width:992px) {
      width: 325px;
    }
    @media(min-width:1200px) {
      width: 325px;
    }
  }
}
