.near-by-page {
  .tip-container {
    padding: 0;
    margin: 30px auto;
    .tip {
      border: none;
      position: relative;
      width: 500px;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      border-radius: 0;
      .tip-edit{
        display: inline-block;
        position: absolute;
        text-align: center;
        right: -67px;
        top: 23px;
        width: 70px;
        height: 60px;
      }
      .panel-heading {
        .dropdown {
          i:hover {
            cursor: pointer;
          }
        }
        border: none;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      .panel-heading.get_tip {
        a {
          color: #fff;
          border-bottom: 1px solid;
          span.badge{
            border-radius: 50px 50px;
            padding: 6px;
            height: 22px;
            width: 22px;
            i{
              font-size: 12px;
            }
          }
          &:hover{
            text-decoration: none;
          }
          &:focus{
            text-decoration: none;
          }
        }
        .tip-title a {
          border-bottom: 0;
        }
        a.add-tip {
          color: #fff;
          border-bottom: none;
          right: 30px;
          top: 15px;
          float: right;
          position: absolute;
        }
      }

      .panel-heading.mobile {
        display: none;
      }

      .panel-body.get_tip {
      }
      .panel-body {
        padding: 0;
        background-color: #ffffff;
        .tip-text {
          background-color: #ffffff;
          padding: 30px;
          overflow-x: hidden;
          .tip-description{
            font-size: 14px;
            line-height: 25px;
          }
          h3.tip-title {
            position: relative;
            margin: 0;
            margin-bottom: 10px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 15px;
            font-weight: 700;
            a {
              color: $primary-text-color;
            }
            span {
              display: inline-block;
              vertical-align: middle;
            }
            .tip-like {
              position: absolute;
              right: 0;
              width: 24px;
              height: 24px;
              display: inline-block;
              vertical-align: middle;
              a.like-action {
                width: 24px;
                height: 24px;
                border: 1px solid $default-border-color;
                font-size: 12px;
                display: inline-block;
                @include border-radius(50%);
                text-align: center;
                vertical-align: middle;
                padding: 5px 3px;
                background-color: $lighter-grey;
                color: $dark-grey;
              }
              a.liked {
                color: $primary-red;
              }
            }
          }
          font-family: Helvetica, Arial, sans-serif;
          font-size: 14px;
        }
        .tip-pictures {
          position: relative;
          height: 433px;
          .carousel {
            position: absolute;
            bottom: 0;
            width: 100%;
            .carousel-control {
              z-index: 10;
            }
            .player_mask {
              z-index: 8;
              opacity: 1;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              position: absolute;
            }
            .item {
              width: 500px;
              height: 433px;
              max-width: 100%;
              background-size: cover;
              background-position: center;
              img {
                height: 433px;
              }
              .icon-info{
                background: image-url('i-icon_03big.png') no-repeat;
                background-size: cover;
                width: 35px;
                height: 35px;
                z-index: 7;
                display: block;
                float: left;
                margin-top: 20px;
                margin-left: 30px;
              }
            }
          }
        }
      }
      .panel-footer {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        background-color: #fff;
        font-size: 11px;
        font-weight: 500;
        text-align: left;
        padding: 18px 30px;
        @include box-shadow(rgba(black, 0.1) 2px 6px 6px);
        .fa {
          position: relative;
          top: 2px;
          font-size: 15px;
          color: #64bbf1;
          font-weight: bold;
          padding-right: 15px;
        }
        .fa-flag-o {
          padding: 0;
        }
        a {
          padding-right: 15px;
          display: inline-block;
          vertical-align: middle;
          color: $black-text-color;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 9px;
          font-weight: bold;
          &:hover{
            text-decoration: none;
          }
          &:focus{
            text-decoration: none;
          }
        }
        .icon-share {
          background: image-url('share-icon2_03.png') no-repeat left center transparent;
          min-width: 24px;
          padding-left: 26px;
          margin: 0 5px;
          line-height: 24px;
          height: 24px;
          display: inline-block;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .tip > .arrow {
      &,
      &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
      }
    }
    .tip > .arrow {
      border-width: $popover-arrow-outer-width;
    }
    .tip > .arrow:after {
      border-width: $popover-arrow-width;
      content: "";
    }

    .tip > .arrow-left {
      top: 65px;
      left: -$popover-arrow-outer-width;
      margin-top: -$popover-arrow-outer-width;
      border-left-width: 0;
      border-right-color: darken(#dddddd, 20%); // IE8 fallback
      border-right-color: #dddddd;
      &:after {
        content: " ";
        left: 1px;
        bottom: -$popover-arrow-width;
        border-left-width: 0;
        border-right-color: #ffffff;
      }
    }
  }

  #near-by-map {
    height: 655px;
  }
  // tip for mobile
  @media(max-width:648px) {
    .tip-container {
      .tip {
        .tip-edit{
          display: none;
        }
        .tip-avatar{
          display: none;
        }
        .panel-heading.mobile {
          display: block;
          position: relative;
          background-color: $lighter-grey;
          border-right: 0;
          border-top: 0;
          height: 95px;
          padding-left: 30px;
          padding-top: 15px;
          .dropdown {
            float: left;
            max-width: 185px;
            a{
              color: #fff;
              border-bottom: 1px solid;
              &:hover{
                text-decoration: none;
              }
              &:focus{
                text-decoration: none;
              }
            }
            i {
              color: #fff;
              &:hover {
                cursor: pointer;
              }
            }
          }
          span {
            color: #fff;
          }
          a{
            color: #fff;
            font-size: 10px;
            span.badge{
              border-radius: 50px 50px;
              padding: 6px;
              height: 22px;
              width: 22px;
              i{
                font-size: 12px;
              }
            }
            .tip-user-profile {
              color: #fff;
              font-family: Helvetica, Arial, sans-serif;
              font-size: 11px;
              text-decoration: none;
              //border-bottom: 2px solid #c7c7c7;
            }
          }
          img.user-avatar-tiny {
            margin-right: 5px;
          }
          .arrow-bottom {
            display: none !important;
          }
          .tip-edit{
            display: block;
            position: relative;
            top: 35px;
            right: 10px;
            width: auto;
            height: auto;
            a{
              i{
                color: #000;
              }
            }
          }
          a.add-tip {
            border-bottom: none;
            right: 30px;
            top: 15px;
            float: right;
            position: absolute;
          }
        }
        .panel-heading.show {
          display: none !important;
        }
        .panel-heading.index {
          display: none !important;
        }
      }
      .tip > .arrow-left {
        display: none;
      }
    }
  }

  .tip.quick-tip-adding {
    @include border-radius(7px);
    margin-bottom: 20px;
    .panel-body {
      @include border-radius(7px);
      @include box-shadow(none);
      padding: 10px;
      .extra-fields {
        display: none;
      }
      .form-wrapper {
        margin-bottom: 10px;
        display: none;
        .tab-content {
          border: none;
        }
      }
      .flat-control, .selectize-input {
        border: none;
        @include border-radius(0);
        @include box-shadow(none);
      }
      .selectize-input {
        border-bottom: 1px dotted #ccc;
      }
      #tip_title, #tip_description {
        font-size: 18px;
        font-weight: 300;
        resize: none;
      }
      #tip_description {
        border-bottom: 1px dotted #ccc;
      }
    }
  }
}
