.no-access {
  .title {
    color: $primary-text-color;
    font-family: 'Holtwood One SC', serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 31px;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
  }
  .no-access-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .no-access-message {
    margin-bottom: 25px;
  }
}
