.question-title-bar {
  padding: 20px 20px 10px;
  
  .content {
    color: #fff;
    font-weight: bold;
    vertical-align: middle;
    .title-right {
      a {
        color: #ffffff;
        float: left;
        display: inline-block;
        font-family: Helvetica, Arial, sans-serif;
        padding-left: 20px;
        margin: 7px 0px;
      }
    }
    .media-heading {
      a {
        color: #ffffff;
        font-size: 12px;
      }
    }  
  }

  .pull-left {
    font-size: 9px;
    height: 45px;
    overflow: hidden;
    text-align: center;
    width: 75px;
  }

  img {
    margin: 0 auto;
  }

  &.liteorange {
    background-color: #f2ab13;
  }

  &.orange {
    background-color: #ee9843;
  }

  &.purple {
    background-color: #a95fd0;
  }

  &.litepurple {
    background-color: #cf61c4;
  }

  &.green {
    background-color: #60cf8b;
  }

  &.liteblue {
    background-color: #5f8ccf;
  }

  &.blue {
    background-color: #7f5ecf;
  }
}

.questions-container {
  // width: 1140px;
  padding: 0;
  margin: 30px auto;
  .question {
    position: relative !important;
    width: 500px;
    top: 0px !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 0;
    .question-avatar {
      display: inline-block;
      position: absolute;
      text-align: center;
      left: -80px;
      top: 55px;
      width: 70px;
      height: 60px;
      img.user-avatar-thumb {
        width: 40px;
        height: 40px;
        display: block;
        margin: 0 auto;
      }
      a {
        display: inline-block;
        color: #000101;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 9px;
      }
    }
    .panel-heading {
      padding: 15px;
      height: 45px;
    }
    .panel-heading.index {
      padding-left: 25px;
      border-bottom: 0;
      background-color: #fff !important;
      border-radius: 0;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 11px;
      color: #000;
      a {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 11px;
        color: #000101;
        text-decoration: none;
        //border-bottom: 2px solid #c7c7c7;
      }

    }
    .panel-heading.show {
      background-color: #ffffff;
      border-bottom: 0;
      padding-top: 5px;
    }
    .panel-body.index {
      border-top: 1px solid #f0f0f0;
    }
    .panel-body {
      min-height: 50px;
      padding: 0;
      //@include box-shadow(rgba(black, 0.1) 1px 6px 2px);
      .question-text {
        color: #ffffff;
        overflow-x: hidden;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 500;
        padding: 15px 25px;
        .question-description {
          position: relative;
          overflow: hidden;
          margin: 0;
          float:left;
          width: 95%;
          a {
            color: #ffffff;
          }
        }
        .tip-count-zero {
          .badge {
            background-color: #cd5c5c !important;
          }
        }
        blockquote {
          font-family: Helvetica;
          line-height: 25px;
          position: relative;
          border-left: 0;
          display: inline;
          padding: 0;
          color: #fff;
        }

        blockquote:before {
          display: inline-block;
          content: "\201C";
          position: relative;
          font-size: 25px;
          color: #fff;
          padding-right: 5px;
        }

        blockquote:after {
          content: "\201D";
          font-size: 25px;
          position: relative;
          color: #fff;
          bottom: -18px;
          padding-left: 5px;
        }

      }
      .question-text.show {
        padding-top: 5px;
      }
      .question-pictures {
        position: relative;
        height: 433px;
        .carousel {
          position: absolute;
          bottom: 0;
          width: 100%;
          .item {
            width: 498px;
            height: 433px;
            max-width: 100%;
            background-size: cover;
            background-position: center;
            img {
              height: 433px;
            }
          }
        }
      }

    }
    .panel-footer {
      border-radius: 0;
      height: 37px;
      background-color: #fff;
      font-size: 11px;
      font-weight: 500;
      text-align: left;
      padding: 10px 25px;
      //@include box-shadow(rgba(black, 0.1) 2px 6px 6px);
      .fa {
        font-weight: bold;
        margin-right: 15px;
        font-size: 15px;
        width: 17px;
        height:17px;
        position: relative;
        top: 2px;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 11px;
        margin-right: 20px;
        font-weight: bold;
      }
      a.add-tip {
        border-bottom: none;
      }
    }
  }

  .question > .arrow {
    &,
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
  }
  .question > .arrow {
    border-width: $popover-arrow-outer-width;
  }
  .question > .arrow:after {
    border-width: $popover-arrow-width;
    content: "";
  }

  .question > .arrow-left {
    top: 75px;
    left: -11px;
    margin-top: -$popover-arrow-outer-width;
    border-left-width: 0;
    border-right-color: darken(#dddddd, 20%); // IE8 fallback
    border-right-color: #dddddd;
    &:after {
      content: " ";
      left: 1px;
      bottom: -$popover-arrow-width;
      border-left-width: 0;
      border-right-color: #000;
    }
  }

  .liteorange {
    .panel-body {
      background: $liteorange !important;
    }
    .arrow-left {
      &:after {
        border-right-color: $liteorange !important;
      }
    }
  }

  .orange {
    .panel-body {
      background: $orange !important;
    }
    .arrow-left {
      &:after {
        border-right-color: $orange !important;
      }
    }
  }

  .purple {
    .panel-body {
      background: $purple !important;
    }
    .arrow-left {
      &:after {
        border-right-color: $purple !important;
      }
    }
  }

  .litepurple {
    .panel-body {
      background: $litepurple !important;
    }
    .arrow-left {
      &:after {
        border-right-color: $litepurple !important;
      }
    }
  }

  .green {
    .panel-body {
      background: $green !important;
    }
    .arrow-left {
      &:after {
        border-right-color: $green !important;
      }
    }
  }

  .liteblue {
    .panel-body {
      background: $liteblue !important;
    }
    .arrow-left {
      &:after {
        border-right-color: $liteblue !important;
      }
    }
  }

  .blue {
    .panel-body {
      background: $blue !important;
    }
    .arrow-left {
      &:after {
        border-right-color: $blue !important;
      }
    }
  }
}

.liteorange.question-title-bar {
  background-color: $liteorange;
}

.orange.question-title-bar {
  background-color: $orange;
}

.purple.question-title-bar {
  background-color: $purple;
}

.litepurple.question-title-bar {
  background-color: $litepurple;
}

.green.question-title-bar {
  background-color: $green;
}

.liteblue.question-title-bar {
  background-color: $liteblue;
}

.blue.question-title-bar {
  background-color: $blue;
}

.question.quick-question-adding{
  @include border-radius(7px);
  margin-bottom: 20px;
  .panel-body {
    @include border-radius(7px);
    @include box-shadow(none);
    background-color: white !important;
    padding: 10px;
    .question-extra-fields {
      border-top: 1px dotted #ccc;
      display: none;
      .actions {
        text-align: center;
        .pull-left{
          padding-left: 15px;
          margin: 6px auto;
          label:hover {
            cursor: pointer;
          }
          input[type=checkbox] {
            float: right;
            margin: 1px auto;
            &:hover {
              cursor: pointer;
            }
          }
        } 
      }
    }
    .form-wrapper {
      margin-bottom: 10px;
      display: none;
      .tab-content {
        border: none;
      }
    }
    .flat-control, .selectize-input {
      border: none;
      @include border-radius(0);
      @include box-shadow(none);
    }
    .selectize-input {
      border-bottom: 1px dotted #ccc;
    }
    #question_name {
      font-size: 18px;
      font-weight: 300;
      resize: none;
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .pull-left > input [type=checkbox] {
    margin: 2px auto !important;
  }
}

#questions-container {  
  min-height: 600px;
}
