.panel-sign-up {
  margin-top: 30px;
  .panel-body {
    text-align: center;
  }
}

.sign-in-wrapper {
  h3 {
    margin-top: 30px;
    text-align: center;
  }
  .panel-sign-in {
    .panel-body {
      text-align: center;
      .social-wrapper {
        margin-bottom: 20px;
      }
      form {
        label.check-box {
          font-weight: normal;
        }
      }
    }
  }
}

.select-avatar {
  margin-top: 50px;
  text-align: center;
  .avatar-upload-actions {
    margin-top: 10px;

    .fileinput-button {
      float: none;
      margin-right: 0;
    }
  }
  .avatar-upload-finish {
    margin-top: 30px;
  }
}
