span.twitter-typeahead {
  width: 100%;
}

#top-search-input {
  width: 100%;
  @media(max-width:767px) {
    width: 100%;
  }
  @media(min-width:768px) {
    width: 100%;
  }
  @media(min-width:992px) {
    width: 100%;
  }
  @media(min-width:1200px) {
    width: 100%;
  }
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100% !important;
  @media(max-width:767px) {
    width: 100% !important;
  }
  @media(min-width:768px) {
    width: 100% !important;
  }
  @media(min-width:992px) {
    width: 100% !important;
  }
  @media(min-width:1200px) {
    width: 100% !important;
  }
}

.tt-query {
  width: 100%;
  @media(max-width:767px) {
    width: 100%;
  }
  @media(min-width:768px) {
    width: 100%;
  }
  @media(min-width:992px) {
    width: 100%;
  }
  @media(min-width:1200px) {
    width: 100%;
  }
}

.tt-dropdown-menu {
  width: 100%;
  @media(max-width:767px) {
    width: 100%;
  }
  @media(min-width:768px) {
    width: 100%;
  }
  @media(min-width:992px) {
    width: 100%;
  }
  @media(min-width:1200px) {
    width: 100%;
  }
}
