.top-search-input {
  width: 100%;
  padding-left: 32px;
  background-image: image-url('icon-search.png');
  background-position: 12px center;
  background-repeat: no-repeat;
}

#social-search-form {
  margin-bottom: 27px;
}

.navbar-form, #home-page-search-wrapper {
  .typeahead,
  .tt-query,
  .tt-hint {
    padding-left: 32px;
  }
}

.search-items-container {
  padding: 0;
  margin: 30px auto;
  .search-item {
    position: relative;
    width: 500px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    img.media-object {
      width: 148px;
      height: 148px;
      @include border-top-right-radius(0);
      @include border-bottom-right-radius(0);
    }
    small.text-muted {
      a {
        color: inherit;
      }
    }
  }
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100% !important;
}

.typeahead {

}

.typeahead:focus {

}

.tt-query {
  width: 100%;
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $zindex-dropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0; // override default ul
  list-style: none;
  font-size: $font-size-base;
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-fallback-border; // IE8 fallback
  border: 1px solid $dropdown-border;
  border-radius: $border-radius-base;
  @include box-shadow(0 6px 12px rgba(0,0,0,.175));
  background-clip: padding-box;
  max-height: 500px;
  overflow-y: scroll;

  // Aligns the dropdown menu to right
  //
  // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
  &.pull-right {
    right: 0;
    left: auto;
  }

  // Dividers (basically an hr) within the dropdown
  .divider {
    @include nav-divider($dropdown-divider-bg);
  }

  // Links within the dropdown menu
  > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $line-height-base;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }

  small {
    a {
      font-size: 11px;
      color: #999999;
    }
  }
}

.tt-suggestion {
  display: block;
  padding: 10px;
  clear: both;
  font-weight: normal;
  line-height: $line-height-base;
  color: $dropdown-link-color;
  white-space: nowrap; // prevent links from randomly breaking onto new lines
  strong {
    font-weight: normal;
    background-color: #ffff00;
  }
  .media {
    img.media-object {
      width: 50px;
      height: 50px;
    }
  }
}

.tt-suggestion.tt-cursor {
  text-decoration: none;
  color: $dropdown-link-hover-color;
  background-color: $dropdown-link-hover-bg;
}

.tt-suggestion p {
  margin: 0;
}

.empty-result {
  display: block;
  padding: 10px;
  font-weight: normal;
  line-height: $line-height-base;
  color: #333333;
}

#search-footer {
  text-decoration: none;
  &:hover {
    background-color: #f5f5f5;
  }
}

.item, .selectize-dropdown-content {
  .label {
    line-height: 10px;
    vertical-align: middle;
    padding: 1px 2px;
    margin-right: 3px;
    display: inline;
    position: relative;
    top: 0px;
  }
}
