.share-modal{
  .tab-content {
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
    .tab-pane {
      padding: 1px !important;
    }
  }
  form {
    margin-top: 25px !important;
    .btn {
      border-radius: 8px !important;
      padding: 6px 19px !important;
    }

  }

  .share-area {
    margin-top: 25px;
    img {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
