#navbar-fixed-top {
  .sidebar-toggle {
    float: left;
    display: block;
    margin: 22px 20px 0 0;
    font-size: 26px;
    &:hover {
      cursor: pointer;
    }
  }
}

.row-offcanvas {
  position: relative;
  overflow-x: hidden;
  -webkit-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  .navbar-fixed-top {
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
}

.row-offcanvas-right {
  right: 0;
}

.row-offcanvas-left {
  left: 0;
  .navbar-fixed-top {
    left: 0;
  }
}

.row-offcanvas-right
.sidebar-offcanvas {
  right: -320px;
}

.row-offcanvas-left
.sidebar-offcanvas {
  left: -320px;
}

.row-offcanvas-right.active-sidebar {
  right: 320px;
}

.row-offcanvas-left.active-sidebar {
  left: 320px;
  .navbar-fixed-top {
    left: 320px;
  }
}

.sidebar-offcanvas {
  position: absolute;
  top: 0;
  width: 320px;
}

#left-sidebar {
  position: fixed;
  top: 0;
  width: 320px;
  height: 100%;
  color: #ffffff;
  background-color: #000000;
  padding: 0 10px;
  .navbar-header {
    float: none;
    display: block;
    width: 100%;
    border-bottom: 1px solid $sidebar-border-color;
    .navbar-brand {
      height: 70px;
    }
    a.close {
      color: #ffffff;
      text-shadow: none;
      opacity: 1.0;
      padding: 30px 10px;
      line-height: 10px;
      height: 70px;
    }
  }

  .nav {
    li {
      > a {
        height: 50px;
        padding: 11px;
        color: #ffffff;
        background-color: #000000;
        border-bottom: 1px solid #222222;
        img {
          margin-right: 10px;
        }
        &:hover {
          background-color: #222222;
        }
      }
      a.menu-lg {
        font-size: 14px;
        font-weight: 700;
      }

      .side-list {
        max-height: 300px;
      }

      ul.nav-menu-side {
        max-height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
        li {
          a {
            font-weight: 200;
          }
        }
      }
    }

    li.side-action {
      padding: 9px 0 9px 50px;
      border-bottom: 1px solid #222222;
      overflow: hidden;
    }

    li.active {
      > a {
        background-color: #222222;
      }
    }
  }
}
