body {
  padding-top: 70px;
  background-image: image-url('grey-bg-tile.png');
  background-repeat: repeat;
}

a {
  color: $primary-blue;
}

.btn {
  @include border-radius(20px);
}

.btn-lg {
  @include border-radius(24px);
}

.btn-sm {
  @include border-radius(16px);
}

.btn-xs {
  @include border-radius(12px);
}

.border-right {
  border-right: 1px solid $topbar-border-color;
}

.border-left {
  border-left: 1px solid $topbar-border-color;
}

.border-bottom {
  border-bottom: 1px solid $topbar-border-color;
}

.border-top {
  border-top: 1px solid $topbar-border-color;
}

.avatar-image {
  width: 150px;
  height: 150px;
  margin: 10px;
  @include border-radius(50%);
  @include box-shadow(#cccccc 0px 0px 2px);
}

.loader#loading {
  text-align: center;
}

.page-actions {
  text-align: center;
  margin: 30px 0;
}

span.badge {
  background-color: $primary-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 700;
}

.alert {
  margin-bottom: 0;
  @include border-radius(0);
}

.center-hack {
  display: inline-block;
  position: relative;
  left: 50%;
  #center-text {
    position: relative;
    display: inline-block;
    left: -50%;
    white-space: nowrap;
  }
}

.badge.badge-default {
  background-color: #999;
}
.badge.badge-primary {
  background-color: $brand-primary;
}

.panel {
  @include border-radius(7px);
  .panel-heading {
   // @include border-top-left-radius(6px);
   // @include border-top-right-radius(6px);
  }
  .panel-footer {
   // @include border-bottom-left-radius(6px);
   // @include border-bottom-right-radius(6px);
  }
}

.pac-container {
  z-index: 1060 !important;
}

.square-top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.square-bottom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rounded-top {
  border-top-left-radius: $border-radius-base;
  border-top-right-radius: $border-radius-base;
}

.rounded-bottom {
  border-bottom-left-radius: $border-radius-base;
  border-bottom-right-radius: $border-radius-base;
}

.dropdown-menu-right {
  border: none;
}

.modal-dialog.modal-show-profile {
  width: 925px;
}

.container-user-profile {
  background-color: white;
}

.my-hives-navigation-bar {
  height: 68px;
  .my-hives-navigation-link-left, .my-hives-navigation-link-right {
    line-height: 68px; 
    text-align: center;
    color: white;
    background-color: #7661ab; 
    width: 50%;
    float: left;
    a {
      text-decoration: none;
      color: white;
      font-size: 14px;
      font-weight: 700;  
      opacity: 0.6; 
      margin-left: 25px;
      margin-right: 25px;
    }

    &:hover {
      cursor: pointer;
      
      a {
        opacity: 1;
      }
    } 

    &.active {
      background-color: #a95fd0; 
      a {
        border-bottom: 1px solid #fff;
        opacity: 1;
      }
    }
  }
  .my-hives-navigation-head{
    line-height: 68px; 
    text-align: center;
    color: white;
    background-color: #a95fd0;
  }
}

.hives-list {
  padding: 15px 35px 40px;
  background-color: #f2f2f3;
  min-height: 580px;
  a {
    color: #888;
    i {
      color: #fff;
      font-size: 37px;
    }
  }
  .carousel-control.right { 
    left: auto;
    right: -73px;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    margin-top: 250px;
    opacity: 1;
    box-shadow: inset 0 0 5px  rgba(255,255,255,0.3);
  }
  .carousel-control.left {
    left: -73px;
    width: 40px;
    height: 40px;
    background-color: #000;
    border-radius: 50%;
    margin-top: 250px;
    opacity: 1;
    box-shadow: inset 0 0 5px  rgba(255,255,255,0.3);
  }
  .carousel-control:hover {
    background-color: #aaa;
  }

  table {
    td {
      width: 171px;
      vertical-align: top;
    }
    
    li {
      list-style: none;
      padding: 10px;
    }
  }
}

#member-name{
  a { text-decoration: none;
    color: white;}
}

.tour-panel-container {
  background-color: $liteorange;
  height: 535px;
  text-align: center;
  margin-left: -15px;
  margin-right: -15px;

  .panel {
    border: 0;
  }

  #friend-request > .friend-request {
    border: 0;
    .active-sign {
      margin-left: 177px;
    }
  }

  .arrow {
    border-width: $popover-arrow-outer-width;
    
    &,
    &:after {
      border-color: transparent;
      border-style: solid;
      border-width: $popover-arrow-width;
      content: '';
      position: absolute;
    }
  }

  .arrow-bottom {
    left: 60px;
    top: 40px;
  
    &:after {
      border-bottom-width: 0;
      bottom: 1px;
      content: '';
      margin-left: -$popover-arrow-width;
    }
  }

  .tab-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .greeting {
    color: $light-text-color;
    left: 30px;
    margin-top: 10px;
    position: absolute;
  }

  .close-tour {
    margin-right: 35px;
    margin-top: 10px;
  
    span {
      border: 1px solid $black-text-color;
      border-radius: 50%;
      margin-right: 5px;
    }

    i {
      margin-left: 4px;
    }
  
    &:hover {
      cursor: pointer;
    }
  }

  .tour-tabs {
    border-bottom: 1px solid $light-text-color; 
    display: inline-block;
    margin-left: 7%;
    padding-bottom: 20px;
    padding-left: 6%;
    width: 800px;
  
    li {
      margin-left: 15px;
      margin-right: 15px;
    }
  
    a {
      color: $light-text-color;
      font-weight: bold;
    }

    .hive-tour {
      background: image-url('hive-icon-tour.png') no-repeat;
      background-position: 12px;
      
      &.active > a,
      & > a:hover,
      & > a:focus {
        background: image-url('hive-icon-tour-active.png') no-repeat;
        background-color: $light-text-color; 
        background-position: 12px;
        border: 0;
        color: #efc04e;

        .arrow-bottom {

          &:after {
            border-top-color: $light-text-color;
          }
        }
      }
    }

    .domain-tour {
      background: image-url('domain-icon-tour.png') no-repeat;
      background-position: 12px;

      a {
        padding-left: 25px;
      }
      
      &.active > a,
      & > a:hover,
      & > a:focus {
        background: image-url('domain-icon-tour-active.png') no-repeat;
        background-color: $light-text-color; 
        background-position: 12px;
        border: 0;
        color: #60cf8b;

        .arrow-bottom {
        
          &:after {
            border-top-color: $light-text-color;
          }
        }
      }
    }

    .group-tour {
      background: image-url('mygroups-icon-tour.png') no-repeat;
      background-position: 12px;

      a {
        padding-left: 40px;
      }
      
      &.active > a,
      & > a:hover,
      & > a:focus {
        background: image-url('mygroups-icon-tour-active.png') no-repeat;
        background-color: $light-text-color; 
        background-position: 12px;
        border: 0;
        color: #7f5ecf;
        
        .arrow-bottom {
          &:after {
            border-top-color: $light-text-color;
          }
        }
      }
    }

    .people-tour {
      background: image-url('mypeople-icon-tour.png') no-repeat;
      background-position: 12px;

      a {
        padding-left: 30px;
      }
      
      &.active > a,
      & > a:hover,
      & > a:focus {
        background: image-url('mypeople-icon-tour-active.png') no-repeat;
        background-color: $light-text-color; 
        background-position: 12px;
        border: 0;
        color: #a95fd0;

        .arrow-bottom {
          &:after {
            border-top-color: $light-text-color;
          }
        }
      }
    }
  }
  
  .add-new {
    height: 280px;
    width: 200px;
    
    i {
      color: $primary-blue;
      padding-top: 65%;
    }
    
    &:hover {
      background-color: $lighter-grey;
      cursor: pointer;
    }
    
    a:hover, 
    a:focus {
      border: 0;
      text-decoration: none;
    }
    
    .btn.btn-default {
      border: 0;
      border-radius: 0;
      height: 280px;
      width: 200px;
    }
  }

  .btn.btn-default.hive-tour-button {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: $light-text-color;
    font-weight: bold;
    margin-top: 20px;
    width: 115px;
  }

  .nav-tabs > li > a {
    border-radius: 0;
    height: 40px;
    width: 140px;

  }


  .btn-group > .btn.btn-default.hive-tour-button {
    margin-top: 0;
  }

  .tab-pane {
    padding-top: 10px;
    
    p {
      margin: 0 0 -15px;
    }
    
    .input-group {
      height: 56px;
      margin: 75px 21%;
      .form-control {
        height: 56px;
      }
    
      .input-group-addon {
        background-color: $light-text-color;
        border-radius: 0;
      }
    
      .icon-cell {
        background-color: $black-text-color;
        border: 1px solid $black-text-color;
        width: 56px;
    
       .arrow-right {
          border-bottom: 9px solid transparent;
          border-left: 10px solid $black-text-color;
          border-top: 9px solid transparent;
          height: 0; 
          margin-left: 43px;
          position: absolute;
          width: 0; 
          z-index: 3;
        }
      }
    
      .btn.btn-default {
        background-color: $black-text-color;
        border: 1px solid $black-text-color;
        color: $light-text-color;
      }
    }
  }
}

