.tip-container {
  // width: 1140px;
  padding: 0;
  margin: 30px auto;
  .tip {
    border: none;
    position: relative;
    width: 500px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 0;
    .tip-avatar {
      display: inline-block;
      list-style: none;
      text-align: center;
      float: right;
      top: 20px;
      right: 20px;
      img.user-avatar-thumb {
        width: 35px;
        height: 35px;
        display: block;
        margin: 0 auto;
      }
      a {
        display: inline-block;
        color: #000101;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 9px;
      }
    }
    .tip-edit{
      display: inline-block;
      position: absolute;
      text-align: center;
      right: -67px;
      top: 23px;
      width: 70px;
      height: 60px;
    }
    .panel-heading {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 11px;
      color: #fff;
      padding-left: 30px;
      //padding-right: 80px;
      height: 85px;
      table {
        width: 100%;
        height: 100%;
      }
      td.title {
        width: 85%;
        .dropdown {
          float: left;
          a{
            &:focus{
              text-decoration: none;
            }
          }
          i:hover {
            cursor: pointer;
          }
          ul > li > a{
            color: blue;
            border: none;
          }
          &.left {
            float: left;
            span.slash {
              color: #fff;
            }
          }
        }
      }
      border: none;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      .arrow {
        border-width: $popover-arrow-outer-width;
        &,
        &:after {
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          border-color: transparent;
          border-style: solid;
          border-width: $popover-arrow-width;
          content: "";
        }
      }
      .arrow-bottom {
        z-index: 99;
        left: 22px;
        border-bottom-width: 0;
        top: 85px;
        &:after {
          content: " ";
          bottom: 1px;
          margin-left: -$popover-arrow-width;
          border-bottom-width: 0;
        }
      }
      h3.tip-title {
        margin: -7px 0 0 0;
        //width: 185px;
        font-family: Helvetica, Arial, sans-serif;
        a {
          font-size: 19px;
          color: #fff;
          width: 170px;
          border-bottom: none;
          
          &:hover {
            text-decoration: none;
          }
        }
        span {
          small {
            a {
              color: #999999;
            }
          }
        }
      }
    }

    .panel-heading.index {
      a {
        color: #fff;
        span.badge{
          border-radius: 50px 50px;
          padding: 6px;
          height: 22px;
          width: 22px;
          i{
            font-size: 12px;
          }
        }
        &:focus{
          text-decoration: none;
        }
      }
      a.add-tip {
        color: #fff;
        border-bottom: none;
        right: 30px;
        top: 15px;
        float: right;
        position: absolute;
      }
    }
    .panel-heading.show {
      border: none;
      height: 100%;
      padding: 30px 30px;
      a {
        color: #fff;
        span.badge{
          border-radius: 50px 50px;
          padding: 6px;
          height: 22px;
          width: 22px;
          i{
            font-size: 12px;
          }
        }
        &:focus{
          text-decoration: none;
        }
      }
      .tip-avatar {
        float: right;
        top: none;
        right: none;
        a {
          text-decoration: none;
        }
      }
      a.add-tip {
        border-bottom: none;
        right: 30px;
        top: 15px;
        float: right;
        position: absolute;
      }
      .arrow-bottom {
        top: auto;
        padding-bottom: 31px;
      }
    }
    .panel-heading.mobile {
      display: none;
    }
    .panel-body.index {
    }
    .panel-body {
      padding: 0;
      background-color: #ffffff;
      .tip-text {
        background-color: #ffffff;
        padding: 30px;
        overflow-x: hidden;
        .tip-description{
          font-size: 14px;
          line-height: 25px;
        }
        h3.tip-title {
          position: relative;
          margin: 0;
          margin-bottom: 10px;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 15px;
          font-weight: 700;
          a {
            color: $primary-text-color;
          }
          span {
            display: inline-block;
            vertical-align: middle;
          }
          .tip-like {
            position: absolute;
            right: 0;
            width: 24px;
            height: 24px;
            display: inline-block;
            vertical-align: middle;
            a.like-action {
              width: 24px;
              height: 24px;
              border: 1px solid $default-border-color;
              font-size: 12px;
              display: inline-block;
              @include border-radius(50%);
              text-align: center;
              vertical-align: middle;
              padding: 5px 3px;
              background-color: $lighter-grey;
              color: $dark-grey;
            }
            a.liked {
              color: $primary-red;
            }
          }
        }
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
      }
      .tip-text.show {
        padding-top: 30px;
      }
      .tip-pictures {
        position: relative;
        height: 433px;
        .carousel {
          position: absolute;
          bottom: 0;
          width: 100%;
          .carousel-control {
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 10;
            height: 55px;
            width: 55px;
            border-radius: 50%;
            top: 40%;
            margin: 20px;
            .glyphicon-chevron-right {
              position: absolute;
              top: 50%;
              z-index: 5;
              display: inline-block;
              margin: -15px;
            }
          }
          .player_mask {
            z-index: 8;
            opacity: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            position: absolute;
          }
          .item {
            width: 500px;
            height: 433px;
            max-width: 100%;
            background-size: cover;
            background-position: center;
            img {
              height: 433px;
            }
            .icon-info{
              background: image-url('i-icon_03big.png') no-repeat;
              background-size: cover;
              width: 35px;
              height: 35px;
              z-index: 7;
              display: block;
              float: left;
              margin-top: 20px;
              margin-left: 30px;
            }
          }
        }
      }
    }
    .panel-footer {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #fff;
      font-size: 11px;
      font-weight: 500;
      text-align: left;
      padding: 18px 30px;
      @include box-shadow(rgba(black, 0.1) 2px 6px 6px);
      .fa {
        position: relative;
        top: 2px;
        font-size: 15px;
        color: #64bbf1;
        font-weight: bold;
        padding-right: 15px;
      }
      .fa-flag-o {
        padding: 0;
      }
      a {
        padding-right: 15px;
        display: inline-block;
        vertical-align: middle;
        color: $black-text-color;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 9px;
        font-weight: bold;
        &:hover{
          text-decoration: none;
        }
        &:focus{
          text-decoration: none;
        }
      }
      .icon-share {
        background: image-url('share-icon2_03.png') no-repeat left center transparent;
        min-width: 24px;
        padding-left: 26px;
        margin: 0 5px;
        line-height: 24px;
        height: 24px;
        display: inline-block;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}

.liteorange {

  .panel-body.index {

    .tip-description {
      background: image-url('book-line-liteorange.png') repeat-y;
      border-bottom: 1px solid rgba(242, 171, 19, 0);
    }
  }
}

.orange {

  .panel-body.index {

    .tip-description {
      background: image-url('book-line-orange.png') repeat-y;
      border-bottom: 1px solid rgba(238, 152, 67, 0);
    }
  }
}

.purple {

  .panel-body.index {

    .tip-description {
      background: image-url('book-line-purple.png') repeat-y;
      border-bottom: 1px solid rgba(169, 95, 208, 0);
    }
  }
}

.litepurple {

  .panel-body.index {

    .tip-description {
      background: image-url('book-line-litepurple.png') repeat-y;
      border-bottom: 1px solid rgba(207, 97, 196, 0);
    }
  }
}

.green {

  .panel-body.index {

    .tip-description {
      background: image-url('book-line-green.png') repeat-y;
      border-bottom: 1px solid rgba(96, 207, 139, 0);
    }
  }
}

.liteblue {

  .panel-body.index {

    .tip-description {
      background: image-url('book-line-liteblue.png') repeat-y;
      border-bottom: 1px solid rgba(95, 140, 207, 0);
    }
  }
}

.blue {

  .panel-body.index {

    .tip-description {
      background: image-url('book-line-blue.png') repeat-y;
      border-bottom: 1px solid rgba(127, 94, 207, 0);
    }
  }
}

#tips-feed-container {
  min-height: 600px;
}

.map-canvas {
  display: block;
  float: none;
  clear: both;
  position: relative;
  min-width: 100%;
  max-width: 100%;
  min-height: 240px;
}

.social-text {
  iframe {
    color: #2ea1da;
    width: 100%;
  }
}

.media.tip-link {
  border-bottom: none;
  padding: 25px 35px;
  background: #f0f0f0;
  height: 150px;
  margin-top: 0;
  .pull-left {
    margin: 0;
    .tip-image {
      width: 100px;
      height: 100px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
  .media-body {
    background-color: #fff;
    border-left: 1px solid #d8d8d8;
    padding: 10px;
    min-height: 100px;
    .link-title {
      margin-bottom: 10px;
      a {
        color: #000101;
        font-size: 12px;
        font-weight: 700;
        text-decoration: none;
        border-bottom: 2px solid #C7C7C7;
      }
    }
    .link-description {
      color: #000101;
      font-size: 12px;
    }
  }
  border: 1px solid #d8d8d8;
  @include box-shadow(rgba(black, 0.1) 1px 1px 2px);
}

.tip-container {
  .panel-body {
    .tip-links {
      .media.tip-link {
        border-bottom: none;
        padding: 25px 35px;
        background: #f0f0f0;
        height: 150px;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

#ajax-loader-link {
  margin-bottom: 15px;
}

// tip for mobile
@media(max-width:648px) {
  .tip-container {
    .tip {
      .tip-edit{
        display: none;
      }
      .panel-heading.mobile {
        display: block;
        position: relative;
        background-color: $lighter-grey;
        border-right: 0;
        border-top: 0;
        height: 95px;
        padding-left: 30px;
        padding-top: 15px;
        .dropdown {
          float: left;
          max-width: 185px;
          a{
            color: #fff;
            border-bottom: 1px solid;
            &:hover{
              text-decoration: none;
            }
            &:focus{
              text-decoration: none;
            }
          }
          i {
            color: #fff;
            &:hover {
              cursor: pointer;
            }
          }
        }
        span {
          color: #fff;
        }
        a{
          color: #fff;
          font-size: 10px;
          span.badge{
            border-radius: 50px 50px;
            padding: 6px;
            height: 22px;
            width: 22px;
            i{
              font-size: 12px;
            }
          }
          .tip-user-profile {
            color: #fff;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 11px;
            text-decoration: none;
            //border-bottom: 2px solid #c7c7c7;
          }
        }
        a.add-tip {
          border-bottom: none;
          right: 30px;
          top: 15px;
          float: right;
          position: absolute;
        }
        .arrow {
          border-width: $popover-arrow-outer-width;
          &,
          &:after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: $popover-arrow-width;
            content: "";
          }
        }
        .arrow-bottom {
          z-index: 99;
          left: 22px;
          border-bottom-width: 0;
          top: 95px;
          &:after {
            content: " ";
            bottom: 1px;
            margin-left: -$popover-arrow-width;
            border-bottom-width: 0;
          }
        }
      }
      .panel-heading.mobile.show {
        height: 110px;
        .arrow-bottom {
          top: 110px;
        }
        .tip-edit{
          display: block;
          position: absolute;
          top: 70px;
          right: 22px;
          width: 33px;
          height: auto;
          a{
            i{
              color: #000;
            }
          }
        }
      }
    }
    .tip > .arrow-left {
      display: none;
    }
  }
}

.tip.quick-tip-adding {
  @include border-radius(7px);
  margin-bottom: 20px;
  .panel-body {
    @include border-radius(7px);
    @include box-shadow(none);
    padding: 10px;
    .extra-fields {
      display: none;
    }
    .form-wrapper {
      margin-bottom: 10px;
      display: none;
      .tab-content {
        border: none;
      }
    }
    .flat-control, .selectize-input {
      border: none;
      @include border-radius(0);
      @include box-shadow(none);
      //background: image-url('logo_square_small.png') no-repeat;
    }
    .selectize-input {
      border-bottom: 1px dotted #ccc;
    }
    #tip_title, #tip_description {
      font-size: 18px;
      font-weight: 300;
      resize: none;
    }
    #tip_description {
      border-bottom: 1px dotted #ccc;
    }
  }

}
