.container-fluid.tips-container {
  max-width: 900px;
  padding: 0;
  margin: 20px auto;
  .tip {
    width: 265px;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    border-radius: 0;
    float: left;
    .panel-heading {
      border-bottom: none;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      position: relative;
      color: #fff;
      height: 95px;
      padding: 0 15px 0 20px;
      table {
        width: 100%;
        height: 100%;
      }
      .hive-pocket-link{
        max-width: 185px;
        .dropdown {
          float: left;
          max-width: 185px;
          a{
            &:focus{
              text-decoration: none;
            }
          }
          i:hover {
            cursor: pointer;
          }
          ul > li > a{
            color: blue;
            border: none;
          }
        }
      }
      a{
        color: #fff;
        font-size: 10px;
        .tip-user-profile {
          color: #fff;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 11px;
          text-decoration: none;
        }
      }
      h3.tip-title {
        margin: -7px 0 0 0;
        width: 185px;
        font-family: Helvetica, Arial, sans-serif;
        a {
          font-size: 19px;
          color: #fff;
          width: 170px;
          text-decoration: none;
        }
        span {
          small {
            a {
              color: #999999;
            }
          }
        }
      }
      .tip-avatar {
        right: 10px;
        top: 0px;
        position: absolute;
        float: right;
        text-align: center;
        img.user-avatar-tiny {
          margin-top: 25px;
        }
        a {
          font-size: 9px;
          text-decoration: none;
        }
      }
    }
    .panel-heading > .arrow {
      &,
      &:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
      }
    }
    .panel-heading > .arrow {
      border-width: $popover-arrow-outer-width;
    }
    .panel-heading > .arrow:after {
      border-width: $popover-arrow-width;
      content: "";
    }

    .panel-heading > .arrow-bottom {
      z-index: 99;
      left: 30px;
      margin-left: -$popover-arrow-outer-width;
      border-bottom-width: 0;
      //border-top-color: darken(#dddddd, 20%); // IE8 fallback
      //border-top-color: #dddddd;
      bottom: -$popover-arrow-outer-width;
      &:after {
        content: " ";
        bottom: 1px;
        margin-left: -$popover-arrow-width;
        border-bottom-width: 0;
      }
    }
    .panel-body.index {
    }
    .panel-body {
      overflow: hidden;
      height: 170px;
      padding: 0;
      background-color: #ffffff;
      //@include box-shadow(rgba(black, 0.1) 1px 6px 2px);
      &:hover {
        cursor: pointer;
      }
      .tip-text {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 20px;
        height: 140px;
        padding: 20px 15px 10px;
        //overflow-x: hidden;
        //overflow-y: auto;
      }
      .tip-description{
        height: 100px;
        font-size: 14px;
        line-height: 25px;
        overflow: hidden;
        a{
          color: #000;
          text-decoration: none;
        }
      }
      .tip-pictures {
        position: relative;
        height: 170px;
        .carousel {
          position: absolute;
          bottom: 0;
          width: 100%;
          .item {
            width: 265px;
            max-width: 100%;
            height: 170px;
            background-size: cover;
            background-position: center;
            img {
              height: 170px;
            }
            .icon-info{
              background: image-url('i-icon_03.png') no-repeat;
              width: 24px;
              height: 24px;
              z-index: 9;
              display: block;
              float: right;
              margin-top: 132px;
              margin-right: 14px;
            }
          }
        }
      }
    }
    .panel-footer {
      padding: 5px 15px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      height: 45px;
      background-color: #fff;
      font-size: 11px;
      font-weight: 500;
      text-align: left;
      //@include box-shadow(rgba(black, 0.1) 2px 6px 6px);
      .fa {
        position: relative;
        top: 2px;
        font-size: 15px;
        color: #64bbf1;
        font-weight: bold;
        padding-right: 15px;
      }
      a {
        display: inline-block;
        vertical-align: middle;
        color: $black-text-color;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 9px;
        font-weight: bold;
        margin: 10px 7px;
        &:hover{
          text-decoration: none;
        }
        &:focus{
          text-decoration: none;
        }
      }
      .icon-share {
        background: image-url('share-icon2_03.png') no-repeat left center transparent;
        min-width: 24px;
        padding-left: 26px;
        margin: 0 0px;
        line-height: 24px;
        height: 24px;
        display: inline-block;
        &:hover {
          opacity: 0.8;
        }
        .popup-form {

        }
      }
    }
  }
}

.liteorange {

  .panel-heading {
    background-color: $liteorange !important;

    .arrow-bottom {

      &:after {
        border-top-color: $liteorange !important;
      }
    }
  }

  .panel-body {

    .tip-description {
      background: image-url('book-line-liteorange.png') repeat-y;
      border-bottom: 1px solid rgba(242, 171, 19, 0.3) ;
    }
  }
}

.orange {

  .panel-heading {
    background-color: $orange !important;

    .arrow-bottom {

      &:after {
        border-top-color: $orange !important;
      }
    }
  }

  .panel-body {

    .tip-description {
      background: image-url('book-line-orange.png') repeat-y;
      border-bottom: 1px solid rgba(238, 152, 67, 0.3);
    }
  }
}

.purple {

  .panel-heading {
    background-color: $purple !important;

    .arrow-bottom {

      &:after {
        border-top-color: $purple !important;
      }
    }
  }
  .panel-body {

    .tip-description {
      background: image-url('book-line-purple.png') repeat-y;
      border-bottom: 1px solid rgba(169, 95, 208, 0.3);
    }
  }
}

.litepurple {

  .panel-heading {
    background-color: $litepurple !important;

    .arrow-bottom {

      &:after {
        border-top-color: $litepurple !important;
      }
    }
  }

  .panel-body {

    .tip-description {
      background: image-url('book-line-litepurple.png') repeat-y;
      border-bottom: 1px solid rgba(207, 97, 196, 0.3);
    }
  }
}

.green {

  .panel-heading {
    background-color: $green !important;

    .arrow-bottom {

      &:after {
        border-top-color: $green !important;
      }
    }
  }

  .panel-body {

    .tip-description {
      background: image-url('book-line-green.png') repeat-y;
      border-bottom: 1px solid rgba(96, 207, 139, 0.3);
    }
  }
}

.liteblue {

  .panel-heading {
    background-color: $liteblue !important;

    .arrow-bottom {

      &:after {
        border-top-color: $liteblue !important;
      }
    }
  }

  .panel-body {

    .tip-description {
      background: image-url('book-line-liteblue.png') repeat-y;
      border-bottom: 1px solid rgba(95, 140, 207, 0.3);
    }
  }
}

.blue {

  .panel-heading {
    background-color: $blue !important;

    .arrow-bottom {

      &:after {
        border-top-color: $blue !important;
      }
    }
  }

  .panel-body {

    .tip-description {
      background: image-url('book-line-blue.png') repeat-y;
      border-bottom: 1px solid rgba(127, 94, 207, 0.3);
    }
  }
}


#tips-container {
  min-height: 600px;
}

.tips-container {
  .panel-body {
    .tip-links-small {
      height: 50px;

      .media.tip-link {
        border-bottom: 0;
        margin-top: 0;
        padding: 0;

        .pull-left {
          margin: 0;
          
          .tip-image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 50px;
            width: 50px;
          }
        }
        .media-body {
          font-weight: 9px;
          line-height: 11px;
          padding: 5px;
        }
        &:first-child {
          border-top: none;
        }
      }
    }
  }
}

// tip for mobile
@media(max-width:400px) {
  .tips-container {
    .tip {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
@media(max-width:360px) {
  .tips-container {
    .tip {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
