.title-bar-wrapper {
  background-image: image-url('header_bar_bg.png');
  background-repeat: repeat;
  @include box-sizing(border-box);
  border-top: 1px solid $default-border-color;
  border-bottom: 1px solid $default-border-color;

  .title {
    color: $primary-text-color;
    font-family: 'Holtwood One SC', serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    a {
      color: $primary-text-color;
    }
  }

  .content {
    text-align: center;
    font-weight: bold;
  }

  .title-left {
    text-align: left;
    .ask-tip-title {
      text-align: center;
      font-weight: normal;
      line-height: 31px;
      padding-top: 11px;
      padding-bottom: 11px;
    }
    form {
      margin-top: 10px;
      span {
        font-family: Helvetica, Arial, sans-serif;
        font-size: 11px;
        display: inline-block;
        vertical-align: middle;
      }
      .select-hives {
        width: 50%;
      }
    }
    span {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 11px;
      display: inline-block;
      vertical-align: middle;
    }
    a.title-info-link {
      color: $primary-text-color;
      margin-top: 5px;
      display: inline-block;
      vertical-align: middle;
    }
    .info > a {
      background: transparent;
    }
  }

  .title-middle {
    text-align: center;
    position: relative;
    span {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 11px;
      display: inline-block;
      vertical-align: middle;
    }
    span.slash {
      color: $primary-blue;
      font-family: Helvetica, Arial, sans-serif;
      font-size: 26px;
      font-weight: normal;
      line-height: 31px;
    }
    .title.profile-title {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 24px;
      font-weight: 700;
    }
    .dropdown-button {
      margin-top: 12px;
    }
    .media-body,
    .media {
        overflow: visible; /*overflow was set to hidden before */
    }
    .media-body:after,
    .media:after {
        clear: both;
        content: ' ';
        display: block;
        height: 0;
    }
  }

  .title-right {
    text-align: right;
  }

  .info {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    span {
      margin-top: 8px;
    }
    span.caret {
      margin-top: 0;
    }
    span.label-small {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 11px;
      display: inline-block;
      vertical-align: middle;
    }
    span.title-small {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 16px;
      font-weight: 700;
      display: inline-block;
      vertical-align: middle;
      a {
        color: $primary-text-color;
      }
    }
    .user-connect {
      text-align: left;
    }
  }

  .home-page-title {
    position: relative;
    .title {
      padding-top: 45px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .content {
      padding-bottom: 45px;
    }
    #top_10_logo {
      position: absolute;
      z-index: 1000;
      top: 75px;
      left: 20px;
    }

  }

  .user-profile-title {
    padding-top: 35px;
  }

  .hive-title {
    .title-middle .dropdown-button {
      margin-top:0;
    }
  }

  .my-groups-title {
    .title-middle .dropdown-button {
      margin-top:0;
    }
  }
}

.user-background-wrapper {
  background-color: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  #progress {
    display: none;
    position: absolute;
    height: 3px;
    background-color: #1d9ad6;
    width: 0%;
    top: 0;
    left: 0;
  }
  .background-image-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 365px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    #reposition-container {
      position: relative;
      width: 100%;
      height: 365px;
      background-color: #ccc;
      text-align: center;
      vertical-align: middle;

      img.background-image {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        width: 100%;
      }
      .loading-text {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
  .user-background-image {
    height: 365px;
    // text-align: center;
    img.background-image {
      position: absolute;
      width: 100%;
    }
    .ajax-loader {
      position: absolute;
      top: 0;
    }
    .user-avatar-medium {
      display: block;
      margin: 0 auto;
      position: relative;
      top: 250px;
    }
    #edit-bg-btn-container {
      position: absolute;
      top: 330px;
      #btn-edit-background-image {
        position: relative;
        display: block;
        left: 5px;
        top: 0;
      }
      #btn-edit-background-dropdown {
        position: relative;
        left: 5px;
        top: 0;
      }
      #background-image-fileupload {
        display: none;
      }
    }    
    &.liteorange {
      background-color: $liteorange;
    }
    &.orange {
      background-color: $orange;
    }
    &.purple {
      background-color: $purple;
    }
    &.litepurple {
      background-color: $litepurple;
    }
    &.green {
      background-color: $green;
    }
    &.liteblue {
      background-color: $liteblue;
    }
    &.blue {
      background-color: $blue;
    }
  }
}

.group-background-wrapper{
  position: relative;
  text-align: center;
  .background-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 768px;
    overflow: hidden;
    .overlay {
      background-color: rgba(0,0,0,0.6);
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &.user-profile {
      height: 880px;
      overflow: hidden;
    }
    &.liteorange {
      background-color: $liteorange;
    }
    &.orange {
      background-color: $orange;
    }
    &.purple {
      background-color: $purple;
    }
    &.litepurple {
      background-color: $litepurple;
    }
    &.green {
      background-color: $green;
    }
    &.liteblue {
      background-color: $liteblue;
    }
    &.blue {
      background-color: $blue;
    }
  }

  .background-content{
    color: #fff;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 768px;
    text-align:center;
    font-size: 25px;
    z-index: 2;
    &.user-profile {
      height: 880px;
      .user-avatar {
        padding-top: 135px;
        padding-bottom: 30px;
      }
      .connection-status {
        padding-top: 30px;
      }
      .address {
        padding-top: 250px;
        p {
          font-size: 12px;
        }
      }
    }
    .user-avatar {
      padding-top: 66px;
    }
    .connection-status {
      a.btn {
        width: 97px;
      }
    }
    .member-avatar { 
      a > img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .title {
        color: #fff;
        font-family: 'Holtwood One SC', serif;
        font-size: 32px;
        a .caret{
          color: #fff;
        }
      }
      .dropdown ul{
        padding: 5px 0;
        font-size: 12px;
        font-family: Helvetica, Arial, sans-serif;
        a {
          color: $primary-text-color;
        }
      }
      .carousel-inner {
        width: 100%;
        img {
          display: inline;
          border-radius: 50%;
          margin: 50px 15px;
          width:  100px;
          height: 100px;
        }  
      }
      .carousel-control.right {
        right:27px;
        width: 40px;
        height:40px;
        background-color: #000;
        border-radius: 50%;
        top: 40%;
        font-size: 27px;
        opacity: 1;
      }
      .carousel-control.left {
        left: 27px;
        width: 40px;
        height:40px;
        background-color: #000;
        border-radius: 50%;
        top: 40%;
        font-size: 27px;
        opacity: 1;
      }
      .member {
        display: inline-flex;
        vertical-align: middle;
        img {
          border-radius: 50%;
          margin: 50px 20px;
          width:  100px;
          height: 100px;
          float:left;
        }
      }
    }
    .avatar-name {
      padding-top: 10px;
      color: #fff;
      font-family: 'Holtwood One SC', serif;
      font-size: 32px;
    }
    .property-status {
      padding-top: 80px;
      p {
        font-size: 12px;
      }
      .border-right {
        border-right: 1px solid rgba(255,255,255, 0.3); 
      }
      .border-left {
        border-left: 1px solid rgba(255,255,255, 0.3); 
      }
    }
    .address {
      padding-top: 90px;
      p {
        font-size: 12px;
      }
    }
  }  
}

.group-title-bar {
  background-color: #1e9ad6;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  .hives-link {
    position: absolute;
    right: 180px;
    padding-top: 40px;
    a {
      color: #fff;
      border-bottom: 1px solid #fff;
      &:focus , &:hover {
        outline: none;
        text-decoration: none;
      }
    }
  }
  .panel-group {
    .panel {
      background-color: transparent;
      border: none;
      box-shadow: none;
      .panel-heading {
        padding: 0;
        .panel-title {
          margin-top: 20px;

          .hive-follow {
            display: inline;
            margin-top: 20px;

            a.btn {
              background-color: transparent;
              border-color: rgba(255, 255, 255,0.3);
              color: #fff;
              margin-left: 10px;
              margin-right: 10px;
            }

            span.checked {
              background: image-url('hive-checked.png') no-repeat;
              height: 22px;
              margin-left: -25px;
              margin-top: -10px;
              position: absolute;
              width: 22px;
            }

            span.separator {
              margin-top: 14px;
              position: absolute;
            }
          }

          .percent-tab {    
            text-align: center;
            display: inline;
            
            .percentage {
              color: #97d75d;
              display: inline;
              font-size: 14px;
              font-weight: bold;
            }

            span {
              font-size: 7px;
              margin: 20px 0 0 -42px ;
              position: absolute;
            }
          }
        }
      }
      .panel-body {
        padding: 0;
        border-top: none;

        .hive-follow {
          display: inline-block;
          margin-top: 20px;
          width: 100%;

          a.btn {
            background-color: transparent;
            border-color: rgba(255, 255, 255,0.3);
            color: #fff;
            margin-left: 10px;
            margin-right: 10px;
          }

          span.checked {
            background: image-url('hive-checked.png') no-repeat;
            height: 22px;
            margin-left: -25px;
            margin-top: -10px;
            position: absolute;
            width: 22px;
          }

          span.separator {
            margin-top: 14px;
            position: absolute;
          }
        }
      }
    }
  }
  .title {
    font-size: 15pt;
    padding-top: 25px;
  }
  .full-size {
    height: auto !important;
  }
}

.mobile-filter {
  display: none;
}

@media (max-width: 768px) {
  .mobile-filter {
    display: block;
  }
  .dekstop-filter {
    display: none;
  }
  .title-bar-wrapper .title-left {
    text-align: center;
  }

  .user-background-wrapper{
    .background-image-container{
      #reposition-container{
        img.background-image {
          display: inline-block;
          position: relative;
          vertical-align: middle;
          width: 100%;
          height: 100%;
          top: 0 !important;
        }
      }
    }
  }
}
