.navbar-fixed-top .navbar-form {
  .input-search {
    width: 400px;
    @media(max-width:767px) {
      width: 400px;
    }
    @media(min-width:768px) {
      width: 300px;
    }
    @media(min-width:992px) {
      width: 400px;
    }
    @media(min-width:1200px) {
      width: 400px;
    }
  }
}
