.navbar-fixed-top .navbar-brand {
  height: 70px;
  img {
    height: 40px;
  }
}

.navbar-fixed-top .navbar-toggle {
  margin-top: 18px;
  margin-bottom: 18px;
}

.navbar-fixed-top .navbar-nav > li> a {
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 20px;
}

.navbar-fixed-top .navbar-nav > li> div {
  padding: 25px 15px;
  line-height: 20px;
  a {
    text-decoration: none;
  }
}

.navbar-fixed-top .navbar-nav > li.main-menu > a {
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbar-default {
  border-color: $default-border-color;
  .navbar-nav {
    li {
      a {
        color: #000000;
      }
    }
    li.dropdown-action {
      > a {
        font-size: 18px;
        height: 70px;
        color: $primary-button-color;
      }
      > ul.dropdown-menu {
        li {
          a {
            font-weight: 700;
            border-bottom: 1px solid $default-border-color;
          }

        }
        li:last-child {
          a {
            border-bottom: none;
          }
        }
      }
    }
    li#main-menu-container {
      a {
        vertical-align: middle;
        i.fa-bars {
          position: relative;
          top: 5px;
          font-size: 25px;
        }
      }
    }
  }
}

.navbar-fixed-top {
  .navbar-form {
    width: 50%;
  }
}

.navbar-default .navbar-nav > .main-menu > a {
  span.name {
    border-bottom: 2px solid #c7c7c7;
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a {
  background-color: $primary-button-color;
  color: #ffffff;
  span.name {
    border-bottom: 2px solid #fff;
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: $primary-button-color;
  color: #ffffff;
  span.name {
    border-bottom: 2px solid #fff;
  }
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: $primary-button-color;
  color: #ffffff;
  span.name {
    border-bottom: 2px solid #fff;
  }
}

.navbar-fixed-top .navbar-nav > li.sub-menu > a {
  padding-left: 25px;
  padding-right: 25px;
}

.navbar-fixed-top .navbar-nav > li.main-menu > a {
  img.user-avatar-tiny {
    margin-right: 5px;
  }
  i {
    margin-left: 20px;
  }
  span.name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
  }
}

.sub-menu .dropdown-menu > li > a {
  padding: 20px;
}

.navbar-default {
  background-color: #ffffff;
}

.navbar-fixed-top .navbar-form {
  margin-top: 18px;
  margin-bottom: 18px;
  @media (min-width: $screen-sm-min) {
    max-width: 33%;
  }
  @media (min-width: $screen-md-min) {
    max-width: 49%;
  }
}
