.user-avatar-tiny {
  width: 33px;
  height: 33px;
  @include border-radius(50%);
}

.user-avatar-thumb {
  width: 50px;
  height: 50px;
  @include border-radius(50%);
}

.user-avatar-small {
  width: 70px;
  height: 70px;
  @include border-radius(50%);
}

.user-avatar-medium {
  width: 150px;
  height: 150px;
  @include border-radius(50%);
}

.user-avatar-large {
  width: 200px;
  height: 200px;
  @include border-radius(50%);
}
