// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "variables";

// Reset
@import "bootstrap/normalize";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/buttons";

// Components
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/thumbnails";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/wells";

body.user-mailer {
  background-color: #f2f2f2;
  #logo {
    margin: 50px 0 30px;
    text-align: center;
    img {
      display: inline-block;
    }
  }
  .panel.panel-default {
    .panel-body {
      text-align: left;
      background-color: #ffffff;
    }
    .panel-footer {
      text-align: center;
      background-color: $primary-blue;
    }
  }
}
