<script>
  var $uploadFiles = $('#uploaded-files');
  var $thumbnailFile = $('a.thumbnail-file');

  $('#file-fileupload').fileupload({
    dataType: 'json',
    method: 'POST',
    <% if tip.persisted? %>
    formData: [{name: 'tip_id', value: '<%= tip.id %>'}],
    <% end %>
    add: function (e, data) {
      $('#file-ajax-loader').removeClass('hide');
      data.submit();
    },
    progressall: function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
      if (progress >= 100) {
        $('#file-ajax-loader').addClass('hide');
      }
    },
    done: function (e, data) {
      var file = JSON.parse(data.jqXHR.responseText);
      if (file.status == 'fail')
      {
        $uploadFiles.after(file.message);
      }
      else
      {
        var $image_link = $('<a>');
        var $delete_button = $('<button class="btn-remove-picture glyphicon glyphicon-remove btn btn-danger btn-sm button-remove-file" type="button" data-file-id="'+file.id+'">');
        var $text_file = $('<a href="'+file.file.file.url+'" target="_blank">'+file.title+'</a>')
        $delete_button.on('click', processRemoveFile);
        $image_link.attr('id', 'file-' + file.id);
        $image_link.attr('data-file-id', file.id);
        $image_link.addClass('thumbnail-file');
        $image_link.attr('href', 'javascript:');

        $image_link.append($delete_button);
        $image_link.append($text_file);

        $uploadFiles.append($('<br>'));
        $uploadFiles.append($image_link);

        var file_ids = '';
        var files_count = $thumbnailFile.size();
        $thumbnailFile.each(function(index, elem) {
          var $elem = $(elem);
          file_ids += $elem.data('file-id');
          if (index < files_count - 1) {
            file_ids += ',';
          }
        });

        $('#tip_file_ids').val(file_ids);
      }
    }
  });

  $('.button-remove-file').on('click', processRemoveFile);

  function processRemoveFile() {
    var $btn_remove = $(this);
    var file_id = $btn_remove.data('file-id');

    $.ajax({
      url: '/files/' + file_id,
      dataType: 'json',
      method: 'DELETE',
      data: { id: file_id }
    }).done(function() {
      $('#file-' + file_id).remove();
      $('.href_file-' + file_id).remove();
    });
  }
</script>
