%br
%a{ href: 'javascript:', id: "file-#{file.id}", 'data-file-id' => file.id, class: 'thumbnail-file uploaded-picture' }
  %button.btn-remove-picture.glyphicon.glyphicon-remove.btn.btn-danger.btn-sm.button-remove-file{type: 'button', 'data-file-id' => file.id}
  %a{href: "#{file.file.url}", class: "href_file-#{file.id}", target: '_blank'}
    = "#{file.file.file.filename}"
