- file_upload_image_url = image_url('pockets-no-images.png')
.media.tip-link{id: "tip-link-#{file_upload.id}", data: { 'link-id' => file_upload.id }}
  .pull-left
    .tip-image{style: "background-image: url(#{file_upload_image_url});"}
  .media-body
    - if file_upload
      - if params[:no_delete].blank? && !defined?(no_delete)
        %a.destroy-link.close{href: "#{file_upload.file.url}", data: { remote: true, method: :delete, confirm: 'Are you sure to delete this link?' }} &times;
      .link-title
      .link-description
      .link-url
        = link_to file_upload.title, file_upload.file.url, target: '_blank'
    - elsif @tip_link.errors.present?
      %p= @tip_link.errors.full_messages.join('<br>')
