= f.hidden_field :file_ids

.image-upload-actions
  %span.btn.btn-primary.fileinput-button
    %span Upload file
    %input#file-fileupload{ type: 'file', name: 'file_upload[file]', multiple: 'multiple', class: 'btn btn-primary', data: { url: '/upload_file' } }
  %span.ajax-loader.hide#file-ajax-loader

%p Tip files (you can add multiple files)
.uploaded-images#uploaded-files
  - fileable.file_uploads.each do |file|
    = render 'tips/modules/file', file: file

= render 'tips/modules/files_script', tip: fileable
