= f.hidden_field :link_ids

%p Tip links
.added-links#added-links
  - tip.tip_links.each do |link|
    = render 'tips/modules/link', link: link

.link-add-actions
  %span.ajax-loader.hide#ajax-loader-link
  .input-group
    %input#link-url{ name: 'tip_links[]', class: 'form-control', placeholder: 'http://www.example.com' }
    %span.input-group-btn
      %a.btn.btn-default#add-link-btn{href: 'javascript:void(0)', data: { 'disabled-with' => 'Adding...' }} Add link

= render 'tips/modules/links_script'
