- link_image_url = link.image_url.present? ? link.image_url : image_url('pockets-no-images.png')
.media.tip-link{id: "tip-link-#{link.id}", data: { 'link-id' => link.id }}
  .pull-left
    .tip-image{style: "background-image: url(#{link_image_url});"}
  .media-body
    - if link
      - if params[:no_delete].blank? && !defined?(no_delete)
        %a.destroy-link.close{href: "#{tip_link_path(link, format: :js)}", data: { remote: true, method: :delete, confirm: 'Are you sure to delete this link?' }} &times;
      .link-title
        = link_to truncate(link.title, length: 26), link.url, target: '_blank'
      .link-description
        = truncate(link.description, length: 40)
      .link-url
        = link_to link.url, link.url, target: '_blank'
    - elsif @tip_link.errors.present?
      %p= @tip_link.errors.full_messages.join('<br>')
