<script>
  $(document).ready(function(e) {
    var $ajax_loader = $('#ajax-loader-link');
    var $add_link_btn = $('#add-link-btn');
    var $link_input = $('#link-url');

    $link_input.on('keypress', function(e) {
      if (e.which == 13) {
        e.preventDefault();
        e.stopPropagation();
        fetchLink();
      }
    });

    $add_link_btn.on('click', function(e) {
      e.preventDefault();
      e.stopPropagation();
      fetchLink();
    });

    function fetchLink() {
      var $link_url = $('#link-url');
      var link_url = $link_url.val();
      if (link_url) {
        $.ajax({
          url: '<%= tip_links_path(format: :js) %>',
          method: 'POST',
          data: { 'tip_link[url]': link_url },
          beforeSend: function(xhr) {
            $ajax_loader.removeClass('hide');
            $add_link_btn.html('Adding...');
            $link_input.attr('disabled', 'disabled');
            $add_link_btn.attr('disabled', 'disabled');
          },
          success: function(data, status, xhr) {},
          complete: function(xhr, status) {
            $link_url.val('');

            var link_ids = '';
            var links_count = $('.tip-link').size();
            $('.tip-link').each(function(index, elem) {
              var $elem = $(elem);
              link_ids += $elem.data('link-id');
              if (index < links_count - 1) {
                link_ids += ',';
              }
            });

            $('#tip_link_ids').val(link_ids);

            $add_link_btn.html('Add link');
            $add_link_btn.removeAttr('disabled');
            $link_input.removeAttr('disabled');
            $ajax_loader.addClass('hide');
          }
        });
      }
    }
  });
</script>
