= f.label :address, class: 'control-label'
= f.text_field :address, placeholder: 'Type city, zip code or street', class: 'form-control square-bottom'
= f.hidden_field :latitude
= f.hidden_field :longitude
= f.hidden_field :location
= hidden_field_tag :zip_code
= hidden_field_tag :photo_url

.map-canvas.square-top.rounded-bottom#map-canvas
#sample-map
