%a{ href: 'javascript:', id: "picture-#{picture.id}", 'data-picture-id' => picture.id, class: 'thumbnail uploaded-picture' }
  %button.btn-remove-picture.glyphicon.glyphicon-remove.btn.btn-danger.btn-sm{type: 'button', 'data-picture-id' => picture.id}
  = image_tag picture.image.small.url
