<script>
  var $ajaxLoader = $('#ajax-loader');
  var $uploadedImages = $('#uploaded-images');
  var $thumbnail = $('a.thumbnail');

  $('#image-fileupload').fileupload({
    dataType: 'json',
    method: 'POST',
    <% if tip.persisted? %>
    formData: [{name: 'tip_id', value: '<%= tip.id %>'}],
    <% end %>
    add: function (e, data) {
      $ajaxLoader.removeClass('hide');
      data.submit();
    },
    progressall: function (e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
    },
    done: function (e, data) {
      $ajaxLoader.addClass('hide');
      var picture = JSON.parse(data.jqXHR.responseText);
      if (picture.status == 'fail')
      {
        $uploadedImages.after(picture.message);
      }
      else
      {
        var $image_link = $('<a>');
        var $image = $('<img>');
        var $delete_button = $('<button class="btn-remove-picture glyphicon glyphicon-remove btn btn-danger btn-sm" type="button" data-picture-id="'+picture.id+'">');
        $delete_button.on('click', processRemovePicture);

        $image.attr('src', picture.image.image.small.url);
        $image_link.attr('id', 'picture-' + picture.id);
        $image_link.attr('data-picture-id', picture.id);
        $image_link.attr('href', 'javascript:');
        $image_link.addClass('thumbnail');
        $image_link.append($image);
        $image_link.append($delete_button);

        $uploadedImages.append($image_link);

        var picture_ids = '';
        var pictures_count = $thumbnail.size();
        $thumbnail.each(function(index, elem) {
          var $elem = $(elem);
          picture_ids += $elem.data('picture-id');
          if (index < pictures_count - 1) {
            picture_ids += ',';
          }
        });

        $('#tip_picture_ids').val(picture_ids);
      }
    }
  });

  $thumbnail.find('button.btn-remove-picture').on('click', processRemovePicture);

  function processRemovePicture() {
    var $btn_remove = $(this);
    var picture_id = $btn_remove.data('picture-id');

    $.ajax({
      url: '/pictures/' + picture_id,
      dataType: 'json',
      method: 'DELETE',
      data: { id: picture_id }
    }).done(function() {
      $('#picture-' + picture_id).remove();
    });
  }
</script>
