.user-background-wrapper#user-background-wrapper
  .background-image-container.group
    #reposition-container
      = image_tag item.background_image.url, class: 'background-image draggable-image', id: 'profile-draggable-image', style: "top: #{item.background_image_top.to_i}px; left: #{item.background_image_left.to_i}px"
  .progress-bar#progress
  .container-fluid.user-background-image
    = user_avatar(item, :medium) if item.class.name == 'User'

    - if user_signed_in? && current_user.id == (item.class.name == 'User' ? item.id : item.user.id)
      #edit-bg-btn-container
        %button.btn.btn-default.btn-sm.glyphicon.glyphicon-pencil.dropdown-toggle#btn-edit-background-image{type: 'button', 'data-toggle' => 'dropdown'}
        %ul.dropdown-menu#btn-edit-background-dropdown{role: 'menu'}
          %li
            %a{href: 'javascript:', id: 'edit-bg-image-link'} Edit cover image

        %input#background-image-fileupload{ type: 'file', name: "#{item.class.name.downcase}[background_image]", class: 'btn btn-primary', data: { url: item.class.name == 'User' ? user_registration_path : url_for(item) } }
