.group-background-wrapper
  - background_image_style = item.background_image.present? ? "background-image: url(#{item.background_image.url})" : ''
  .background-image{ class: @group.color, style: background_image_style , id: 'profile-draggable-image'}
    - if item.background_image.present?
      .overlay
    .progress-bar#progress
    .background-content
      .user-avatar
        %i.fa.fa-users
      .member-avatar
        .title
          = @group.title
          %span.dropdown.dropdown-button
            %a.dropdown-toggle.lorem{'data-toggle' => 'dropdown',id: 'dropdown-menu' , href: 'javascript:void(0)', class: 'btn' }
              %span.caret
            %ul{class: 'dropdown-menu dropdown-menu-right', 'aria-labelledby' => 'dropdown-menu'}
              - if can? :update, @group
                %li
                  %a{href: edit_group_path(@group)} Group Settings
                %li
                  %a{href: 'javascript:', id: 'edit-bg-image-link'} Edit Background image
                  %input#background-image-fileupload.hide{ type: 'file', name: "#{@group.class.name.downcase}[background_image]", class: 'btn btn-primary', data: { url: url_for(@group) } }
              %li
                = link_to 'Add member', share_group_path(@group), data: { remote: true }

        - if @group.user_followers.count < 10
          .member
            - @group.user_followers.each do |follower|
              = user_avatar(follower, :medium)
            .clearfix
        - else
          .carousel.slide{ 'data-ride' => 'carousel',id: 'profile-picture'}
            .carousel-inner
              - @group.user_followers.each_slice(9) do |follower|
                .item
                  - follower.each do |follow|
                    = user_avatar(follow, :medium)
            %a.left.carousel-control{'data-slide' => 'prev', href: '#profile-picture'}
              %i.fa.fa-angle-left
            %a.right.carousel-control{'data-slide' => 'next', href: '#profile-picture'}
              %i.fa.fa-angle-right
        .connection-status
          - unless @group.user == current_user
            %a.btn.btn-warning{href: "#{leave_group_path(@group)}"}
              Leave
        .property-status
          .col-md-6.col-md-offset-3
            .col-md-3.border-left.border-right
              %p
                = image_tag image_path('tips.png')
              %strong
                = @group.following_tips.count
              %p Tips
            .col-md-3.border-right
              %p
                = image_tag image_path('tips-wanted.png')
              %strong
                = @group.following_questions.count
              %p Tips Wanted
            .col-md-3.border-right
              %p
                = image_tag image_path('liked-tips.png')
              %strong
                = get_total_liked_tips_group(@group.following_tips)
              %p Liked Tips
            .col-md-3.border-right
              %p
                = image_tag image_path('members.png')
              %strong
                = @group.user_followers.count
              %p Members
          .clearfix
        .address
          %p
            = @group.address
          = image_tag image_path('groups-address-line.png')
          %p
            = @group.join_type



:javascript
  $(document).ready(function() {
    $('#profile-picture .carousel-inner > .item:first').addClass('active');
  });

