.group-background-wrapper
  - background_image_style = user.background_image.present? ? "background-image: url(#{user.background_image.url})" : ''
  .background-image.user-profile{ class: user.color, style: background_image_style , id: 'profile-draggable-image'}
    #reposition-container  
      - if user.background_image.present?
        .overlay
    .progress-bar#progress
    .background-content.user-profile
      .user-avatar
        %i.fa.fa-user
      .member-avatar
        = link_to user_avatar(user, :medium), user_profile_path(user)
      .avatar-name
        .title#member-name
          = link_to user.name, user_profile_path(user)
      .connection-status
        %span.user-connect{id: "user-connect-#{user.id}"}
          = render 'shared/title_bars/user_connect_status', user: user
      .property-status
        .col-md-6.col-md-offset-3
          .col-md-3.border-left.border-right
            %p
              = image_tag image_path('tips.png')
            %strong
              = user.tips.count 
            %p Tips
          .col-md-3.border-right
            %p
              = image_tag image_path('tips-wanted.png')
            %strong
              = user.following_questions.count 
            %p Tips Wanted
          .col-md-3.border-right
            %p
              = image_tag image_path('liked-tips.png')
            %strong
              = user.votes.count
            %p Liked Tips
          .col-md-3.border-right
            %p
              = image_tag image_path('members.png')
            %strong
              = user.user_followers.count 
            %p Friends
      .address
        %p
          = 'Red Rock Country, Utah, California, USA'
        = image_tag image_path('groups-address-line.png')
        %p  
          = 'Mountain Bike/Best Trail '
      .clearfix

