%table
  %td
    - if user_signed_in?
      - if @domain.status_with(user) == :is_nothing
        .btn-group
          %i.fa.fa-dot-circle-o
          %a{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
            %span.caret
            / Waiting for response
          %ul.dropdown-menu
            %li
              %a{href: "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }}
                Add as member
        / = link_to 'Add as friend', "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }, class: 'btn btn-default'

      - if @domain.status_with(user) == :is_member && @domain.status_with(current_user) == :is_me
        .btn-group
          %i.fa.fa-check-circle-o
          %a{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: "#{unfriend_path(user_id: user.id, user_type: 'domain user')}", data: { method: 'POST', remote: true, confirm: 'Are you sure to unfriend with this user?' }} Remove from domain