/ = render 'shared/title_bars/background_image_reposition', item: group
= render 'shared/title_bars/background_image', item: group

.group-title-bar
  .hives-link
    %a{href: 'javascript:void(0)' } View all
  .title
    Hives
  = image_tag image_path('hive-title-line.png')
  - if @hives.present?
    .panel-group#accordion
      .panel
        .panel-heading
          .panel-title
            - @hives[0..5].each do |hive|
              .hive-follow
                %a{href: hive_path(hive), class: 'btn btn-default'}
                  = hive.title 
                - if hive.followed_by_me?(current_user)
                  %span.checked
                - if hive != @hives.last 
                  %span.separator
                    ,
        .panel-collapse.collapse#panel-hive
          .panel-body
            - if @hives.size > 6
              - @hives[6..-1].each_slice(6) do |hives|
                .hive-follow
                  - hives.each do |hive|
                    %a{href: hive_path(hive), class: 'btn btn-default'}
                      = hive.title 
                    - if hive.followed_by_me?(current_user)
                      %span.checked
                    - if hive != @hives.last 
                      %span.separator
                        ,
  - else 
    .panel-group
      .panel-heading
        .hive-follow
          No Hive

= render 'shared/title_bars/user_profile_title_script', object: group

:javascript
  $(".hives-link a").on('click', function (e) {
    if ($("#panel-hive").hasClass('in')) {
      $("#panel-hive").removeClass('in')    
    } else {
      $("#panel-hive").addClass('in')
    }
    offSet();
  });
  function offSet() {
    $('#second-navigation').data('bs.affix').options.offset.top = parseInt($('#second-navigation').offset().top - $('#navbar-fixed-top').height());
  };
