<script>
  $(window).load(function (e) {
    var $backgroundFileImageUpload = $('#background-image-fileupload');
    var $loadingOverlay = $("#loadingoverlay");

    <% if user_signed_in? %>
    $('a#edit-bg-image-link').on('click', function (e) {
      $backgroundFileImageUpload.click();
    });

    $backgroundFileImageUpload.fileupload({
      dataType: 'json',
      method: 'PATCH',
      add: function (e, data) {
        data.submit();
        $loadingOverlay.fadeIn(500);
      },
      done: function (e, data) {
        var item = JSON.parse(data.jqXHR.responseText);
        var $image_container = $('#hive-background'); 
        $image_container.css('background-image', 'url('+item.background_image.url+')')
        $loadingOverlay.fadeOut(500);
      }
    });
    <% end %>
  });
</script>
