.title-bar-wrapper
  .container-fluid.hive-title
    .row
      .col-md-3.title-left
        / .info
        /   - if current_user.following?(hive)
        /     - if hive.groups.count > 0
        /       %span
        /         = image_tag 'groups.png' 
        /       = hive.groups.map{ |g| link_to g.title, group_path(g), class: 'title-info-link' }.join(', ').html_safe
        .info
          - if current_user.following?(hive)
            - count = 0
            - users = hive.get_shared_objects(current_user)
            - users.each do |u|
              -if count < 2
                = (link_to user_avatar(u, :tiny), u.class.name == 'User' ? user_profile_path(u) : group_path(u)) if %w(User Group).include? u.class.name
              - count = count + 1 if %w(User Group).include? u.class.name
            %strong
              = '+'
              = users.size 
            %a{href: share_hive_path(hive), class: 'btn btn-default', data: { remote: true }}
              Share 
            =# link_to 'Share', share_hive_path(hive), data: { remote: true }, class: "icon-share"  
          / Tips
          / %span.badge= hive.count_tip_followers
      .col-md-6.title-middle
        .title
          %span.icon-hives
            = '&nbsp;'.html_safe
          = hive.title
          %span.dropdown.dropdown-button
            %a.dropdown-toggle.lorem{'data-toggle' => 'dropdown',id: 'dropdown-menu' , href: 'javascript:void(0)', class: 'btn' }
              %span.caret
            %ul{class: 'dropdown-menu dropdown-menu-right', 'aria-labelledby' => 'dropdown-menu'}
              %li
                - if current_user.id == hive.user.id
                  = link_to 'Hive Settings',  edit_hive_path(hive)
                - else
                  = link_to 'Hive Settings',  object_setting_model_hive_path(hive), data: { remote: true }
              - if current_user.id == hive.user.id      
                %li
                  %a{href: 'javascript:', id: 'edit-bg-image-link'} Edit Background image
                  %input#background-image-fileupload.hide{ type: 'file', name: "#{hive.class.name.downcase}[background_image]", class: 'btn btn-primary', data: { url: url_for(hive) } }     
              %li
                - if hive.user && current_user.id != hive.user.id && current_user.following?(hive)
                  = link_to 'Leave this hive', leave_hive_path(hive), data: { confirm: 'Are you sure to leave this hive?' }
              %li
                = link_to 'Share this hive', share_hive_path(hive), data: { remote: true }
              %li
                - if !current_user.following?(hive)
                  = link_to 'Join this hive', join_hive_path(hive)
      .col-md-3.title-right
        
- if hive.background_image.present?
  .hex-background#hive-background{ style: "background-image: url(#{image_url hive.background_image});"}
    .background-overlay
      .hex-container.carousel.slide{ 'data-ride' => 'carousel', id:'hex-carousel' }
        .carousel-inner
          - if hive.pockets.present?
            - hive.pockets.sort_by{|e| e.title.downcase}.each_slice(8) do |slice|
              .item
                .hex
                  .inner
                    %table
                      %tbody
                        %tr
                          %td
                            %a.active-transition{href: new_pocket_path('hives[]' => hive.present? ? "Hive-#{hive.id}" : nil), data: {remote: true}} 
                              %i.glyphicon.glyphicon-plus
                              %br
                              Add Pocket
                  .corner-1
                  .corner-2
                - slice.each_with_index do |pocket, index|
                  - if index  == 4   
                    .hex.hex-gap{id: "hex-pocket-#{pocket.id}"}
                      .inner
                        %table
                          %tbody
                            %tr
                              %td
                                - if page_type == 'questions'
                                  = link_to pocket.title, hive_questions_path(hive, pocket_id: pocket.id), data: {remote: true}
                                - elsif page_type == 'tips'
                                  = link_to pocket.title, hive_path(hive, pocket_id: pocket.id), data: {remote: true}
                                - else
                                  = link_to pocket.title, hive_users_path(hive, pocket_id: pocket.id), data: {remote: true}  
                      .corner-1
                      .corner-2
                  -else
                    .hex{id: "hex-pocket-#{pocket.id}"}
                      .inner
                        %table
                          %tbody
                            %tr
                              %td
                                - if page_type == 'questions'
                                  = link_to pocket.title, hive_questions_path(hive, pocket_id: pocket.id), data: {remote: true}
                                - elsif page_type == 'tips'
                                  = link_to pocket.title, hive_path(hive, pocket_id: pocket.id), data: {remote: true}
                                - else
                                  = link_to pocket.title, hive_users_path(hive, pocket_id: pocket.id), data: {remote: true}
                      .corner-1
                      .corner-2
          -else 
            .item
              .hex
                .inner
                  %table
                    %tbody
                      %tr
                        %td
                          %a.active-transition{href: new_pocket_path('hives[]' => hive.present? ? "Hive-#{hive.id}" : nil), data: {remote: true}} 
                            %i.glyphicon.glyphicon-plus
                            %br
                            Add Pocket
                .corner-1
                .corner-2 
        %a.left.carousel-control{'data-slide' => 'prev', href: '#hex-carousel'}
          %i.fa.fa-angle-left
        %a.right.carousel-control{'data-slide' => 'next', href: '#hex-carousel'}
          %i.fa.fa-angle-right
- else 
  .hex-background#hive-background{ class: "#{hive.background_color}" }
    .hex-container.carousel.slide{ 'data-ride' => 'carousel', id:'hex-carousel' }
      .carousel-inner
        - if hive.pockets.present?
          - hive.pockets.sort_by{|e| e.title.downcase}.each_slice(8) do |slice|
            .item
              .hex
                .inner
                  %table
                    %tbody
                      %tr
                        %td
                          %a.active-transition{href: new_pocket_path('hives[]' => hive.present? ? "Hive-#{hive.id}" : nil), data: {remote: true}} 
                            %i.glyphicon.glyphicon-plus
                            %br
                            Add Pocket
                .corner-1
                .corner-2
              - slice.each_with_index do |pocket, index|
                - if index  == 4   
                  .hex.hex-gap{id: "hex-pocket-#{pocket.id}"}
                    .inner
                      %table
                        %tbody
                          %tr
                            %td
                              - if page_type == 'questions'
                                = link_to pocket.title, hive_questions_path(hive, pocket_id: pocket.id), data: {remote: true}
                              - elsif page_type == 'tips'
                                = link_to pocket.title, hive_path(hive, pocket_id: pocket.id), data: {remote: true}
                              - else
                                = link_to pocket.title, hive_users_path(hive, pocket_id: pocket.id), data: {remote: true}
                    .corner-1
                    .corner-2
                -else
                  .hex{id: "hex-pocket-#{pocket.id}"}
                    .inner
                      %table
                        %tbody
                          %tr
                            %td
                              - if page_type == 'questions'
                                = link_to pocket.title, hive_questions_path(hive, pocket_id: pocket.id), data: {remote: true}
                              - elsif page_type == 'tips'
                                = link_to pocket.title, hive_path(hive, pocket_id: pocket.id), data: {remote: true}
                              - else
                                = link_to pocket.title, hive_users_path(hive, pocket_id: pocket.id), data: {remote: true}
                    .corner-1
                    .corner-2
        - else
          .item
            .hex
              .inner
                %table
                  %tbody
                    %tr
                      %td
                        %a.active-transition{href: new_pocket_path('hives[]' => hive.present? ? "Hive-#{hive.id}" : nil), data: {remote: true}} 
                          %i.glyphicon.glyphicon-plus
                          %br
                          Add Pocket
              .corner-1
              .corner-2              
      %a.left.carousel-control{'data-slide' => 'prev', href: '#hex-carousel'}
        %i.fa.fa-angle-left
      %a.right.carousel-control{'data-slide' => 'next', href: '#hex-carousel'}
        %i.fa.fa-angle-right

= render 'shared/title_bars/hive_background_script', object: hive

:javascript
  #{'$("#hex-pocket-'+params[:pocket_id].to_s+'").css("background-color", "#111111" );' if params[:pocket_id].present?}  
  $(document).ready(function() {
    $('#hex-carousel .carousel-inner > .item:first').addClass('active');
    $(".hex-background .hex").click(function(e){
      if(!($(e.target).is("a") || $(e.target).is("i"))) {
        $(this).find("a").click();
      }
    })
  });
