.title-bar-wrapper
  .container-fluid.home-page-title
    .title
      YOUR MOST TRUSTED SOURCE OF TIPS.
    .content
      TipHive is a friend-powered community for finding the best tips.
    .visible-md.visible-lg#top_10_logo
      = image_tag("top_10_logo_#{params[:at] == 'school' ? 'university' : 'enterprise'}.png")
