.title-bar-wrapper
  .container-fluid.my-hives-title
    .row
      .col-md-4.title-left
        -#
          %form.form-select-hives.form-inline
            .row
              .col-md-12
                %select#select-hives.select-hives.form-control
                  %option{value: 'my_hives'} My Hives
                  %option{value: 'hive_suggestions'} Hive suggestions
                  %option{value: 'hidden_hives'} Hidden hives
      .col-md-4.title-middle
        .title
          Hives
      .col-md-4.title-right
        .info
          =# link_to 'Add Hive', new_hive_path, class: 'btn btn-default', data: { remote: true }
          -#
            Tips
            %span.badge n/a
