.title-bar-wrapper
  .container-fluid.my-groups-title
    .row
      .col-md-4.title-left
        -#
          %form.form-select-groups
            .row
              .col-md-6
                %select#select-groups.select-groups.form-control
                  %option{value: 'my_hives'} My Groups
                  %option{value: 'hive_suggestions'} Explore groups
                  %option{value: 'hidden_hives'} Groups around me
      .col-md-4.title-middle
        .title
          Groups
          %span.dropdown.dropdown-button
            %a.dropdown-toggle.lorem{'data-toggle' => 'dropdown',id: 'dropdown-menu' , href: 'javascript:void(0)', class: 'btn' }
              %span.caret
            %ul{class: 'dropdown-menu dropdown-menu-right', 'aria-labelledby' => 'dropdown-menu'}
              %li
                = link_to 'Add Group', new_group_path
      .col-md-4.title-right
        .info
