.title-bar-wrapper
  .container-fluid.my-pockets-title
    .row
      .col-md-4.title-left
      .col-md-4.title-middle
        .title
          My Pockets
      .col-md-4.title-right
        .info
          =# link_to 'Add Pocket', new_pocket_path, class: 'btn btn-default'
          -#
            Tips
            %span.badge 42
