.title-bar-wrapper
  .container-fluid.pocket-title
    .row
      .col-md-4.title-left
        .info
          %span.label-small Hive:
          %span.title-small
            - following_hives = pocket.following_hives
            - following_hives.each do |hive|
              = link_to hive.title, hive_path(hive)
              = ', ' if hive != following_hives.last
          - if current_user.id != pocket.user.id && current_user.following?(pocket)
            = link_to 'Leave', leave_pocket_path(pocket), class: 'btn btn-danger', data: { confirm: 'Are you sure to leave this pocket?' }
      / .col-md-4.title-middle
      /   .title
      /     %span Pocket:
      /     = pocket.title
      /     - if pocket.user_id == current_user.id
      /       %a{href: edit_pocket_path(pocket, hive_id:params[:hive_id]), class: 'btn btn-default'}
      /         %i.glyphicon.glyphicon-cog
      .col-md-4.title-middle
        %ul.media-list
          %li.media
            .title.pull-left
              %span{class: 'icon-hives'} Pocket:

            .dropdown.pull-right.dropdown-button
              %a.dropdown-toggle{'data-toggle' => 'dropdown',id: 'dropdown-menu' , href: 'javascript:void(0)', class: 'btn btn-default' }
                %span.caret
              %ul{class: 'dropdown-menu dropdown-menu-right', 'aria-labelledby' => 'dropdown-menu'}
                %li
                  - if pocket.user_id == current_user.id
                    = link_to 'Pocket Settings',  edit_pocket_path(pocket)
                  - elsif current_user.following?(pocket)
                    = link_to 'Pocket Settings',  object_setting_model_pocket_path(pocket), data: { remote: true }
                %li
                  - if current_user.following?(pocket)
                    = link_to 'Leave this pocket', leave_pocket_path(pocket), data: { confirm: 'Are you sure to leave this pocket?' }
                %li
                  - if current_user.following?(pocket)
                    = link_to 'Share this pocket', share_pocket_path(pocket), data: { remote: true }
                %li
                  - if !current_user.following?(pocket)
                    = link_to 'Join this pocket', join_pocket_path(pocket)
            .media-body
              .media-heading
                .title
                  = pocket.title
      .col-md-4.title-right
        .info
          - if current_user.following?(pocket)
            - count = 0
            - users = pocket.get_shared_objects(current_user)
            - users.each do |u|
              -if count < 2
                = user_avatar(u, :tiny) if %w(User Group).include? u.class.name
              - count = count + 1 if %w(User Group).include? u.class.name
            = '+'
            = users.size
            = link_to 'Share', share_pocket_path(pocket), data: { remote: true }, class: 'icon-share'
          Tips
          %span.badge= pocket.count_tip_followers
