.title-bar-wrapper
  .container-fluid{class: defined?(container_class) ? container_class : nil}
    - if defined?(title)
      .title
        = title
    - if defined?(content)
      .content
        = content
