.title-bar-wrapper
  .container-fluid.tip-title
    .row
      .col-md-12.title-middle
        .title
          - object.hives.each do |h|
            = link_to h.title, hive_path(h)
            =', ' if h != object.hives.last
          = '/'
          - object.pockets.order(:id).each do |p|
            = link_to p.title, pocket_path(p)
            =', ' if p != object.pockets.last
