- if user_signed_in? && user.id == current_user.id
  .title-bar-wrapper
    .container-fluid
      .row
        .col-md-4.title-left
        .col-md-4.title-middle
          .title
            My Profile
            %span.dropdown.dropdown-button{style: 'margin-top: 0;'}
              %a.dropdown-toggle.lorem{'data-toggle' => 'dropdown',id: 'dropdown-menu' , href: 'javascript:void(0)', class: 'btn' }
                %span.caret
              %ul{class: 'dropdown-menu dropdown-menu-right', 'aria-labelledby' => 'dropdown-menu'}
                %li
                  %a{href: edit_user_registration_path} Profile Settings
                - if user_signed_in? && current_user.id == user.id
                  %li
                    %a{href: 'javascript:', id: 'edit-bg-image-link'} Edit cover image
                    %input#background-image-fileupload.hide{ type: 'file', name: "#{user.class.name.downcase}[background_image]", class: 'btn btn-primary', data: { url: user_registration_path} }

= render 'shared/title_bars/background_image_user_profile', user: user


.group-title-bar
  .hives-link
    %a{href: 'javascript:void(0)'} View all
  .title
    Hives
  = image_tag image_path('hive-title-line.png')
  - if user.hives.present?
    .panel-group#accordion
      .panel
        .panel-heading
          .panel-title
            .percent-tab
              - if current_user.present?
                .percentage
                  = "#{current_user.get_percentage(user)} %"
                %span
                  In Common
            - user.following_hives[0..5].each do |hive|
              .hive-follow
                %a{href: hive_path(hive), class: 'btn btn-default'}
                  = hive.title
                - if hive.followed_by_me?(current_user)
                  %span.checked
                - if hive != user.hives.last
                  %span.separator
                    ,
        .panel-collapse.collapse#panel-hive
          .panel-body
            - if user.following_hives.size > 6
              -# Shashi: change 'hives' to 'following_hives', because we need all user following hives not user created hive
              - user.following_hives[6..-1].each_slice(6) do |hives|
                .hive-follow
                  - hives.each do |hive|
                    %a{href: hive_path(hive), class: 'btn btn-default'}
                      = hive.title
                    - if hive.followed_by_me?(current_user)
                      %span.checked
                    - if hive != user.hives.last
                      %span.separator
                        ,
  - else
    .panel-group
      .panel-heading
        .hive-follow
          No Hive


= render 'shared/title_bars/user_profile_title_script', object: user

:javascript
  $(".hives-link a").on('click', function (e) {
    if ($("#panel-hive").hasClass('in')) {
      $("#panel-hive").removeClass('in')    
    } else {
      $("#panel-hive").addClass('in')
    }
    offSet();
  });
  function offSet() {
    $('#second-navigation').data('bs.affix').options.offset.top = parseInt($('#second-navigation').offset().top - $('#navbar-fixed-top').height());
  };
