- if user_signed_in?
  - if current_user.status_with(user) == :is_nothing
    = link_to 'Add as friend', "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }, class: 'btn btn-info btn-xs'

  - if current_user.status_with(user) == :is_following
    .btn-group
      %a{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
        %i.fa.fa-check-circle-o
        / Waiting for response
        / %span.caret
      %ul.dropdown-menu
        %li
          %a{href: "#{unfriend_path(user_id: user.id)}", data: { method: 'POST', remote: true, confirm: 'Are you sure to unfollow this user?' }} Unfollow

  - if current_user.status_with(user) == :is_followed
    = link_to 'Accept friend', "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }, class: 'btn btn-info btn-xs'

  - if current_user.status_with(user) == :is_friend
    .btn-group
      %a{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
        %i.fa.fa-check-circle-o
        / %span.caret
      %ul.dropdown-menu
        %li
          %a{href: "#{unfriend_path(user_id: user.id)}", data: { method: 'POST', remote: true, confirm: 'Are you sure to unfriend with this user?' }} Unfriend
          - if current_domain.status_with(current_user) == :is_me && current_domain.status_with(user) == :is_member
            %a{href: "#{unfriend_path(user_id: user.id, user_type: 'domain user', domain_id: current_domain.id)}", data: { method: 'POST', remote: true, confirm: "Are you sure you want to remove this user from #{current_domain.name}?" }} Remove from domain

