<script>
  $(window).load(function (e) {
    var $editBGBtnContainer = $('#edit-bg-btn-container');
    var $userBackgroundWrapper = $('#user-background-wrapper');
    var $backgroundImageFileupload = $('input#background-image-fileupload');
    var $loadingOverlay = $("#loadingoverlay");
    var $progress = $('#progress');
    var $profileDraggableImage = $('img#profile-draggable-image');

    <% if user_signed_in? %>
    $editBGBtnContainer.hide();

    $userBackgroundWrapper.on('mouseover', function (e) {
      $editBGBtnContainer.show();
    });

    $userBackgroundWrapper.on('mouseout', function (e) {
      if ($('#edit-bg-btn-container').hasClass('open')) {
      } else {
        $editBGBtnContainer.hide();
      }
    });

    $('#btn-edit-background-dropdown').on('hide.bs.dropdown', function (e) {

    });

    $('a#edit-bg-image-link').on('click', function (e) {
      $backgroundImageFileupload.click();
    });

    $backgroundImageFileupload.fileupload({
      dataType: 'json',
      method: 'PATCH',
      <% if object.class.name == 'User' %>
      formData: [{ name: 'user[email]', value: '<%= object.email %>' }],
      <% end %>
      add: function (e, data) {
        $profileDraggableImage.css('opacity', '0.2');
        data.submit();
        $loadingOverlay.fadeIn(500);
      },
      done: function (e, data) {
        var item = JSON.parse(data.jqXHR.responseText);
        $('.background-image').css('background-image', 'url('+ item.background_image.url + ')') ;
        $progress.hide();
        $progress.css('width', '100%');
        $loadingOverlay.fadeOut(500);
        // var $image = $('img#profile-draggable-image');
        // var $image_container = $('.background-image');
        // $image.remove();
        // var $new_image = $('<img src="' + item.background_image.url + '" id="profile-draggable-image" />');
        // $new_image.css('min-width', $image_container.width() + 'px');
        // $new_image.css('min-height', $image_container.height() + 'px');
        // $image_container.append($new_image);
        // $new_image.load(function (e) {
        //   resizePositionContainer('img#profile-draggable-image');
        //   $progress.hide();
        //   $progress.css('width', '100%');
        //   $loadingOverlay.fadeOut(500);
        // });
      },
      progress: function (e, data) {
        // $('#progress-box').removeClass('fade');
        $progress.show();
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('.progress-bar#progress').css(
          'width',
          progress + '%'
        );
        // $('#progress').css('width', progress + 'px');
      }
    });
    <% end %>

    // TO DO
    // need to review and refactor this partial later
    // imagesLoaded( document.querySelector('#reposition-container'), function( instance ) {
    //   resizePositionContainer('img#profile-draggable-image');
    // });

    function resizePositionContainer(elem_id) {
      var $image = $(elem_id);
      var $image_container = $('#reposition-container');
      var image_width = $image.width();
      var image_height = $image.height();
      var container_width = $image_container.width();
      var container_height = 365;

      var diff_height = image_height - container_height;
      var reposition_height = container_height + (diff_height * 2);
      var reposition_top = diff_height * -1;

      if (diff_height > 0) {
        $image_container.css('height', reposition_height + 'px');
        $image_container.css('top', reposition_top + 'px');
      }

      $profileDraggableImage.css('opacity', '1.0');

      <% if user_signed_in? && current_user.id == (object.class.name == 'User' ? object.id : object.user.id) %>
      $(elem_id).draggable({
        containment: '#reposition-container',
        scroll: false,
        stop: function (e) {
          $.ajax({
            url: '/update_background_image_position',
            data: { top: $(this).position().top, left: 0, object_id: '<%= object.id %>', object_kind: '<%= object.class.name %>' },
            method: 'POST'
          });
        }
      });
      <% end %>
    }
  });
</script>
