%table
  %td
    - if user_signed_in?
      - class_name = current_domain.root? ? 'btn btn-info btn-xs' : ''
      - domain = @domain.nil? ? current_domain : @domain
      - if current_user.status_with(user) == :is_nothing
        - if current_page?(tips_path)      
          .btn-group
            %a.btn.btn-default.hive-tour-button{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
              Connect
            %ul.dropdown-menu
              %li
                %a{href: "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }} Add as friend

        - else
          .btn-group
            .connection{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
              %i.fa.fa-plus
            %ul.dropdown-menu
              %li
                %a{href: "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }} Add as friend
                - if domain.status_with(current_user) == :is_me && domain.status_with(user) == :is_member
                  %a{href: "#{unfriend_path(user_id: user.id, user_type: 'domain user', domain_id: domain.id)}", data: { method: 'POST', remote: true, confirm: "Are you sure you want to remove this user from #{domain.name}?" }} Remove from domain

      - if current_user.status_with(user) == :is_following
        - if current_page?(tips_path)      
          .btn-group
            %a.btn.btn-default.hive-tour-button{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
              Connect
            %ul.dropdown-menu
              %li
                %a{href: "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }} Add as friend

        - else
          .btn-group
            .connection{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
              %i.fa.fa-check
            %ul.dropdown-menu
              %li
                %a{href: "#{unfriend_path(user_id: user.id)}", data: { method: 'POST', remote: true, confirm: 'Are you sure to unfollow this user?' }} Unfollow
                - if domain.status_with(current_user) == :is_me && domain.status_with(user) == :is_member
                  %a{href: "#{unfriend_path(user_id: user.id, user_type: 'domain user', domain_id: domain.id)}", data: { method: 'POST', remote: true, confirm: "Are you sure you want to remove this user from #{domain.name}?" }} Remove from domain

      - if current_user.status_with(user) == :is_followed
        - if current_page?(tips_path)      
          .btn-group
            %a.btn.btn-default.hive-tour-button{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
              Connect
            %ul.dropdown-menu
              %li
                %a{href: "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }} Add as friend

        - else
          .btn-group
            .connection{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
              %i.fa.fa-plus
            %ul.dropdown-menu
              %li
                %a{href: "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }} Accept friend
                - if domain.status_with(current_user) == :is_me && domain.status_with(user) == :is_member
                  %a{href: "#{unfriend_path(user_id: user.id, user_type: 'domain user', domain_id: @domain.id)}", data: { method: 'POST', remote: true, confirm: "Are you sure you want to remove this user from #{domain.name}?" }} Remove from domain

      - if current_user.status_with(user) == :is_friend
        - if current_page?(tips_path)      
          .btn-group
            %a.btn.btn-default.hive-tour-button{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
              Connected
            %ul.dropdown-menu
              %li
                %a{href: "#{unfriend_path(user_id: user.id)}", data: { method: 'POST', remote: true, confirm: 'Are you sure to unfriend with this user?' }} Unfriend
                
        -else  
          .btn-group
            .connection{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
              %i.fa.fa-check
            %ul.dropdown-menu
              %li
                %a{href: "#{unfriend_path(user_id: user.id)}", data: { method: 'POST', remote: true, confirm: 'Are you sure to unfriend with this user?' }} Unfriend
                - if domain.status_with(current_user) == :is_me && domain.status_with(user) == :is_member
                  %a{href: "#{unfriend_path(user_id: user.id, user_type: 'domain user', domain_id: domain.id)}", data: { method: 'POST', remote: true, confirm: "Are you sure you want to remove this user from #{domain.name}?" }} Remove from domain


