%table
  %td
    - if user_signed_in?
      - class_name = current_domain.root? ? 'btn btn-info btn-xs' : ''
      - if current_user.status_with(user) == :is_nothing
        = link_to 'Add as friend', "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }, class: 'btn btn-info btn-xs'


      - if current_user.status_with(user) == :is_following
        .btn-group
          %i.fa.fa-check-circle-o
          %a{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
            %span.caret
            / Waiting for response
          %ul.dropdown-menu
            %li
              %a{href: "#{unfriend_path(user_id: user.id)}", data: { method: 'POST', remote: true, confirm: 'Are you sure to unfollow this user?' }} Unfollow
              - if current_domain.status_with(current_user) == :is_me && current_domain.status_with(user) == :is_member
                %a{href: "#{unfriend_path(user_id: user.id, user_type: 'domain user', domain_id: current_domain.id)}", data: { method: 'POST', remote: true, confirm: "Are you sure you want to remove this user from #{current_domain.name}?" }} Remove from domain

      - if current_user.status_with(user) == :is_followed
        - if invitation_request && invitation_request.present?
          = link_to 'Accept friend', "#{accept_invitation_request_path(invitation_request, from: 'myfriend')}", data: {remote: true, 'disabled-with' => 'Accepting...'}, class: 'btn btn-info btn-xs'
        -else
          = link_to 'Accept friend', "#{add_as_friend_path(user_id: user.id)}", data: { method: 'POST', remote: true }, class: 'btn btn-info btn-xs'

      - if current_user.status_with(user) == :is_friend
        .btn-group
          %i.fa.fa-check-circle-o
          %a{role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown'}
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href: "#{unfriend_path(user_id: user.id)}", data: { method: 'POST', remote: true, confirm: 'Are you sure to unfriend with this user?' }} Unfriend
              - if current_domain.status_with(current_user) == :is_me && current_domain.status_with(user) == :is_member
                %a{href: "#{unfriend_path(user_id: user.id, user_type: 'domain user', domain_id: current_domain.id)}", data: { method: 'POST', remote: true, confirm: "Are you sure you want to remove this user from #{current_domain.name}?" }} Remove from domain


