<script>
  $(document).ready(function (e) {
    var tip_state = "<%= object.is_private %>";

    if(tip_state == 'true') {
      $('#friends_and_group_select_box').addClass('hide')
    }

    $('.bootstrap-switch#tip_is_private').bootstrapSwitch({
      state: tip_state,
      size: 'small',
      onText: 'No',
      offText: 'Yes',
      onColor: 'default',
      offColor: 'primary',
      onSwitchChange: function(event, state) {
        if (state == true) {
          $('#friends_and_group_select_box').addClass('hide')
        }
        else {
          $('#friends_and_group_select_box').removeClass('hide')
        }
      }
    });
    
    $('#tip_is_private').siblings('label').removeAttr('for');
  });
</script>
