- if user_signed_in? && current_user.flagged?(tip)
  %a{href: 'javascript:void(0)', data: { toggle: 'modal', target: "#flag-form-#{tip.id}" }}
    %i.fa.fa-flag-o
-else
  %a{href: 'javascript:void(0)'}
    %i.fa.fa-flag

.modal{id: "flag-form-#{tip.id}", role: 'dialog', aria: { hidden: true}}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', data: { dismiss: 'modal'}} ×
        %h4.modal-title Flag tip
      .modal-body
        = form_tag(tip_flag_path(tip.id), remote: true) do
          %label
            = radio_button_tag 'reason', 'abusive'
            Abusive
          %br
          %label
            = radio_button_tag 'reason', 'no_longer_relevant'
            No Longer Relevant
          %br
          %label
            = radio_button_tag 'reason', 'spam'
            Spam

          .modal-footer
            = submit_tag 'Save Changes', class: 'btn btn-primary'
            %button.btn.btn-default{type: 'button', data: { dismiss: 'modal'}} Close
