= form_for @tip, html: { role: 'form', class: 'form-horizontal', multipart: true } do |f|
  - if @tip.errors.any?
    #error_explanation.alert.alert-danger
      %h2= "#{pluralize(@tip.errors.count, 'error')} prohibited this tip from being saved:"
      %ul
        - @tip.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.hidden_field(:question_id, value: @tip.question.id) if @tip.question
    = hidden_field_tag(:draft, '1') if params[:draft] == '1'
    = f.label :title, class: 'col-md-3 control-label'
    .col-md-9
      = f.text_field :title, required: true, placeholder: 'Tip title', class: 'form-control', maxlength: 140
  .form-group
    = f.label :description, 'Your tip', class: 'col-md-3 control-label'
    .col-md-9
      = f.text_area :description, placeholder: 'Text (you can also paste the url of an image, Google map or YouTube video)', rows: 12, class: 'form-control'
  .form-group
    = f.label 'Add to which hive?', class: 'col-md-3 control-label'
    .col-md-9
      = select_tag 'hives[]', "<optgroup label=\"My Hives\">#{options_from_collection_for_select(@connected_hives, :kind_id, :title, @selected_hives.present? ? @selected_hives.map{|h| h.kind_id } : nil)}</optgroup>".html_safe + option_groups_from_collection_for_select(@connected_groups, :hives, :title, :kind_id, :title, @selected_hives.present? ? @selected_hives.map{|h| h.kind_id } : nil), placeholder: 'Type or select a hive', required: true, id: 'tip_hives', class: 'form-control', multiple: 'multiple'
  .form-group
    = f.label 'Add to pocket', class: 'col-md-3 control-label'
    .col-md-9
      = select_tag 'pockets[]',option_groups_from_collection_for_select(@connected_hives, :pockets, :title, :kind_id, :title, @selected_pockets.present? ? @selected_pockets.map{|h| h.kind_id } : nil), placeholder: 'Type or select a pocket', required: true, id: 'tip_pockets', class: 'form-control', multiple: 'multiple'
  .form-group
    = f.label 'Share?', class: 'col-md-3 control-label'
    .col-md-9
      = f.check_box :is_private, class: 'bootstrap-switch'
  .form-group#friends_and_group_select_box
    .col-md-3
    .col-md-9#friends_and_group
      = render 'search/friends_and_groups_select_for_sharing', f: f, object: @tip, selected_friends_and_groups: @selected_friends_and_groups

  .form-group.attachment-tabs
    .col-md-3
    .col-md-9
      %ul.nav.nav-tabs
        %li.active
          %a{'data-toggle' => 'tab', href: '#pictures'}
            %i.btn-icon.glyphicon.glyphicon-picture
        %li
          %a{'data-toggle' => 'tab', href: '#location'}
            %i.btn-icon.glyphicon.glyphicon-map-marker
        -#
          %li
            %a{"data-toggle" => "tab", href: "#tags"}
              %i.btn-icon.glyphicon.glyphicon-tags
        %li
          %a{'data-toggle' => 'tab', href: '#links'}
            %i.btn-icon.glyphicon.glyphicon-link
        %li
          %a{'data-toggle' => 'tab', href: '#files'}
            %i.btn-icon.glyphicon.glyphicon-file
        -#
          %li
            %a{"data-toggle" => "tab", href: "#calendar"}
              %i.btn-icon.glyphicon.glyphicon-calendar
          %li
            %a{"data-toggle" => "tab", href: "#price"}
              %i.btn-icon.glyphicon.glyphicon-usd

      .tab-content
        #pictures.tab-pane.active
          = render 'tips/modules/pictures', f: f, imageable: @tip
        #location.tab-pane
          = render 'tips/modules/location', f: f, tip: @tip
        -#
          #tags.tab-pane
            = render 'tips/modules/tags'
        #links.tab-pane
          = render 'tips/modules/links', f: f, tip: @tip
        #files.tab-pane
          = render 'tips/modules/files', f: f, fileable: @tip
        -#
          #calendar.tab-pane
            = render 'tips/modules/calendar'
          #price.tab-pane
            = render 'tips/modules/price'
  .form-group
    .col-md-9.col-md-offset-3
      = f.submit 'Save', class: 'btn btn-primary'
      = link_to 'Back', tips_path, class: 'btn btn-default' if params[:action] == 'new'

= render 'tips/bootstrap_switch', object: @tip
= render 'tips/form_script', tip: @tip
-#= render 'shared/sharing_type_script_for_tip', object: @tip
= render 'search/hives_and_pockets_select_script_for_tips', object: @tip, inline_object: ''
= render 'shared/autocomplete_mentions', el: '#tip_description'
