<script>
  $(document).ready(function(e){
  // Configure/customize these variables.
    $('.tip-description').readmore({
      speed: 75,
      moreLink: '<a href="#">View more</a>',
      lessLink: '<a href="#">View less</a>',
      maxHeight: 175
    });
  });
</script>
