.modal#social-share-modal.share-modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', type: 'button'} ×
        %h4.modal-title Share this tip
      .modal-body
        %ul.nav.nav-pills
          %li.active
            %a{href: '#share-link1', 'data-toggle'=>'tab'} Share link
        .tab-content
          #share-link1.tab-pane.active
            - tip_image  = tip.pictures.present? ? tip.pictures.first.image.medium.url : image_url('pockets-no-images.png')
            - image = image_url(tip_image)
            - content = truncate_object_description(tip)
            .share-area
              Share with
              = render 'shared/social_share', object: tip, content: content, image: image
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => 'modal', type: 'button'} Close
