- tip_pictures = tip.pictures
- tip_links = tip.tip_links
- tip_links_count = tip_links.count
- tip_files = tip.file_uploads
- tip_links_count += tip_files.count
- tip_pictures_count = tip_pictures.count
- tip_pictures_count += 1 if tip.has_map?
- if tip.pictures.present?
  - display = 'display: none;'
.tip.tip-item.panel.panel-default{class:  tip.color,id: "tip-item-#{tip.id}", data: { 'display-type' => 'item' }}
  .panel-heading
    %table
      %tbody
        %tr
          %td
            %h3.tip-title
              %a{href: tip_path(tip),data: { remote: true }, id: "remote-link-#{tip.id}"}
                = truncate(tip.title, length: 30)

            .arrow.arrow-bottom
            .tip-avatar
              - if tip.user
                = user_avatar(tip.user, :tiny)
                %br
                = link_to tip.user_first_name, user_profile_path(tip.user), class: 'tip-user-profile'
              - else
                = image_tag "#{ENV['AVATAR_HOST']}/33/f2af1f/ffffff.png&text=?"
                %br
                = link_to 'User deleted', 'javascript:void(0)', class: 'tip-user-profile'
            .hive-pocket-link
              - if tip.hives.count > 1
                .dropdown
                  %a{href: hive_path(tip.hives[0])}
                    %span>= truncate(tip.hives[0].title, length: 33)
                  %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'tip.hive'}
                  %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'tip.hive'}
                    - tip.hives[1..-1].each do |hive|
                      %li
                        %a{href: hive_path(hive)}
                          %span>= hive.title
                  %span /
                  ='&nbsp;'.html_safe
              - else
                .dropdown
                  - if tip.hives[0]
                    %a{href: hive_path(tip.hives[0])}
                      %span>= truncate(tip.hives[0].title, length: 33)
                    ='&nbsp;'.html_safe
                    %span /
                    ='&nbsp;'.html_safe



              - if tip.pockets.count > 1
                .dropdown
                  %a{href: pocket_path(tip.pockets[0])}
                    %span>= truncate(tip.pockets[0].title, length: 33)
                  %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'pocket.hive'}
                  %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'pocket.hive'}
                    - tip.pockets[1..-1].each do |pocket|
                      %li
                        %a{href: pocket_path(pocket)}
                          %span>= pocket.title
              -else
                .dropdown
                  - if tip.pockets[0]
                    %a{href: pocket_path(tip.pockets[0])}
                      %span>= truncate(tip.pockets[0].title, length: 33)
    .clearfix
  .panel-body{id: "tip-body-#{tip.id}"}
    .tip-text{id: "tip-item-text-#{tip.id}",style: display}
      .tip-description.tip-item-description.social-text{id: "social-text-#{tip.id}", data: { 'tip-id' => tip.id, 'display-type' => 'item', 'tip-pictures-count' => tip_pictures_count, 'tip-links-count' => tip_links_count }}
        = filter_display_text tip.description
      .tip-links-small{class: params[:action], id: "tip-item-links-#{tip.id}"}
        - tip_links.each do |tip_link|
          - if tip_link.user_id.present?
            = render 'tips/modules/link', link: tip_link, no_delete: true
        - tip_files.each do |file_upload|
          = render 'tips/modules/file_upload', file_upload: file_upload, no_delete: true
    .tip-pictures{class: params[:action], id: "tip-pictures-#{tip.id}"}
      .tip-item-carousel.carousel.slide{'data-ride' => 'carousel', id: "carousel-item-tip-#{tip.id}"}
        / Wrapper for slides
        .carousel-inner{id: "carousel-inner-#{tip.id}"}
          - tip_pictures.each_with_index do |picture, index|
            %a.item{class: "#{index == 0 ? 'active' : nil}", href: tip_path(tip), data: { remote: true }, style: "background-image: url(#{image_url picture.image.medium.url})"}
              %span.icon-info
          = render 'shared/map', tip: tip, tip_pictures_count: tip_pictures_count if tip.has_map?
        / Controls
        %a.left.carousel-control{'data-slide' => 'prev', href: "#carousel-item-tip-#{tip.id}"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{'data-slide' => 'next', href: "#carousel-item-tip-#{tip.id}"}
          %span.glyphicon.glyphicon-chevron-right

  .panel-footer{class: params[:action]}
    %span{class: "clickable-link-#{tip.id}"}
      = render 'tips/clickable_link_like', tip: tip
    %a{href: tip_path(tip, comment: true), data: { remote: true }, id: "comment-box-comment-#{tip.id}"}
      %i.fa.fa-comment-o
      #{tip.comments_count}
    - if current_domain.root?   
      %span{class: "social-share-#{tip.id}"}
        %a{href: share_tip_path(tip), class: 'icon-share', data: { remote: true }}
    %span.pull-right{class: "flag-#{tip.id}"}
      = render 'tips/flag', tip: tip

    -#
      %a{href: 'javascript:void(0)'}
        %i.fa.fa-copy
        Re-Tip

:javascript
  $(document).ready(function (e) {
    autoLinkMentionAndHashtag('.tip-item#tip-item-#{tip.id} .tip-item-description.social-text','tips');
    $('.tip-item#tip-item-#{tip.id} .tip-item-carousel.carousel').carousel();
    $('#tip-body-#{tip.id}').click(function (){
      $('#remote-link-#{tip.id}').click();
      return false;
    });
    if ($('#tip-pictures-#{tip.id}').size() > 0) {
      $('#tip-item-text-#{tip.id}').hide();
      $('#tip-body-#{tip.id}').hover(function (){
        $('#tip-item-text-#{tip.id}').slideToggle();
      });
    }
  });
