:ruby
  tip = current_user.tips.new
  connected_groups = current_user.following_groups.order(:title)
  connected_hives = current_user.following_hives.order(:title)

  selected_hives = Hive.where(id: [hive_id]).all.to_a if defined?(hive_id)
  selected_pockets = Pocket.where(id: [pocket_id]).all.to_a if defined?(pocket_id)
  if selected_pockets.present?
    selected_hives = selected_pockets.first.following_hives.to_a
  end

  selected_friends_and_groups = Group.where(id: [group_id]).all.to_a if defined?(group_id)
  if selected_hives.present? && selected_friends_and_groups.blank?
     selected_friends_and_groups = selected_hives.first.group_followers
  end

.tip.tip-detail.panel.panel-default.quick-tip-adding#quick-tip-adding
  .panel-body
    = form_for tip, html: { role: 'form', class: 'form-horizontal', multipart: true, remote: true } do |f|
      = f.hidden_field :group_id, value: group_id if defined?(group_id)
      = f.hidden_field :hive_id, value: hive_id if defined?(hive_id)
      = f.hidden_field :pocket_id, value: pocket_id if defined?(pocket_id)
      = f.hidden_field :is_private, value: false, id: 'private_tip'
      = f.text_field :title, required: true, placeholder: "What's your tip?", class: 'form-control flat-control'
      .extra-fields#extra-fields
        = f.text_area :description, placeholder: 'Tip info (you can also paste the url of an image, Google map or YouTube video)', rows: 6, class: 'form-control flat-control'
        = select_tag 'hives[]', "<optgroup label=\"My Hives\">#{options_from_collection_for_select(connected_hives, :kind_id, :title, selected_hives.present? ? selected_hives.map{|h| h.kind_id } : nil)}</optgroup>".html_safe + option_groups_from_collection_for_select(connected_groups, :hives, :title, :kind_id, :title, selected_hives.present? ? selected_hives.map{|h| h.kind_id } : nil), placeholder: 'Add to hives...', required: true, id: 'tip_hives', class: 'form-control', multiple: 'multiple'
        = select_tag 'pockets[]',option_groups_from_collection_for_select(connected_hives, :pockets, :title, :kind_id, :title, selected_pockets.present? ? selected_pockets.map{|h| h.kind_id } : nil), placeholder: 'Add to pockets...', required: true, id: 'tip_pockets', class: 'form-control', multiple: 'multiple'
        #inline_form_friends_and_groups
          = render 'search/friends_and_groups_select_for_sharing', f: f, object: tip, selected_friends_and_groups: selected_friends_and_groups
        .form-wrapper#quick-form-wrapper
          .attachment-tabs
            %ul.nav.nav-tabs
              %li.active
                %a{'data-toggle' => 'tab', href: '#pictures'}
                  %i.btn-icon.glyphicon.glyphicon-picture
              %li
                %a{'data-toggle' => 'tab', href: '#location'}
                  %i.btn-icon.glyphicon.glyphicon-map-marker
              %li
                %a{'data-toggle' => 'tab', href: '#links'}
                  %i.btn-icon.glyphicon.glyphicon-link
              %li
                %a{'data-toggle' => 'tab', href: '#files'}
                  %i.btn-icon.glyphicon.glyphicon-file
            .tab-content
              #pictures.tab-pane.active
                = render 'tips/modules/pictures', f: f, imageable: tip
              #location.tab-pane
                = render 'tips/modules/location', f: f, tip: tip
              #links.tab-pane
                = render 'tips/modules/links', f: f, tip: tip
              #files.tab-pane
                = render 'tips/modules/files', f: f, fileable: tip
        .actions
          .pull-left
            %button.btn.btn-default#btn-attachment{type: 'button'}
              %i.glyphicon.glyphicon-paperclip
              Add attachments...
          .pull-right
            = button_tag 'Close', type: 'button', class: 'btn btn-default btn-close'
            = f.submit 'Save', class: 'btn btn-primary', data: { 'disable-with' => 'Adding tip...' }
          .clearfix

= render 'search/hives_and_pockets_select_script_for_tips', object: tip, inline_object: 'inline_form'
-#= render 'search/friends_and_groups_select_script', object: tip, only: defined?(only) && only.present? ? only : nil
= render 'tips/tip_adding_form_script', tip: tip
= render 'shared/autocomplete_mentions', el: '#tip_description'
