- tip_pictures = tip.pictures
- tip_files = tip.file_uploads
- tip_links = tip.tip_links
- tip_links_count = tip_links.count
- tip_pictures_count = tip_pictures.count
- tip_pictures_count += 1 if tip.has_map?
.tip.tip-detail.panel.panel-default{class:  tip.color, id: "tip-detail-#{tip.id}", data: { 'display-type' => 'detail' }}
  - if tip.user_id == current_user.id && tip.is_a?(Tip) && current_page?(tip_path(tip))
    .tip-edit
      %a{href: edit_tip_path(tip), class: 'btn btn-default'}
        %i.glyphicon.glyphicon-cog

  .panel-heading.mobile.visible-xs{class: params[:action]}
    %table
      %tbody
        %tr
          %td.title
            %h3.tip-title
              = link_to tip.title, tip_path(tip)
            .arrow.arrow-bottom
            - if tip.hives.count > 1
              .dropdown
                %a{href: hive_path(tip.hives[0])}
                  = tip.hives[0].title
                %i.fa.fa-angle-down{ 'data-toggle'=>'dropdown',href: '#' ,id: 'tip.hive'}
                %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'tip.hive'}
                  - tip.hives[1..-1].each do |hive|
                    %li
                      %a{href: hive_path(hive)}
                        = hive.title

            - else
              .dropdown
                - if tip.hives[0]
                  %a{href: hive_path(tip.hives[0])}
                    = tip.hives[0].title

            - if tip.pockets.count > 1
              .dropdown
                = '&nbsp;'.html_safe
                %span.slash /
                = '&nbsp;'.html_safe
                = pockets_title(tip).split(',')[0].html_safe
                %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'pocket.hive'}
                %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'pocket.hive'}
                  - tip.pockets[1..-1].each do |pocket|
                    %li
                      %a{href: pocket_path(pocket)}
                        = pocket.title
            -else
              .dropdown.left
                = '&nbsp;'.html_safe
                %span.slash /
                = '&nbsp;'.html_safe
                - if tip.pockets[0]
                  %a{href: pocket_path(tip.pockets[0])}
                    = tip.pockets[0].title
          %td
            .tip-avatar
              = user_avatar(tip.user, :tiny)
              %br
              = link_to tip.user_first_name, user_profile_path(tip.user), class: 'tip-user-profile'
            .pull-right
              - if tip.user_id == current_user.id && tip.is_a?(Tip) && current_page?(tip_path(tip))
                .tip-edit
                  %a{href: edit_tip_path(tip), class: 'btn btn-default'}
                    %i.glyphicon.glyphicon-cog
    .clearfix
  - if params[:controller] == 'tips'
    .panel-heading.hidden-xs{class: params[:action]}
      %table
        %tbody
          %tr
            %td.title
              %h3.tip-title
                - if params[:action] == 'show'
                  = link_to tip.title, tip_path(tip)
                - else
                  = link_to truncate(tip.title, length: 80), tip_path(tip)
              - if tip.hives.count == 2
                .dropdown.left
                  %a{href: hive_path(tip.hives[0])}
                    %span>= tip.hives[0].title + ','
                  = '&nbsp;'.html_safe
                  %a{href: hive_path(tip.hives[1])}
                    %span>= tip.hives[1].title
                  = '&nbsp;'.html_safe
                  %span.slash /
                  = '&nbsp;'.html_safe
              - elsif tip.hives.count > 2
                .dropdown.left
                  %a{href: hive_path(tip.hives[0])}
                    %span>= tip.hives[0].title + ','
                  = '&nbsp;'.html_safe
                  %a{href: hive_path(tip.hives[1])}
                    %span>= tip.hives[1].title
                  %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'tips.hive'}
                  %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'tips.hive'}
                    - tip.hives[2..-1].each do |hive|
                      %li
                        %a{href: hive_path(hive)}
                          %span>= hive.title
                  = '&nbsp;'.html_safe
                  %span.slash /
                  = '&nbsp;'.html_safe
              -else
                .dropdown.left
                  - if tip.hives[0]
                    %a{href: hive_path(tip.hives[0])}
                      %span>= tip.hives[0].title
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe

              - if tip.pockets.count == 2
                .dropdown.left
                  = link_to tip.pockets[0].title+','
                  = link_to tip.pockets[1].title
              -elsif tip.pockets.count > 2
                .dropdown.left
                  = link_to tip.pockets[0].title+','
                  = link_to tip.pockets[1].title
                  %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'pockets.hive'}
                  %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'pockets.hive'}
                    - tip.pockets[2..-1].each do |pocket|
                      %li
                        %a{href: pocket_path(pocket)}
                          = pocket.title
              -else
                .dropdown.left
                  - if tip.pockets[0]
                    %a{href: pocket_path(tip.pockets[0])}
                      = tip.pockets[0].title

              - if tip.users.count > 1
                - if tip.is_private?
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = 'Private'
                - elsif tip.users.count == 2
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = link_to tip.users[0].first_name+',', my_friends_by_initial_path(tip.users[0])
                    = link_to tip.users[1].first_name, my_friends_by_initial_path(tip.users[1])
                -elsif tip.users.count > 2
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = link_to tip.users[0].first_name+ ',', my_friends_by_initial_path(tip.users[0])
                    = link_to tip.users[1].first_name, my_friends_by_initial_path(tip.users[1])
                    %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'tip.share'}
                    %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'tip.share'}
                      - tip.users[2..-1].each do |friend|
                        %li
                          %a{href: my_friends_by_initial_path(tip.users)}
                            = friend.first_name
              - else
                - if tip.is_private?
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = 'Private'

              - if tip.groups.present?
                - if tip.is_private?
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = 'Private'
                - elsif tip.groups.count == 2
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = link_to tip.groups[0].title+ ',', my_groups_path(tip.user.friends[0])
                    = link_to tip.groups[1].title, my_groups_path(tip.user.friends[1])
                -elsif tip.groups.count > 2
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = link_to tip.groups[0].title+ ',', my_groups_path(tip.user.friends[0])
                    = link_to tip.groups[1].title, my_groups_path(tip.user.friends[1])
                    %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'tip.share'}
                    %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'tip.share'}
                      - tip.groups[2..-1].each do |group|
                        %li
                          %a{href: my_groups_path(group)}
                            = group.title
                -else
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = link_to tip.groups[0].title, my_groups_path(tip.groups[1])
              - else
                - if tip.is_private?
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = 'Private'
            %td
              .tip-avatar
                = user_avatar(tip.user, :tiny)
                %br
                = link_to tip.user_first_name, user_profile_path(tip.user), class: 'tip-user-profile'
      .arrow.arrow-bottom
    .clearfix
  - else
    .panel-heading.index.hidden-xs
      %table
        %tbody
          %tr
            %td.title
              %h3.tip-title
                = link_to truncate(tip.title, length: 80), tip_path(tip)
              .arrow.arrow-bottom
              - if tip.hives.count == 2
                .dropdown.left
                  %a{href: hive_path(tip.hives[0])}
                    %span>= tip.hives[0].title + ','
                  = '&nbsp;'.html_safe
                  %a{href: hive_path(tip.hives[1])}
                    %span>= tip.hives[1].title
                  = '&nbsp;'.html_safe
                  %span.slash /
                  = '&nbsp;'.html_safe
              - elsif tip.hives.count > 2
                .dropdown.left
                  %a{href: hive_path(tip.hives[0])}
                    %span>= tip.hives[0].title + ','
                  = '&nbsp;'.html_safe
                  %a{href: hive_path(tip.hives[1])}
                    %span>= tip.hives[1].title
                  %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'tips.hive'}
                  %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'tips.hive'}
                    - tip.hives[2..-1].each do |hive|
                      %li
                        %a{href: hive_path(hive)}
                          %span>= hive.title
                  = '&nbsp;'.html_safe
                  %span.slash /
                  = '&nbsp;'.html_safe
              -else
                .dropdown.left
                  - if tip.hives[0]
                    %a{href: hive_path(tip.hives[0])}
                      %span>= tip.hives[0].title
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe

              - if tip.pockets.count == 2
                .dropdown.left
                  = pockets_title(tip).split(',')[0].html_safe + ','
                  = pockets_title(tip).split(',')[1].html_safe
              -elsif tip.pockets.count > 2
                .dropdown.left
                  = pockets_title(tip).split(',')[0].html_safe + ','
                  = pockets_title(tip).split(',')[1].html_safe
                  %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'pockets.hive'}
                  %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'pockets.hive'}
                    - tip.pockets[2..-1].each do |pocket|
                      %li
                        %a{href: pocket_path(pocket)}
                          = pocket.title
              -else
                .dropdown.left
                  - if tip.pockets[0]
                    %a{href: pocket_path(tip.pockets[0])}
                      = tip.pockets[0].title

              - if tip.users.count > 1
                - if tip.is_private?
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = 'Private'
                - elsif tip.users.count == 2
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = link_to tip.users[0].first_name+',', my_friends_by_initial_path(tip.users[0])
                    = link_to tip.users[1].first_name, my_friends_by_initial_path(tip.users[1])
                -elsif tip.users.count > 2
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = link_to tip.users[0].first_name+',', my_friends_by_initial_path(tip.users[0])
                    = link_to tip.users[1].first_name, my_friends_by_initial_path(tip.users[1])
                    %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'tip.share'}
                    %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'tip.share'}
                      - tip.users[2..-1].each do |friend|
                        %li
                          %a{href: my_friends_by_initial_path(tip.users)}
                            = friend.first_name
              - else
                - if tip.is_private?
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = 'Private'

              - if tip.groups.present?
                - if tip.is_private?
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = 'Private'
                - elsif tip.groups.count == 2
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = link_to tip.groups[0].title+',', my_groups_path(tip.user.friends[0])
                    = link_to tip.groups[1].title, my_groups_path(tip.user.friends[1])
                -elsif tip.groups.count > 2
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = link_to tip.groups[0].title+',', my_groups_path(tip.user.friends[0])
                    = link_to tip.groups[1].title, my_groups_path(tip.user.friends[1])
                    %i.fa.fa-angle-down{'data-toggle'=>'dropdown',href: '#' ,id: 'tip.share'}
                    %ul.dropdown-menu{role: 'menu', 'aria-labelledby'=>'tip.share'}
                      - tip.groups[2..-1].each do |group|
                        %li
                          %a{href: my_groups_path(group)}
                            = group.title
                -else
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = link_to tip.groups[0].title, my_groups_path(tip.groups[1])
              - else
                - if tip.is_private?
                  .dropdown.left
                    = '&nbsp;'.html_safe
                    %span.slash /
                    = '&nbsp;'.html_safe
                    = 'Private'
            %td
              .tip-avatar
                = user_avatar(tip.user, :tiny)
                %br
                = link_to tip.user_first_name, user_profile_path(tip.user), class: 'tip-user-profile'

    .clearfix
  - if params[:controller] == 'tips'
    .panel-body{class: params[:action]}
      .tip-text{class: params[:action], id: "tip-text-#{tip.id}"}
        .tip-description.tip-detail-description.social-text{id: "social-text-#{tip.id}", data: { 'tip-id' => tip.id, 'display-type' => 'detail', 'tip-pictures-count' => tip_pictures_count, 'tip-links-count' => tip_links_count }}
          = filter_display_text tip.description

      .tip-pictures{class: params[:action], id: "tip-pictures-#{tip.id}"}
        .tip-detail-carousel.carousel.slide{'data-ride' => 'carousel', id: "carousel-detail-tip-#{tip.id}"}
          / Wrapper for slides
          .carousel-inner{id: "carousel-inner-#{tip.id}"}
            - tip_pictures.each_with_index do |picture, index|
              %a.item{class: "#{index == 0 ? 'active' : nil}", href: picture.image.url, data: { llightbox: "tip-image-#{tip.id}" }, style: "background-image: url(#{image_url picture.image.large.url})"}
                %span.icon-info
            - if tip.has_map?
              = render 'shared/map', tip: tip, tip_pictures_count: tip_pictures_count
          / Controls
          %a.left.carousel-control{'data-slide' => 'prev', href: "#carousel-detail-tip-#{tip.id}"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{'data-slide' => 'next', href: "#carousel-detail-tip-#{tip.id}"}
            %span.glyphicon.glyphicon-chevron-right
      .tip-links{class: params[:action], id: "tip-detail-links-#{tip.id}"}
        - tip_links.each do |tip_link|
          - if tip_link.user_id.present?
            = render 'tips/modules/link', link: tip_link, no_delete: true
        - tip.file_uploads.each do |file_upload|
          = render 'tips/modules/file_upload', file_upload: file_upload, no_delete: true
      = render 'comments/comment_box', object: tip, quick_tip: defined?(quick_tip) ? true : false
  - else
    .panel-body.index
      .tip-text.index{id: "tip-text-#{tip.id}"}
        / %h3.tip-title
        /   %span
        /     = link_to tip.title, tip_path(tip)
        /   .tip-like{id: "tip-like-#{tip.id}", class: "tip-like-#{tip.id}"}
        /     =# render 'tips/tip_like', tip: tip
        .tip-description.tip-detail-description.social-text{id: "social-text-#{tip.id}", data: { 'tip-id' => tip.id, 'display-type' => 'detail', 'tip-pictures-count' => tip_pictures_count, 'tip-links-count' => tip_links_count }}
          = filter_display_text tip.description

      .tip-pictures.index{id: "tip-pictures-#{tip.id}"}
        .tip-detail-carousel.carousel.slide{'data-ride' => 'carousel', id: "carousel-detail-tip-#{tip.id}"}
          / Wrapper for slides
          .carousel-inner{id: "carousel-inner-#{tip.id}"}
            - tip_pictures.each_with_index do |picture, index|
              %a.item{class: "#{index == 0 ? 'active' : nil}", href: picture.image.url, data: { llightbox: "tip-image-#{tip.id}" }, style: "background-image: url(#{image_url picture.image.large.url})"}
                %span.icon-info
            - if tip.has_map?
              = render 'shared/map', tip: tip, tip_pictures_count: tip_pictures_count
          / Controls
          %a.left.carousel-control{'data-slide' => 'prev', href: "#carousel-detail-tip-#{tip.id}"}
            %span.glyphicon.glyphicon-chevron-left
          %a.right.carousel-control{'data-slide' => 'next', href: "#carousel-detail-tip-#{tip.id}"}
            %span.glyphicon.glyphicon-chevron-right
      .tip-links.index{ id: "tip-detail-links-#{tip.id}"}
        - tip_links.each do |tip_link|
          - if tip_link.user_id.present?
            = render 'tips/modules/link', link: tip_link, no_delete: true
        - tip.file_uploads.each do |file_upload|
          = render 'tips/modules/file_upload', file_upload: file_upload, no_delete: true
      = render 'comments/comment_box', object: tip, quick_tip: defined?(quick_tip) ? true : false
  - if params[:controller] == 'tips'
    .panel-footer{class: params[:action]}      
      %span{class: "clickable-link-#{tip.id}"}
        = render 'tips/clickable_link_like', tip: tip
      %a{href: 'javascript:void(0)', onclick: "commentBoxToggle(#{tip.id})", :'data-id' => tip.id, :id => "comment-tip-box-#{tip.id}" }
        %i.fa.fa-comment-o
        %span{id: "comment-counter-#{tip.id}"}
          = tip.comments_count
      - if current_domain.root? 
        %span{class: "social-share-#{tip.id}"}
          %a{href:share_tip_path(tip), data: { remote: true }, class: 'icon-share'}
      %span.pull-right{class: "flag-#{tip.id}"}
        = render 'tips/flag', tip: tip
  - else
    .panel-footer.index
      %span{class: "clickable-link-#{tip.id}"}
        = render 'tips/clickable_link_like', tip: tip
      %a{href: 'javascript:void(0)', onclick: "commentBoxToggle(#{tip.id})", :'data-id' => tip.id, :id => "comment-tip-box-#{tip.id}" }
        %i.fa.fa-comment-o
        %span{id: "comment-counter-#{tip.id}"}
          = tip.comments_count
      - if current_domain.root?    
        %span{class: "social-share-#{tip.id}"}
          %a{href:share_tip_path(tip), data: { remote: true }, class: 'icon-share'}
      %span.pull-right{class: "flag-#{tip.id}"}
        = render 'tips/flag', tip: tip

      -#
        %a{href: 'javascript:void(0)'}
          %i.fa.fa-copy
          Re-Tip



:javascript
  $(document).ready(function (e) {
    autoLinkMentionAndHashtag('.tip-detail#tip-detail-#{tip.id} .tip-detail-description.social-text', 'tips');
    $('.tip-detail#tip-detail-#{tip.id} .tip-detail-carousel.carousel').carousel();

    $('.player_mask').click(function(){
      iframe = $(this).closest('.item').find('iframe');
      iframe_source = iframe.attr('src');
      iframe_source = iframe_source + "&autoplay=1"
      iframe.attr('src', iframe_source);
      $(this).hide();
      $('#carousel-detail-tip-#{tip.id}').carousel('pause');
    });
  });
