- tip_pictures = tip.pictures
- tip_pictures_count = tip_pictures.count
.tip.tip-item.panel.panel-default{id: "tip-item-#{tip.id}", data: { 'display-type' => 'item' }}
  .panel-heading
    .arrow.arrow-bottom
    = user_avatar(tip.user, :tiny)
    = link_to tip.user_first_name, user_profile_path(tip.user), class: 'tip-user-profile'
  .panel-body
    .tip-text{class: "#{tip_pictures_count == 0 ? 'full-text' : nil}"}
      %h3.tip-title
        %span
          = link_to tip.title, tip_path(tip)
          %br
          %small= "#{hives_title(tip)} / #{pockets_title(tip)}".html_safe
        .tip-like{id: "tip-like-#{tip.id}", class: "tip-like-#{tip.id}"}
          = render 'tips/tip_like', tip: tip
      .tip-description.tip-item-description.social-text
        = filter_display_text(tip.description)
      = render 'shared/map', tip: tip || @tip, 'display-type' => 'item', tip_pictures_count: tip_pictures_count
    - if tip_pictures_count > 0
      .tip-pictures
        - if tip_pictures_count > 1
          .tip-item-carousel.carousel.slide{'data-ride' => 'carousel', id: "carousel-item-tip-#{tip.id}"}
            / Wrapper for slides
            .carousel-inner
              - tip.pictures.each_with_index do |picture, index|
                %a.item{class: "#{index == 0 ? 'active' : nil}", href: tip_path(tip), data: { remote: true }}
                  = image_tag picture.image.medium.url

            / Controls
            %a.left.carousel-control{'data-slide' => 'prev', href: "#carousel-item-tip-#{tip.id}"}
              %span.glyphicon.glyphicon-chevron-left
            %a.right.carousel-control{'data-slide' => 'next', href: "#carousel-item-tip-#{tip.id}"}
              %span.glyphicon.glyphicon-chevron-right
        - elsif tip_pictures_count == 1
          %a{href: tip_path(tip), data: { remote: true }}
            = image_tag tip_pictures.first.image.medium.url
        - else
          %a{href: tip_path(tip), data: { remote: true }}
            = image_tag "#{ENV['AVATAR_HOST']}/325x290/cccccc/f0f0f0.png&text=background+image"
  .panel-footer
    %a{href: tip_path(tip), data: { remote: true }}
      %i.fa.fa-comment
      Comment (#{tip.comments_count})
    %span{class: "clickable-link-#{tip.id}"}
      = render 'tips/clickable_link_like', tip: tip
    %span{class: "flag-#{tip.id}"}
      = render 'tips/flag', tip: tip
    -#
      %a{href: 'javascript:void(0)'}
        %i.fa.fa-copy
        Re-Tip

  :javascript
    $(document).ready(function (e) {
      autoLinkMentionAndHashtag('.tip-item#tip-item-#{tip.id} .tip-item-description.social-text', 'tips');
      $('.tip-item#tip-item-#{tip.id} .tip-item-carousel.carousel').carousel();
    });
