<script>
  $(document).ready(function(e) {
    var $tipTitle = $('#tip_title');
    var $tipAddress = $('#tip_address');
    var $btnAttachment = $('#btn-attachment');
    var $extraFields = $('.extra-fields');
    var $quickFormWrapper = $('#quick-form-wrapper');

    $tipTitle.on('click', function(e) {
      $tipTitle.attr('placeholder', 'Tip title');
      $extraFields.slideDown();
    });

    $('.btn-close').on('click', function(e) {
      $tipTitle.attr('placeholder', 'What is your tip today?');
      $extraFields.slideUp();
      $quickFormWrapper.slideUp();
      $btnAttachment.show();
    });

    $btnAttachment.on('click', function(e) {
      $quickFormWrapper.slideDown();
      $(this).hide();
    });

    function initializeMap() {
      $tipAddress.geocomplete({
        map: '#map-canvas',
        location: '<%= tip.address %>',
        mapOptions: {
          zoom: 15
        },
        markerOptions: {
          // draggable: true
        }
      }).bind("geocode:result", function(event, result){
        var lat = result.geometry.location.lat();
        var lng = result.geometry.location.lng();
        var address = result.formatted_address;
        $('#tip_location').val(address);
        $('#tip_latitude').val(lat);
        $('#tip_longitude').val(lng);
      });
    }

    $(document).ready(function(e) {
      initializeMap();
      $('a[href="#location"]').on('shown.bs.tab', function (e) {
        $tipAddress.trigger('geocode');
        google.maps.event.trigger(window, 'resize');
      });
    });
  });
</script>
