- if user_signed_in? && current_user.liked?(tip)
  %a.like-action.liked{href: tip_unlike_path(tip), data: { method: 'POST', remote: true }}
    %i.fa.fa-heart
- else
  %a.like-action{href: tip_like_path(tip), data: { method: 'POST', remote: true }}
    %i.fa.fa-heart
