<% params[:action] = 'index' %>
$('#tips-feed-container').prepend('<%= j(render('tips/tip_detail', tip: @tip, quick_tip: true)) %>');
$('.extra-fields').slideUp();
$('#tip-adding-container').html('<%= j(render('tips/tip_adding_form', group_id: @group_id, hive_id: @hive_id, pocket_id: @pocket_id)) %>');
$('#tips-container').prepend('<%= j(render('tips/tip', tip: @tip)) %>');
<% path = group_path(id: @group_id, format: :js) if @group_id.present? %>
<% path = hive_path(id: @hive_id, format: :js, inpage_tip: 'reload_hive_page') if @hive_id.present? %>
<% path = pocket_path(id: @pocket_id, format: :js) if @pocket_id.present? %>

<% if path.present? %>
$.ajax({ url: '<%= path %>' });
<% end %>
