.row.form-wrapper
  .col-md-8.col-md-offset-2

    .row
      .col-md-9.col-md-offset-3
        %h1 Editing tip

    = render 'form'

    .row
      .col-md-9.col-md-offset-3
        = link_to 'Delete', @tip, class: 'btn btn-danger', data: { method: :delete, confirm: 'Are you sure to delete this Tip?' }
        = link_to 'Show', @tip, class: 'btn btn-default'
        = link_to 'Back', :back, class: 'btn btn-default'
