= content_for :title_bar do
  =# render 'shared/title_bars/tips_title'

= content_for :filter_bar do
  = render 'shared/filter_bars/tips_filter', hives: @hives, tips_count: @tips_count, people_count: @friends_count, questions_count: @questions_count

- if params[:sort_filter] != 'near_by'
  - if params[:page].blank? || params[:page].to_i == 1
    = render 'shared/tour_panel'
    .tip-container#tip-adding-container
      = render 'tips/tip_adding_form'
  .tip-container#tips-feed-container
    - @tips.each do |tip|
      = render 'tips/tip_detail', tip: tip
    .clearfix
  .loader#loading
  .hide#pagination-wrapper
    = paginate @tips
- else
  = render 'shared/near_by_on_map', tips: @tips
  .loader#loading
  .hide#pagination-wrapper
    = @tips

= render 'tips/readmore_script'
