- existing_user = User.where(email: friend_invitation.email).first
.row.item{id: "item-#{friend_invitation.id}"}
  .col-md-8.col-md-offset-2
    .friend-invitation.panel.panel-default
      .panel-body
        .pull-left
          %p
            - if existing_user.present?
              %strong
                User is already joined:
                = link_to existing_user.name, user_profile_path(existing_user)
            = friend_invitation.email
          %p= "Invited to join <strong>#{link_to(connectable.title, url_for(connectable))}</strong>".html_safe
        .pull-right
          = link_to 'Delete Invite', friend_invitation_path(friend_invitation), data: { method: :delete, remote: true, 'disabled-with' => 'Deleting...', confirm: 'Are you sure you wish to delete this invite?' }, class: 'btn btn-default'
