= content_for :title_bar do
  = render 'shared/title_bars/friend_invitations_title'

.container-fluid.infinite-container#friend-invitations-container
  - if @friend_invitations.count > 0
    - @friend_invitations.each do |friend_invitation|
      - if friend_invitation.connectable
        = render 'friend_invitations/friend_invitation', friend_invitation: friend_invitation, connectable: friend_invitation.connectable
  - else
    %p There's no pending invite.
  .clearfix

.loader#loading
.hide
  = paginate @friend_invitations
