<% if @friend_invitations.count > 0 %>
$('a#menu-item-invites').html('Invites <span class="badge"><%= @friend_invitations.count %></span>');
<% else %>
$('a#menu-item-invites').html('Invites');
<% end %>
