%meta{charset: 'utf-8'}
%meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
%meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
%meta{content: '', name: 'description'}
%meta{content: '', name: 'author'}
%meta{content: 'mu-d082b95e-d87c7355-4a43bbdb-85b2e602', name: 'blitz'}
%link{href: '/favicon.ico', rel: 'shortcut icon'}
%title TipHive
= stylesheet_link_tag 'application', media: 'all'
= yield :stylesheet_top
= csrf_meta_tags
=# include_gon
:javascript
  var base_url = '//#{request.host}#{":#{request.port}" if %w(80 443).include?(request.port)}/';
  var current_path = '#{request.fullpath}';
= javascript_include_tag 'application'
/ [if lt IE 9]
  = javascript_include_tag '//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
  = javascript_include_tag '//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'
  = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.0.8/es5-shim.min.js'
