!!!
%html{lang: 'en'}
  %head
    = render 'layouts/html_head'
  %body.row-offcanvas.row-offcanvas-left{class: get_body_class}
    = render 'shared/top_nav'
    - if user_signed_in?
      = render 'shared/side_bars/left_side_bar'
    = render 'shared/flash_messages', flash: flash
    = yield :title_bar
    = yield :filter_bar
    .container-fluid
      = yield
    = yield :page_content
    = render 'shared/footer'
    .form-wrapper#primary-modal
    .form-wrapper#secondary-modal
    #loadingoverlay
    = javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry,places'
    = javascript_include_tag '//assets.pinterest.com/js/pinit.js'
    = javascript_include_tag '//platform.twitter.com/widgets.js'
    = javascript_include_tag '//connect.facebook.net/en_US/all.js'
    :javascript
      FB.init({appId:"#{FACEBOOK_APP_ID}", status: "true", cookie: "false", xfbml: "true"});
    = yield :javascript_bottom

    - if Rails.env.production?
      = render 'layouts/analytics'
