!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %meta{content: '', name: 'description'}
    %meta{content: '', name: 'author'}
    %link{href: '/favicon.ico', rel: 'shortcut icon'}
    %title TipHive
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  - background_image_url = current_domain.background.present? ? current_domain.background.url : image_url('pockets-no-images.png')
  %body.domain{style: "background-image: url(#{background_image_url});"}
    = render 'shared/top_nav_domain'
    = render 'shared/flash_messages', flash: flash
    .container-fluid
      = yield
    .powered-brand
      .domain-logo
        %a{href: user_signed_in? ? tips_path : root_path}
          Powered By
          = image_tag 'white-logo.png'
