!!!
%html{lang: 'en'}
  %head
    = render 'layouts/html_head'
  %body.row-offcanvas.row-offcanvas-left{class: get_body_class}
    = render 'shared/top_nav'
    = render 'shared/flash_messages', flash: flash
    = yield
    .form-wrapper#primary-modal
    .form-wrapper#secondary-modal
    :javascript
      FB.init({appId:"#{FACEBOOK_APP_ID}", status: "true", cookie: "false", xfbml: "true"});
    = yield :javascript_bottom

    - if Rails.env.production?
      = render 'layouts/analytics'
