!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{content: 'width=device-width, initial-scale=1', name: 'viewport'}
    %title TipHive User Mailer
    = stylesheet_link_tag('user_mailer')
  %body.user-mailer
    .container-fluid
      #logo
        = image_tag('logo.png')
      = yield
